[2018-10-21 15:33] jasonwilliams opened #3 "Migrate from time to Chrono"
the time crate is deprecated and Chrono seems to be the replacement. We should move to this

**Time**
https://crates.io/crates/time
https://docs.rs/time/0.1.40/time/

**Chrono**
https://crates.io/crates/chrono
https://docs.rs/chrono/0.4.6/chrono/

**More Info**
https://github.com/rust-lang-deprecated/time/issues/136

[2018-12-06 21:23] JasonShin commented on #3
I don't know Rust but I'm keen on helping it out

[2018-12-06 21:25] JasonShin opened #4 "What do you think about building a JS engine that runs Typescript directly?"
The issue description work in progress

[2019-01-14 21:53] jasonwilliams commented on #4
Its a possibility @JasonShin not something im focused on right now though

[2019-02-12 22:45] yisonPylkita opened #6 "Regular expressions does not work"
Hi @jasonwilliams

Thank you for starting this project!

I tried to run this JS code

[code]

and got

[code]

[2019-02-13 13:58] jasonwilliams commented on #6
Thanks for trying this out @yisonPylkita !
Yeah I haven't done any work on regular expressions yet, so i think it doesn't know how to handle those tokens.

We can prove this by looking at the token output for your source code
[code]

We would need to add some additional logic here to check for an expresion between the 2 `/` characters and mark that value as a regex token.
I actually think this is

[2019-02-15 09:45] yisonPylkita commented on #6
Thanks for a quick replay.

Woow, that is a quite detailed problem description. It will definitely help me with a PR. I will start working on this in coming week.

[2019-03-19 16:36] #4 closed

[2019-03-19 16:37] jasonwilliams commented on #3
this has now been fixed thanks @AFRUITPIE !

[2019-03-19 16:37] #3 closed

[2019-03-21 13:28] jasonwilliams opened #9 "implement toString for [built-in] objects"
Right now objects are currently printing out every single property,  if `toString` is set, it should use that,

`toString` is already set on `Object` which other objects should fall back to.

The danger is debugging could be more difficult with `[object Object]` so we need a way to still have a debugging view for the developer.

This is the JS
[code]

And here is the output
[code]

This isn't too

[2019-03-21 13:35] jasonwilliams opened #10 "Implementing native returns for constructor functions"
Calling `new String()` currently works however calling String() without `new` will fail.
You will be returned the global object which has everything in it and causes a stack overflow. This would be the equivalent of traversing every object and property of `window` in the browser.

The reason this happens is because String() is currently written to take the `this` value, and attach a primitiveValue

[2019-03-21 14:27] vitkarpov commented on #10
Hey @jasonwilliams, it's nice that you have so clean description of issues 👍 Do you consider to take a PR on this?

[2019-03-21 14:30] jasonwilliams commented on #10
@vitkarpov sure!

[2019-03-21 23:06] jasonwilliams opened #12 "setup test262 harness"
It would be good to start running these https://github.com/tc39/test262/tree/master/test/language

#### Project
https://github.com/jasonwilliams/boa/projects/2

#### Tracking of blocking issues:
 - [x] Exception handling (#377)
 - [x] Function expressions (#266)
 - [x] `this` keyword (#264)
 - [x] Hoisting variables (#376)
 - [x] Goal symbols when lexing (#294)

[2019-03-25 10:52] jasonwilliams commented on #10
@vitkarpov ECMA spec defines 2 methods for calling and constructing an object, maybe this helps:
https://tc39.github.io/ecma262/#table-6

[2019-04-04 13:31] jasonwilliams opened #13 "Implement String prototype methods"
## String prototype methods
These methods would be added to the String prototype object which is implemented here:
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/string/mod.rs

Spec: https://tc39.es/ecma262/#sec-properties-of-the-string-prototype-object

**Implementation Example?**
See [charAt()](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/string/mod.rs#L77-L119) and c

[2019-04-04 20:40] jasonwilliams opened #14 "Implement block scopes for let and const"
`let` has already been added to the [Keywords](https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/ast/keyword.rs#L119) enum which means if the lexer comes across it, it knows to create a new [Token](https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/ast/token.rs#L9-L14) for let.

The problem comes with the parser, as right now the parser doens't looks for let, so it fails

[2019-04-04 20:50] jasonwilliams commented on #10
@vitkarpov how you getting on?

[2019-04-04 20:50] jasonwilliams commented on #6
@yisonPylkita how you getting on?

[2019-04-05 00:25] jasonwilliams commented on #14
If a bar is created in a block scope we can’t add it to that scope as it will be removed when the block ends, so we will need to keep track of block and function scopes separately

[2019-04-05 05:37] vitkarpov commented on #10
@jasonwilliams now so good, actually I have a pretty basic understanding of Rust, so not being able to articulate in a particular language makes this kind of hard 😞

I'd be happy to follow your PR and ask questions if you don't mind, I'm sure it's going to be better with time.

I'm sorry I didn't tell about it in advance if you're counting on me.

[2019-04-05 12:43] jasonwilliams commented on #10
@vitkarpov no problem, im still learning myself, mainly start on something then ask questions as needed

[2019-04-05 13:23] jasonwilliams commented on #12
@vitkarpov if this is too much we could start of by doing what rapidus does for now and start with a few js files to test from https://github.com/maekawatoshiki/rapidus/tree/new-gen/test

[2019-04-06 02:44] sisshiki1969 commented on #14
In ECMA spec, the running execution context has references to two scopes (_LexicalEnvironmant_ and _VariableEnvironment_), which holds bindings in the block scope (let and const) and the function scope (var or functions declared by _FunctionDeclaration_) respectively.
https://tc39.github.io/ecma262/#table-23

[2019-04-09 17:44] jasonwilliams commented on #14
So the general consensus is that i'm going to implement what's being laid out here:
https://tc39.github.io/ecma262/#sec-environment-records

This will replace the basic scope we have right now which is inside Interpreter

[2019-04-21 23:29] jasonwilliams opened #15 "Support automatic semi colon insertion"
Currently javascript without semi colons break
We basically need to implement https://tc39.github.io/ecma262/#sec-automatic-semicolon-insertion

[2019-04-22 05:45] vitkarpov commented on #15
It's a good chance to fix the case `return <line break> <value>` which they like to ask on JavaScript interviews 😂

[2019-04-23 06:36] LuoZijun opened #16 "[Lexer] Unicode Escape Sequence"
Lines: https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L237-L240

It seems that support for Unicode escape sequences is not perfect. Is there a plan to create a complete Lexer and Parser ?

[2019-04-23 07:28] jasonwilliams commented on #16
@LuoZijun thanks for raising this.
Hopefully if i can, but if it proves too difficult we can switch to using a complete lever and parser already available.
It’s not a decision I’ve made yet, was this something you wanted to work on?

[2019-04-23 07:49] LuoZijun commented on #16
I'm trying to write a complete Lexer and Parser, But not not finished yet :(

https://github.com/LuoZijun/es

[2019-04-23 12:34] jasonwilliams commented on #16
@LuoZijun that’s awesome!
Maybe room for collaboration or to share some tips? What’s the best way to contact you?

[2019-04-24 16:28] LuoZijun commented on #16
Yeah, I think we can share the same parser in the future ( Maybe ).

Email: luozijun.assistant@gmail.com

[2019-05-27 14:20] jasonwilliams commented on #14
fixed by https://github.com/jasonwilliams/boa/pull/18

[2019-05-27 14:20] #14 closed

[2019-05-28 17:06] jasonwilliams opened #19 "Should check for existence of binding before creating a new one"
Take this javascript..
[code]

The error message we get is
[code]

This is because rather than re-using `a` the interpreter is attempting to create a new binding called `a` which already exists so causes an error.

https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L333-L337 needs to be more clever. there needs to be a check here to see if the binding already exists, if it does use t

[2019-05-31 12:02] #16 closed

[2019-06-01 22:22] shekohex opened #21 "Use as a rust crate"
Hi 😃, great work and great crate, i would like to use this crate in my projects to provide some sort of dynamic logic for my application, currently checking out this crate in crates.io i found it uses other dependencies that could be optional for example the `wasm-bindgen`.

I mean it would be great to split it up into two crates for example `boa-core` and `boa-wasm` or maybe just make the `wasm-b

[2019-06-04 18:19] jasonwilliams commented on #21
Thanks @shekohex i will look into this, i think for now i will make `wasm-bindgen` an optional dep

[2019-06-05 21:39] jasonwilliams opened #23 "return value of self.preview_next() needs changing to an Option type instead of Result"
A lot of errors happen because `preview_next()` gets called and unwraps an error when there's no more characters left.
This isn't really an error, its expected to happen at some point. all `self.preview_next()` calls should expect an option, and deal with the case of no characters individually.

https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs

[2019-06-05 21:55] jasonwilliams opened #25 "[Webassembly] - chrono Local::now() time does not work"
**Steps**
* clone project & build
* npm/yarn install
* npm/yarn serve
* Navigate to http://localhost:8080/
* try console.log() something, there will be an error below in the console

I think its something to do with fetching the time

[code]

Stack trace is hitting here:
https://github.com/chronotope/chrono/blob/master/src/offset/local.rs#L91

Linked Issue
https://github.com/chronotope/chrono/issu

[2019-06-06 21:52] shekohex commented on #21
Thank you very much, By the way if you wish to close this issue for now, i have no problem at all, also if you want to keep it open and you are planning to split the entire engine up to small crates that also would be awesome :+1:

[2019-06-07 08:51] jasonwilliams commented on #21
Sounds good, I will close this and we can re-open another issue for splitting

[2019-06-07 08:51] #21 closed

[2019-06-08 14:07] jasonwilliams commented on #23
fixed by https://github.com/jasonwilliams/boa/pull/26

[2019-06-08 14:07] #23 closed

[2019-06-20 21:45] perfectmak commented on #19
@jasonwilliams is this still available, I would like to work on it to better understand how boa works

[2019-06-21 08:47] jasonwilliams commented on #19
Sure go for it @perfectmak

[2019-06-23 15:44] callumquick commented on #13
I have started to write some implementations for concat() and repeat() but have encountered an issue: currently none of the String prototype methods work, even existing charAt and charCodeAt:

Using:
[code]

Results in the buffer holding only: "Error: undefined"

Is this a known issue or needs to be resolved before prototype methods can be added?

[2019-06-23 20:09] jasonwilliams commented on #13
Hey @callumquick hmm that’s interesting, I will take a look, I wonder if some of the changes have caused this to no longer work.

[2019-06-23 20:22] callumquick commented on #13
Thanks @jasonwilliams, generating the string via `new String(..)` is working with charAt(), charCodeAt(). Will now test with my new implementations.

[2019-06-23 20:40] jasonwilliams opened #29 "Automatic Boxing and Unboxing of Primitive Values"
As spotted in https://github.com/jasonwilliams/boa/issues/13#issuecomment-504763415 string methods on string literals won't work because automatic Boxing and Unboxing is not supported in Boa yet. This is something we'll need to think about adding, it could be worth seeing how spidermonkey or V8 do this

[2019-06-23 21:35] callumquick commented on #13
On the topic of the boxing of the primitive string, the only current issue with concat(), repeat(), slice() and the other methods that should return strings is that through `to_value()` they come out as "string literals" again. This means you can't do the following:
[code]
Is there an easy way to cause concat, repeat etc to return not just string "values" but string objects? Would this be solved b

[2019-06-23 22:20] jasonwilliams commented on #13
Now you're asking the right questions!
We can't do this because the return type of those methods are `string` types not objects.
Those strings would need to be re-boxed again (yep this is why boxing/un-boxing is a big performance hit and engines often try to find ways around it).

It would be against the spec to return a String instance instead of a string literal.
https://tc39.es/ecma262/#sec-str

[2019-06-24 12:27] jasonwilliams commented on #29
V8 representation of primitive values:
https://cs.chromium.org/chromium/src/v8/src/objects/js-objects.h?rcl=fe77d58a6a3cd9385454aa0bc29330ec668e293a&l=1236-1252

[2019-06-24 22:09] callumquick commented on #13
@jasonwilliams Thanks for clarifying the spec's position (I had overlooked the subtlety of the concat/repeat/slice methods returning values only).

As a heads up, next I will probably take a look at the set of these methods which take a "searchString" argument (so not patterns yet): startsWith(), endsWith(), includes(), indexOf() and lastIndexOf().

[2019-06-28 21:33] logotie opened #32 "Any tasks for a rust/programming beginner?"
Would there be any tasks for a Rust beginner to do? Would definitely like to contribute some code :)

[2019-06-28 21:36] jasonwilliams commented on #32
Sure! Give me a couple of days to create some issues

[2019-06-28 21:37] logotie commented on #32
Thank you so much!  :)

[2019-06-28 23:46] jasonwilliams opened #33 "Change all r#try! to ?"
Rust 2018 edition removed the need for the `try` macro, functions which return an Option/Result can be used with the `?` operator.

**More info here:**
https://doc.rust-lang.org/stable/edition-guide/rust-2018/error-handling-and-panics/the-question-mark-operator-for-easier-error-handling.html

Book:
https://doc.rust-lang.org/beta/book/ch09-02-recoverable-errors-with-result.html#a-shortcut-for-propa

[2019-06-28 23:53] jasonwilliams opened #34 "Create Number object"
You can look at how String is created, here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs

boolean
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/boolean.rs

Its then added to the global scope here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L36

[2019-06-28 23:57] jasonwilliams opened #35 "Read from input instead of hardcoded to file"
Running boa will always read from the same file, at some point we will need to read from any file that is pased through.

Parsing arguments example:
https://doc.rust-lang.org/beta/rust-by-example/std_misc/arg/matching.html

https://github.com/jasonwilliams/boa/blob/master/src/bin/bin.rs#L6 can be changed to read from the command line argument (similar to NodeJS)

Maybe `tests/js/test.js` can be re

[2019-06-29 00:06] jasonwilliams opened #36 "Implement Array prototype methods"
Similar to https://github.com/boa-dev/boa/issues/13 but for the Array

- [x] Array.of() (#1127)
- [x] Array.prototype.concat()
- [x] Array.prototype.copyWithin()
- [x] Array.prototype.entries()
- [x] Array.prototype.every()
- [x] Array.prototype.fill()
- [x] Array.prototype.filter()
- [x] Array.prototype.find()
- [x] Array.prototype.findIndex()
- [x] Array.prototype.flat()
- [x] Array.prototype.fl

[2019-06-29 00:16] jasonwilliams commented on #32
https://github.com/jasonwilliams/boa/issues/35 would be a useful one

[2019-06-29 00:25] jasonwilliams commented on #35
This would really help with https://github.com/jasonwilliams/boa/issues/12

[2019-06-29 03:17] Atul9 commented on #33
Hi @jasonwilliams I would like to take this up.

[2019-06-30 09:54] caracal7 opened #38 "UnexpectedKeyword(Else)"
test.js
[code]
result
[code]

[2019-06-30 13:15] #33 closed

[2019-06-30 13:44] jasonwilliams commented on #38
thanks for finding this @caracal7, the output of tokens looks fine https://gist.github.com/jasonwilliams/670694d81dd2d35c13ea00d1ed2eac44

So im guessing the problem is with the parser somewhere:
https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/parser.rs#L149-L168

Will take a look

[2019-06-30 13:56] #38 closed

[2019-06-30 14:27] jasonwilliams opened #39 "Block scope not being used on variable allocation"
When we step into a new function, we create a `new_function_environment` https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L110

Because we don't do the same for blocks (if,while etc) any let values we create in blocks are added to the current environment, which will be the outer function most likely. This means the following JS works..

[code]

###  What does the specification say?

[2019-06-30 16:04] callumquick commented on #35
Gonna take this one since I think it will also help with testing or setting up better automated tests for the "methods of objects" we've been implementing (check behaviour is as expected with Javascript directly). Also, any closer we get to Test 262 the better.

[2019-06-30 16:05] jasonwilliams opened #40 "Tests for parser.rs"
Similar to the tests for the [lexer.rs](https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L570-L931) we would like tests for parser.rs

## Creating test scenarios
The parser is used here: https://github.com/jasonwilliams/boa/blob/master/src/lib/lib.rs#L33 it accepts a vector of tokens. We then want to make sure the expr it returns matches what we want

### Generating tokens

[2019-06-30 16:11] jasonwilliams commented on #32
@logotie there are quite a few "good first issue"s now i can also answer any Qs

[2019-06-30 16:13] logotie commented on #32
Thanks for taking the time out to add some issues @jasonwilliams !  I am browsing through them now :)

[2019-06-30 16:27] jasonwilliams commented on #40
An alternative could be to test from js files and read from them to the parser, it would be easier for developers to follow than a list of hand crafted tokens

[2019-06-30 18:53] callumquick commented on #36
@jasonwilliams For the array, what is a Javascript array represented as in Boa? From my investigation appears to be as an Object, so in the underlying Rust a hashmap mapping from index to value: is that accurate?

Does that mean in Boa there's no Javascript difference between arrays and objects? Is that intentional or just because Array isn't implemented yet? Should we have an "Array" entry in the

[2019-06-30 19:26] jasonwilliams commented on #36
That's a very good point, and yes, what you said is accurate. There is no Array primitive value in JavaScript, so we can't have an array datatype in the value enum.  (for now) An Array is just an Object with a prototype of Array methods.

V8 do some optimisations with arrays with a backing store: https://v8.dev/blog/fast-properties
I'm not sure we need to worry about fast property access just yet.

[2019-06-30 19:44] callumquick commented on #36
I think my main questions would likely be whether in order to implement the majority of Array prototype methods we should be converting to real Rust arrays/Vectors/etc under the covers or just using hashmaps for now?

[2019-06-30 19:58] jasonwilliams opened #43 "enforce cargo fmt"
It might be an idea to have this, so some PR's are formatting other PR's, it should make it easier for those reviewing.

https://github.com/rust-lang/rustfmt is here.

`cargo fmt` needs to be added to a commit hook. We can add something to CONTRIBUTING.md hinting that `rustfmt` needs to be installed by `rustup component add rustfmt`

### potential example?
https://github.com/rust-analyzer/rust-ana

[2019-06-30 20:09] jasonwilliams commented on #43
I can try to get Travis CI to check this

[2019-06-30 20:26] jasonwilliams commented on #36
I would go hashmaps for now, you will hit way too many edge/corner cases if you try to convert them to Rust Vectors (i.e length shouldn't be counted). It's not the most performant but the most correct. We can fix speed later on with some optimisations.

[2019-06-30 22:42] jasonwilliams commented on #12
A good start could be to have a test file, which pulls in some of the pre-defined bindings before loading a file.  Assert would be a start
https://github.com/tc39/test262/blob/master/INTERPRETING.md#test262-defined-bindings

[2019-06-30 22:59] jasonwilliams opened #45 "Trailing commas in array assignments make the parser fail"
### Specification Link
https://tc39.es/ecma262/#prod-ArrayAssignmentPattern

### Example JS
[code]

### Expected
Parser should ignore the trailing comma

### Related to
https://github.com/jasonwilliams/boa/pull/42/files#diff-9f9158af1c9e00d4a93319c5918d9b97R816

### Contributing
https://github.com/jasonwilliams/boa/blob/master/CONTRIBUTING.md

[2019-06-30 23:28] jasonwilliams opened #46 "empty `const` declaration should fail"
## Specification:
https://tc39.es/ecma262/#sec-let-and-const-declarations-static-semantics-early-errors
_It is a Syntax Error if Initializer is not present and IsConstantDeclaration of the LexicalDeclaration containing this LexicalBinding is true._

### Expected
[code]
Should fail, binding `b` is not initialised

### Related to:
https://github.com/jasonwilliams/boa/pull/42/files#diff-9f9158af1c9e0

[2019-07-01 09:06] jasonwilliams opened #47 "Test comments in lexer.rs"
lexer.rs now has a [test suite](https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L570-L931), but testing comments are still missing.

Test would ensure single-line and multi-line comments are skipped passed and don't generate any tokens

### Contributing
https://github.com/jasonwilliams/boa/blob/master/CONTRIBUTING.md

[2019-07-01 09:10] jasonwilliams commented on #32
@logotie np https://github.com/jasonwilliams/boa/issues/47 is a nice small one

[2019-07-01 10:19] jasonwilliams opened #48 "dist folder should empty before webpack generates files"
`yarn serve` or `yarn build` should clean out `dist` folder before running.

I believe this can be done by using https://github.com/johnagan/clean-webpack-plugin. I couldn't get it working last time i tried it.

[2019-07-01 10:21] jasonwilliams opened #49 "Add test262 as a git submodule"
Bring in [test262](https://github.com/tc39/test262) as a submodule.
Add into the tests directory

[2019-07-01 12:48] jasonwilliams opened #50 "Order of precendence on binary operators potentially wrong"
## Setup
[code]

generates the Expr:
[code]

The `1.0` should be after the `d * (b - 3)`.
op.rs shows addition and subtraction to be lower than multiplication/Div/Mod

### Expected

https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/ast/op.rs#L191-L210 should match up with https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Operator_Precedence#Table

[2019-07-01 13:09] jasonwilliams commented on #50
Looks like the numbering was taken from here:
https://www.ibm.com/support/knowledgecenter/en/SSVRGU_9.0.1/reference/r_wpdr_elements_operators_r.html

[2019-07-01 13:34] jasonwilliams commented on #50
https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/parser.rs#L720-L741 could also be wrong

[2019-07-01 15:11] #43 closed

[2019-07-03 13:51] jasonwilliams opened #54 "Use a single Undefined value and point to that instead of multiple copies"
We generate ` Gc::new(ValueData::Undefined)` everywhere.
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L109
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L131
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L322

It would be good to generate 1 undefined Value and reference this, it would live throughout the lifetime of the whole program, so co

[2019-07-07 07:40] caracal7 opened #57 "fatal runtime error: stack overflow"
[code]

[2019-07-07 17:00] Razican commented on #54
That value would be a pointer-width value, why would it be good to reference it from multiple places? It would add one extra memory indirection, and slow down things, right?

[2019-07-07 17:55] jasonwilliams commented on #57
Thanks for raising @caracal7

[2019-07-07 18:25] jasonwilliams opened #61 "Bring Clippy warnings down to 0"
There's some low hanging fruit in this one, we've now enabled [Clippy](https://github.com/rust-lang/rust-clippy). Clippy is the Rust linter

This means there's some linting issues that will need fixing. You can see the warnings from each build for e.g here: https://travis-ci.com/jasonwilliams/boa/jobs/213821772

- Install Clippy (link above)
- Checkout the project as normal, and run `cargo clippy`

[2019-07-07 18:30] caracal7 commented on #57
You’re welcome 😊

[2019-07-07 20:02] zgotsch commented on #54
Maybe I don't understand something, but making a single value seems like it would be the same amount of indirection as the current approach. One level of indirection could then be removed because it would no longer need to be `Gc` and `GcCell` since it should live for the entire lifetime of the program (though this would have to use some sort of abstraction over pointer types, which I don't really

[2019-07-07 22:18] #46 closed

[2019-07-08 11:52] GalAster commented on #49
I don't think it is necessary

1. It's very huge (40.96 MB), which puts a burden on the CI system.

2. It's useless before implementation assert and module system

We can write a bash script that executes part of the test262 project from the packaged binary executable.

[2019-07-08 11:55] oovm opened #64 "Implement the ECMAScript module system"
Things like implement **require/import alias**.

[2019-07-08 13:40] jasonwilliams commented on #64
Nope, I haven't got this far yet, feel free to let us know if you have any ideas or if you wanted try something out.
In theory the [interpreter can run multiple times against new files](https://github.com/jasonwilliams/boa/blob/master/src/lib/lib.rs#L87)

[2019-07-08 15:27] leobalter commented on #49
As I suggested in a DM. I recommend doing a shallow checkout of the master branch of Test262 in the CI / Testing processes. I don't think it's necessary to rely on any specific revision of Test262 as it maintains a single track versioning, the master branch. The tests can be filtered out in execution using their flags for features or paths for matching folders.

[2019-07-08 15:29] leobalter commented on #49
You can also use test262-harness for the test execution as it already features these options for filtering. We do that running tests for Moddable XS. You'd only need to extend eshost to include a matching agent file.

Pinging @rwaldron for perhaps some eshost/agent info.

[2019-07-08 18:06] rwaldron commented on #49
This is something that I can help with. I will try to set aside time today/this week to implement an agent in eshost

[2019-07-08 19:26] rwaldron opened #66 "warning: unused manifest key: package.edition"
Followed the instructions in the README.md and CONTRIBUTING.md, this is what I ran into:

[code]

Any tips?

[2019-07-08 19:41] Razican commented on #66
What is your Rust version? Latest Rust versions should understand the edition key.

[2019-07-08 19:53] rwaldron commented on #66
Ah, thank you—I forgot to `rustup default stable` after updating `rustup` (it's been a while since I worked on a rust project).

[2019-07-08 19:53] #66 closed

[2019-07-09 09:19] #45 closed

[2019-07-09 21:51] jasonwilliams opened #71 "implement getOwnProperty for objects"
Currently property access to objects is done directly by calling `.properties` you can see here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/value.rs#L216

We should define the method `getOwnProperty` for objectData here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/object.rs#L16-L27
It might be worth implementing the function `ordinarygetownproperty` first in the sa

[2019-07-09 22:02] jasonwilliams opened #72 "add Property::isPropertyKey static method"
https://tc39.es/ecma262/#sec-ispropertykey may need to be implemented in the same (object.rs) file also, as that's where the current Property implementation is.

Property struct lives here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/object.rs#L53-L66

The argument would be a [JSValue](https://github.com/jasonwilliams/boa/blob/master/src/lib/js/value.rs#L18)

We currently don't sup

[2019-07-09 22:07] #48 closed

[2019-07-09 22:08] #35 closed

[2019-07-09 22:08] #40 closed

[2019-07-09 22:09] jasonwilliams commented on #32
https://github.com/jasonwilliams/boa/issues/72 is also very small

[2019-07-10 16:47] KrisChambers commented on #72
I will take a look at this.

[2019-07-10 18:02] rwaldron opened #74 "Feature Request: Boa Shell"
Similar to SpiderMonkey's `jsshell`, or V8's `d8`, this is needed to create an `eshost` agent.

`./target/debug/bin` is almost that, but needs:

1. output written to stdout
    1. only outputs the result of the last evaluation.
1. errors written to stderr

Things needed in the shell runtime itself:

1. `print()` function in the global scope (or similar). SpiderMonkey's JavaScript shell defines thi

[2019-07-10 23:09] KrisChambers commented on #72
Is it ok to add test modules for some unit tests to the bottom of files? I have noticed that a lot of the modules don't seem to have unit tests. And from some digging it seems a lot of the testing is being done through changing the test.js file and running cargo run. Unless I am missing something and we are putting tests somewhere else.

Also, I noticed there is a task for fixing clippy errors. Do

[2019-07-11 09:13] jasonwilliams commented on #72
- Yes, it would be great if you could put tests at the bottom of the files
- This somewhat still needs work, an easy way to test the process from start to finish is to run it against some JS files, thats where the test262 work comes in. For now its been very manual. These are not unit tests though.
- We will hopefully merge all the clippy errors issues today

[2019-07-11 22:30] jasonwilliams commented on #74
Thanks @rwaldron im sure we can get onto this.

[2019-07-12 23:59] KrisChambers commented on #71
I will take a look at this one too after issue #72 if that is alright.

[2019-07-14 19:40] akshay5995 commented on #47
@jasonwilliams I'll take this up :)

[2019-07-27 09:51] jasonwilliams opened #84 "Slight changes to benchmarking"
So i had a great response from the creator of Criterion.rs and he gave some advice on some tweaks we can do for Boa.

Very small changes were making significant changes in Boa, although this could be the way LLVM optimises even the slightest differences in Rust code.

His response was here:
https://gist.github.com/jasonwilliams/5325da61a794d8211dcab846d466c4fd

after looking at:
https://boa-pull.j

[2019-07-28 20:14] #84 closed

[2019-08-05 23:19] jasonwilliams commented on #29
Fixed by https://github.com/jasonwilliams/boa/pull/86

[2019-08-05 23:19] #29 closed

[2019-08-12 18:24] someguynamedmatt commented on #10
@jasonwilliams For clarity: in the description are we suggesting that `Number()` works as intended, whereas `String()` doesn't? Or are they both not functioning to the spec?

[2019-08-12 20:42] jasonwilliams commented on #10
I've been thinking about this for some time, so sorry for the long write up.

@someguynamedmatt `Number()` doesn't work or exist at the moment,  there is no `Number` object [on the global scope at the](https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L36-L49) that's where this ticket comes in: https://github.com/jasonwilliams/boa/issues/34

Our global function objects (`String`, `B

[2019-08-21 20:09] arbroween opened #88 "implement in operator"
The javascript built-in `in` operator is missing in the implementation of the lexer and also in the later stages. It is used to test if a property is in an object or its prototype chain.

It should probably be added to the lexer in this method, somewhere in the big match statement https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L207-L533

The operator's syntax is defined h

[2019-08-21 20:14] jasonwilliams commented on #88
Thanks for raising @arbroween

[2019-08-21 20:24] arbroween opened #89 "implement exponentiation operator"
The javascript built-in exponentiation operator (`**`) is missing in the implementation of the lexer. It is a shorthand for `Math.pow()` built-in.

It should probably be added to the lexer in this method, somewhere in the big match statement https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L207-L533

The operator's syntax and semantics is defined in this section here https:

[2019-08-21 20:27] arbroween commented on #88
You're welcome :+1:
I followed @jorendorff 's suggestion on the project's discord :)

[2019-08-21 20:28] arbroween commented on #88
Also following its suggestion this issue could be labelled as `good first issue`

[2019-08-21 20:30] arbroween commented on #89
This issue could maybe also be labelled as `good first issue`

[2019-08-22 10:09] jasonwilliams opened #90 "Implementing Symbol (Braindump)"
Spidermonkey calls Symbol::new() with ctx, SymbolCode::Unique and description.
https://searchfox.org/mozilla-central/source/js/src/vm/SymbolType.cpp#34

Every symbol holds a SymbolCode enum to say what kind of Symbol it is.
We could make symbol!() a macro, so that description can be dynamically added, or description could be an <option>

## Hashing
Both Spidermonkey and V8 use u32 for their hash c

[2019-08-29 15:01] cpyle0819 commented on #89
Re: 'somewhere in the big match statement'. There's already a `*` operator, so `**` should probably be nested within that similar to `\\`.

The `*` match is here: https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L479

[2019-08-29 15:02] cpyle0819 commented on #89
Now that I look at it, this looks done.

[2019-09-02 06:04] oll3 opened #95 "Implement missing assign operators"
Missing implementation of assign operators:
AssignMul: x *= y
AssignPow: x **= y
AssignAdd: x += y
AssignSub: x -= y
AssignMod: x %= y
AssignOr: x |= y
AssignAnd: x &= y
AssignXor: x ^= y
AssignLeftSh: x <<= y
AssignRightSh: x >>= y

[2019-09-03 16:42] #72 closed

[2019-09-03 16:44] jasonwilliams commented on #6
@yisonPylkita work has happened on this here:
https://github.com/jasonwilliams/boa/pull/94

[2019-09-03 16:45] #32 closed

[2019-09-08 08:25] oll3 commented on #89
The `**` should also be added as an assign op (`**=`)

[2019-09-08 10:46] #50 closed

[2019-09-08 10:50] jasonwilliams opened #98 "Create new binary which has print() available"
Related to #74

Create a second binary which can be used for debugging similar to d8.
The first step can be for it to have a print function, and output to stdout/stderr.

Evaluates the expression(s) and displays the result(s) on stdout, separated by spaces (" ") and terminated by a newline ("\n").

[2019-09-08 10:52] jasonwilliams commented on #74
@rwaldron what would happen if you pass an object to print(), would it call `toString()` on that object?

[2019-09-08 21:49] jasonwilliams opened #99 "updating wasm-pack breaks with the latest version"
## What's happening:
`undefined` is returned

## What should happen?:
`"1" should be returned

Ive also noticed boa_bg no longer gets outputed in pkg but index_bg instead.
Seems like wasm-pack has had quite a few changes recently

## Steps to replicate:

- clone project
- yarn install
- yarn serve
- navigate to localhost:8080
- Open up console and type `evaluate("1")`
You should get "1" back, plus

[2019-09-08 22:08] jasonwilliams opened #100 "Add [[Call]] to String"
This should be an easy one..
String has a [[Construct]] method which returns a string instance. This is working fine.
The [[Call]] version should return a native string.
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs#L529-L532

For inspiration, see how Boolean works:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/boolean.rs#L53-L54

It might be hard to test for

[2019-09-08 22:13] jasonwilliams commented on #71
this is done

[2019-09-08 22:13] #71 closed

[2019-09-08 22:16] jasonwilliams commented on #10
A huge amount of the above work is now done. Constructor functions are now function objects which have a [[Construct]] and a [[Call]] method.
The Construct gets used here: https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L281

Call currently doesn't use the [[Call]] internal slot.
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L111

@someguynamedmatt

[2019-09-08 22:26] jasonwilliams commented on #98
@rwaldon
https://github.com/jasonwilliams/boa/blob/master/src/bin/shell.rs

[2019-09-08 22:26] #98 closed

[2019-09-08 22:27] #15 closed

[2019-09-08 22:27] jasonwilliams commented on #25
we don't use this in console.log anymore

[2019-09-08 22:27] #25 closed

[2019-09-08 22:28] #9 closed

[2019-09-08 23:02] jasonwilliams commented on #57
Looks like early returns aren't working properly

[2019-09-08 23:27] jasonwilliams opened #101 "implement early returns"
The way functions are implemented are as blocks (arrays of expressions the executor works through).

If return happens we want to stop at this point and return the value.
Currently this doesn't happen:
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L61-L70

Arises from: https://github.com/jasonwilliams/boa/issues/57

[2019-09-13 09:13] jasonwilliams commented on #99
apparently its just a case of updating webpack

[2019-09-18 20:24] #101 closed

[2019-09-19 13:44] jasonwilliams commented on #57
@caracal7 this has now been fixed 😄
It will be a bit slow when putting in a high number, but it won't crash anymore.

We've also added your Fibonacci to our benchmarks to see if we can improve performance over time

[2019-09-19 13:44] #57 closed

[2019-09-22 16:05] jasonwilliams opened #111 "[Optimisation] - Zero cost arguments, create argument objects lazily"
Benchmarks were added in: https://github.com/jasonwilliams/boa/pull/109
They will introduce a slow down to all function invocations.
It might be an idea to only add an argument object to the function scope when its needed.

## Before and after benchmarks of `arguments`
| Test | PR Benchmark | Master Benchmark | % |
|------|--------------|------------------|---|
| Hello World (Execution) | **168.2±

[2019-09-22 16:36] #99 closed

[2019-09-22 16:37] #19 closed

[2019-09-25 15:56] #10 closed

[2019-09-25 17:32] #100 closed

[2019-09-26 01:57] abbondanza opened #113 "Unassigned variables have default of null instead of undefined"
The following statements both print `null` instead of `undefined`.

[code]
and
[code]

Testing locally, it seems like it's enough to change the defaults at https://github.com/jasonwilliams/boa/blob/8851eba27d1df86e139e101f2b0ce26dbf3a1920/src/lib/exec.rs#L395 and https://github.com/jasonwilliams/boa/blob/8851eba27d1df86e139e101f2b0ce26dbf3a1920/src/lib/exec.rs#L407

to `ValueData::Undefined`.

[2019-09-26 17:42] pop commented on #34
This sounds cool and I'm interested in contributing to Boa for Hacktoberfest. Mind if I start working on this?

[2019-09-26 17:49] pop commented on #113
This sounds cool and I'm interested in contributing to Boa for Hacktoberfest. Mind if I start working on this?

[2019-09-27 09:03] jasonwilliams opened #114 "String.match(regexp)"
`match` function would need to be added to the string object here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs

It would be very similar to:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/regexp.rs#L212-L251

Spec:
https://tc39.es/ecma262/#sec-string.prototype.match

[2019-09-27 09:05] jasonwilliams opened #115 "String.matchAll(regexp)"
`matchAll` function would need to be added to the string object here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs

It would be very similar to:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/regexp.rs#L212-L251

Spec:
https://tc39.es/ecma262/#sec-string.prototype.matchAll

Notes:
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-09-27 09:06] jasonwilliams opened #116 "String.replace(regexp|substr, newSubstr|function)"
`replace` function would need to be added to the string object here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs

It would be very similar to:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/regexp.rs#L212-L251

Spec:
https://tc39.es/ecma262/#sec-string.prototype.replace

Notes:
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-09-27 09:07] jasonwilliams opened #117 "String.search(regexp)"
`search` function would need to be added to the string object here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/string.rs

It would be very similar to:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/regexp.rs#L212-L251

Spec:
https://tc39.es/ecma262/#sec-string.prototype.search

Debugging:
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-09-27 09:09] jasonwilliams commented on #6
Milestone has now been created for regular expressions so this can be closed

[2019-09-27 09:09] #6 closed

[2019-09-27 09:11] #95 closed

[2019-09-27 09:17] jasonwilliams opened #118 "[Easy] - increment operator is broken"
[code]

[code]

This JS generates the error:
`thread 'main' panicked at 'internal error: entered unreachable code', src/lib/exec.rs:246:26
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.
The terminal process terminated with exit code: 101`

Issue is happening here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L249

Looks like more `unaryOp`s need

[2019-09-27 09:20] jasonwilliams commented on #54
I agree, closing this ticket

[2019-09-27 09:20] #54 closed

[2019-09-27 09:23] jasonwilliams opened #119 "CreateRealm() function"
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L438-L452 should be replaced with a create_realm() function which matches up with https://tc39.es/ecma262/#sec-createrealm

[2019-09-27 09:25] jasonwilliams opened #120 "Implement global `globalThis` property"
**ECMASCript feature**

We can add this by adding a new module like `NaN` https://github.com/boa-dev/boa/tree/master/boa/src/builtins/nan and then adding it to the builtin `init` function in `builtins/mod.rs` the value it should contain should be `global.clone()` (this is the value passed to init function)

More information
	- [ECMAScript reference][spec]
    - [MDN][mdn]

[spec]: https://tc39.es/

[2019-09-27 09:27] #49 closed

[2019-09-27 09:30] jasonwilliams opened #121 "[Feature] - BigInt"
https://tc39.es/ecma262/#sec-bigint-objects

[2019-09-27 09:34] jasonwilliams opened #122 "Github Action to update github pages when a new version is created"
This page:
https://boa-dev.github.io/boa

Is often behind the actual release. As its a manual job to push the new version.
`git push && git subtree push --prefix dist origin gh-pages`

It would be nice to update the web assembly page when a new version is rolled out.
We already have a github action here:
https://github.com/boa-dev/boa/blob/master/.github/workflows/pull_request.yml

Is it possible

[2019-09-27 09:37] jasonwilliams opened #123 "[Easy] - rename js folder to builtins"
It would make sense to call `js` `builtins` instead, as that's mainly what it holds.
This would involve renaming the folder and updating the references.

Folder location:
https://github.com/jasonwilliams/boa/tree/master/src/lib/js

Debugging:
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-09-27 10:29] bobbo commented on #118
I'm interested in taking a look at this for Hacktoberfest.

[2019-09-27 13:28] abbondanza commented on #113
Go for it! Should be pretty straightforward.

[2019-09-27 16:06] rajkharvar commented on #123
I will work on it. But I want to know which references are to be changed.

[2019-09-27 17:37] brian-gavin commented on #88
Hey, I'm interested in doing this for Hacktoberfest!

[2019-09-27 18:27] jasonwilliams commented on #123
@rajkharvar You can do a find and replace for this https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L3 `js::`

Also, the tests will most likely fail if you've missed a reference

[2019-09-27 19:25] rajkharvar commented on #123
Okay, so I need to change all the `js::` to `builtins::`. Right??

[2019-09-28 07:12] Korpen commented on #61
I'd like to work on this if it's still needed.

[2019-09-28 09:38] bobbo commented on #118
There's a related parsing issue, where `i++` is parsed as `IncrementPost(IncrementPre(i))`

`    def: Block(
        [
            Expr {
                def: LetDecl(
                    [
                        (
                            "i",
                            Some(
                                Expr {
                                    def: Const(

[2019-09-28 10:12] jasonwilliams commented on #118
That’s odd, would need to see the tokens

[2019-09-28 11:06] bobbo commented on #118
**JS**:
[code]

**Tokens**:
[code]

The tokens look reasonable from a quick glance. I've not had a proper dive into the parser but `parse` looks to emit the `IncrementPre` and `parse_next` the `IncrementPost`.

[2019-09-28 14:01] jasonwilliams commented on #118
There should be a second semicolon after the Inc

[2019-09-28 16:32] jasonwilliams commented on #118
Looks like it hits https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/parser.rs#L765-L770 first, which then calls parse again, that goes into https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/parser.rs#L565-L568

parse_next doesn't advance and so the next iteration it parses Inc again.
It might need some refactoring here, im not sure why it falls into parse_next

[2019-09-29 09:17] jasonwilliams commented on #118
Taking a closer look, it looks like postIncrement was copied from preIncrement.

PreIncrement tries to parse the next token which is correct, but postIncrement shouldn’t do that, it already knows what it’s incrementing.
It should be taking the previous token (the identifier) and passing that as the argument (as a localExpr).
Let me know if none of this makes sense

[2019-09-30 20:25] Baev1 commented on #117
Hi! I would like to work on this if that's alright?
seems like a nice exercise in rust outside of my personal projects 😄

[2019-10-01 18:50] muskuloes commented on #114
Hi, I found this via  the hacktoberfest tag. I'll like to work on it.

[2019-10-01 19:50] jasonwilliams commented on #123
@rajkharvar thats correct

[2019-10-02 14:50] jasonwilliams commented on #122
@darrylpargeter sure

[2019-10-02 18:18] #119 closed

[2019-10-02 19:53] jasonwilliams opened #128 "[Easy] - consistency with how objects are added to Global"
object, console, math, function, json should follow the same pattern as String, Regex below
https://github.com/jasonwilliams/boa/blob/master/src/lib/realm.rs#L55-L59

## Example to follow:
Here is an example of Boolean being changed to `create_constructor`
https://github.com/jasonwilliams/boa/commit/e35b66b41213cf519e85353b83b0952a95c4eda0#diff-9c85558881ecea17184e97fb52b0882b

[2019-10-02 20:04] DomParfitt commented on #128
I'd be interested in having a go at this.

[2019-10-02 20:24] bojan88 commented on #115
@jasonwilliams thanks for nice and straightforward issue. I'm going to start working on this one.

[2019-10-02 20:49] jasonwilliams commented on #117
@Baev1 sure ive assigned to you

[2019-10-02 20:50] jasonwilliams commented on #115
@bojan88 great, assigned!

[2019-10-02 20:52] jasonwilliams commented on #88
@brian-gavin assigned

[2019-10-02 20:52] jasonwilliams commented on #34
@pop assigned

[2019-10-02 20:52] jasonwilliams commented on #47
@akshay5995 you still interested in taking this?

[2019-10-02 20:53] jasonwilliams commented on #114
@muskuloes ok assigned

[2019-10-02 21:06] Baev1 commented on #117
Thank you @jasonwilliams!
I have looked into it a bit already and to me the ways to do it seem to check if the provided arg is a RegExp and else call make_regexp and then call the exec function from regexp as the RegExp struct itself is private and thus the approach taken in the exec function itself is impossible.
Would this be a good strategy or could I get permission to make the RegExp struct pu

[2019-10-03 19:05] #113 closed

[2019-10-03 19:12] simonbrahan commented on #89
Mind if I take a look at this one?

[2019-10-04 03:45] louisgjohnson commented on #116
Hey mate, can I have a go of this?

[2019-10-04 20:12] bobbo commented on #118
@jasonwilliams, thanks for the tips, will take a proper look at this as soon as possible.

[2019-10-04 20:58] Emanon42 commented on #47
I am interested in this. Can I take a try?

[2019-10-05 17:39] Emanon42 commented on #47
#134

[2019-10-05 21:08] Emanon42 commented on #47
CI failed. I read the [lexer code](https://github.com/jasonwilliams/boa/blob/5df34762e64558c9c1042219ce1baee05777bf1d/src/lib/syntax/lexer.rs#L446-L472) and find out that it actually produces a comment token object which contains the comment string. But you said "single-line and multi-line comments are skipped passed and don't generate any tokens", is that a bug or feature?

[2019-10-05 22:24] muskuloes commented on #117
Hi, I am learning rust and I work on string.match(regexp) #114 , and it seems as we need a function that extracts a regexp literal in string.rs. Like here: https://github.com/jasonwilliams/boa/blob/5df34762e64558c9c1042219ce1baee05777bf1d/src/lib/js/regexp.rs#L55-L73

I included those lines directly in my match implementation #131. Having it as a separate private function would help us both and al

[2019-10-06 03:57] WofWca opened #137 "suggestion(demo): use Monaco Editor"
https://microsoft.github.io/monaco-editor/index.html

I think this would make the project look more "professional". And convenient.

[2019-10-06 18:24] bojan88 commented on #117
Hey guys, I used a little bit different approach. Please have a look at https://github.com/jasonwilliams/boa/pull/138.

[2019-10-07 10:46] jasonwilliams commented on #47
its a feature, we don't need to generate tokens for comments, they should be ignored.

[2019-10-07 10:47] jasonwilliams commented on #47
if CI fails you can run whatever it does locally
[code]
is what failed

[2019-10-07 14:21] muskuloes commented on #117
Yeah, We need a common way to extract regex's. Your PR also in a way answers my question. But I am not sure about implementing the actual functionality in `regexp.rs`, even though it allows us to use the RegExp struct comfortably. If that'd be the case, I'll update my PR.

[2019-10-07 14:41] jasonwilliams commented on #117
not had chance to look at this yet, but will do

[2019-10-07 22:40] #89 closed

[2019-10-07 23:23] jasonwilliams commented on #117
Hey @Baev1  im trying to follow, what do you mean the RegEp struct itself is private and this its impossible? I think it should be possible to use `exec` here.

[2019-10-07 23:36] jasonwilliams commented on #74
@rwaldron do you have an example of Test262 using this somewhere so we can see for context?

[2019-10-08 09:16] jasonwilliams opened #140 "Streamline Boa Shell into the same binary with arguments"
We have 2 binaries at the moment, Boa and Boa Shell.
Boa Shell is the debugging shell which will eventually be used in test262 https://github.com/jasonwilliams/boa/issues/74

Its possible to use boa with a shell option instead -s

This issue is for that

Arrises from:
https://github.com/jasonwilliams/boa/pull/107#issuecomment-533140009

[2019-10-08 09:21] jasonwilliams opened #141 "Implement Function Objects"
The goal of this issue is to have a function object which more closely resembles https://tc39.es/ecma262/#sec-ecmascript-function-objects.

I created function_object (which will hopefully replace function).

In the specification function objects are actually just ordinary objects with some additional methods and internal slots. I originally attempted to do the same but ran into issues.

I needed t

[2019-10-08 09:26] jasonwilliams opened #142 "Create Print() function"
Arises from:
https://github.com/jasonwilliams/boa/issues/74

[code]

For Boa Shell we need a print function, the implementation is virtually the same as https://github.com/jasonwilliams/boa/blob/master/src/lib/js/console.rs#L11-L98

It might be worth abstracting the above logic into its own function, and have console.log() and print() use it.

print() should only be available in [shell](https://gi

[2019-10-08 11:08] jasonwilliams commented on #90
https://tc39.es/ecma262/#sec-properties-of-symbol-instances

[2019-10-08 15:05] Emanon42 commented on #142
Interest in this. Can I take a try?

[2019-10-08 15:58] jasonwilliams commented on #142
Sure!

[2019-10-08 16:01] Emanon42 commented on #47
#134 has been fixed.

[2019-10-08 16:06] jasonwilliams commented on #142
In terms of the helper, there exists one in the spec:
https://tc39.es/ecma262/#sec-getglobalobject

The [Execution context](https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L21-L27) should have a [getRealmObject](https://tc39.es/ecma262/#sec-getglobalobject) method.
It might be worth returning a reference to the realm object for now.

You will need this to add Print to the global o

[2019-10-08 17:24] StackDoubleFlow commented on #137
I would like to work on this one

[2019-10-08 22:34] tiagolisalves commented on #121
I would like to implement this feature. I'm looking for resources to get some inspiration on how I could do efficient operations on big numbers.

[2019-10-08 22:39] jasonwilliams commented on #121
Sure, go for it!

[2019-10-08 22:45] #47 closed

[2019-10-09 00:49] jasonwilliams commented on #141
Its not easy to implement with Function being an extension of Object.
I think the alternative is to have Object methods in a trait, and function uses the same trait, with its own methods set on the struct itself.

Internal methods can just be struct methods, with different objects being structs using the same interface

[2019-10-09 02:06] louisgjohnson commented on #142
if you call `print()` in the browser(chrome) it opens the printer prompt

[2019-10-09 04:11] pop commented on #34
@jasonwilliams I've got most of the skeleton code up on my fork of boa ([HERE]).

I'm not sure what you mean by how we should add the new Number object to the global scope.

There already seems to be some kind of Number in boa, but not a proper Number object.

Any hints?

[HERE]: https://github.com/jasonwilliams/boa/compare/master...pop:feature/number-object

[2019-10-09 08:29] jasonwilliams commented on #142
@louisgjphnson this method won’t be in the final binary, only in the shell

[2019-10-09 20:40] simonbrahan commented on #36
I'll take a look at `indexOf` and `lastIndexOf`.

[2019-10-10 09:14] jasonwilliams commented on #36
@simonbrahan ok great

[2019-10-10 09:14] jasonwilliams commented on #61
@Korpen sure, assigned

[2019-10-10 09:15] jasonwilliams commented on #137
@StackDoubleFlow  Sure

[2019-10-10 16:53] StackDoubleFlow commented on #137
@jasonwilliams Oh I've already finished (#145)

[2019-10-11 12:44] #137 closed

[2019-10-11 15:59] jasonwilliams commented on #141
Made a start here:
https://github.com/jasonwilliams/boa/pull/146

If anyone is willing to help on this, feel free

[2019-10-11 16:24] jasonwilliams commented on #121
@tiagolisalves while you're in there, you mind looking at this too?
https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L395

[2019-10-11 20:41] jedmao opened #149 "Why does this project exist?"
I'm genuinely curious.

- Is this project intended to compete with [V8][]?
   - I'm assuming the memory-safe guaruntees and speed of Rust are the motivating factors here?
   - Are there any other benefits to this project over [V8][]?
   - How about threading?
- Are there any plans to one day integrate with [Node.js](https://nodejs.org/en/) and/or [Deno](https://deno.land/)?
- Are there any plans t

[2019-10-12 08:36] jasonwilliams opened #151 "Rest / Spread operator"
This is needed

[2019-10-12 08:36] jasonwilliams opened #152 "Shorthand method syntax"
Is needed

[2019-10-14 09:06] jasonwilliams commented on #61
Fixed, thanks @Korpen

[2019-10-14 09:06] #61 closed

[2019-10-14 16:27] evomassiny opened #154 "Lexer doesn't handle all white spaces"
Hello,

By toying with this crate I stumble across a slight bug in the lexer,
using the current boa version, any non-`" "` white space character triggers a lexing error,
this code:
[code]
fails and produce this stacktrace:
[code]

According to the [ECMASCRIPT specification](https://www.ecma-international.org/ecma-262/6.0/#sec-white-space), the `\t` should be simply ignored, as if it were a simple

[2019-10-14 19:37] iRuler1337 commented on #123
adad

[2019-10-14 23:49] tiagolisalves commented on #121
@jasonwilliams Sure! I will give a look!

[2019-10-15 01:43] Rana6060 commented on #117
مكررة مكررة من #

[2019-10-15 22:11] #114 closed

[2019-10-16 20:03] robertmaloney commented on #151
Can I pick this up?

[2019-10-16 20:29] pie6k commented on #149
I was about to ask the same question.

I appreciate this, but I'm not sure what is end-goal here. Is it supposed to be faster than V8? Is it supposed to take advantage of typescript types to be even faster?

If that's just a clone of V8 - how is it going to be trying to be an alternative for it?

[2019-10-16 20:56] jedmao commented on #149
I also noticed during the presentation that garbage collection is being used in Rust, wondering if that kind of reduces the value of using Rust in the first place?

[2019-10-16 22:28] evomassiny opened #162 "Parsing an expression containing a huge list of token triggers a stack overflow"
Hello,

I've stumbled across a weird bug in the javascript parser:
when a single expression uses a lot of token (>120 in debug mode, and >3400 in release mode),
the [Parser::parse()](https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/parser.rs#L341) triggers a stack overflow.

Here is a minimal way to reproduce the bug:
[code]

My guess is that the function recursively calls itself to

[2019-10-17 00:54] jasonwilliams commented on #149
Hey I will try to answer this properly at some point.

@jedmao garbage collection *has* to be used, it’s unavoidable, variables in JavaScript can live after their function scope. This is why every value needs to be wrapped in a GC. Cloning a GCd value only clones the pointer not the value itself so it’s super lightweight.  There is escape analysis (https://en.m.wikipedia.org/wiki/Escape_analysis)

[2019-10-17 01:33] jedmao commented on #149
I love this answer and I look forward to seeing you answer more of it "properly at some point."

[2019-10-17 08:13] jasonwilliams commented on #162
Thanks @evomassiny
This is a great issue, I think we should certainly look at that. The reproduction steps are useful.

I’m not sure how the refactor would work right now but it’s something to think about. I’m open to ideas. Stack machine sounds about right.

[2019-10-17 10:51] jasonwilliams commented on #151
Sure

[2019-10-17 16:14] jasonwilliams opened #163 "Implement Array.prototype.every()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.every

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-17 16:17] jasonwilliams opened #164 "Implement Array.prototype.fill()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.fill

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-17 16:19] jasonwilliams opened #165 "Implement Array.prototype.find()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.find

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-17 16:19] jasonwilliams opened #166 "Implement Array.prototype.findIndex()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.findIndex

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-17 16:42] jasonwilliams commented on #34
@pop sorry i thought i replied to this.
We add Globals here:https://github.com/jasonwilliams/boa/blob/master/src/lib/realm.rs#L58-L65
So just look at how the others work

[2019-10-17 16:48] jasonwilliams opened #167 "Generate Bytecode"
Issue here to keep track of.
At some point generating bytecode would be needed.

Example from Rapidus:
https://github.com/maekawatoshiki/rapidus/blob/new-gen/src/bytecode_gen.rs#L474-L558

Spidermonkey:
https://dxr.mozilla.org/mozilla-central/source/js/src/vm/Opcodes.h

V8:
https://github.com/v8/v8/blob/master/src/compiler/opcodes.h

[2019-10-17 17:02] #115 closed

[2019-10-17 18:47] rodrigocam commented on #165
I will work on this!

[2019-10-18 01:16] bojan88 commented on #164
Can I take this one?

[2019-10-18 02:41] felipe-fg commented on #166
Hey, @jasonwilliams.

I'm interested in this one. Can I give it a try?

[2019-10-18 08:55] jasonwilliams opened #168 "[Easy] - Update monacoWebpackPlugin to only include javascript"
The output of the [monacoWebpackPlugin](https://github.com/jasonwilliams/boa/blob/master/webpack.config.js#L36) is [many JS files](https://github.com/jasonwilliams/boa/tree/gh-pages) handling all the languages, we only need to support javascript.

There are options for the plugin here:
https://github.com/microsoft/monaco-editor-webpack-plugin

You can test by running `yarn serve` or `yarn build` a

[2019-10-18 13:08] jasonwilliams commented on #168
Contributing & Debugging
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-18 14:32] Korpen commented on #163
I'd like to tackle this

[2019-10-18 16:34] IovoslavIovchev commented on #36
I'd like to take a look at `indexOf` and possibly `map`.

[2019-10-19 06:21] IovoslavIovchev opened #170 "Why was the Display implementation for Object removed?"
Hello,

While playing around with this project I came accross:
[code]
and, after some digging, I found that at some point in the past `Display` _was_ implemented for `ValueData::Object` (as far as I know, arrays in `boa` are objects).

So why exactly was it removed? Was it because the previous implementation was too verbose?

[2019-10-19 07:42] jasonwilliams commented on #170
Hey @IovoslavIovchev I can answer this one.
Basically we were experiencing stack overflows when printing objects.

After investigation I saw that the printer prints every property and slot for an object.
This creates an infinite loop because the prototype hidden slot of String will point to Object so all of Objects properties get printed and so on.

I think for now I changed object to just print {

[2019-10-19 07:44] jasonwilliams commented on #170
The output was getting too big and verbose. If there is a nice way to pretty print objects I’m for it.

[2019-10-19 07:45] jasonwilliams commented on #170
If you wish to experiment you can try adding it back, then try printing a string object

[2019-10-19 08:57] IovoslavIovchev commented on #170
I tried various forms of `String`s, `Object`s and `Array`s but none of them caused a stack overflow (I'm using 2427b3b, by the way).

Did a stack overflow occur every time, or just in particular cases?

[2019-10-19 09:01] IovoslavIovchev commented on #170
One way to avoid verbosity (and a stack overflow) would be to only print own properties and not print the prototype, if that is something that might be deemed acceptable.

Additionally, pretty printing can be achieved by simply printing each new property on a new line.

[2019-10-19 10:58] jasonwilliams commented on #170
Sure, it’s a good start

I think all objects should attempt to call their own .toString() counterpart before being displayed anyway.

[2019-10-19 11:36] IovoslavIovchev commented on #170
I will take a look at re-implementing `Display` then.

[2019-10-19 14:46] #154 closed

[2019-10-19 14:47] jasonwilliams commented on #170
Thanks @IovoslavIovchev

[2019-10-19 15:33] IovoslavIovchev opened #172 "There are no quotes around a String value"
Provided you have something like:
[code]
the output would be:
[code]

The issue is due to the [implementation](https://github.com/jasonwilliams/boa/blob/master/src/lib/js/value.rs#L579) of `Display` for `ValueData::String`, which simply displays the value of the `String`.

[2019-10-19 18:33] #165 closed

[2019-10-19 18:49] #163 closed

[2019-10-19 19:11] jasonwilliams commented on #122
@darrylpargeter any luck?

[2019-10-19 21:30] evomassiny commented on #162
Hi,

I found a way to build a parser without fonction recursion, by using an intermediate representation of the Abstract Syntax Tree in [Polish Notation](https://en.wikipedia.org/wiki/Polish_notation), and build a AST from it, in a second pass.

The benefit of the polish notation is its "flatness", we can represent the whole AST into a vector of expression, which make it easier to work with, speci

[2019-10-20 07:14] jasonwilliams commented on #166
@felipe-fg sure

[2019-10-20 09:40] muskuloes commented on #36
I'll like to work on `slice`

[2019-10-20 11:59] jasonwilliams opened #176 "Implement Array.prototype.map()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.map

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-20 12:00] jasonwilliams opened #177 "Implement Array.prototype.slice()"
Array methods are implemented here, for e.g here's concat:
https://github.com/jasonwilliams/boa/blob/master/src/lib/js/array.rs#L78-L109

**Specification:**
https://tc39.es/ecma262/#sec-array.prototype.slice

**Contributing & Debugging**
https://github.com/jasonwilliams/boa#contributing
https://github.com/jasonwilliams/boa/blob/master/docs/debugging.md

[2019-10-20 12:00] jasonwilliams commented on #36
@IovoslavIovchev  can you put yourself on (or reply to) this issue https://github.com/jasonwilliams/boa/issues/176

@muskuloes same for https://github.com/jasonwilliams/boa/issues/177

[2019-10-20 12:04] jasonwilliams commented on #149
I hope to get some sort of blog posts working for Boa and i can answer it there, i was originally doing this on my own site, i haven't decided whether to continue doing that or move it do here.

[2019-10-20 12:18] IovoslavIovchev commented on #176
I'd like to take this

[2019-10-20 12:32] muskuloes commented on #177
I'll like to be assigned to this.

[2019-10-20 13:56] jedmao commented on #149
I suppose it doesn’t matter, so long as you link to relevant documentation from this repo.

[2019-10-20 17:23] IovoslavIovchev opened #179 "Implement the Tilde operator"
Currently the `~` operator causes a `parsing failed` exception.

_Tilde_ performs a bitwise [NOT](https://en.wikipedia.org/wiki/Bitwise_operation#NOT).

---

**Example:**
[code]

[2019-10-22 06:51] letmutx commented on #179
I'd like to work on this.

[2019-10-22 13:35] #166 closed

[2019-10-22 16:56] #39 closed

[2019-10-22 17:37] #123 closed

[2019-10-22 20:29] simonbrahan commented on #36
Can I take `includes`?

[2019-10-23 09:43] jasonwilliams opened #186 "Create execution context and execution stack"
This is a bit of a refactor.
https://tc39.es/ecma262/#sec-execution-contexts

First we need a context struct which holds information about the context.
fields would be https://tc39.es/ecma262/#table-22

Then we need to create a stack structure, this holds execution contexts in a FIFO order, and the top most one is the currently running context

This stack structure would also have methods on it:
8

[2019-10-23 16:08] thiagoarrais commented on #116
@louisgjohnson: still working on this? I would like to help with it.

[2019-10-25 09:58] #179 closed

[2019-10-25 10:20] #168 closed

[2019-10-25 15:32] IovoslavIovchev commented on #152
Do you mean something like:
[code]

[2019-10-25 19:27] jasonwilliams commented on #152
Yep!

[2019-10-27 06:38] IovoslavIovchev opened #193 "Create a macro for properly setting builtin member functions"
When creating a new member function for some `builtin`, you need to make sure the `create_constructor()` function contains this:
[code]

Writing these two lines for each new function can prove tedious _and_ error prone, as the second line can be missed when needed ([functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/length) have their `length` prop

[2019-10-30 12:02] jasonwilliams commented on #193
This is a good idea, although i wonder if it will overlap [Function Objects ](https://tc39.es/ecma262/#sec-createbuiltinfunction)

[2019-10-30 15:18] IovoslavIovchev commented on #193
Depends on what you mean by "functions we come across in code".
My intention is for it to only be used for reducing boilerplate in _buil-tins_.

It is a more humble version of `CreateBuiltinFunction` (of which I found no implementation, apologies if I am missed anything). Of course, we could expand the scope a bit here and fully implement `CreateBuiltinFunction`.

[2019-10-31 05:49] IovoslavIovchev commented on #142
@Emanon42 note that what we need is close to some of the work done in #171, so you can take a look (specifically having `Display`, `console.log` and `print` share some logic).

[2019-10-31 13:15] evomassiny opened #195 "Early returns don't stop the function execution"
Hi,

In the current implementation, the return keyword doesn't stop the execution of a function.
It only stops the execution of the current expression.

For instance this code will always return `"unreachable"`:
[code]

Thanks for your time,

evomassiny

[2019-10-31 15:06] IovoslavIovchev commented on #195
@evomassiny this definitely needs looking into. It is great you noticed it.

Would you be interested in taking a look into fixing it?

[2019-10-31 15:32] evomassiny commented on #195
sure :)

[2019-10-31 16:09] jasonwilliams commented on #195
Yeah early returns certainly need some work, thanks for spotting this

[2019-10-31 23:01] #128 closed

[2019-11-01 04:28] #195 closed

[2019-11-01 15:57] Razican commented on #119
Is this done? It seems that it was mistakenly closed when committing #126, that specifically says "This doesn't fix #119"

[2019-11-01 16:39] Emanon42 commented on #142
@IovoslavIovchev @jasonwilliams thanks! I have to delay my contribution on this issue because of my uni coursework :p
I will finish this before December!

[2019-11-02 07:03] IovoslavIovchev commented on #142
@Emanon42 no worries, take your time

[2019-11-02 07:06] IovoslavIovchev commented on #193
Great. I believe it will be a good first issue.

Will mark it as such, if anyone is interested.

[2019-11-03 13:27] evomassiny opened #201 "OR and AND operation don't use short-circuit evaluation"
Hi,

Currently, both hands of an OR or AND operation are evaluated before the actual expression evaluation, so a check like this one: `if (array.length > 0 && array[0] > 1) { ; }` will always evaluate `array[0] > 1` even when `array.length` is 0.

To fix this, we can use the fact that rust also uses short-circuit evaluations, and turn the [expression evaluation](https://github.com/jasonwilliams/bo

[2019-11-03 19:07] #152 closed

[2019-11-03 19:14] #164 closed

[2019-11-03 21:22] jasonwilliams commented on #151
@robertmaloney everything ok on this?

[2019-11-04 11:26] IovoslavIovchev commented on #167
Has any work been done on this?

[2019-11-04 13:01] jasonwilliams commented on #167
@IovoslavIovchev Nope not yet

[2019-11-04 18:30] #201 closed

[2019-11-05 14:53] pop opened #204 "Number(<float>e<int>) should work"
It looks like scientific notation numbers starting with a float compile to either `undefined` (positive float base) and when used in Number() triggers a panic.

For example:

[code]

This behavior works in Node.js as expected:

[code]

`Number()` is able to parse String inputs correctly, but raw scientific notation numbers with a float base trigger a panic. This may be a parsing issue as the error

[2019-11-06 13:45] #34 closed

[2019-11-06 16:17] robertmaloney commented on #151
Apologies for being slow with this. I already have function spread and working on wrapping arrow functions, and I think that'd be a good point to get a PR in.

[2019-11-06 16:28] #90 closed

[2019-11-07 05:50] IovoslavIovchev commented on #176
Completed as part of #194

[2019-11-07 05:50] #176 closed

[2019-11-08 06:43] Stupremee commented on #193
I can take care of this

[2019-11-12 11:55] flopacero opened #207 "[Question] What is mk macro used for?"
I was looking around codebase trying to work with one of a bug issue. I stumbled upon several nonobvious moments in codebase.

One of them is `mk` macro. Confusing moments:
  * There are two cases in macro but it ignores all its arguments but one. What are other arguments for?
  * As far as I can see what it does it just creates `Entity` with `Entity::new` which can be done without macro at all. W

[2019-11-12 12:05] flopacero opened #208 "[Question] Why semicolon doesn't stop expression parsing?"
This is a question about codebase. As far as I get there is `parse` function to parse a single expression which uses `parse_next` to look ahead along with several others. Currently if `parse_next` sees semicolon it advances position but does not stop expression parsing. Why is so? I thought thaat it should denote the end of expression.

It causes at least one of the reported problem with pre-incre

[2019-11-12 16:59] Stupremee commented on #193
This issue can be closed I guess

[2019-11-12 22:18] jasonwilliams commented on #208
Hi @flopacero

You're right, i don't think that's correct and has probably never been changed.
Do you have a test cases which breaks this?

[2019-11-13 04:34] IovoslavIovchev commented on #193
Done as part of #206

[2019-11-13 04:34] #193 closed

[2019-11-17 16:14] IovoslavIovchev opened #209 "Calling `new Array` with 1 argument doesn't work properly"
The [spec](https://tc39.es/ecma262/#sec-array-len) describes that `new Array(5)` should create an array with 5 empty elements/slots. Currently, it produces `[5]`.

[2019-11-20 16:04] thiagoarrais commented on #193
I'm getting `undefined` when I do `'abc'.matchAll.length` in `tests.js`. Even after upgrading to 7698873. Am I doing something wrong?

[2019-11-20 16:16] Stupremee commented on #193
I think a new issue for your issue would be better @thiagoarrais

[2019-11-20 16:25] thiagoarrais opened #210 "builtinfun.length undefined"
I'm getting `undefined` when I do `'abc'.matchAll.length`. This is incompatible with Chrome's implementation (for example), where I get `1`.

Testing with master with the following `tests.js`:

[code]

Here's the output for `cargo run`:

[code]

Related to #193 and #206

[2019-11-20 16:25] thiagoarrais commented on #193
Sure!

[2019-11-20 17:21] Stupremee commented on #210
I think I found the error.
The following code:
[code]
returns undefined and not the function object.
Firefox console returns the function object instead.
I will investigate further and try to find the cause

[2019-11-20 18:10] Stupremee commented on #210
I found the error
If you create a string with `"` or `'`, the `builtins::string::create_constructor` (aka String Constructor) is not used, and so the methods are not set.
When a method is called from this string, this string is first converted to an object by `Interpreter::to_object`, this `to_object` method then uses the string prototype which has all methods set etc, so the `matchAll` method is

[2019-11-21 20:26] Stupremee commented on #210
Is there now a good solution which should be used?

[2019-11-22 15:48] jasonwilliams commented on #210
Hey @Stupremee do you think this logic should be inside value.rs on `get_field` ?

[2019-11-22 22:13] Stupremee commented on #210
I think so yes

[2019-11-23 07:25] IovoslavIovchev commented on #207
It used to have a different definition, but at one point they were removed (see #2) because they were deemed unnecessary.

[2019-11-23 07:27] IovoslavIovchev commented on #177
Done in #180

[2019-11-23 07:27] #177 closed

[2019-11-26 15:04] IovoslavIovchev commented on #170
Done in #211

[2019-11-26 15:04] #170 closed

[2019-11-27 02:05] KrisChambers commented on #186
I will take a look at this.

[2019-11-28 04:39] #207 closed

[2019-12-02 21:16] jasonwilliams commented on #151
This is now working for arrays and function arguments, objects are still not supported but i will open a new ticket for that

[2019-12-02 21:16] #151 closed

[2019-12-03 10:36] jasonwilliams opened #214 "Implement Spread operator for Objects"
The rest operator has been implemented to arrays. `[a,b,...c]`
But it is not implemented for objects.

## test case

[code]
The array implementation exists here inside of exec.rs:
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L218-L223

Tests for this exist here too:
https://github.com/jasonwilliams/boa/blob/master/src/lib/exec.rs#L850-L862

https://github.com/jasonwilliams/boa/

[2019-12-06 06:20] Stupremee commented on #210
I can take care of this issue. I will add the logic in `get_value`. If I find a better solution I will ask it here

[2019-12-07 17:52] Stupremee commented on #210
I thought about this issue again, and I think it's the best method to create constant values (string, numbers) via the specific constructor.

[2019-12-22 22:25] rafaelcaricio commented on #149
Sorry to step in here. I just wanted to give one reason why I think this project is useful for me, and that might be the case for others too. I am working on a project that needs to support JS as extension language. We created a simple WASM sandbox using [wasmer](https://github.com/wasmerio/wasmer) as library so we can run untrusted code. I'm planning on using Boa inside the WASM sandbox to enable

[2020-01-14 04:19] simonbuchan commented on #162
Also look into https://en.wikipedia.org/wiki/Shunting-yard_algorithm

[2020-01-14 15:38] IovoslavIovchev commented on #162
thanks @simonbuchan, that is what my current WIP implementation is based upon

[2020-01-14 16:08] croraf opened #221 "When single line comment is the last line in file the run fails"
For example this fails
[code]

While these work:
[code]
[code]

OS: Ubuntu 19.10, uname 5.3.0-26-generic

[2020-01-14 17:00] IovoslavIovchev commented on #221
Can you give more details on the error. I am currently unable to reproduce this on master (currently e38ac20d19b7e0abb3a47bb3b111f79eefd4d823)

[2020-01-14 17:41] croraf commented on #221
I checked out master yesterday.
[code]

[2020-01-15 18:44] IovoslavIovchev commented on #221
@croraf Which version of `cargo` are you on? Are you using nightly?

[2020-01-16 09:49] croraf commented on #221
cargo 1.39.0 (1c6ec66d5 2019-09-30)

[2020-01-16 11:05] jasonwilliams commented on #162
@simonbrahan thats a great algorithm!
I believe our change is basically that with some tweaks

[2020-01-16 16:33] IovoslavIovchev commented on #221
Is this still happening on the latest master?

[2020-01-17 10:19] simonbrahan commented on #162
Wrong @simon :P

[2020-01-17 12:12] croraf commented on #221
Yes. It is still happening. f134a0711e783ffa178fba8d1aed102b16caedc6

[2020-01-17 12:19] croraf opened #224 "Simple assignement with Number+"+" or Number+"-" does not work"
Simple assignement with addition does not work when there is no space between first operand and  "+" or "-":
[code]

This works though:
[code]

Same with "-" binary operator.

[code]

[2020-01-18 08:01] IovoslavIovchev commented on #221
@croraf would you like to look into it?

[2020-01-18 08:37] IovoslavIovchev opened #225 "Reimplement the parser"
In its current implementation, the parser works recursively, which is fine if you are doing simple expression parsing. But once you start parsing a long series of tokens, a stack overflow may occur (such is the case in #162).

What I propose is to start reimplementing the parser in small logical chunks. This includes:
- eliminating recursive calls and making the parsing iterative
- trying to keep

[2020-01-18 12:02] jasonwilliams commented on #221
[code]

Does not fail for me.
[code]

rustc 1.40.0 (73528e339 2019-12-16)
cargo 1.40.0 (bc8e4c8be 2019-11-22)

[2020-01-18 12:08] jasonwilliams commented on #221
@croraf did you run cargo clean?

[2020-01-18 17:24] jasonwilliams commented on #162
Adding benchmark to keep track of expression parsing https://github.com/jasonwilliams/boa/pull/226

[2020-01-19 20:43] croraf commented on #221
@jasonwilliams I run cargo clean now and fails the same. The stacktrace looks like the one already posted.

[code]

[2020-01-19 23:34] croraf commented on #221
OK, I checked the code and the bug is when lexing the "line comment" branch, which is the only thing calling the `read_line` method.

The `read_line` method is calling `next` in a loop without peaking first, finally throwing an error of the termination of the iteration, without closing the token.

Proposed solution is:
![image](https://user-images.githubusercontent.com/19698636/72690405-6eaa5080-3

[2020-01-20 09:56] #221 closed

[2020-01-20 14:45] deeprobin opened #230 "Rename cargo package"
Rename `Boa` to `boa`

[2020-01-20 15:15] jasonwilliams commented on #230
I wish i could @DeepRobin but once you've named a package with a capital letter you can't change it, its been a long ongoing discussion ive had with the people who maintain crates.io

[2020-01-22 19:00] jasonwilliams commented on #230
Issue in question:
https://github.com/rust-lang/crates.io/issues/1451

[2020-01-23 09:08] gomesalexandre commented on #224
This is coming from here https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L430
It seems like once you add a space, the `+` is pushed to `buf`, so we make a call to the `f64::from_str` with `1+`.

I'll have a look, I wanted to get started contributing to boa since the talk at JSConf EU so that would be an amazing first task for it!

[2020-01-24 00:27] adumbidiot opened #234 "Unable to compile without "wasm-bindgen" feature"
Currently, wasm-bindgen is listed in the `Cargo.toml` as:
[code]
and set as a default dependency. However disabling this dependency with:
[code]
leads to the errors:
[code]
as the wasm_bindgen proc-macro is still used even while the dependency is disabled. I think this should probably be fixed by putting the wasm interface in its own module and conditionally compiling it.

[2020-01-24 00:29] jasonwilliams commented on #234
@adumbidiot thanks for raising this issue

[2020-01-31 04:57] IovoslavIovchev commented on #234
@adumbidiot would you be interested in taking a look?

[2020-01-31 22:36] adumbidiot commented on #234
Sure. The fix seems pretty simple.

[2020-02-02 04:38] adumbidiot opened #239 "Make "structopt" dependency optional"
The `structopt` dependency seems to be only used for the binaries. It would be nice if it could be disabled if this engine was used as a library. Maybe it could be put behind a `cli` feature flag or similar and enabled for the binaries only?

[2020-02-02 04:50] adumbidiot opened #240 "Parser Panic"
When putting the following in test.js:
```var`a = 1;```
 running the command `cargo run -- test.js` will give the following panic:
[code]

This should probably be an error, not a panic.

[2020-02-02 11:11] jasonwilliams commented on #240
Thanks @adumbidiot
You’ve touched upon on a deeper problem Boa has right now, which is lack of error handling on all layers. The best way for us to get up and running was to just let things panic, but we should put some work in to have proper stderr messages, maybe starting with the lexer/parser.

[2020-02-02 11:12] jasonwilliams commented on #239
@adumbidiot that sounds fine to me, is this something you wanted to look at?

[2020-02-02 12:43] jasonwilliams commented on #118
@bobbo how was this going? need help?

[2020-02-02 13:40] #234 closed

[2020-02-02 21:54] adumbidiot commented on #239
Yeah sure

[2020-02-02 21:59] adumbidiot commented on #240
Would it be helpful to try to replace some of the panics in the lexer with the `LexerError`s?

[2020-02-02 22:57] croraf commented on #240
@jasonwilliams I guess a LexerError is when the user inputs something that is not allowed as per JS specification. That will show him that his code is invalid. What happens here is that ` is not implemented in Boa, so I think "panic" is ok, as it is actually bugs out in Boa before realizing it is invalid as per JS syntax.

[2020-02-02 23:36] adumbidiot commented on #240
I still kinda feel like the engine should still return an error. Just as older engines reject newer syntax with lexing and parsing errors and such, I feel like Boa should reject syntax it doesn't support with errors.

[2020-02-02 23:43] jasonwilliams commented on #240
It should be possible to return an Err(LexerError) here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/syntax/lexer.rs#L620-L622

Then perform a match here:
https://github.com/jasonwilliams/boa/blob/master/src/lib/lib.rs#L24

printing a stderr with the message from the Err() if there is one.

[2020-02-03 08:05] Razican commented on #239
Another option would be to separate the crate into two: `boa` and `boa-cli`, in the same workspace. This would allow for differentiating the CLI from the library itself, and not require features: each crate would have its own dependencies, and share them if compiled together.

[2020-02-04 10:35] jasonwilliams commented on #239
@Razican sounds interesting, would it still be easy to develop against the CLI when working against the lib? Ive not split 2 crates in the same project before

[2020-02-04 10:36] jasonwilliams commented on #140
Closing superseeded by https://github.com/jasonwilliams/boa/issues/239

[2020-02-04 10:36] #140 closed

[2020-02-04 10:39] Razican commented on #239
@jasonwilliams it should be easy, yes. Both crates would be in the same repo, with a `Cargo.toml` especifying the workspace. The `Cargo.lock` file would be at a workspace level. A huge example with multiple crates can be seen with [`diesel`][diesel].

I can do a PR this week to see how it would look like, but I think it should be fairly easy.

[diesel]: https://github.com/diesel-rs/diesel

[2020-02-04 21:08] adumbidiot commented on #208
This:
[code]
returns 2.

[2020-02-04 21:11] adumbidiot commented on #204
I ran into this while trying to fix some panics in the lexer. It looks like the lexer is trying to lex the number as two separate ones. The above panic will no longer occur, but the parser throws an error.

[2020-02-04 21:17] jasonwilliams commented on #208
Thanks @adumbidiot will try that test case and see if there’s any fixes that can be made

[2020-02-04 21:25] #224 closed

[2020-02-04 21:26] jasonwilliams commented on #240
This has now been fixed, thanks @adumbidiot

[2020-02-04 21:31] adumbidiot commented on #240
I feel like a lot more work has to be done here; My pull only fixed some of the lexer panics and none of the parser panics.

[2020-02-05 03:19] adumbidiot commented on #204
I'm going to try fixing this

[2020-02-05 04:02] adumbidiot opened #246 "Make `bin` binary nicer"
It would be nice if `bin` properly printed the result to stdout and not debug the result of the execution. It would also be great if it could have some flags to dump tokens or the ast when trying to debug.

[2020-02-05 10:14] gomesalexandre commented on #214
Will take a look at this one soon

[2020-02-07 15:03] gomesalexandre opened #248 "Handle trailing comma in object literals"
Currently in object literals, if trying to use a trailing comma, parsing will fail e.g

[code]

This seems to be related to #214, or at least it could be tackled in the scope of this issue.

[2020-02-10 23:31] #204 closed

[2020-02-14 11:28] #239 closed

[2020-02-14 18:39] vlakreeh opened #250 "Weird behavior with JSON"

[2020-02-14 18:39] #250 closed

[2020-02-14 18:39] vlakreeh commented on #250
I'm so sorry I accidentally hit enter when typing in the issue title.

[2020-02-14 18:45] haze commented on #250
I'm so sorry I accidentally hit enter when typing in the issue title, feel free to delete the issue.

[2020-02-14 21:27] jrop commented on #162
What algorithm does the parser currently use?  I've not had the stack overflow problem with Pratt parsing.  I even tried plugging the text in from #162 into my Pratt expression parser, and it parsed very quickly (and this is written in TypeScript: imagine the gains if it was in Rust).

The nice thing about Pratt parsing is that it integrates very naturally with recursive decent parsing.

[2020-02-14 21:36] ntrippar opened #251 "Parser error returning from a function."
the is not parsing correctly if there is a empty return in a function.

**POC:**

[code]

[code]

**Error:**
[code]

[2020-02-15 00:06] nasso commented on #209
I'm working on it!

[2020-02-15 00:07] nasso commented on #209
@nasso Woops nevermind didn't see the above PR!

[2020-02-15 00:51] jasonwilliams commented on #162
This bug was fixed by https://github.com/jasonwilliams/boa/pull/223

[2020-02-15 01:03] jasonwilliams opened #252 "Date() is needed https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date"
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date

[2020-02-15 01:48] adumbidiot commented on #252
Maybe we could use [chrono](https://docs.rs/chrono/0.4.10/chrono/)?

[2020-02-16 23:21] simonbuchan commented on #162
@jrop Pratt parsers are very similar to the shunting yard algorithm: both are based on attaching precedence and associativity to infix operators. The main difference seems to be that Pratt parsers store nested precedence levels on the call stack, while shunting yard handles that with an explicit stack. If you have a sensible number of precedence levels, Pratt parsing won't hit the stack limit, but

[2020-02-19 00:59] #248 closed

[2020-02-25 11:01] Razican opened #264 "Implement the "this" keyword"
The `this` [keyword][this_keyword] returns an expression dependent on the context where it's being used. This context is resolved by the [`ResolveThisBinding()`][resolve_this] abstract operation. This abstract operation will get the current environment record, and return the `this` binding, if any.

The MDN [documentation][mdn_docs] also explains how this keyword will resolve to a different expres

[2020-02-25 16:57] afinch7 opened #265 "Support destructuring assignment"
Support destructuring assignment syntax:
[code]

[2020-02-25 20:50] Razican opened #266 "Panic assigning named function to variable"
I'm trying to execute the following piece of code from the test262 [`sta.js`][sta_file] file:

[code]

I'm not sure why is this defined this way. My JavaScript knowledge is not good enough to know 100% what should happen, but other compilers seem to understand this well. The thing is that it first declares a binding, `$ERROR`, and then, it declares a named `function $ERROR` and assigns it to the `

[2020-03-04 00:53] jasonwilliams commented on #264
Thanks for making this

[2020-03-06 20:58] #251 closed

[2020-03-08 04:43] jcdickinson commented on #252
I'm rolling off my "learn Rust" project after learning the important 40%. Is anyone else working on this?

[2020-03-08 04:47] jcdickinson commented on #266
`lvalue = function name()` shouldn't assign `name` to anything, afaik. The name provided when `function` is (probably) for debugging/stack traces.

A fn as a statement should assign to the current global, a fn as an expression (rvalue) should not.

[2020-03-08 05:07] jcdickinson commented on #149
@rafaelcaricio I have one scenario like this for some r&d work. So a hulk smash +1 on the WASM concern, and how naturally Rust does WASM.

In addition, I have a live system that a team of C# developers work on. We're currently using ChakraCore because it is built to be embedded (it has a real C API, never mind one that's even documented). V8 is not, not by literal moonshot. V8 is built for Chrome,

[2020-03-08 17:52] jasonwilliams commented on #252
@jcdickinson i don't think so!

[2020-03-08 17:54] #142 closed

[2020-03-08 18:10] vlakreeh opened #269 "Weird behavior with JSON builtin"
The JSON built in currently has a few issues that are thankfully easy to fix.Currently the `JSON.stringify` and `JSON.parse` are undefined and expect you to specify the `JSON` builtin's prototype.

The second issue is that the function `JSON.stringify` *(accessed through `JSON.prototype.stringify`)* returns unexpected output.

Example:

[code]

This issue seems to be caused by [this line](https://

[2020-03-08 19:26] jasonwilliams commented on #269
Yes please @vlakreeh i don't know why its iterating through internal slots there instead of properties, seems odd. Looks like a change i made but not sure why i did that.

[2020-03-09 10:21] Razican commented on #266
So, if we should provide debugging/stack traces, that `name` should be stored somewhere, right? Or should just be on the parser information?

In fact, I think the compiler should _never_ panic. It should return an error if there is any.

[2020-03-09 11:43] jasonwilliams commented on #266
hmm this is a good find.
I think @jcdickinson is right about handling this differently when a fn is used as a statement compared to an expression.

The spec covers this somewhat here:
https://tc39.es/ecma262/#sec-function-definitions-runtime-semantics-namedevaluation

[2020-03-09 16:13] jasonwilliams commented on #64
Work has started on import parsing https://github.com/jasonwilliams/boa/pull/259

[2020-03-09 18:43] Razican commented on #264
I just noticed that #185 exists.

[2020-03-09 18:47] Razican commented on #266
Nice, should we wait for #255 to land?

[2020-03-09 19:07] IovoslavIovchev commented on #141
@jasonwilliams, while I do agree that we could have functions be their own thing and that 90% of the objects won't need `[[Call]]` and `[[Construct]]`, I do not see why we can't have an internal slot that’s a `[[Call]]` (and possibly also `[[Construct]]`).

Correct me if any of the following is wrong or if I have misunderstood..
Built-in and dynamic functions might have different types (and by tha

[2020-03-09 21:13] jcdickinson opened #273 "new Class().method() has incorrect precedence"
The precedence in `new Class().method()` isn't correct. This expression is parsed as `new (Class().method())`, which is incorrect, the correct parse tree would be equivalent to `(new Class()).method()`.

A real-world example is `new Date().getTime()`.

[2020-03-09 21:44] jasonwilliams commented on #273
Tokens for `new Date().getTime()`
[code]

Tokens looks fine

[2020-03-09 22:14] jasonwilliams commented on #273
Upon deeper inspection the issue is around here: https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/mod.rs#L688-L721

Normally it just carries on, which is why it continues parsing until the method.
There needs to be some signal to stop after the first call.

[2020-03-09 22:21] jasonwilliams commented on #273
if we stopped after here https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/mod.rs#L719 it would break other things such as function chaining

[2020-03-09 22:49] jasonwilliams commented on #264
it does but its quite an old pr now

[2020-03-09 23:56] jasonwilliams commented on #273
Might be worth making the parser more spec compliant https://tc39.es/ecma262/#sec-left-hand-side-expressions

[2020-03-10 00:21] jasonwilliams commented on #266
I need your feedback in https://github.com/jasonwilliams/boa/issues/141

[2020-03-10 00:26] jasonwilliams opened #274 "Parser needs a rewrite"
To match up with https://tc39.es/ecma262/#sec-ecmascript-language-lexical-grammar

To support concurrent tokens coming through channel.

To be broken out into functions for specific expressions.

[2020-03-10 00:27] jasonwilliams commented on #273
https://github.com/jasonwilliams/boa/issues/274

[2020-03-10 00:29] jasonwilliams commented on #266
https://github.com/jasonwilliams/boa/issues/274 Would also help with this we could finally parse functions as expressions and statements separately

[2020-03-10 11:50] jasonwilliams commented on #225
Good to match up with https://tc39.es/ecma262/#sec-ecmascript-language-lexical-grammar

Good to support concurrent tokens coming through channel.

good to be broken out into functions for specific expressions.

[2020-03-10 11:50] jasonwilliams commented on #274
Closing for https://github.com/jasonwilliams/boa/issues/225

[2020-03-10 11:50] #274 closed

[2020-03-10 12:02] jasonwilliams commented on #141
We could take an OrdinaryObject and attach [[Call]] to it, but the signature of internal slots is {string: <Value>} and this will be different depending on if call is a dynamic function or a built-in function.
I think this is why in the spec they call these internal methods instead of slots because they behave very differently to static data.
this means they need to be actually attached to object

[2020-03-12 17:12] Razican commented on #141
@jasonwilliams I'm not very aware of the implementation details of functions in Boa, but if these are internal methods, can't we have a different hash map for those, separate from the slots?

This would allow to have some kind of inheritance (when you have to call a method, you select the one in the internal method, which can be re-written in the hash map).

[2020-03-17 12:04] HalidOdat commented on #246
I'm on it. :+1:

[2020-03-17 17:26] HalidOdat commented on #246
I added this functionality in a branch.
The dump functionality works both for files and REPL.

With --dump-tokens and --dump-ast to dump to stdout.

The dumping of tokens and ast is mutually exclusive and when dumping it wont run the code.

Here is the pull request https://github.com/jasonwilliams/boa/pull/278

[2020-03-17 18:15] HalidOdat opened #279 "String interning"
Will there be a string interner for more affective memory use and string comparisons.

Like [rustc](https://github.com/rust-lang/rust/blob/master/src/librustc_span/symbol.rs) does it.

[2020-03-17 18:48] HalidOdat commented on #279
More specifically [rustc interner](https://github.com/rust-lang/rust/blob/master/src/librustc_span/symbol.rs#L986-L1037).

Rustc Symbol doc:
[code]
Which makes comparisons between symbols trivial, it is just a comparison between two u32.

The cost is when interning a string, since it requires to do a HashMap lookup.
Getting the string from a symbol is trivial since it is only indexing into an arra

[2020-03-18 12:07] jasonwilliams commented on #279
Yep, this is interesting.
The plan was always to move to something more efficient but start with strings first. (just to make it easier for implementation against the spec)

I had a conversation the with Spidermonkey devs about how we use strings for internal slots, but later want to move to something more faster. I think they do something like this.

I don't know very much about https://crates.io

[2020-03-26 19:16] jasonwilliams commented on #279
https://matklad.github.io/2020/03/22/fast-simple-rust-interner.html

[2020-03-26 19:25] HalidOdat commented on #279
Nice! This is pretty mush how `rustc` does it. and how [string-interner](https://crates.io/crates/string-interner) crate is implemented.

[2020-03-27 17:53] jasonwilliams opened #284 "Reference tokens in Parser"
https://github.com/jasonwilliams/boa/pull/281#issuecomment-605117720
I think these functions should return an Option<&Token>. So we do not have to clone every single time we get a token. And only clone on demand.

[2020-03-27 21:13] Razican commented on #284
I will give this a shot, creating a cursor.

[2020-03-29 10:59] HalidOdat commented on #246
This issue should be closed the branch that implements this feature #278 has already been merged. :+1:

[2020-03-29 11:51] #246 closed

[2020-03-30 17:41] jasonwilliams opened #288 "Streaming Parsing (from Lexer to Parser)"
The way Boa works right now is that the Lexer will run till completion. Then once an array of tokens is filled this is sent over the parser.

However the parser doesn't need to wait idle whilst the Lexer is running, the parser can begin working through the tokens as they come through..

Completely inspired from how Go parses its templates, Rob talks about it in more detail here:
https://youtu.be/H

[2020-03-30 20:13] Razican commented on #288
About the cursor, it might need to return a `Result` on each call, but for the rest, the external API could stay without much change.

[2020-03-30 20:18] Razican opened #289 "Add WebAssembly support"
WASM is now in everywhere, and a JavaScript engine should include support for it, I think. We could take [this][article] for ideas.

[article]: https://medium.com/@richardanaya/lets-write-a-web-assembly-interpreter-part-1-287298201d75

[2020-03-31 12:18] Razican commented on #288
Something we might need would be to add an `EOF` token to the stream, if we don't want to keep the parser waiting for more tokens indefinitely. Or, on the other hand, we might want exactly that.

Doing this in multiple threads could be done by lexing in one thread, parsing in another and executing in another. Doing concurrent parser might prove to be more difficult, though.

[2020-03-31 12:41] jasonwilliams opened #292 "MethodDefinition parsing"
We currently don't parse getters and setters on object literals.
There needs to be a new parsing section for MethodDefinitions.

We already have readObjectLiteral, so the logic would need to be called from within there.
https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/mod.rs#L1599

This would either need to be rebased on https://github.com/jasonwilliams/boa/pull/281 or on mas

[2020-03-31 12:44] jasonwilliams commented on #288
The lexer can close the channel once it's finished, this will signal to the parser there is nothing more to come down the pipe.

[2020-03-31 12:48] jasonwilliams commented on #240
@adumbidiot have you tried this against the new parser?

[2020-03-31 12:49] #284 closed

[2020-03-31 12:50] jasonwilliams commented on #225
@IovoslavIovchev whats the state of this issue now that the parser has been rebuilt?

[2020-03-31 18:29] #225 closed

[2020-04-01 13:07] Razican commented on #208
Is this still happening with the new parser?

[2020-04-01 13:09] Razican commented on #111
Hi @jasonwilliams could you please give a bit more insight on what should be done here?

[2020-04-01 13:35] Razican opened #294 "The lexer doesn't take into account goal symbols"
Getting the code from the `harness/assert.js` file in the test262 suite, this fails to parse:
[code]

With the error:
[code]

Interestingly, the error is given in column 24 (marked here):
[code]

But I'm guessing the issue is with the last `b`. I think this is a regression, since this particular file parsed fine before the rewrite, but it might have been something new in the file. Once fixed, we n

[2020-04-01 13:40] Razican commented on #266
It seems that after #281 landing and #225 being closed, this is still happening.

[2020-04-01 14:57] jasonwilliams commented on #111
So i think this needs discussion, as i don't have a solution right now.
Basically every time a function is called an arguments object is created, so this degraded performance quite a bit.

There was an idea to only create the arguments object if its used.

[2020-04-01 15:53] jasonwilliams commented on #266
Fair enough. At least it should be easier to fix now! I’m sure this was the issue that kicked everything off in the first place 😂

[2020-04-01 18:00] Razican commented on #294
I'll work on fixing this. Ideally, this should be fixed before Boa 0.7.

[2020-04-01 19:53] HalidOdat commented on #294
After some debugging the error seems to be coming form:
[code]

Checking the token stream: `cargo run -- --dump-tokens`
[code]
It seems to be a lexer bug not a parser one. It parses `/ a === 1 /` as a regex.

Hope that helps. :)

[2020-04-01 19:57] jasonwilliams commented on #294
Good find!
I do like the ast and token output we have now

[2020-04-01 19:58] jasonwilliams commented on #294
Do we need to refactor the lexer now? 😂

[2020-04-01 20:01] HalidOdat commented on #294
I'm not exactly sure what the lexer is supposed to do in this situation since.
since `/ a === 1 /` is a regex. but not in this context `1 / a === 1 / b`.

[2020-04-01 20:04] HalidOdat commented on #294
we probably need a context aware lexer or something like that. any thoughts?

[2020-04-01 20:19] Razican commented on #294
hmmm interesting. We could maybe check what token can precede a regex? and see if the previous token is one of those?

[2020-04-01 22:41] jasonwilliams commented on #294
I'm sure the Lexer is context aware in some places, so it shouldn't be too hard to see what's before it and work it out based on that. Basically what @Razican said

[2020-04-02 09:18] Razican commented on #294
There seems to be some information on context-aware [lexical grammar][lexical_grammar] in the spec. I will review this today and see if I can improve the lexer.

[lexical_grammar]: https://tc39.es/ecma262/#sec-ecmascript-language-lexical-grammar

[2020-04-02 13:43] jasonwilliams opened #296 "Explore using measureme for profiling the interpreter"
## Blog Post
https://blog.rust-lang.org/inside-rust/2020/02/25/intro-rustc-self-profile.html

## Tool location
https://github.com/rust-lang/measureme

## Where to ask for more info
https://rust-lang.zulipchat.com/#narrow/stream/187831-t-compiler.2Fwg-self-profile

## Conversation

https://docs.rs/measureme/0.7.1/measureme/

How does that work?

## Example
[code]

[2020-04-02 18:55] jasonwilliams commented on #296
Using a profiler which only compiles when we pass the feature flag

[code]

When the profiler feature isn't enabled, you get a 0-byte struct and empty functions which should inline away into nothing. When the feature is enabled though, you get the real thing and the calling code doesn't have to care about the feature flag.

[2020-04-02 21:48] jasonwilliams opened #299 "Do we get rid of expect_no_lineterminator?"
It’s causing warnings and It seems we don’t use it.

@Razican @HalidOdat

[2020-04-03 05:35] HalidOdat commented on #299
I think we should remove it, there is no use for it. I would like to know what @Razican thinks of it.

[2020-04-03 06:01] HalidOdat opened #300 "Span nodes"
It would be nice for the nodes to have a `Span` for better error messages.
A `Span` would contain a `start` `Position` and `end` `Position`.

[2020-04-03 06:16] Razican commented on #299
I think I removed it in #295, that is ready to be merged, so sure, it doesn't make much sense to have something that we don't use.

[2020-04-03 08:40] jasonwilliams commented on #294
https://v8.dev/blog/understanding-ecmascript-part-3

[2020-04-03 12:35] Razican commented on #294
Reading this, it seems that the parser needs to call the lexer, and we cannot have a full list of tokens before calling the parser. So this clearly needs a rewrite in the way the parser/lexer work together.

I would say we can release version 0.7 with this known limitation, and we can work on this later. I'm still working on the parser modularization, which I think it's a good point to start.

I t

[2020-04-03 12:44] Razican commented on #300
I think this would be nice, yes, but for this, we would also need that `Span` for tokens, as we have tokens of more than 1 character.

[2020-04-03 13:16] HalidOdat opened #301 "Implementing the switch statement in the new parser"
Currently the switch statement is not implemented in the new parser.

[2020-04-03 16:44] jasonwilliams commented on #300
I don't think anything in the tokens needs to change right?
You generate these when you generate the Node, at that point you have all the information you need. (first token and last token)

btw I purposely left this functionality out as it caused more complication in the new parser, but im glad to see an issue for it going forward

[2020-04-03 20:19] Razican commented on #300
I think it depends on what we consider the span of a `Node`. The position of the last token is where the last token starts, not where the last token ends.

[2020-04-04 16:53] #299 closed

[2020-04-08 13:56] HalidOdat opened #302 "Implement do-while loop"
Do-while loops are very similar to regular while loops, so it shouldn't be too hard to implement in `parser` and `exec`.

https://github.com/jasonwilliams/boa/blob/master/CONTRIBUTING.md

[2020-04-09 12:38] HalidOdat commented on #208
After some testing this does not seem to happen.
The code:
[code]
Ater running running: `cargo run -- test.js --dump-ast`:
[code]
It's parsing correctly and returns as expected `1` not `2`. :+1:

[2020-04-09 19:46] Razican commented on #208
Nice, I added a test for this in #303.

[2020-04-11 18:31] #208 closed

[2020-04-12 11:00] ptasz3k commented on #302
Since i'm trying to learn rust yet another time i will gladly take this issue.

[2020-04-12 18:24] jasonwilliams commented on #266
Moving to v0.8.0

[2020-04-12 21:13] HalidOdat commented on #36
A lot of those methods have already been implemented. Such as `every`, `find`, `some` and some others.
I think we should update the check list. :)

[2020-04-12 22:20] HalidOdat opened #307 "Implement console methods"
## Console methods
 - [ ] assert()
 - [ ] clear()
 - [ ] count()
 - [ ] countReset()
 - [ ] debug()
 - [ ] dir()
 - [ ] dirxml()
 - [x] error()
 - [x] exception()
 - [ ] group()
 - [ ] groupCollapsed()
 - [ ] groupEnd()
 - [ ] info()
 - [x] log()
 - [ ] profile()
 - [ ] profileEnd()
 - [ ] table()
 - [ ] time()
 - [ ] timeEnd()
 - [ ] timeLog()
 - [ ] timeStamp()
 - [ ] trace()
 - [ ] warn()

[2020-04-13 09:56] Razican commented on #36
I updated the checklist. I noticed that the `Array.prototype.includes()` does not have documentation.

[2020-04-13 10:05] Razican commented on #279
I think that the [`string-interner`][string_interner] crate is the way to go. It already provides a really nice, safe interner, and they are even discussing the optimisations laid out in the post you mentioned in https://github.com/Robbepop/string-interner/issues/16.

This could probably allow avoiding `String`s in `TokenKind`, which would make it `Copy` pretty easily, and reduce the memory footpr

[2020-04-13 10:12] HalidOdat commented on #36
I will documentation for it

I

[2020-04-13 11:39] ptasz3k opened #308 "Assignment operator not working in tests (a = a +1)"
While implementing `do..while` loop i've noticed strange boa behavior. This test

[code]
will run forever. Changing loop body to `a += 1` makes test pass. Seems like using `a = a + 1` does not assign rvalue to lvalue. This test fails too:

[code]

I haven't looked at it yet, as i have limited debug possibilities now (vs code in wsl remote mode does not support lldb and i can't build boa on native

[2020-04-13 11:47] jasonwilliams opened #309 "jemalloc is not building on windows"
This is my fault i should have tested this on my windows machine, but ive noticed since the jemalloc is merged `cargo buld` fails for me on windows.

[code]

[code]
This could be a problem

ping @Razican what OS you using?

[2020-04-13 11:47] jasonwilliams commented on #309
I may have to revert the commit until we know what it is because im a bit blocked at the moment

[2020-04-13 11:48] HalidOdat commented on #308
Hmmm. Interesting, I will take look to see what causing this.

[2020-04-13 12:04] jasonwilliams commented on #240
I'm going to close this issue as the main problem in question has been fixed, and some other parser issues have been resolved.

If there are new issues we should make a ticket for them

[2020-04-13 12:08] HalidOdat commented on #308
Good news! Found the bug. I will create a pr as soon as possible.

[2020-04-13 12:09] jasonwilliams commented on #273
new output since 0.7
[code]

[2020-04-13 12:18] Razican commented on #309
What we can do is to not use jemalloc on Windows, and use it only on Linux / MacOS. On Linux seems to be working fine.

[2020-04-13 12:27] jasonwilliams commented on #288
It might be due to the way parsing and lexing are related (goal symbols) this may not be possible.

Related:
https://github.com/jasonwilliams/boa/issues/294

[2020-04-13 12:30] #273 closed

[2020-04-13 12:35] Razican commented on #273
It looks good, yes! Might be worth adding a test for this?

[2020-04-13 13:22] Razican commented on #288
I think that what can be done is for the parser to request lexing of new tokens to the lexer via calls to `next()` in the cursor.

[2020-04-13 13:22] HalidOdat commented on #273
Are you adding the test, or should I?

[2020-04-13 13:24] jasonwilliams commented on #273
im doing it now

[2020-04-13 13:34] ptasz3k commented on #307
Most of these seems to be straightforward. I would like to try it.

[2020-04-13 13:35] Razican commented on #307
Sure! go ahead :)

[2020-04-13 16:05] jasonwilliams opened #314 "Live demo has console errors in browser (monaco editor)"
![image](https://user-images.githubusercontent.com/936006/79136432-ed73fa00-7da8-11ea-96f7-bfc0fd29abe0.png)

I'm not sure why monaco can't find a web worker.
You can test this locally though via running `yarn serve` then going to `localhost:8080`

[2020-04-13 20:19] #302 closed

[2020-04-13 20:29] #308 closed

[2020-04-15 14:36] muskuloes commented on #292
I'll like to work on this.

[2020-04-15 14:43] HalidOdat commented on #292
Go for it. :+1:

[2020-04-15 16:25] HalidOdat opened #319 "Adding more labels for issues"
I think we should add more labels, so we can keep track of what is what and be more organized.
Currently I added `Documentation` and `Lexer` but i think we should add more as described in [**Labels used for issues**](https://github.com/dotnet/roslyn/wiki/Labels-used-for-issues)

what do you think? @Razican @jasonwilliams

[2020-04-15 18:34] jasonwilliams commented on #319
Sure, i really like the Easy, Medium, Hard labels also (I think Servo used these) makes it easy for new contributors to know what to pick up

[2020-04-16 08:29] Razican opened #321 "Implement unary operator execution"
I just noticed that we haven't implemented all unary operators in execution.

 - [x] `UnaryOp::IncrementPost` (`a++`)
 - [x] `UnaryOp::IncrementPre` (`++a`)
 - [x] `UnaryOp::DecrementPost` (`a--`)
 - [x] `UnaryOp::DecrementPre` (`--a`)
 - [x] `UnaryOp::Minus` (`-a`)
 - [x] `UnaryOp::Plus` (`+a`)
 - [x] `UnaryOp::Not` (`!a`)
 - [x] `UnaryOp::Tilde` (`~a`)
 - [ ] `UnaryOp::Delete` (`delete`)
 - [ ]

[2020-04-16 10:00] jasonwilliams commented on #321
Did you want to close https://github.com/jasonwilliams/boa/issues/118 in favour of this?

[2020-04-16 10:31] Razican opened #322 "Benchmarks are failing in master"
Since the v0.7.0 release, all benchmarks are failing in master ([link][benches]). The error it gives is that the `Cargo.lock` file would be overwritten by the clone. This seems related to the version change in `Cargo.toml`, if we didn't do a `cargo update` just after.

So I think the solution is to just do a `cargo update` and commit.

[benches]: https://github.com/jasonwilliams/boa/actions?query=

[2020-04-16 10:41] Razican commented on #321
Actually, I didn't notice that one, but I think there are two things in there. That issue showed that the parsing was broken. That has been solved. Now the issue is not a bug, it's that we don't have that implemented.

So I would say we should close the issue, as the bug is already fixed, and that we should implement the execution.

I already did a small change in #304, and changed the `unreachabl

[2020-04-16 17:34] jasonwilliams commented on #118
Closing as the parsing side is fixed the rest will be implemented in https://github.com/jasonwilliams/boa/issues/321

[2020-04-16 17:36] #322 closed

[2020-04-16 17:46] #118 closed

[2020-04-17 13:07] muskuloes commented on #292
I think the link in the description should point to a specific file but it points to a whole pull request with several files and I don't know where to look. Also, Is the code snippet in the description the part I should refactor?

[2020-04-17 13:44] Razican commented on #292
Good catch, I updated the link in the description. It should be https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/mod.rs#L1599

[2020-04-17 14:36] Razican commented on #319
I think we have enough labels now, right?

[2020-04-17 14:42] HalidOdat commented on #319
I guess we have enough labels now. If there is a need we will add more. :)

[2020-04-17 14:42] #319 closed

[2020-04-17 15:34] Razican opened #329 "After #326, we cannot generate documentation for the boa library"
So, it seems that now that the CLI binary is called `boa`, the documentation is being output in `target/doc/boa` for both the binary and the library, and rustdoc just ignores the library.

So we need to either revert that PR, change the name of the library crate (to `boa_core` or something similar), or find a way to avoid this through configuration options.

[2020-04-17 16:04] HalidOdat commented on #329
Hmmm. I will look into it to find a better solution. :)

[2020-04-17 18:53] HalidOdat commented on #329
We could:
 - disable documentation on the binary with `doc = false`
 - revert the changes.

What do you think? @Razican

[2020-04-17 19:26] HalidOdat opened #331 "We only get `Const::Num`, never `Const::Int`"
This is a bug in the lexer.

Currently we only have one numerical token type `NumericalLiteral` which is of type `f64`, hence all numerical values are converted to `f64` and we only get `Cont::Num`.

This bug blocks #328

[2020-04-17 19:36] Razican commented on #329
Hmmm maybe not generating documentation for the binary makes sense. There is basically no documentation anyway, and the code is simple enough (at least for now).

Let's see what @jasonwilliams thinks.

[2020-04-17 20:46] muskuloes commented on #292
if I get this correctly: I will have to define a different method to parse js methods. Right now only `Ordinary` methods are parsed within the `read_property_definition` method of the Parser, which returns a result with `PropertyDefintion`. So, if I am to define a new method for parsing all method definitions, I will return a result with `MethodDefinition`. This will mean extracting the `MethodDef

[2020-04-18 00:08] HalidOdat commented on #292
Pretty much.

You don't really have to extract `MethodDefinition`. You can have the new function return `PropertyDefintion`.

[2020-04-18 06:34] attliaLin opened #332 "Any plan for the FFI?"
Nice work!
But as an embeddable engine, I think it would also be nice to provide some API functions for the other languages to use.

[2020-04-18 09:59] Razican commented on #332
This would be an interesting addition. I would do it in a different crate in the workspace, with only the FFI, using `boa` as a dependency.

[2020-04-18 10:06] Razican opened #333 "Make WASM an opt-in feature"
Currently, webassembly is an opt-out feature. While we use it for the web example, I think in the future it will be more common for Boa to be used as a library than as webassembly.

In this scenario, I think it's best to make the feature opt-in, so that we don't need to use `default-features = false` when loading the crate as a library.

This would mean that we need somehow to be able to select a

[2020-04-18 12:03] HalidOdat commented on #333
I also think this is a good idea as it would allow us to move the most of the webassembly stuff in that directory, making think more organized.

And not having to specify that the `default-features = false` is awesome as the default features should be features that every one needs by default.

[2020-04-18 12:16] HalidOdat commented on #332
We could use [`cbindgen`](https://github.com/eqrion/cbindgen) crate to automatically generate C/C++ FFIs.

[2020-04-18 15:05] jasonwilliams commented on #329
I agree with @Razican I’m ok with not generating documentation for the binary, that would be my choice right now.

[2020-04-18 15:27] jasonwilliams commented on #333
Yep agree with the above it should be opt in rather than opt out.

[2020-04-18 15:31] #309 closed

[2020-04-18 15:36] #329 closed

[2020-04-18 17:51] jasonwilliams commented on #331
What scenarios do we get int?
On phone at the moment so cant load up the spec

[2020-04-18 18:07] Razican commented on #331
As per the spec, a [`NumericLiteral`](https://tc39.es/ecma262/#prod-NumericLiteral) is one of
 - `DecimalLiteral`
 - `DecimalBigIntegerLiteral`
 - `NonDecimalIntegerLiteral`
 - `NonDecimalIntegerLiteral` `BigIntLiteralSuffix`

So it seems we need to take into accounts integers as a separate type. This seems to be used for octal, hexadecimal and binary representations too.

[2020-04-18 18:13] Razican opened #335 "Optimize the lexer by iterating over bytes"
As `maciejh` mentioned in [Reddit][reddit_comment], iterating over characters is not fast. We should iterate over bytes, but we have to take into account that identifiers, strings, comments and more can have non-ASCII characters, since JavaScript is UTF-8.

Nonetheless, we can use byte-iteration for detecting language features much faster.

The comment:

[reddit_comment]: https://www.reddit.com/r/

[2020-04-18 18:17] Razican opened #336 "Optimize the `TokenKind` enum"
As `maciejh` mentioned on [Reddit][reddit_comment], the `TokenKind` enumeration is too big for what it contains. This will be partly solved by string interning (#279), but it can be further optimized by replacing the regex flags by a more optimized structure.

The comment:

[reddit_comment]: https://www.reddit.com/r/rust/comments/g3m5i7/boa_releases_v07_with_a_much_faster_parser/fnsng09

[2020-04-18 22:51] NobodyIII commented on #149
I stumbled across this project today, and I want to add that I'd like to see a complete JavaScript engine that's still lightweight and reasonably secure. JavaScript is very much overused, and current implementations seem to eat as much RAM as is available to them. I have 32GB of RAM in my computer, so I don't run out of memory very often, but I almost never hibernate my computer, because it's a sl

[2020-04-19 07:03] idcmp opened #337 "Add support for classes"
There are two ways that JavaScript understands classes, neither of which Boa understands yet:

[code]
and:

[code]

This is related to issue #141.

[2020-04-19 07:12] jasonwilliams commented on #149
Thanks @NobodyIII thats useful to hear

[2020-04-19 11:51] jasonwilliams commented on #141
@Razican I don't think they need to be, they're very specific to functions and used nowhere else. If they go into slots that means we need to convert them into JSValues (which im not sure is possible in this sense)

Im basically trying to implement this
https://tc39.es/ecma262/#sec-ordinaryfunctioncreate

With https://github.com/jasonwilliams/boa/pull/255/files#diff-6f0f25f60a0da52946c66d29f4b79fd

[2020-04-19 12:00] jasonwilliams commented on #141
If we decide to follow the spec we would have 2 structs, built-in function object and function object.
We would then need to add them here: https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L37-L54

would love to know what you think @Razican @HalidOdat

[2020-04-19 13:24] HalidOdat commented on #141
I think it's best if we don't split them, and I don't think v8 does either.

This is only an abstraction, not splitting them would allow us keep the `function` code in one place, making the code much cleaner and intuitive.

Would like to know what @Razican thinks of this.

[2020-04-19 15:32] Razican commented on #141
I think it's best not to duplicate code. This will also help with performance a bit, as we use the same code more times (cache performance should improve).

[2020-04-20 06:28] attliaLin commented on #332
And it would be better to provide more accessibility to the engine, like https://duktape.org/api.html

[2020-04-21 17:12] Razican commented on #74
I think that something that might be missing here is the ability to create multiline blocks in the shell, if we want to complete it further. But for the rest, this is mostly done, right?

[2020-04-21 17:26] Razican opened #340 "The parser cursor should skip line terminators by default"
Line terminators are almost always just a simple white space. The lexer needs to take them into account to allow automatic semicolon insertion and allow checking for places where line terminators are not allowed.

So, in this scenario, I would propose for the parser cursor to automatically skip line terminators when calling `next()`, `peek()` or `expect()`. We already have a `expect_semicolon()` f

[2020-04-21 17:28] Razican commented on #279
I will give this a look, and maybe #336 too, at the same time.

[2020-04-21 19:02] #292 closed

[2020-04-21 19:41] HalidOdat opened #341 "Ability to create multiline blocks in boa shell"
Instead of passing everything in one line.
[code]
You could pass:
[code]

When passing `function hello() {` boa shell would wait until passing the closing `}`.

[2020-04-21 19:45] HalidOdat commented on #74
We have pretty much implemented all of the feature shell request.

Maybe we should close this issue in favor of the new issue #341

[2020-04-21 20:02] jasonwilliams commented on #74
I’m happy to close this alao

[2020-04-21 20:06] #74 closed

[2020-04-22 09:57] muskuloes commented on #333
I would like to take this one. But will only be able to work on it from next week, if that's ok.

[2020-04-22 11:33] Razican commented on #333
Sure, go ahead, let us know when you start! :)

[2020-04-23 17:46] HalidOdat commented on #121
If nobody is working on this I would like to implement it. :)

[2020-04-26 13:39] HalidOdat opened #344 "Implement the optional `reviver` parameter in `JSON.parse( text [, reviver] )`"
Currently the `JSON.parse( text[, reviver] )` method only supports the first parameter which takes in a `String` and converts into an `Object`.
But, there is an optional function argument that `JSON.parse( text[, reviver] )` method takes. It prescribes how the value originally produced by parsing is **transformed**, before being returned.

Example:
[code]

More information:
 - [MDN documentation](

[2020-04-26 14:33] HalidOdat opened #345 "Implement the optional `replacer` parameter in `JSON.stringify( value[, replacer [, space] ] )`"
The `JSON.stringify(value[, replacer[, space]])` takes in three arguments.

The `replacer` argument is a **function** that alters the behavior of the `stringification` process, or an **array** of `String` and `Number` objects that serve as a whitelist for selecting/filtering the properties of the value object to be included in the `JSON` string. If this value is `null` or not provided, all propert

[2020-04-26 14:40] HalidOdat opened #346 "Implement the optional `space` parameter in `JSON.stringify( value[, replacer [, space] ] )`"
The `JSON.stringify(value[, replacer[, space]])` takes in three arguments.

The `space` argument is a `String` or `Number` object that's used to insert white space into the output `JSON` string for readability purposes.

If this is a `Number`, it indicates the number of space characters to use as white space; this number is capped at `10` (if it is greater, the value is just `10`). Values less tha

[2020-04-26 15:06] HalidOdat opened #347 "`RegExp.matchAll()` returns an array, it should return an iterator"

[2020-04-26 15:09] HalidOdat opened #348 "Add `call` function for `RegExp`"
Currently `call` points to `contructor`, this is wrong.

[2020-04-26 15:49] HalidOdat opened #349 "Implement `Number.prototype.toPrecision`"
The `toPrecision()` method returns a string representing the `Number` object to the specified precision.

More information:
 - [MDN documentation](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_objects/Number/toPrecision)
 - [ECMAScript reference](https://tc39.es/ecma262/#sec-number.prototype.toprecision)

[2020-04-27 17:27] Razican commented on #307
We have some left after the PR, so if someone wants to try the rest, feel free!

[2020-04-28 09:24] hello2dj opened #351 "`Abstract Equality Comparison impl` implementation"
- [x] https://github.com/jasonwilliams/boa/pull/383

`[] == ![]` should equal `true` not `false`.

more info:
[ECMAScript specification](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-abstract-equality-comparison)

[2020-04-28 12:00] Razican commented on #351
Good catch thanks! I'll try to check how to fix it and propose it as a good first issue :)

[2020-04-28 12:16] muskuloes commented on #333
I can start now.

[2020-04-28 16:57] Razican commented on #351
This is implemented in https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L882-L903

It seems that this is not 100% spec compliant. So the idea is to change that code to be follow the algorithm in the spec.

[2020-04-28 18:16] #333 closed

[2020-04-28 22:11] HalidOdat commented on #340
Don't we now skip line terminators in #304.

[2020-04-28 23:37] #331 closed

[2020-04-29 04:29] hello2dj commented on #351
i am newbee. But I want to try.

[2020-04-29 04:44] HalidOdat commented on #351
Sure, go for it.

[2020-04-29 08:45] Razican commented on #340
Yes! This is solved :)

[2020-04-29 08:46] #340 closed

[2020-04-29 10:55] Razican commented on #210
I think this particular case could be solved by function objects, in #255.

[2020-04-29 21:53] #209 closed

[2020-04-30 16:01] HalidOdat commented on #279
Hi @Razican

Correct me if I'm wrong!!!

String interning only has a good effect if the string that's it is interning is supposed to be immutable, like identifiers.
I don't think string interning should be used in `ValueData::String` since it can mutate.
For Example:
[code]

Without string interning in `ValueData::String`, `x` will be one string in memory.
With string interning in `ValueData::Stri

[2020-04-30 18:00] Razican commented on #279
Yes, I was just trying a couple of things, but it does seem that way!

[2020-05-01 10:36] Razican opened #356 "Use Fx Hash to speed up hash maps in the compiler"
We currently use standard library hash maps ([`std::collections::HashMap`](https://doc.rust-lang.org/stable/std/collections/struct.HashMap.html)) in Boa to organize all of our internal slots and more. This is not very performant, and [Fx Hash](https://crates.io/crates/fxhash) has just a bit lower DoS resistant, while providing much better performance.

We do not care about DoS in a compiler, usual

[2020-05-01 13:55] HalidOdat opened #357 "`"-0" == 0` and `"+0" == 0` returns `false`, it should return `true`"
The expression `"0" == 0` returns `true` as expected, but `"-0" == 0` and `"+0" == 0` returns `false`, when it should return `true`.

More information: [ECMAScript specification](https://tc39.es/ecma262/#sec-abstract-equality-comparison)

[2020-05-01 18:07] jasonwilliams opened #359 "TypeOf failing"
TypeOf is defined as both a Node:
https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/ast/node.rs#L421

And a UnaryOp Variant:
https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/expression/unary.rs#L58-L60

looking at the spec it seems the former is what we should keep and we should remove it from being a unary variant.

Right now the variant is being used but there

[2020-05-01 18:22] jasonwilliams opened #360 "Deal with [[Call]], [[Constuct]] duplication"
Some Constructor function's have different runtime values for [[Call]] and [[Construct]].
`String()` for instance returns a native string if called via `String()` but an object if called via `new String()`.

We have 2 slots for these on the Object itself, however for those constructors that do the same thing on both Call and Construct (Date, Regexp) we're currently duplicating the same value in bo

[2020-05-01 19:08] jasonwilliams opened #361 "Implement Display for function objects"
Calling Display (console.logging) on a function object will print its inner properties.
We need to implement Display for function objects, currently there arent any rules for function objects.

An entry would need to be made here:
https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L728-L783

for `ObjectKind::Function`.

If the function is builtIn you can use `String() {

[2020-05-01 22:23] jasonwilliams commented on #266
AST for the above
[code]

We still need to know if we're in an expression or a statement.
I don't think we can do this right now unless the parser passes some sort of hint

[2020-05-01 22:33] jasonwilliams commented on #266
oh wait nice the parser differentiates them now.
@Razican awesome!

Expression
https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/expression/primary/function_expression.rs#L58

Statement
https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/statement/declaration/hoistable.rs#L116

[2020-05-01 22:44] jasonwilliams commented on #210
I agree

[2020-05-02 00:10] 1ntEgr8 commented on #361
I can take a stab at this!

[2020-05-02 07:20] Razican commented on #266
The parser differentiates them, but produces the same node. We might need two nodes, yes. This is just creating a `FunctionDecl` node with a helper, generic function (that avoids having to box things yourself, for example).

If we need to differentiate this on execution, then we need two different nodes.

[2020-05-02 07:33] Razican commented on #361
Sure! Let's wait for #255 to land first, though :)

[2020-05-02 15:13] jasonwilliams opened #363 "How to deal with Garbage Collection"
## Current state of play
We currently use [GC](https://github.com/Manishearth/rust-gc) to wrap objects which need to live as long as something is referencing it. These are all JSValues. To make things easier we wrap all [JS Values](https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L39-L60) in a GC and give that the type [`Value`](https://github.com/jasonwilliams/boa/bl

[2020-05-02 16:06] jasonwilliams commented on #172
The change would be made here:
https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L728-L783

[2020-05-02 16:11] jasonwilliams commented on #288
I may close this seeing as we can't do it that way dur to the lexer needing context

[2020-05-02 16:21] jasonwilliams opened #364 "Symbol can be an Object type instead of a native type"
Symbol is currently a native type on [ValueData](https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L40-L60).

It doesn't need to be, it can be an Object with it's kind set to Symbol.

then in places like [is_symbol()](https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/value/mod.rs#L109-L115) just match on Object then check the objectKind. We do something

[2020-05-02 16:26] HalidOdat commented on #364
Isn't it more performant to separate it?

[2020-05-02 16:34] Razican commented on #363
Yep, so around 4% of our instructions in the code are due to us using a garbage collector. The GC will once in a while for through all the garbage collected objects and decide if they should be freed or not, which takes long: for structures/enums with members, it has to go through all its mebers one by one.

This can be alleviated firs by only deriving `Trace` in types where a GC'd object might le

[2020-05-02 16:39] Razican commented on #364
It could be, yes, but then, it might make sense to also specialize Arrays, Strings and other type of objects. I'm not against it, since it could allow us to probably use other kind of Rust inner types, but maybe there should be an `Object` enum?

[2020-05-02 16:42] HalidOdat commented on #364
In v8 they specialize the type like `String` for primitive and `StringObject` for string `Object`.
This helps speed up things since we don't have to look in an internal slot for the data, instead we check the native Rust `String` type.
And so on for the other types.

[2020-05-02 16:45] Razican commented on #288
Actually, I think this is now more important than ever!

Instead of "streaming" we could do "lazy" lexing, and making the parser iterate over it, while changing context as needed. @maciejhirsz proposed to use [Logos](https://crates.io/crates/logos) for this, and I think it makes sense. Not sure if there was any progress in that front.

[2020-05-02 16:52] Razican commented on #364
That would be a great addition. Still, I do think that `Symbol` is a type o object and not a different type of JS value. So maybe the `Object` enum makes sense.

[2020-05-02 17:03] HalidOdat commented on #364
Yeah that does make sence.
We could have an enum `Object` with `String`, `Array`, `Boolean`, etc, and a `Ordinary` or something like that, that can store objects like `{name: "", age: ""}` and in `ValueData` we have a field of type `Object` enum, and Rusts zero cost abstraction should make it as if it was inlined.

[2020-05-02 17:36] jasonwilliams commented on #364
hmm looking back at the spec it does seem like its a primitive.  Does it need a whole object as a backing store?

[2020-05-02 17:40] jasonwilliams commented on #363
Using the diagram above, its possible for outer() to return inner2 as a closure.
In which case outer will go out of scope whilst inner2 is still in-play, have we thought about this?

[2020-05-02 17:54] Razican commented on #363
In that case, would the parent environment of the function change? or do we still need the information of the previous environment?

[2020-05-02 17:58] maciejhirsz commented on #288
I'm on holidays since yesterday, so I should have time to dig into Boa at last :)

Streaming (iterating) the tokens during parsing if anything makes things easier, since the Parser can supply the Lexer with context if need be. The main culprit in JS is the regex literal, and the rule here is fairly simple: any expression that begins with division token `/` (that is a unary prefix expression with o

[2020-05-02 18:20] Razican opened #365 "Implement for loop execution"
The parser generates [`Node::ForLoop`][for_node] when it encounters a for loop, but this is not implemented in the executor, so it panics.

This can be implemented by adding another match arm to the [`run()`][exec_run] function in the `exec/mod.rs` file.

[for_node]: https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/ast/node.rs#L236-L252
[exec_run]: https://github.com/jasonwilliams/b

[2020-05-02 18:34] Razican opened #366 "Divide the `run()` function in smaller portions"
Currently, the `run()` function is around 500 lines long. This is going to quickly become unmaintainable, so we need to divide this.

The first thing that comes to my mind to improve this is to just create new function for each `match` arm, but as we saw in the parser, we can probably do this better and easier to understand.

One option is to have an `Executable` trait, as I proposed in #304. This

[2020-05-02 18:47] HalidOdat commented on #366
Hmmm. I think doing this at compile time is better than having to do it at runtime.
Using `Box<dyn Trait>` has to allocate and use dynamic dispatch (`vtable`) which would worsen the execution time.

[2020-05-02 18:57] Razican opened #367 "Executing non-recursive nodes"
We currently implement the return of a function with a `is_return` flag in the interpreter, and we don't implement `break`. There are other nodes that don't execute code recursively, such as post-increment/decrement operators.

This needs to be taken into account for #365, #366 and #321. How could we implement this in an extensible way? Note that we will have to implement `await`  and `yield` in t

[2020-05-02 18:58] Razican commented on #356
I did a bit of profiling with callgrind, and more than 10% of our instructions are related to HashMaps, so I'll try to do this optimisation for a quick win :)

[2020-05-02 19:10] Razican commented on #366
So, `Node` would be `Node<T: Executable>`, but that would make it more difficult to have for example a `Vec<Node>` of different kinds, and we already use `Box` inside of nodes, this would just make a `Box` and only one allocation per node.

[2020-05-02 21:08] Razican opened #369 "Change `Vec<Node>` in `Node` to `Box<[Node]>`"
We currently use `Vec<Node>` in multiple places in our [`Node`][node_impl] implementation. A `Vec` occupies more than a `Box<[T]>`, since it needs to store the capacity. We will not modify those vectors, so we could call `into_boxed_slice()` in them an just have smaller enum variants.

The only issue is that `Box<[T]>` doesn't implement `Trace`, so this is blocked on https://github.com/Manishearth

[2020-05-02 21:12] #88 closed

[2020-05-03 07:35] #141 closed

[2020-05-03 11:12] Razican commented on #363
I implemented `RC`'d environments in https://github.com/jasonwilliams/boa/tree/rc_env.This was working perfectly, but when I tried to re-base with the new function objects, this gives issues with the environment in `Function`.

It seems this is the only object that contains an environment. One small question about this. Is this the inner environment or the outer environment?

To implement `Trace`

[2020-05-03 11:34] jasonwilliams commented on #363
From what I understand (please take a second look at the spec as I may be wrong) Function’s environment property is a reference  to the outer environment

[2020-05-05 21:56] HalidOdat opened #371 "Implement optional parameter `radix` for `Number.prototype.toString( [radix] )`"
Currently we only support `toString` function with radix/base `10`.
The radix can be from `2` to `36`.

More information:
 - <https://tc39.es/ecma262/#sec-number.prototype.tostring>
 - <https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/toString>

[2020-05-06 07:51] jasonwilliams commented on #364
I’m going to close this for now as we should probably look at the object enum instead. The native symbol seems fine.

[2020-05-06 07:51] #364 closed

[2020-05-06 07:52] RageKnify commented on #172
It would just be replacing the string used in https://github.com/jasonwilliams/boa/blob/f02babf0bd254b37920206b0ce0089bb9b01ba50/boa/src/builtins/value/mod.rs#L841
from `write!(f, "{}", v)` to `write!(f, "\"{}\"", v)`, right?

[2020-05-06 09:51] jasonwilliams commented on #172
@RageKnify i think so yup

[2020-05-06 10:29] RageKnify commented on #172
I'll open a PR soon.

[2020-05-06 13:29] dvtkrlbs commented on #371
I can take look at this

[2020-05-06 13:38] dvtkrlbs commented on #371
this is actually implemented [here](https://github.com/jasonwilliams/boa/blob/f02babf0bd254b37920206b0ce0089bb9b01ba50/boa/src/builtins/number/mod.rs#L172)

[2020-05-06 13:56] dvtkrlbs commented on #371
I cannot any way to throw an exception. Is it possible spec requires you to RangeError exception if radix is less than 2 or greater than 36

[2020-05-06 14:22] dvtkrlbs commented on #371
also does this method needs to be comprehensive as the [spec](https://tc39.es/ecma262/#sec-numeric-types-number-tostring) if not how comprehensive should it bee

[2020-05-06 15:24] akryvomaz commented on #365
Hi, I would like to implement it

[2020-05-06 18:22] Razican commented on #365
Sure! Let us know if you need any mentoring :)

[2020-05-06 18:25] Razican commented on #371
Currently, we don't have exception management yet. The current approach is to just `panic!()`, but put a comment to make sure we go back to it once exceptions get implemented :)

About comprehensiveness, it should be comprehensive, yes. If you find a way of optimizing something without making things too complex, do it, though. We can review it further once you have the first prototype :)

[2020-05-06 21:26] dvtkrlbs commented on #371
Any ideas on converting a f64's radix. I looked through rust std and i don't think there is a method for that.

[2020-05-07 07:03] gadget114514 opened #375 "catch statement causes syntax error"
[code]
[code]

[2020-05-07 09:58] Razican commented on #375
Good "catch"!
The issue is in [`boa/src/syntax/parser/statement/try_stm/mod.rs#L67`](https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/parser/statement/try_stm/mod.rs#L67). We `peek()` the next token, and check if it's the `catch` keyword, but then, we don't consume it.

We should divide this parser into `TryStatement`, `Catch`, `Finally` and `CatchParameter`, as we can see in the [s

[2020-05-07 10:09] Razican commented on #366
A different option would be to still have an `enum`, but each of the enum members would be just a box to a given `Executable`.

[2020-05-07 10:10] Razican commented on #361
#255 landed, so you can start working on this! :D

[2020-05-07 10:10] Razican commented on #351
Let us know if you need any help!

[2020-05-07 13:12] #365 closed

[2020-05-07 14:14] hello2dj commented on #351
I'm working on it now, i have a quetion, this code https://github.com/jasonwilliams/boa/blob/master/boa/src/exec/mod.rs#L394-L406
why use `borrow_mut`.

`In particular Eq, Ord and Hash must be equivalent for borrowed and owned values: x.borrow() == y.borrow() should give the same result as x == y.`
[moreinfo](https://doc.rust-lang.org/std/borrow/trait.Borrow.html)

[2020-05-07 14:40] Razican commented on #269
I think that #325 solved the first issue described here, and the other issue seems to be solved. If I run:
[code]
I get:
[code]

And, in a more complex scenario:
[code]
I get `1`.

So I'm closing this issue.

[2020-05-07 14:40] #269 closed

[2020-05-07 14:41] hello2dj opened #376 "Hoisting variables"
now not founding Identifier will always be undefined, for `function` or  `var` this is wrong.

[moreinfo](https://www.ecma-international.org/ecma-262/10.0/index.html#prod-HoistableDeclaration)

example:
[code]

[code]

[2020-05-07 14:42] Razican commented on #266
Another option would be to add a boolean to the function, stating if it's an expression or not. What do you think? How does V8 for example do it?

[2020-05-07 14:45] Razican commented on #376
This seems to be related to the fact that we execute nodes in order, instead of having a special category for this. These functions should be evaluated first, and then start evaluating the rest of statements.

[2020-05-07 14:53] Razican commented on #351
Actually, I have no clue. Maybe @jasonwilliams can give a hint here. In any case, if you can make it work without a `mut`, that would be great!

[2020-05-07 15:02] Razican opened #377 "Implement exception handling"
We currently already parse `try/catch/finally` and `throw` (even if we have a small issue in #375). and most of our functions already return a `ResultValue`.

We should therefore add support for exceptions by making sure that `ResultValue` returns an exception if it returns an `Err` variant, and then implement the execution of try/catch/finally and `throw`.

[2020-05-07 15:08] Razican commented on #12
I would like to re-open this. I don't think we are so far away from it, I would say we have to implement the following:
 - [ ] Exception handling (#377)
 - [ ] Function expressions (#266)
 - [ ] `this` keyword (#264)
 - [ ] Hoisting variables (#376)

After that, we can implement an automated process to give stats on what we support, and we can start tackling syntax step by step.

[2020-05-07 15:11] HalidOdat commented on #266
Another option would be to add a boolean to the function, stating if it's an expression or not. What do you think? How does V8 for example do it?

I think it might be better to have different nodes instead of trying to put everything into one node.

[2020-05-07 15:13] Razican opened #378 "Code coverage report"
Currently, we have no coverage report for Boa. How much are we testing? To know this, we should probably use a coverage platform (such as [CodeCov](https://codecov.io/)) and a code coverage reporting tool, such as [Tarpaulin](https://github.com/xd009642/tarpaulin).

There are also some interesting GitHub [actions](https://actions-rs.github.io/#code-coverage) for this.

[2020-05-07 15:16] Razican opened #379 "Automatic auditing of Boa"
We should add automatic auditing of Boa to the repo. this should allow us to get notified in case there are any known security vulnerabilities in our dependencies.

We have a GitHub action we can use [here](https://actions-rs.github.io/#audit-check).

[2020-05-07 15:29] Razican commented on #357
I think this is also related to #351. We seem to have a bit of a mess with the equality of values.

[2020-05-07 15:34] HalidOdat commented on #357
Yeah. When I was trying to implement the bigint feature i noticed that its not spec compliant.

[2020-05-07 16:18] abhijeetbhagat commented on #375
I can take this up if no one else is working.

[2020-05-07 16:25] HalidOdat commented on #375
Sure! Tell us if you need any help :+1:

[2020-05-07 18:06] #356 closed

[2020-05-07 18:29] #369 closed

[2020-05-07 19:08] dvtkrlbs commented on #371
https://github.com/jasonwilliams/boa/pull/381 i created a draft pr (it is highw WIP) the problem is i cant wrap my head around converting floating point part of a number to a different base. Any idead on how to do it ?

[2020-05-07 20:12] Razican commented on #371
Hmmm I don't have experience with this. The spec shows a potential [algorithm](https://tc39.es/ecma262/#sec-numeric-types-number-tostring), but I'm not sure how we should do it. How does V8 do it? Maybe @jasonwilliams or @HalidOdat have some ideas.

About this, our idea is to setup test262 harness at some point (#12). This would run to check how much we are implementing from the spec. We also have

[2020-05-07 21:36] dvtkrlbs commented on #371
Initial definition is [here](https://chromium.googlesource.com/v8/v8/+/refs/heads/master/src/builtins/number.tq#26). I have no idea on what a tq file is. And the the actual implementation is [here](https://chromium.googlesource.com/v8/v8/+/refs/heads/master/src/numbers/conversions.cc#1230).

[2020-05-07 22:40] HalidOdat commented on #371
They are V8 torque language files: [V8 Torque](https://v8.dev/docs/torque)

It shouldn't be too hard to translate the C++ code to Rust.

I know, right! Sometimes it gets so convoluted! And It does not help that some places have no documentation!

[2020-05-07 23:19] dvtkrlbs commented on #371
I am converting the c++ code to rust. I first converted it into c by hand than i used c2rust to convert into rust. Now i am prettifying the generated rust code.

[2020-05-08 19:06] RestitutorOrbis commented on #359
I'm willing to take this on if no one else is already.

[2020-05-08 21:52] Razican commented on #359
Hoy ahead! Let us know if you need help!

[2020-05-09 02:56] hello2dj commented on #351
only changing this code is not enough. we need to implement `Abstract Equality Comparison`. And this need call `to_primitive` which implment on `Interpreter`. Personally, I think `Abstract Equality Comparison` is a recursive algorithm, but the current structure of `ValueData` is not friendly to implement that.

So,  In my opinion, we need to implement that on `Interpreter`, not ValueData

more inf

[2020-05-09 10:12] Razican commented on #351
Good point, we don't have a spec-compliant equality comparison. We should properly implement the spec in this area, for both the strict equality and the abstract equality.

About where to implement it, maybe `toPrimitive` should be in the interpreter, but maybe the function should be passed as a parameter to the abstract equality function in the value. @HalidOdat what do you think?

Also, merging

[2020-05-09 10:42] hello2dj commented on #351
Yes, that is what I need. I should wait for https://github.com/jasonwilliams/boa/pull/383.

[2020-05-09 12:30] HalidOdat commented on #351
Alternatively we cold make the `toPrimitive` a free function that takes a `Value` and the context (interpreter), instead of it living in interpreter.

V8 implementation [here](https://github.com/v8/v8/blob/master/src/objects/objects.cc#L699-L798)

[2020-05-09 12:40] Razican commented on #363
Looking into this, I noticed we have the [`InternalStateCell`](https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/object/internal_state.rs#L12-L23) type, that implements `Trace` for a `Gc`.

That `Gc` can hold `Any` type, which I think makes it unsound :/ maybe @Manishearth can give us some hints about this.

Do we really need it to be of `Any` type? Can't we at least reduce its sco

[2020-05-09 12:41] #266 closed

[2020-05-09 13:40] Manishearth commented on #363
You should hold a Trace instead of an Any

[2020-05-09 14:57] Razican commented on #363
Would this require a special `Trace` implementation for the `InternalStateCell`, or would an empty trace be enough?

In any case, this brings the extra problem, since we can no longer use `downcast_ref/mut()` on `state`, since they are not `Any`. I tried implementing it in #387 but I'm having issues.

[2020-05-09 15:11] Razican commented on #351
Hmmm I think that what we are trying to convert to a primitive is the value, right? I think it would have more semantic sense in `Value` than in the wild.

It has been merged! :tada: as soon as we decide on a design, I think it's safe to start implementing it :)

[2020-05-09 15:20] HalidOdat commented on #351
Yes. This is probably the best choice.

[2020-05-09 15:41] Razican commented on #288
Let us know if we can be of any help :)

[2020-05-09 22:13] akryvomaz commented on #321
I think it makes sense to remove `UnaryOp::TypeOf` form the list because of the #359

[2020-05-09 22:18] Razican commented on #321
Yep, let's remove it!

[2020-05-10 01:27] Manishearth commented on #363
You can have a trait that inherits from Any and Trace and make a trait object of it

[2020-05-10 07:48] #371 closed

[2020-05-10 09:17] hello2dj commented on #351
we also need a static method which is the same function as `Interpreter.call`. This may be a huge work. According to my current understanding of boa, I can't do it.

[2020-05-10 10:40] Razican commented on #363
It seems that this is not enough, or at least I'm not able to make it work. I get the errors listed in https://github.com/jasonwilliams/boa/pull/387/files#r422625290

[2020-05-10 15:53] Razican commented on #351
What do you mean? Where do we need it?

[2020-05-10 15:54] #321 closed

[2020-05-11 02:35] hello2dj commented on #351
sorry, My description is too vague. `Abstract Equality Comparison` -> `to_primitive` -> 'ordinary_to_primitive' -> 'Interpreter.call'

more info
[boa to_primitive](https://github.com/jasonwilliams/boa/blob/master/boa/src/exec/mod.rs#L692-L747)
[v8 Abstract Equality Comparison](https://github.com/v8/v8/blob/master/src/objects/objects.cc#L790)

[2020-05-11 02:50] n14little commented on #379
I'll take this one.

[2020-05-11 08:53] Razican commented on #351
Can't we pass a reference to the `Interpreter` around?

[2020-05-11 09:27] hello2dj commented on #351
I will try it

[2020-05-11 09:37] Razican commented on #351
Thanks! :D

[2020-05-11 15:17] Manishearth commented on #363
Right, you can't cast between trait objects directly. But in this case what you need is for that trait to inherit from Trace _as well_.

[2020-05-11 15:17] hello2dj commented on #351
I implement a recursive version expect BigInt & NaN which boa doesn't implement them(or I am wrong). I need to do some testing on it and optimize it.

[2020-05-11 15:18] Manishearth commented on #363
To fix those errors you just need to cast to `InternalState`, not `Any`. If that's not enough you might have to `<_ as Any>::downcast_ref(&thing)`

[2020-05-11 17:19] #379 closed

[2020-05-11 17:21] #375 closed

[2020-05-11 17:25] Razican commented on #351
This sounds great! As you say BigInt is not yet supported by Boa, it's being implemented by @HalidOdat in #358.

About `NaN`, we do support it via a `f64::NAN`, so it's considered a normal numeric type.

[2020-05-11 18:05] abhijeetbhagat commented on #344
I can take this. Btw, the link to `Array.prototype.every` is pointing to the wrong line number. It should be 491.

[2020-05-11 20:32] Razican commented on #344
Sure! Go for it :)

I think I fixed the link 😅

[2020-05-12 01:23] hello2dj commented on #351
I mean parser doesn't receive `NaN`, you can try
[code]
boa executes this script will panic. I will open an issue.

[2020-05-12 01:28] hello2dj opened #393 "`NaN` is lexed as identifier, not as a number"
**Describe the bug**
When lexing `NaN`, we don't get a number, we get an identifier.

**To Reproduce**
Run this JavaScript with `cargo run -- -t {file}.js`:
[code]

**Expected behavior**
The token for `NaN` should be :
[code]

Instead, we are getting:
[code]

This is controlled in https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/lexer/mod.rs#L591-L602. Appart from checking for `true

[2020-05-12 03:17] hello2dj opened #394 "same_value is not spec compliant"
**Describe the bug**
-0 equal +0 in [same_value](https://github.com/jasonwilliams/boa/blob/1e18cb02d0682627d6d0171464eb0d868de7fcce/boa/src/builtins/value/operations.rs#L120)
but according to the  [spec](https://tc39.es/ecma262/#sec-numeric-types-number-sameValue) they are not equal.

[2020-05-12 05:25] abhijeetbhagat commented on #344
Can you please assign it to me?

[2020-05-12 06:35] Razican commented on #351
Good catch! I'll give it a look to see what's happening.

[2020-05-12 07:17] Razican commented on #393
There are two issues related to this. First, #359 makes any call to `typeof` panic. But since that's being tracked there, this should track the fact that `NaN` is not lexed as a number, it's lexed as an identifier.

[2020-05-12 07:27] Razican commented on #393
I updated the description, so that it's easy to reproduce and fix :)

[2020-05-12 12:56] n14little commented on #345
I’ll take this one.

[2020-05-12 15:48] HalidOdat commented on #345
Sure! Go for it.

[2020-05-13 00:46] 1ntEgr8 commented on #361
quick question: getting the name of the function doesn't seem to be trivial. I don't think the Function object stores that info.

Is there a reason for that? I might be missing something

[2020-05-13 03:36] hello2dj commented on #394
fix on https://github.com/jasonwilliams/boa/pull/395

[2020-05-13 07:49] Razican commented on #359
How do we decide this? Looking at the spec, it does seem indeed to be a unary operator, right?

[2020-05-13 08:05] jasonwilliams commented on #359
You’re right now I see it’s a unary expression

[2020-05-13 08:10] Razican commented on #359
In this case, I think it's best to implement it as a unary expression and remove the `Node`.

[2020-05-13 08:18] Razican commented on #361
As you say, it's not trivial, bit it's there. It's set as an internal field, so you need to call to `get_field_slice("name")` in the object to get the name.

Note that there are also anonymous functions that don't have name, and I think that we are not assigning a name on assignment of an anonymous function (which is something we should at some point in the future).

[2020-05-13 16:16] jasonwilliams opened #398 "String() does not set length on instance"
**Describe the bug**
Calling new String('some text') does not set the instance

E.g
[code]

Should return 4

**To Reproduce**
Put the above into a test.js file and run it, you should get 0

**Expected behavior**
it should return 4

[spec]: https://tc39.es/ecma262/#sec-stringcreate

Implementation is here:
Master: https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/string/mod.rs#L31-L

[2020-05-13 16:36] #314 closed

[2020-05-13 18:17] #393 closed

[2020-05-13 18:26] jasonwilliams opened #400 "Implement Set()"
**ECMASCript feature**
Set objects are collections of ECMAScript language values. A distinct value may only occur once as an element of a Set's collection. Distinct values are discriminated using the SameValueZero comparison algorithm.

I would like to see `Set` implemented. [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-set-objects

**Example code**
[code]

**Example to w

[2020-05-13 18:28] jasonwilliams opened #401 "implement Map()"
**ECMASCript feature**
Map objects are collections of key/value pairs where both the keys and values may be arbitrary ECMAScript language values. A distinct key value may only occur in one key/value pair within the Map's collection. Distinct key values are discriminated using the SameValueZero comparison algorithm.

I would like to see `Map` implemented. [ECMAScript specification][spec].

[spec]:

[2020-05-13 19:01] #351 closed

[2020-05-13 19:01] #357 closed

[2020-05-13 19:01] #394 closed

[2020-05-14 06:59] Razican commented on #121
Should this still go in 0.8?

[2020-05-14 07:53] HalidOdat commented on #121
I should be done with `BigInt` #358 by today or tomorrow, I've been really busy this week so progress has been slow.

If there is a deadline for version 0.8 we can move this to 0.9.

[2020-05-14 08:40] jasonwilliams commented on #121
I don’t have strong opinions either way

[2020-05-14 09:40] Razican commented on #121
Ok, so I would say to add it, as it was initially planned for this version :)

[2020-05-14 09:53] Razican commented on #210
What is the state of this, @jasonwilliams ?

[2020-05-14 10:09] jasonwilliams commented on #210
This should be easy to add now we have function objects, il give this issue a v0.9 milestone

[2020-05-15 03:52] n14little opened #403 "`Value::to_json()` does not handle `undefined` correctly"
I'm currently working on the JSON.stringify replacer and I noticed something that caught me a little bit off guard. When I call `someValue.to_json()` it is not removing properties whose values are undefined. Since `value.to_json()` and `JSON.stringify(...)` are both taking things and turning them into "JSON", I would expect them to behave similarly. MDN gives this blurb on the JSON.stringify(...)

[2020-05-15 04:14] jasonwilliams commented on #403
Hey thanks for raising this, I don’t think it is intentional behaviour it most likely hasn’t been dealt with. So if we should be omitting instead of Nulling them then go ahead on making that change.

[2020-05-16 01:41] hello2dj commented on #401
I can take a stap at this

[2020-05-16 13:20] #264 closed

[2020-05-16 13:20] #360 closed

[2020-05-16 17:12] brian-gavin commented on #400
Hey all, I'm interested in picking this up.

[2020-05-16 18:47] jasonwilliams commented on #400
Assigned

[2020-05-16 18:47] jasonwilliams commented on #401
Assigned

[2020-05-16 21:21] n14little commented on #403
@Razican to clarify, I do not believe that `Value::to_json` should omit null, nor should it **always** omit undefined. It depends on the situation. For example, when `undefined` is found as a value in an object, that key/value pair should be omitted; however, when `undefined` is found in an array, then it should be converted to null. Does that make sense?

[2020-05-16 21:40] Razican commented on #403
I updated the title ;)

[2020-05-18 13:55] jasonwilliams commented on #376
I don't think v0.9.0 is realistic for this, for hoisting to work would require a big refactor of how execution works, including having some pre-parsing step.

We're no where near that point yet.

[2020-05-18 14:16] Razican commented on #376
Actually, this seems to be already working in #392.

[2020-05-18 14:26] jasonwilliams commented on #376
oh ok interesting.
Should we be doing something more closely related to https://v8.dev/blog/preparser#variable-allocation? is reordering sound?

[2020-05-18 14:34] Razican commented on #376
Definitelly, but I think it's a reasonable workaround in the meantime.

It should be, it's  slower, as we will be doing a sort, but it's always maintaining ordering, so it's sound as far as I can tell.

[2020-05-18 14:40] n14little opened #405 "Adding Symbol() as a field's value"
**Describe the bug**
Adding a `Symbol()` as a field's value panics with `parsing failed: ParseIntError { kind: InvalidDigit }`

**To Reproduce**
Add the following to `tests/js/test.js`
[code]
and then run:
[code]

**Expected behavior**
I would expect that the code successfully parse and not panic.

**Build environment (please complete the following information):**
 - OS: Ubuntu Linux
 - Version: 1

[2020-05-19 07:44] #398 closed

[2020-05-19 11:06] #121 closed

[2020-05-19 14:28] Razican commented on #167
This will require a fundamental change on how the interpreter works, but it would be very useful to cache bytecode in the future, and to implement an optimization pass (or multiple optimization passes). Some overview on how V8 does this can be found here: https://v8.dev/blog/ignition-interpreter

[2020-05-20 07:36] jasonwilliams commented on #167
My guess is a new interpreter would be created along side the current one which reads the AST and generates bytecode, there would most likely be a switch for a while ‘—bytecode’

Design doc for ignition
https://docs.google.com/document/d/11T2CRex9hXxoJwbYqVQ32yIPMh0uouUZLdyrtmMoL44/mobilebasic#h.z0c1oogsbnnq

[2020-05-21 08:45] #359 closed

[2020-05-21 09:05] Razican opened #408 "Add CI for WASM"
We have no checks whatsoever to make sure that the webassembly target is building properly. We should use [`wasm-pack`](https://crates.io/crates/wasm-pack) to at least build it, and maybe to add some tests if it's possible.

[2020-05-22 22:41] Daksh14 commented on #307
I would like to step in and finish the rest of the functions @Razican

[2020-05-22 23:00] Razican commented on #307
Go ahead! :) Let us know if you need any guidance.

[2020-05-23 14:18] abhijeetbhagat commented on #348
Hey @HalidOdat, heard you are looking for help?

[2020-05-23 14:50] HalidOdat commented on #348
I think this is already done!

[2020-05-23 17:43] #348 closed

[2020-05-24 11:19] sphinxc0re commented on #363
I don't know if it applies here, but did you take a look at this: https://github.com/kyren/gc-arena
It seems like a promising technology.

[2020-05-24 13:41] HalidOdat opened #413 "Default number formatting is not spec compliant"
**Describe the bug**

Currently we use the default native Rust formatter to format floating-point numbers, which is not spec compliant.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

**Expected behavior**

In this scenario we should get `1e-7` and `3e+50` back.
Actual output is `0.0000001` and `300000

[2020-05-24 14:28] Manishearth commented on #363
Trait object issues are going to occur in any type that is of the form `Gc<T> where T: SomeTraceTrait`. The issues boa is hitting are fundamental Rust issues, not Gc issues.

[2020-05-24 15:38] HalidOdat opened #414 "Implement `Number` object constants"
**ECMASCript feature**

Implement `Number` object constants:
 - [ ] `Number.EPSILON`
 - [ ] `Number.MAX_SAFE_INTEGER`
 - [ ] `Number.MIN_SAFE_INTEGER`
 - [ ] `Number.MAX_VALUE`
 - [ ] `Number.MIN_VALUE`
 - [ ] `Number.NEGATIVE_INFINITY`
 - [ ] `Number.POSITIVE_INFINITY`
 - [ ] `Number.NaN`

This should be very straightforward, to see how we implement constants on objects check [`Math`][math-implem

[2020-05-24 16:02] HalidOdat opened #415 "Implement `BigInt` static methods"
**ECMASCript feature**

Implement `BigInt` static methods:
 - [ ] [`BigInt.asIntN()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt/asIntN)
 - [ ] [`BigInt.asUintN()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt/asUntN)

More information:
 - [ECMAScript `BigInt` object](https://tc39.es/ecma262/#sec-bigint.asintn)

[2020-05-24 20:39] Tropid commented on #415
I can take this. Seems doable :D

[2020-05-24 21:26] HalidOdat commented on #415
Sure! Tell us if you need any help!

[2020-05-24 23:46] Lan2u commented on #414
I'll have a go at this :)

[2020-05-25 00:05] HalidOdat commented on #414
Go for it! If you need any assistance just tell us. :)

[2020-05-25 12:19] Lan2u opened #417 "Cannot access builtins constants if make_constructor_fn used in create()"
**Describe the bug**
In relation to issue #414 I added number constants using
[code]

However the following minimal test fails:

[code]

This test however passes:
[code]

I expected the first test to pass because Number.EPSILON should be valid javascript.

**Build environment (please complete the following information):**
 - OS: Windows 10
 - Version: 1909
 - Target triple: i686-pc-windows-msvc
 -

[2020-05-25 12:26] Lan2u commented on #417
If the create() method of number is modified to instead return number rather than the result of make_constructor_fn then the first test passes and the second test fails (the expected behaviour).

`
/// Create a new `Number` object
pub fn create(global: &Value) -> Value {
    let number = Value::new_object(Some(global));
    number.set_internal_slot("NumberData", Value::from(0));

    number.set_fi

[2020-05-25 12:29] Lan2u commented on #417
The following also produces the expected result:

`
/// Create a new `Number` object
pub fn create(global: &Value) -> Value {
    let number = Value::new_object(Some(global));
    number.set_internal_slot("NumberData", Value::from(0));

    number.set_field_slice("EPSILON", Value::from(f64::EPSILON));
    number.set_field_slice("MAX_VALUE", Value::from(1.79E+308));

    make_builtin_fn!(to_exponen

[2020-05-25 13:21] #336 closed

[2020-05-25 13:21] #376 closed

[2020-05-25 13:21] #377 closed

[2020-05-25 14:31] HalidOdat commented on #417
[code]
**It should be**:
[code]

[2020-05-25 15:30] Lan2u commented on #417
Ah ok makes sense.

[2020-05-25 15:30] #417 closed

[2020-05-26 07:45] Razican commented on #366
Tracking list of  nodes added, now that we have the infrastructure in place.

This could be a very good first issue, since it shows you how the AST nodes work, so feel free to claim it and to ask for help!

[2020-05-26 07:50] Lan2u commented on #366
I shall give it a go :)

[2020-05-26 08:50] Razican commented on #366
Go ahead!

[2020-05-26 13:08] Razican opened #421 "`NaN` is lexed as a number, not as an identifier"
**Describe the bug**
In #397, we modified `NaN` to be lexed as a number, and not as an identifier. This fixed the most common case of using `NaN`, that wouldn't work before, but it won't work for `Number.NaN`, among others.

**To Reproduce**
This now fails:

[code]

**Expected behavior**
This should produce `NaN`, since it's almost the same case, but it produces a parsing error.

**Additional cont

[2020-05-26 14:20] #414 closed

[2020-05-28 02:16] hello2dj commented on #401
Oh sorry, I've been very busy recently. I'll start as soon as possible.
Before I start to do it. I need some help, [List](https://tc39.es/ecma262/#sec-list-and-record-specification-type) Type I will use Array(https://github.com/jasonwilliams/boa/blob/master/boa/src/builtins/array/mod.rs). Someone has other suggestions？

[2020-05-28 02:19] hello2dj commented on #401
https://github.com/boa-dev/boa/pull/419  I will wait for this PR.

[2020-05-28 04:03] brian-gavin commented on #400
Have a WIP local implementation, but relies on `internal_slot`, so will be waiting for #419 to be completed before raising a PR for this one.

[2020-05-28 11:54] HalidOdat commented on #400
Closed the issue accidentally :sweat_smile: .

I was curious, how you implemented it! because `internal_slots` the key value is string, and `Set` stores `Value`s, right? I'm guessing its very hacky
I'm working on implementing `Hash` trait for `Value` so it be easier to implement `Set` because `HashSet` requires `Hash` trait.

[2020-05-28 17:18] brian-gavin commented on #400
Oops, sorry, I meant to say that I implemented it using `internal_state`!

What I did with that was create a wrapper struct for `Vec<Value>` (Did not want to bother with trying to implement `Hash` for `Value` because of floating points 😆 ) and derive the InternalState trait for that struct.

After that it was just a matter of translating some of the spec operations to my implementation, such as th

[2020-05-28 17:45] HalidOdat commented on #400
Well I checked the standard and for `Set` and `Map` for key comparison they use the [`SameValueZero`](https://tc39.es/ecma262/#sec-samevaluezero) algorithm. In it `NaN` === `NaN`, unlike strict equality.
The `Hash` trait requires `PartialEq` and Eq traits, for PartialEq I implemented `SameValueZero` algorithm that was easy. But the reason Eq is not implemented for floating points is that in Rust `

[2020-05-30 10:00] #345 closed

[2020-05-30 10:00] #403 closed

[2020-05-30 12:09] HalidOdat opened #426 "Boa cli `print` function panics"
**Describe the bug**

The problem is that `print` uses `builtins::console::log` function, but it requires console state and it panics that no state was provided.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

cargo run
[code]

**Expected behavior**
This should print `10`

But we get:
[code]

**Additional context**
Potential fix would be to create a ne

[2020-05-30 15:29] Razican commented on #426
I think we need an internal representation of a Logger, in order to first make `console` spec compliant, and then to be able to switch the Logger easily (so, it should implement a generic trait). Then, users could provide their own Logger, and we could also create easy tests for the output.

[2020-05-30 19:49] tomasol commented on #408
Hi, AFAK wasm-pack creates WASM files that can be executed only in a browser or on nodejs. However there are other areas (WASI, interface types) and runtimes like [wasmtime](https://wasmtime.dev/) which are useful for things like plugins.
I've actually succeeded to run `boa` using `wasmtime`, just by creating `.Cargo/config` with following:
[code]
BTW it produces a warning [1]. The wasm file can b

[2020-05-31 10:34] jasonwilliams opened #427 "[Feature Request] - Create benchmark for Object creation and access"
In order to test the upcoming [optimisation](https://github.com/boa-dev/boa/pull/419) work we're doing around objects it would be good to have a benchmark for objects so we can see a before and after.

## Example
Benchmarks live [here](https://github.com/boa-dev/boa/tree/master/boa/benches)
an object creation and access would be categorised under `exec`.

You can see the fibonacci benchmark here:

[2020-05-31 10:37] jasonwilliams opened #428 "[Feature Request] - Create benchmark for Array manipulation"
In order to test the upcoming [optimisation](https://github.com/boa-dev/boa/pull/419) work we're doing around objects it would be good to have a benchmark for Arrays and manipulating them.

## Example
Benchmarks live [here](https://github.com/boa-dev/boa/tree/master/boa/benches)
an array creation and access would be categorised under `exec`.

If exec benchmarks become too big we can compartmentali

[2020-05-31 10:39] jasonwilliams opened #429 "[Feature Request] - Create benchmark for RegExp manipulation"
In order to test the upcoming [optimisation](https://github.com/boa-dev/boa/pull/419) work we're doing around objects it would be good to have a benchmark for various objects and manipulating them.

In future we may change our underlying RegExp dependency, so it would be good to see what the effects are.

## Example
Benchmarks live [here](https://github.com/boa-dev/boa/tree/master/boa/benches)
an

[2020-05-31 11:01] Razican opened #430 "[Feature Request] Add benchmarks for long file lexing + parsing"
**Current situation**
We currently don't have any benchmark checking how fast we lex and parse big files, but our current approach of reading the whole file into memory and only when we finish start lexing, and only when we finish lexing start parsing, all in one thread is far from optimal, especially for big files.

**Benchmark explanation**
We need a benchmark where we load a big JS file from di

[2020-05-31 12:35] jasonwilliams opened #433 "Move Realm creation to another thread"
Realm creation is currently quite slow, and lexing and parsing doesn't start until this is finished. In the screenshot below we can see that Realm::create() runs on the main thread, and blocks everything else until its finished.

I think further optimisations can be done here to:
* Speed up set_field() which is where most of the time is being spent
* put the &global env into a Mutax and create eac

[2020-05-31 13:22] abhijeetbhagat commented on #428
I can take this up.

[2020-05-31 20:29] brian-gavin commented on #433
Have a few more ideas relating to throwing some of the builtin construction into threads, beyond just Realm::create()

Firstly, in regard to

To prevent the overhead of accessing the global object via a Mutex during execution of JS code, it might be better to have the threads that create the builtins instead send the object they create to the main thread via a channel, so the main thread will be t

[2020-05-31 20:53] tomasol opened #434 "Attributes created by JSON.parse cannot be modified"
JSON.parse seems to create object whose attributes cannot be modified (but can be deleted).

**Steps To Reproduce**
Checkout current master (87aea64c)
start cli: `./target/debug/boa`
Enter
[code]
The value `a.x` is still `0` instead of expected `2`.

**Build environment (please complete the following information):**
 - OS: Ubuntu
 - Version: 20.04
 - Target triple: x86_64-unknown-linux-gnu
 - Rust

[2020-05-31 21:35] HalidOdat commented on #434
The bug is [here](https://github.com/boa-dev/boa/blob/87aea64c1f/boa/src/builtins/value/mod.rs#L707).
when we inset the fields of the object, we don't set it as writable, configurable and enumerable:
[code]
Doing this should fix it :)

[2020-06-01 02:38] brian-gavin commented on #13
Hey, the links in this issue are out of date due to some code reorg!

Current location of String is [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/string/mod.rs)

[2020-06-01 02:39] brian-gavin commented on #36
Hey, like String the links are out of date now.

Array can now be found [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/array/mod.rs)!

[2020-06-01 08:07] Razican opened #435 "Optimize type comparisons"
**Current situation**
Currently, if the interpreter wants to know what type a value is, it has to call `get_type()`, which returns a `&str`, and compare it to another `&str`. This takes a pretty log time.

It would be much faster to just compare values in an enumeration, which should be at most 1-word size, and can therefore be stored in the stack easily.

We sill need the `&str` version of the ty

[2020-06-01 08:40] #344 closed

[2020-06-01 09:19] Razican commented on #433
At some point, execution could also be done in streaming, in which case, the realm would need to be ready when the execution starts (which would call the parser streamer).

[2020-06-01 09:22] Razican commented on #13
Good catch! I updated the links, but note that some of this is probably blocked until #419 lands :)

[2020-06-01 09:23] Razican commented on #36
Yep! I updated the link, and once again, this might be blocked in #419.

[2020-06-01 09:30] jasonwilliams commented on #433
I've linked https://github.com/boa-dev/boa/pull/419 with this because the optimisations in that should bring the realm creation time down significantly.

Once that's done I will do another measure to see the impact

[2020-06-01 10:51] Lan2u commented on #435
I'll give this a go

[2020-06-01 12:49] #378 closed

[2020-06-01 18:20] Lan2u opened #439 "Implement break handling in switch statements"
Currently, the Switch Executable implementation [at](https://github.com/boa-dev/boa/blob/7733da27c7b4c2b766b67cd2eab41afbb2f8f08e/boa/src/exec/switch/mod.rs#L8-L29) doesn't support break statements as part of a switch statement.

**Example code**
[code]
The expected output is:
'hi'
'B'

Note that the code above won't work until issue #301 is also resolved.

[2020-06-01 20:14] HalidOdat opened #440 "Boa prelude (A convenience module that re-exports the most commonly-used Boa APIs)"
#### What would the prelude contain?
Maybe `Interpreter`, `Value`, what else?

#### How to use (just an example)
[code]

[2020-06-01 20:51] jasonwilliams commented on #440
Would be useful for tests, so we could start with that as a use case.

[2020-06-02 01:59] n14little commented on #434
I can take this.

[2020-06-02 03:43] n14little commented on #434
Looks like this was partially addressed in #410 . I'm trying to figure out a good way to test the enumerable portion.

[2020-06-02 04:00] n14little opened #443 "HasOwnProperty should call GetOwnProperty and not GetProperty"
**Describe the bug**
According to the [spec](https://tc39.es/ecma262/#sec-hasownproperty), `HasOwnProperty` should be calling `GetOwnProperty`. However, Boa is calling `getProperty` as seen here: https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L611

**To Reproduce**
[code]

**Expected behavior**
The above code should return true and false, respectively. However, Boa is re

[2020-06-02 04:00] n14little commented on #443
I'll also take the issue.

[2020-06-02 04:23] n14little commented on #434
Assuming `propertyIsEnumerable` is implemented, I will go ahead with that unless I hear or think of a better idea.

[2020-06-02 09:50] Razican opened #445 "New Public API"
Related to #440.

**Current situation**
The current public API of Boa, that can be found [here][boa-docs] for Boa 0.8.0 and can be seen offline running `cargo doc --open` for the `master` branch, is far from optimal. We have 3 global functions:
 - `exec()`: That creates a new lexer, parser, Realm and interpreter, and isolates the execution of a given JavaScript string, and return a string with the

[2020-06-02 09:56] Razican opened #446 "Add examples"
**Current situation**
We currently have no code examples to use the API externally both in the API documentation and in the nonexistent `examples` folder.

**What do we need?**
As mentioned in #445, we should be creating a new API, but in any case, we would need to create examples for some common use cases of Boa. I'm extracting here part of that discussion:

I think we need at least one example o

[2020-06-02 10:02] Razican commented on #434
Go ahead! :)

[2020-06-02 10:03] tomasol opened #447 "parseInt, parseFloat missing"
I don't see a list of unsupported language features, so I'm adding this. Functions `parseInt`, `parseFloat` are not defined.

**To Reproduce**
Start CLI, enter
[code]

**Expected behavior**
`10` should be returned. Actual result: `undefined`.
**Build environment (please complete the following information):**
- boa version: master (87aea64c)
 - OS: Ubuntu
 - Version: 20.04
 - Target triple: x86_64-

[2020-06-02 10:04] Lan2u commented on #439
I can do this as an extension to PR #422

[2020-06-02 10:07] Razican commented on #439
Sure, go ahead!

[2020-06-02 10:10] tomasol opened #448 "Calling undefined function should throw meaningful exception"
Calling function that was not defined throws `undefined` instead of proper error.

**To Reproduce**
Start CLI, enter
[code]
Response: `undefined`. I checked with try-catch that this is an exception, not returned value.
**Expected behavior**
NodeJS responds with
[code]
Chrome:
[code]
**Build environment (please complete the following information):**
- boa version: master (87aea64c)
 - OS: Ubuntu
 -

[2020-06-02 10:11] Razican commented on #447
Yep, as you say, we still don't have a list of missing feature. We are working on this by implementing test262 harness (#12).

In this case, these functions are not implemented AFAIK.

[2020-06-02 10:36] Lan2u commented on #301
Will give this a go as part of issue #439.

[2020-06-02 11:44] jasonwilliams commented on #445
yeah we don't need to expose that really.
For ergonomics we should make it easy to add your own native function to the global object.

Are there any standards/interfaces we should be following?

[2020-06-02 11:45] #443 closed

[2020-06-02 11:47] HalidOdat commented on #445
Speaking of standard/interfaces we should follow the [Rust API Gudeline])(https://rust-lang.github.io/api-guidelines/documentation.html)

[2020-06-02 11:47] Razican commented on #445
Not that I know of. We could check how V8 and SpiderMonkey interface with browsers, for example.

[2020-06-02 11:55] HalidOdat commented on #445
Neon crate has a nice API. that's were i got the idea of `ctx.throw_range_error(msg)`

The `ctx.throw_range_error(msg)` and `ctx.throw_type_error(msg)` should be public to he user

[2020-06-02 12:54] tomasol opened #449 "JSON.stringify sometimes changes values from int to float"
When using functions like `Math.round` or `Math.floor`, type of the attribute seems seems to be float. This is not observable when inspecting the object, but is visible using `JSON.stringify`.
**To Reproduce**
Start CLI, enter
[code]
Response: `{"foo":1.0}`.
**Expected behavior**
Expected response `{"foo":1}`.

**Build environment (please complete the following information):**
- boa version: maste

[2020-06-03 03:49] n14little commented on #434
@HalidOdat -- I'm trying to test that the properties are enumerable by using the `propertyIsEnumerable` function which I have written. However, it doesn't seem like the `Object.prototype` methods are getting added to the new objects created in `Value::from_json` based on https://github.com/boa-dev/boa/blob/bb2b6f638cba59269694d44424d16c9a5ede6a81/boa/src/builtins/value/mod.rs#L702
and
https://gith

[2020-06-03 10:05] jasonwilliams commented on #167
Do we want to come up with a set of instructions that would work for us, that would get the ball rolling

[2020-06-03 17:49] HalidOdat commented on #434
Hmmm. For this we need to take in an Interpreter (context) in `Value::from_json`, and get the `prototype` of `Object` and construct the object, it seems `Value::from_json` does not do that. I'll create an issue for this.

This issue can be easily tested with:
[code]
and asserting that `a.x == 2`

[2020-06-03 18:14] HalidOdat opened #452 "Objects that are created with `ValuData::from_json()` do not contain `prototype` instance (`__proto__`)."
**Describe the bug**

Objects that are created with `ValuData::from_json()` do not contain `prototype` instance (`__proto__`).

**To Reproduce**
[code]

**Actual behavior**
[code]

**Expected behavior**
[code]

**Build environment (please complete the following information):**
 - OS: Manjaro Linux
 - Target triple: x86_64-unknown-linux-gnu
 - Rustc version:  rustc 1.43.1 (8d69840ab 2020-05-04)

**

[2020-06-03 18:19] HalidOdat commented on #449
This might be related to #413

[2020-06-03 19:41] n14little commented on #434
@HalidOdat  doesn’t asserting that the value changes only assert that it is writeable? As the bug was written, it is technically no longer a bug. However, the properties are not enumerated so I figured I’d just use this issue for that problem.

[2020-06-03 20:00] HalidOdat commented on #434
I see. Even if we implement `propertyIsEnumerable` we can't use it if the object does not have a prototype instance so we first need to fix #452

[2020-06-03 20:37] n14little commented on #434
Agreed.

[2020-06-03 22:55] Lan2u commented on #447
I can try and implement this

[2020-06-03 23:04] HalidOdat commented on #447
Sure! go for it :)

[2020-06-03 23:33] HalidOdat opened #453 "Referencing an declared variable return `undefined`"
**Describe the bug**

Referencing any declared variable return `undefined`.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

[code]
*Note*: `x` was not declared previously.

**Actual behavior**
[code]

**Expected behavior**
It should throw a `ReferenceError`, since we don't have a `RefereceError` it should at least `panic`

**Build environment:**
 - OS:

[2020-06-03 23:48] HalidOdat opened #454 "Function declaration returns the function, it should return `undefined`"
**Describe the bug**
A clear and concise description of what the bug is.

Function declaration returns the function, it should return `undefined`

**To Reproduce**
[code]

**Actual behavior**
Returns the function, as if it was a function expression.

<details>
<summary>Output</summary>
<pre><code>
{
name: x,
prototype: {
__proto__: {
hasOwnProperty: {
          length: 0,
      extensible: true

[2020-06-04 03:37] HalidOdat commented on #445
In the future we might want to have some kind of procedural macro to make it easy to interoperate from native to javascript

`wasm-bindgen` has this and it's awesome, for example:
[code]

We could have something like this, instead of `wasm_bindgen` we could have to be `boa`, for example:

[code]

And the `boa` proc macro would automatically generate an init function, so the user only has to call i

[2020-06-04 09:17] Razican commented on #445
This would be awesome. I would automatically rename to camelCase, though, since that's the usual pattern in JavaScript, and maybe allow to specify the name if needed.

[2020-06-04 09:58] IovoslavIovchev commented on #167
@jasonwilliams are there any ideas for the VM design/any work done? Are we aiming for a register-based VM? I reckon we need to have some idea what the VM is going to be like before we come up with the instruction set.

[2020-06-04 11:52] jasonwilliams commented on #167
Yes i would imagine it being similar to the V8 VM with registers and an accumulator

[2020-06-04 12:38] n14little commented on #452
@HalidOdat it looks like in order to get the `Interpreter` to `ValueData::from_json()` we would need to have access to the `Interpreter` in this conversion: https://github.com/boa-dev/boa/blob/bb2b6f638cba59269694d44424d16c9a5ede6a81/boa/src/builtins/value/conversions.rs#L191-L195
But, from my understanding, that is not possible. It seems that this conversion implementing `From<JSONValue> for Valu

[2020-06-04 12:41] HalidOdat commented on #452
No. That's right. We should remove it and use `ValueData::from_json()` with it taking an `Interpreter`.

[2020-06-04 13:42] jasonwilliams commented on #445
This might need to be `register_global_property()`, as global object usually refers to the top level global object itelf `window` or `globalThis` etc.

[2020-06-04 16:31] croraf opened #456 "[lexer] in token position counting end boundary should be excluded"
For example if you have JS code
[code]
One of the tokens the lexer will output it will say: `Token: Identifier "a", start position: 5, end position: 5`

Instead it should say `... end position: 6`

[2020-06-04 23:01] n14little commented on #452
I am working on this to get myself going on some other issues assigned to me.

[2020-06-05 13:37] #296 closed

[2020-06-05 19:57] croraf opened #457 "[runtime] script evaluation should return the value of last Statement that returns value"
**Describe the bug**
https://tc39.es/ecma262/#sec-block-runtime-semantics-evaluation with focus on NOTE 2

**To Reproduce**
[code]

**Expected behavior**
Should return 1. Instead undefined is returned.

[2020-06-05 20:53] Tropid commented on #415
Quick status update:

After I was struggling a bit, I made some progress. The official ECMA conformance test suite is a great help (https://github.com/tc39/test262/tree/master/test/built-ins/BigInt/asIntN). It seems like the functions return the correct values for valid inputs now.

The error handling is not done yet and the code has to be cleaned up some more. I'll continue working on it.

[2020-06-06 00:39] HalidOdat commented on #415
#450 should make it easier for error handling

[2020-06-06 09:43] jasonwilliams commented on #167
Will attempt to base of Jason’s example here:
https://github.com/jorendorff/boa/commit/266319fbee93ef0e2467a384e237ecd5b0ac9c51#diff-8a4e02ddeeda9cccf194eab4892b1c1cR162-R167

There is an issue here though.
Operations on Values have been promoted to the Value level, so the stack needs to either use Values (which isn’t efficient because it will point to the heap for everything) or each instruction

[2020-06-06 10:28] Tropid commented on #415
This sounds great, especially "Merged Ast BigInt to Builtin BigInt.". The three different `BigInt` types were really confusing me.

Merging this will be difficult, though 😅

[2020-06-06 14:46] Razican commented on #456
If I understand the title right, if the boundary should be excluded, then `5` is correct, right? `6` would also include the boundary.

So, in that example, the 5th token is the `a` token. The first position where that token appears is the `5`, and the last position where that token appears is the `5` too.

For `let` for example, the first position where it appears is `1`, and the last one is `3`.

[2020-06-06 16:59] croraf commented on #456
No. The right boundary should be excluded meaning that if the right boundary is 5, the character at position 5 is not part of the token.

So for `let` you will have boundaries 1 and 4, including characters at position 1, 2 and 3. Excluding the character at position 4.

[2020-06-06 22:05] Razican commented on #456
So, then, for `a`, boundaries should be `5` and `6`, with the `6` excluded, right?

[2020-06-06 22:44] croraf commented on #456
Yes

[2020-06-06 23:08] Razican commented on #456
Sorry, then I don't understand the bug. The span is set correctly, from position 5 to position 5, right?

[2020-06-07 09:42] jasonwilliams commented on #457
This isn't really a bug, it should output nothing.
If you run this in Node you won't get `1` as an output either.

[2020-06-07 10:09] croraf commented on #457
https://repl.it/@croraf/ImpoliteQualifiedRobodoc @jasonwilliams

[2020-06-07 13:30] jasonwilliams commented on #457
Thanks for that, I don’t get that locally for some reason.
Is this something you wanted to look at @croraf ?

[2020-06-07 15:36] IovoslavIovchev commented on #167
There is currently a POC [branch](https://github.com/IovoslavIovchev/boa/tree/vm), with the aim to explore the different options we have.

The current implementation is based on the aforementioned [example](https://github.com/jorendorff/boa/commit/266319fbee93ef0e2467a384e237ecd5b0ac9c51#diff-8a4e02ddeeda9cccf194eab4892b1c1cR162-R167).

[2020-06-07 17:04] jasonwilliams commented on #167
https://github.com/boa-dev/boa/pull/461 POC from @IovoslavIovchev

[2020-06-07 21:26] croraf opened #463 "[executor] Use of undefined variable should throw an error"
**Describe the bug**
[code]

Any of the above statements should throw an error `ReferenceError: d is not defined`

[2020-06-08 10:36] Razican commented on #463
For anyone willing to work on this, this has two sides:
 implemented in [here][ident_exec] for identifiers execution. This will go to the Realm environment record and call [get_binding_value()][env_binding_val]. This will either return the value, or `Undefined`.

This is not 100% spec compliant. The [spec][ident_spec] says that this should call the "abstract" operation [`ResolveBinding`][resolve_b

[2020-06-08 19:26] IovoslavIovchev opened #464 "Possibly use something like rustyline for the cli"
[rustyline](https://crates.io/crates/rustyline/) offers some niceties out of the box (history, vi mode, etc.), which would improve the experience when using the boa-cli.

Note that this issue is not about adding `rustyline` specifically but rather about adding features that crates like `rustyline` (and possibly others) already offer and would be nice to have.

[2020-06-08 20:31] HalidOdat opened #465 "Refactoring Value (decouple `Gc` from `Value`)"
**Whats wrong with the current implementation?**
The current implementation after #383 coupled the `Gc` and `Value` together and the operations were promoted to the gc level, the problem with this is that `Gc` values are stored in the heap which means a performance penalty. Furthermore we need to do some checks before accessing the underlying `ValueData`.

**Changes**
 - Move `Value` logic/operati

[2020-06-08 22:04] jasonwilliams commented on #465
This is needed for the VM also, we want to be able to store Sized values on the stack without them being wrapped in the GC.
I’m glad you raised this, it’s refactor I agree with

[2020-06-08 22:28] HalidOdat opened #466 "Change `ToPrimitive()` (`to_primitive()`) hint to be an enum, instead of string"
**What's wrong with the current implementation of `to_primitive`?**
The problem is that we use a string (`&str`) as the hint, so when we use `to_primitive` we always have to do a string comparison, which is not efficient.

To fix this we need to create a new enum `PreferredType` which would contain `String`, `Number` and `Default` field and use it to compare it instead of `&str`

More information:

[2020-06-08 22:47] HalidOdat commented on #445
Here is V8 API https://v8.dev/docs/embed

[2020-06-09 03:02] HalidOdat commented on #465
Did some research and it seems that (correct me if I'm wrong), `Value` does not need to be garbage collected only the `Object` field,
So we would have `Value::Object(Gc<GcCell<Object>>)`. The value it self is immutable and can be copied does not need to have shared reference, but the only part that needs to be mutated and have shared reference is object.

[2020-06-09 09:44] jasonwilliams commented on #465
I think you're right yes, all the other values are immutable (even the symbol).
So we could do this at object level.

Looking at SpiderMonkey:
They have a function which allocates an object:
https://github.com/mozilla/gecko-dev/blob/dd53506c39875f5b8109768de71d42bcd4469543/js/src/gc/Allocator.cpp#L37-L86

They use it whenever a new object is needed:
https://github.com/mozilla/gecko-dev/blob/17388a

[2020-06-09 14:16] #447 closed

[2020-06-09 14:33] jasonwilliams commented on #448
Thanks for raising this @tomasol
Will take a look at this bug although i assume it will be encompassed by our work to look into handling errors in general

[2020-06-09 17:27] jasonwilliams commented on #445
https://github.com/boa-dev/boa/pull/461 implements `Default` for Realm

[2020-06-09 18:27] Razican commented on #445
I think it should have all the builtins, since that should be the "default" behaviour. We can have a `Realm::empty()` method, that creates an empty Realm.

[2020-06-09 21:06] croraf commented on #210
The original problem is solved but
[code]
isn't.

There is a missmatch here: https://github.com/boa-dev/boa/blob/master/boa/src/exec/field/mod.rs#L10-L14

[2020-06-10 07:09] jasonwilliams commented on #210
@croraf https://github.com/boa-dev/boa/pull/469 Doesn’t really close this issue, it just fixes and tests bracket accessing.
There’s no tests in there for length on built ins

[2020-06-10 09:26] #366 closed

[2020-06-10 10:25] #435 closed

[2020-06-10 10:51] croraf commented on #210
@jasonwilliams I intentionally didn't included this test, as it follows from the two tests that I did include.

`'string'.builtinFunction.length` is just a combination of
 - `'string'.builtinFunction` resolution and
 - `function.property` resolution

Both of these were failing, and now both are fixed which I checked with tests, so their combination also works.

[2020-06-11 13:09] Tropid commented on #413
I can take this if nobody else wants it :)

[2020-06-11 13:52] LuoZijun commented on #421
https://www.ecma-international.org/ecma-262/10.0/#sec-value-properties-of-the-global-object

`Infinity`, `NaN` and `undefined` are global property, not a number token.

[2020-06-11 14:08] croraf commented on #421
Thanks @LuoZijun . Yes we proceeded to implement it like this as you check in the linked PR. Although I didn't know "undefined" is the same. I thought "undefined" is a reserved keyword, but now I see it is same as NaN.