[2020-06-11 14:14] HalidOdat commented on #413
Sure! Tell us if you need any help, or if you have any questions

[2020-06-11 16:49] #421 closed

[2020-06-11 19:53] Razican opened #478 "Use ECMAScript syntax for regular expressions"
**Current situation**
Currently, we use regular expressions from the `regex` crate. They are extremely fast, but they don't support the full ECMAScript syntax like backreferences or lookaround assertions.

**Solution**
We should use a library that does support all this syntax. A nice library that was just released and seems to support this is [`regress`](https://crates.io/crates/regress).

We shou

[2020-06-11 23:48] HalidOdat opened #480 "Implement global `Infinity` property"
**ECMASCript feature**

`Infinity` is not a number, but a global property.

We can add this by adding a new module like `NaN` https://github.com/boa-dev/boa/tree/master/boa/src/builtins/nan and then adding it to the builtin `init` function in `builtins/mod.rs` the value it should contain should be `Value::from(f64::INFINITY)`

More information
	- [ECMAScript reference][spec]
    - [MDN][mdn]

[spe

[2020-06-11 23:51] HalidOdat opened #481 "Implement global `undefined` property"
**ECMASCript feature**

`undefined` is not a keyword, but a global property.

We can add this by adding a new module like `NaN` https://github.com/boa-dev/boa/tree/master/boa/src/builtins/nan and then adding it to the builtin `init` function in `builtins/mod.rs` the value it should contain should be `Value::undefined()`

More information
	- [ECMAScript reference][spec]
    - [MDN][mdn]

[spec]: ht

[2020-06-12 00:33] HalidOdat opened #482 "Field access should propagate the exception (`Err(_)`)"
When `ToObject` (`to_object`) throws an error the field accessors don't propagate the error in `GetConstField` and `GetField` nodes

GetConstField: <https://github.com/boa-dev/boa/blob/master/boa/src/exec/field/mod.rs#L12-L13>
GetField: <https://github.com/boa-dev/boa/blob/master/boa/src/exec/field/mod.rs#L25-L26>

To fix this we should change from `.expect("failed to convert to object")` to `?`

[2020-06-12 01:06] HalidOdat opened #483 "`ToObject` (`to_object`) should throw `TypeError` when there is `null` and `undefined`"
**Describe the bug**

The problem is that when we try to convert `null` and `undefined` we throw `undefined` this is wrong.

The bug is here: <https://github.com/boa-dev/boa/blob/master/boa/src/exec/mod.rs#L384-L386>
See conversion table for `to_object`: <https://tc39.es/ecma262/#sec-toobject>

To fix this we need to throw a type error with the `Interpreter::throw_type_error()` method the message

[2020-06-12 01:25] HalidOdat opened #484 "`ToObject` (`to_object`) throw `undefined` when converting `ValueData::Integer` to `Number` object"
**Describe the bug**

The bug is here: <https://github.com/boa-dev/boa/blob/master/boa/src/exec/mod.rs#L384>. When the `ValueData` is `Integer` it returns `Err(undefined)` this is wrong.

We should have the same logic as the `Rational` case: <https://github.com/boa-dev/boa/blob/master/boa/src/exec/mod.rs#L398-L407>.

[2020-06-12 01:42] zanayr commented on #120
Hello @jasonwilliams, can I take this? :)

[2020-06-12 01:47] HalidOdat commented on #120
Sure. go for it! If you have any questions or need some assistance tell us :)

[2020-06-12 03:20] gvasquez11 commented on #484
Hello I would be glad to take this issue :)

[2020-06-12 03:24] HalidOdat commented on #484
Go for it! Tell us if you have any questions or need some help :)

[2020-06-12 13:57] n14little commented on #434
@HalidOdat @Razican -- As was mentioned earlier in this thread, I'm using `propertyIsEnumerable` to try to test enumerability on the properties for objects and arrays in `Value::from_json`. In the `Array::create` function, I'm trying to create the array prototype using the object prototype based on the fourth bullet here: https://tc39.es/ecma262/#sec-properties-of-the-array-prototype-object. I do

[2020-06-12 15:05] HalidOdat commented on #434
Were not losing the object prototype but were not displaying it, the debug printer `Debug` trait was implemented by hand (no idea why, we should almost always let the compiler generate it for us) https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L66-L79 we should delete it and add a `Debug` in `Object` derive here https://github.com/boa-dev/boa/blob/master/boa/src/builtins/

[2020-06-12 15:25] sphinxc0re commented on #363
Okay, but how about https://github.com/Others/shredder ? It looks like it supports cyclic structures as well

[2020-06-12 15:38] jasonwilliams commented on #363
@sphinxc0re shredder looks very interesting and i would be happy for us to try it out

[2020-06-12 15:47] #484 closed

[2020-06-12 17:41] Manishearth commented on #363
Shredder forces concurrency, which a JS runtime will likely not want since JS objects are single threaded

[2020-06-12 18:02] #428 closed

[2020-06-12 18:08] #454 closed

[2020-06-12 18:09] #301 closed

[2020-06-12 18:09] #439 closed

[2020-06-12 19:38] croraf opened #487 "{a: 5} should output 5"
`{a: 5}`

This is not an object but represents a block (for some reason). It should compile and output 5. Instead Boa gives:  `Parsing Error: expected token ';', got ':' in expression statement`.

EDIT:
Comparing with Chrome this actually should give an object. But `{a: 5};` (notice semicolon at the end) should give a block with labeled statement.

[2020-06-13 02:11] LuoZijun commented on #487
`a` is a Lable Token.

[2020-06-13 02:24] HalidOdat commented on #487
Yes. It is you can check it in https://astexplorer.net

[2020-06-13 02:47] LuoZijun commented on #487
@HalidOdat I once wrote ecmascript's lexical analyzer, which is why I know this :)

[2020-06-13 15:13] Razican commented on #448
Closing this, as this is related to both functions and identifiers, as stated in #463. This is being worked on in #488.

[2020-06-13 15:13] #448 closed

[2020-06-13 18:42] IovoslavIovchev commented on #464
I can take a look into adding `rustyline` if there are no other suggestions.

[2020-06-13 18:48] IovoslavIovchev commented on #341
I would recommend we also do something similar to what `ghci` does -- you specify the beginning of a multiline block with `:{` and the end with `:}`. This would also be easier to implement, rather than waiting for a matching closing `}`.

[2020-06-13 19:15] IovoslavIovchev commented on #456
I think the issue is that the end boundary should be exclusive, e.g. in the example `a`'s span is `[5, 5]`, when it should be `[5, 6)`.

[2020-06-13 20:04] HalidOdat commented on #464
Awesome! as an example use of `rustyline` you can check https://github.com/PaddiM8/kalk

[2020-06-13 20:25] HalidOdat commented on #465
Also as suggested by @Razican in #419, the `String` (not string object) is immutable and be can store it as `Box<str>`, instead of `String` which should remove 8 bytes of `ValueData::String`

[2020-06-13 20:33] HalidOdat commented on #465
Also i think we can make it even better by making the `ValueData::String` field a `Rc<Box<str>>` which should make it trivial to copy its just a count increment and there should never be a cyclic reference because there is no use of `RcCell` (this will be done to Symbol primitive, because it has an optional string description)

What do you think of this optimization?

[2020-06-13 23:14] HalidOdat commented on #465
Update: did some reaserch and I think we can make it even better :sweat_smile: by not storing it as a `Rc<Box<str>>` but storing it as a `Rc<str>` this will eliminate a allocation and remove the double pointer indirection, which should make string access even faster.

[2020-06-13 23:52] HalidOdat commented on #465
Update 2: If we store them as a `Rc<str>` we also get another optimization for free, if a type implements `PartialEq` an `Eq` which `str` does when checking for equality/inequlity it checks if it points to the same memory allocation is so they are equal, if not it does a normal `&str == &str` check, same for inequality. See `Rc` source code here https://doc.rust-lang.org/src/alloc/rc.rs.html#1236

[2020-06-13 23:58] HalidOdat commented on #465
Update 3: I think we should use `Rc<str>`, instead of `String` for `Object` property access, the above optimizations apply to this.

[2020-06-14 05:46] Razican commented on #465
Wouldn't this be almost interning them? What if we have two `str` with the same value but different pointers?

I think in that case we wouldn't be able to get the optimisation, right?

We currently create each string separately, so I don't think there is a case where the `Rc` would point to the same place.

But I like this idea, maybe we should try to intern them again (and we should have a benchm

[2020-06-14 06:17] HalidOdat commented on #465
Not exactly. In string interning the strings are held in an interner structure and the interned strings live as long as the interner lives, but with `Rc<str>` the handling of memory is separate from the interner, so if a string goes out of scope and there are no references then it is freed, but in the string interning the life is static because there will always be a reference to the string that t

[2020-06-14 11:28] Razican commented on #465
Ok, yes, I see it. String interning would give better performance, but this is an almost free optimisation that will probably be easy to implement, so we should do it.

Let me create a couple of benchmarks for strings, I will PR today.

[2020-06-14 12:28] sphinxc0re commented on #363
There is no information on "forcing" concurrency. The README states: `ready for fearless concurrency: works in multi-threaded contexts`. "Works in" sounds to me like it's optional. Could you elaborate where you found that information?

[2020-06-14 13:50] jasonwilliams commented on #363
I think @Manishearth is referring to the fact that Shredder is built on top of [Arc](https://doc.rust-lang.org/std/sync/struct.Arc.html) where as rust-gc is built on top of [Rc](https://doc.rust-lang.org/std/rc/index.html). There's pros and cons to both.

If you don't need multithreading you're still using Arc under the hood, which will be slower than RC because it generates atomic instructions fo

[2020-06-14 16:16] Manishearth commented on #363
Not if you want to be spec-compliant :smile:

This is incorrect. The javascript execution model is single-threaded; all realms which may share objects (not including `SharedArrayBuffer`, which I'll get to) must have their event loops run on the same thread.

The specification calls this an ["agent"](https://tc39.es/ecma262/#agent, annoyingly I cannot find any text in the specification that explain

[2020-06-15 06:55] zanayr commented on #120
Hello I have issued a PR #495... I'm not sure if I did it correctly, I am getting several failed checks.. I assume I messed up the testing somehow, any tips on how to fix this? Best,

[2020-06-15 17:00] croraf opened #496 "[try/catch] not returning correct value"
**Describe the bug**
[code]

should return `"asd"`. Instead `undefined` is returned.

[2020-06-15 19:45] HalidOdat opened #497 "Refactoring `Property` flags"
Make the flags instead of Option<bool> we combine all the flags into one `u8` and store and access the bits this should shrink the size of `Property`.

[2020-06-15 21:44] Razican commented on #497
For the flags, we can use `bitflags`, as we do with the regex lexer.

[2020-06-15 21:47] #120 closed

[2020-06-15 22:08] zanayr commented on #120
Coool

[2020-06-15 22:15] zanayr commented on #483
I'd like to take this one on. :)

[2020-06-15 23:05] HalidOdat commented on #465
#419 Has been merged, I'll start working on this :)

[2020-06-16 02:20] n14little commented on #434
It helps explain why I'm not seeing it in the print statements :smile:; however, I'm still not seeing the `propertyIsEnumerable` function on an array.

[2020-06-16 02:39] AnirudhKonduru commented on #480
@HalidOdat Can I take this up along with #481 ?

[2020-06-16 03:18] HalidOdat commented on #480
You can have this,  I'm not sure about the second though, I think @croraf is doing it. If you need any help or have a question tell us :)

[2020-06-16 03:25] HalidOdat commented on #434
Hmmm. I think I know why this is happening because the order of the builtins is not right! [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/mod.rs#L43) `Object` should be declared before `Array`.

[2020-06-16 03:25] AnirudhKonduru commented on #481
@HalidOdat , I could use some help with testing this. Doing it like NaN is tested won't do much, as
`
let scenario = r#"
        undeclared_identifier; //or undefined;
        "#;
`
will always evaluate to `undefined`, even when we don't add undefined as a global property.

[2020-06-16 03:27] AnirudhKonduru commented on #480
Oh ok, thanks! In that case I'll leave out the changes meant of #481 for the time-being

[2020-06-16 05:04] #480 closed

[2020-06-16 06:26] Razican commented on #481
Yes, this is a bug we have, where we don't throw a `ReferenceError` exception. This should be solved once #488 gets merged, though.

[2020-06-16 16:02] croraf commented on #481
@AnirudhKonduru You can join discord https://github.com/boa-dev/boa#communication. It is much easier to communicate details there :)

[2020-06-16 17:22] croraf commented on #496
OK. This will work when #488 will be applied. On master it does not enter the catch block, so it just return `a` which is undefined.

[2020-06-16 19:50] neeldug commented on #482
Hi,

Would like to work on this issue.

Thanks

[2020-06-16 20:09] Razican commented on #496
I would keep it open until #488 is merged in master.

[2020-06-16 20:33] #482 closed

[2020-06-16 20:58] #463 closed

[2020-06-16 20:58] #496 closed

[2020-06-17 02:00] n14little commented on #434
This doesn't quite seem to do the trick. Everything is added to that global object all at once after everything has been initialized. Thus, when `Array::init(global)` is called, the `object` has not been put on the global since all of that happens [here](https://github.com/boa-dev/boa/blob/4ae939ac5244227b8be7436288462198af5d5203/boa/src/builtins/mod.rs#L67-L70). I tried to initialize each thing a

[2020-06-17 04:49] HalidOdat commented on #434
#502 should fix this bug :)

[2020-06-17 09:05] Lan2u commented on #456
This will be fixed as part of #486.

[2020-06-17 12:59] neeldug commented on #478
Hi!
I've currently looked over the regress API, and it seems to be missing quite a few methods that are necessary, any suggestions on whether to proceed trying to implement regress?

[2020-06-17 13:16] jasonwilliams commented on #497
The spec has the concept of a default property which we can surface with `Default`:
https://tc39.es/ecma262/#table-default-attribute-values

[2020-06-17 13:25] jasonwilliams commented on #497
I don't think this will work because those functions are exposed to the outside world, so if someone does a `typeof` check it would fail.

[code]

[2020-06-17 15:12] LuoZijun opened #503 "Regular expression flags should be checked at runtime, not at lexing time"
CodeLine: https://github.com/boa-dev/boa/blob/e674da46e720225663be79357703511dd4a54695/boa/src/syntax/ast/token.rs#L109-L116

11.8.5 Regular Expression Literals: https://www.ecma-international.org/ecma-262/10.0/#sec-literals-regular-expression-literals

The ECMAScript spec said, `RegularExpressionFlags` is empty or `IdentifierPart`.

[2020-06-17 15:15] LuoZijun commented on #503
The runtime defined flags: g, i, m, s, u, y

[MDN] Advanced searching with flags: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions#Advanced_searching_with_flags_2

[2020-06-17 19:30] KrisChambers commented on #453
I can take a look at this.

[2020-06-17 19:47] Razican commented on #453
Isn't this a duplicate of #463? I think it should have been resolved already.

[2020-06-17 20:05] HalidOdat commented on #453
Yes. this is a duplicate. I'll close this

[2020-06-17 20:05] #453 closed

[2020-06-17 21:44] ClementNerma opened #505 "Unreachable statement"
**Describe the bug**
First of all, I'd just like to say this project is really exciting, I can't wait to see it reach a usable state :)

So, I tried the online version and wrote a few functions that worked correctly, but then tried to run a simple Fibonacci function and got the following error in the console:

[code]

**To Reproduce**
Here is the source code:

[code]

**Expected behavior**
The cod

[2020-06-18 15:26] AnirudhKonduru opened #507 "`ReferenceError` on cli prints full obj properties instead of short message"
On the cli, simply running `ReferenceError`, `console`, `console.log` and many other global objects/functions prints the full object and its properties of what the script returns instead of a short message like `function: ReferenceError` or `global object: console`.

### to reproduce
Run `console`, `console.log`, `ReferenceError` on the cli

**Expected behavior**
Print a shorter description like `

[2020-06-18 16:09] AnirudhKonduru opened #508 "Assignment with invalid LHS does not throw SyntaxError"
Assignments with invalid left-hand side(`1=2`) return the value of the right-hand side(`2`) instead of throwing SyntaxError.

## To Reproduce
This JavaScript code reproduces the issue:
[code]
-->

## Expected behavior

The spec for the expected behaviour can be found in the [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-assignment-operators-static-semantics-early-errors

[2020-06-18 18:04] Razican commented on #478
One option would be to implement those methods in regress. What would we need?

[2020-06-18 18:42] neeldug commented on #478
Specifically I've been looking into regress's API and it actually does have a lot of the methods just labelled differently or structured differently, currently working on trying to refactor everything involving regex into regress atm.

[2020-06-18 19:24] croraf commented on #449
A simpler (seems to be related) example is:
[code]
which outputs `{"foo":1.0}` instead of `{"foo":1}`

[2020-06-18 19:44] croraf opened #509 "[JSON] JSON.stringify(undefined) panics"
In Chrome it returns "undefined".

But in the spec https://tc39.es/ecma262/#sec-json.stringify it says:
![image](https://user-images.githubusercontent.com/19698636/85065050-cf61b600-b1ac-11ea-8418-b526eb61750c.png)

In boa it panics:
[code]

[2020-06-18 21:05] croraf commented on #426
I don't really understand this issue. Is `print(10)` a javascript code or? If it is javascript code, why should it output 10?

[2020-06-18 21:28] croraf opened #510 "[Call] calling an undefined method does not throw"
**To Reproduce**
[code]
or
[code]

**Expected behavior**
Should throw TypeError
`TypeError: 'bar'.foo is not a function`
`TypeError: bar.foo is not a function`

Instead `undefined` is returned.

[2020-06-18 21:43] HalidOdat commented on #426
`print` is complaining that it can't print the value without the `console` state.
`print` is `console.log`, IMO I think we should remove it, we have `console.log` I don't think we need it

Here is the issue #74

[2020-06-18 21:44] HalidOdat commented on #510
Could #501 fix this issue?

[2020-06-18 21:57] HalidOdat commented on #507
We should discus how we should print the objects and errors (uncaught errors) we are not bound by the spec so we can print whatever we want!

I would like for objects to be printed all objects (not `Error`s): `ObjectName { MaybeValueOrEmpty }`, for example:
[code]

For errors like type error, like `TypeError`
[code]

[2020-06-18 22:10] HalidOdat commented on #507
Additionally we cold have a flag for displaying all the object properties like we do now for debugging purposes.

[2020-06-18 22:17] AnirudhKonduru commented on #507
Sound great to me. Perhaps for uncaught Errors we could print the stack trace also? (maybe just 2-3 levels of it on the cli for brevity).

[2020-06-18 22:58] croraf opened #511 "[Call] Usage of "this" in methods is not supported"
**Describe the bug**
[code]

should return 8. Instead `thread 'main' panicked at 'Reference Error: Unitialised binding for this function', boa/src/environment/function_environment_record.rs:115:17` happens

[2020-06-18 23:00] croraf commented on #510
Negative.

[2020-06-18 23:44] #481 closed

[2020-06-18 23:51] #434 closed

[2020-06-19 01:10] n14little commented on #509
I'll look into this.

[2020-06-19 01:15] #505 closed

[2020-06-19 01:22] croraf commented on #509
Behavior in chrome (we should probably have tests for the below cases):
![image](https://user-images.githubusercontent.com/19698636/85086830-11eeb700-b1dc-11ea-8152-271fd8552a76.png)

[2020-06-19 01:40] n14little commented on #509
@croraf For your first case, there is [this test](https://github.com/boa-dev/boa/blob/a7cffe3c7c6fc3f0588a6fc1c84bd7dfeddd4bfd/boa/src/builtins/json/tests.rs#L28-L40) on master.
For your second case, there is [this test](https://github.com/boa-dev/boa/blob/a7cffe3c7c6fc3f0588a6fc1c84bd7dfeddd4bfd/boa/src/builtins/json/tests.rs#L186-L199) on master.
The undefined case is being addressed in #512
And

[2020-06-19 10:49] HalidOdat opened #513 "Implement `Object.is()` method"
**ECMASCript feature**
Implement the `Object.is()` method, the `is` method uses the `SameValue` algorithm (implementation is [here](https://github.com/boa-dev/boa/blob/a7cffe3c7c/boa/src/builtins/value/equality.rs#L144))

The builtin Object functions are [here](https://github.com/boa-dev/boa/blob/a7cffe3c7c/boa/src/builtins/object/mod.rs#L410-L494), after implementing it should be added to `Object

[2020-06-19 10:55] #509 closed

[2020-06-19 11:10] croraf commented on #509
Oh. I now see NOTE 5 in the spec exactly explains how `JSON.stringify(undefined)` should be returned.

[2020-06-19 11:14] HalidOdat opened #514 "Cleanup `Math` methods"
Many of the Math builtin functions are a bit convoluted for example:
[code]
This is also inefficient because we check if there is an argument and then another check is done when we call `.expect()`.

A better way of doing this would be to use `.map_or` which would simplify the code a lot:
[code]

[2020-06-19 21:28] neeldug commented on #478
Have been working on refactoring regexp and string, and managed to finish string, however, am a little stuck on the regexp regex implementations, especially with working with the capture groups that regress has got strange methods, if anyone is able to help, would be much appreciated.

[2020-06-20 15:02] tylermorten commented on #513
I could probably tackle this one. Do we need it to work in “strict” mode as well?

[2020-06-21 02:01] #513 closed

[2020-06-22 07:30] Razican commented on #478
Hey, do you have the code you are working on? Maybe create a draft PR so that we can give you feedback :)

[2020-06-22 07:44] Razican commented on #503
Hi @LuoZijun could you explain a bit the issue you found? We are generating the regular expression flags as per the spec, right?

[2020-06-22 08:39] LuoZijun commented on #503
@Razican I mean the invalid `invalid regular expression flag` error should be decided by Runtime. Not Lexer.

[2020-06-22 20:52] n14little commented on #514
I’ll take this

[2020-06-22 21:20] jasonwilliams commented on #511
Looks like the binding status is defauting to uninitialized, changing to initialized will work https://github.com/boa-dev/boa/blob/master/boa/src/builtins/function/mod.rs#L196 but we probably want to pass that value in, as we don't know at that point whether we're in an arrow function or not

[2020-06-22 23:42] HalidOdat commented on #514
Sure!

[2020-06-23 06:22] #465 closed

[2020-06-23 11:45] #483 closed

[2020-06-23 11:49] n14little commented on #514
@HalidOdat  There are still some methods that can be cleaned up in this issue. I just did the ones that were quick and easy.

[2020-06-23 11:51] HalidOdat commented on #514
In that case, I'll reopen the issue :)

[2020-06-23 14:24] pedropaulosuzuki commented on #514
In that case, we might benefit from mapping which methods still need refactoring:

- [ ] Math.abs()
- [ ] Math.acos()
- [ ] Math.acosh()
- [ ] Math.asin()
- [ ] Math.asinh()
- [ ] Math.atan()
- [ ] Math.atan2()
- [ ] Math.atanh()
- [ ] Math.cbrt()
- [ ] Math.ceil()
- [ ] Math.clz32()
- [ ] Math.cos()
- [ ] Math.cosh()
- [ ] Math.exp()
- [ ] Math.expm1()
- [ ] Math.floor()
- [ ] Math.fround()
- [ ]

[2020-06-24 02:34] n14little commented on #514
There are a couple of these functions that are not yet implemented. Are there separate issues tracking the implementation of those functions?

[2020-06-24 02:51] HalidOdat commented on #514
we don't have an issue for tracking the unimplemented ones. I'll create it :)

[2020-06-24 03:00] HalidOdat opened #524 "Implement the rest of `Math` methods"
Implement `Math` methods:
 - [x] `Math.clz32()`
 - [x] `Math.expm1()`
 - [x] `Math.fround()`
 - [x] `Math.hypot()`
 - [x] `Math.log1p()`
 - [x] `Math.imul()`

[2020-06-24 12:05] #514 closed

[2020-06-24 18:23] mr-rodgers commented on #524
Hey, I'm new, but I would like to take these.

[2020-06-24 18:42] HalidOdat commented on #524
Sure. go for it! If you have any questions or any need assistance just ask :)

[2020-06-24 18:50] HalidOdat commented on #524
@mr-rodgers a good example of a `Math` method is `abs`: <https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/mod.rs#L43-L45>

after we create the methods we need to register them here like `abs`: <https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/mod.rs#L478>

[2020-06-24 20:33] pedropaulosuzuki commented on #524
I think we missed Math.imul(a: f64, b:f64) -> i32;

[2020-06-24 20:40] HalidOdat commented on #524
Good catch! I'll add it to the list :)

[2020-06-24 20:43] mr-rodgers commented on #524
Do we have a guide for writing tests?

[2020-06-24 20:55] HalidOdat commented on #524
Not really. we really should have one, but for now here is an example of how we test `abs`: https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/tests.rs#L6-L22

Also the Math tests should go in in this file

Hope this helps.

[2020-06-25 11:41] jasonwilliams commented on #511
There's a fix for this in https://github.com/boa-dev/boa/pull/526

[2020-06-25 14:52] #511 closed

[2020-06-25 19:05] croraf opened #530 "[exec - Call] handling GetField and GetConstantField seems superfluous"
https://github.com/boa-dev/boa/blob/8b40e9eec2c190f8df7cde6713c7fe44e2564756/boa/src/exec/expression/mod.rs#L16-L34
It can be seen that some expressions are handled differently.

**Code of type `expression ()` should be handled in the same way irrespective of the `expression` involved.**

Additional data (research):
If `GetConstField` branch of the `match` is removed only built in object methods s

[2020-06-25 19:20] croraf commented on #530
When these match branches are removed the following example fails (with and without parentheses around the `many['findIndex']`):

[code]

returning -1 instead of 1

[2020-06-25 20:03] jasonwilliams commented on #361
@1ntEgr8 how is it going with this?

[2020-06-25 21:00] Razican commented on #530
Hi, I'm not sure on what are we talking about. I would prefer if you could explain the issue with the issue template we provided.

[2020-06-25 21:04] croraf opened #531 "[builtins] Builtin function doesnt have constructor property"
**To Reproduce**
`[].findIndex.constructor`

**Expected behavior**
Should return a `Function` constructor. Instead `undefined` is returned.

Custom functions do have `constructor` property which returns correctly.

[2020-06-25 21:07] croraf commented on #530
It is not actually a bug. It is a suspicious code (code optimization), if you have that label you can change.

[2020-06-25 21:18] croraf commented on #530
I updated the original ticket. Hopefully it is more clear now. We also had some in depth discussion on the discord.

[2020-06-25 21:32] 1ntEgr8 commented on #361
@jasonwilliams sorry, i've been busy with work. i'll try to get this done within the next week. sorry for the delayed response

[2020-06-27 12:28] croraf opened #532 "[builtins - Object] Object.getPrototypeOf returning incorrectly"
**To Reproduce**
[code]

**Expected behavior**
Should return the prototype object whose constructor field points to `function a(){}`.

`undefined` is returned instead.

[2020-06-27 14:28] croraf commented on #532
This is actually related to the fact that object `d` above has no  `__proto__` field defined.

[2020-06-27 17:31] croraf commented on #426
@HalidOdat How is `print` equal to `console.log`. In Chrome for example `print` invokes printing dialogue.

[2020-06-27 17:39] croraf commented on #361
I'm actually fine with printing the function as an object with its properties. Like:
[code]

This is something that currently gets outputted on:
[code]

But for `console.log(a)` it fails with:
[code]

I would like at first to output function in `console.log` same as it is outputted when evaluating the function.

[2020-06-27 17:59] croraf opened #533 "[exec - function] function.prototype doesn't have own constructor property pointing to this function"
**Describe the bug**

`function.prototype` should have an own `constructor` property pointing back to that function.

**To Reproduce**
[code]

**Expected behavior**
Should output this:

[code]
Instead top level `constructor` field is not present in the response.

[2020-06-27 19:18] n14little commented on #405
Just put up a PR for this. The issue was fixed somewhere and the code in the PR just re-instates the ignored tests and then adds the branch for checking if a value is a symbol.

[2020-06-28 05:52] HalidOdat commented on #426
`print` in boa cli is set to `console.log` methods here https://github.com/boa-dev/boa/blob/master/boa_cli/src/main.rs#L178

[2020-06-28 13:27] croraf commented on #426
@HalidOdat Why would we do that as this is not behavior neither in node, in chrome nor in FF?

[2020-06-28 13:49] HalidOdat commented on #426
No clue. This is why I suggested to remove it.

[2020-06-30 13:59] hello2dj commented on #401
sorry, I'm too busy to have time to do this. I will unassign me.

[2020-07-01 05:04] zanayr commented on #349
I think I can handle this. :)

I assume it'll live in number/mod.rs?

[2020-07-01 05:53] mr-rodgers commented on #524
Maybe this is something I can help with?

[2020-07-01 10:12] HalidOdat commented on #349
Yes. There already is the `to_precision` function but its not implemented [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/number/mod.rs#L165-L188)

[2020-07-01 10:15] HalidOdat commented on #524
Yes. It would be awesome to have it for newcomers to the project :)

[2020-07-02 10:55] Razican commented on #503
After reviewing the specification, I can see that the only static error that this should throw should be in case we find a unicode scape sequence in the flags:
https://www.ecma-international.org/ecma-262/10.0/#sec-literals-regular-expression-literals-static-semantics-early-errors

But then, on runtime, we get the Syntax Error:
https://www.ecma-international.org/ecma-262/10.0/#sec-regexpinitialize

[2020-07-02 17:43] HalidOdat opened #539 "Lexing and Parsing errors should throw a `SyntaxError`"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Any invalid syntax like `{`.

**Expected behavior**
The expected behavior would be a `SyntaxError` with the parser error.

**Actual behavior**
we get a panic with the message.

**Additional context**
I think the best way to implement this would be to have the lexer and parser, generate the error as we do now

[2020-07-02 19:54] Razican commented on #539
Hmmm this is interesting, where do we panic? I thought we just returned a parsing/lexing error.

[2020-07-02 20:02] HalidOdat commented on #539
Sorry about that, we don't panic but we print the parsing error and exit <https://github.com/boa-dev/boa/blob/master/boa/src/lib.rs#L83-L85>

[2020-07-02 21:42] #524 closed

[2020-07-02 21:43] #405 closed

[2020-07-03 15:11] Razican commented on #539
True, that should throw a Syntax Error :)

[2020-07-03 21:02] n14little opened #545 "JSON.stringify should throw TypeError("cyclic object value") when a circular reference is found."
**Describe the bug**
JSON.stringify should throw a TypeError when it encounters a circular reference. Currently, the stack overflows.

**To Reproduce**
[code]

**Expected behavior**
A TypeError should be thrown. See NOTE 1 in the [spec](https://tc39.es/ecma262/#sec-json.stringify)

**Build environment (please complete the following information):**
 - OS: Ubuntu Linux
 - Version: 20.04
 - Target tr

[2020-07-04 18:51] Lan2u commented on #12
Now that we have goal symbol support (in the form of #486) is it worth giving this a go - do we have any progress already in terms of running test262 on boa?

[2020-07-04 21:01] HalidOdat commented on #12
No progress yet in terms of setting up the harness of the tests

[2020-07-04 21:05] Lan2u commented on #12
Ok cool, I can potentially start looking at this

[2020-07-05 01:36] joshwd36 commented on #401
I'm happy to take a look at this

[2020-07-05 09:13] HalidOdat commented on #401
Sure! Tell us if you need any help or have any question :)

[2020-07-05 10:17] jasonwilliams commented on #487
`{a: 1}` should output `{a: 1}` because its an object literal, have you tested this in other engines?

[2020-07-05 10:19] jasonwilliams opened #548 "Support Label statements"
**ECMASCript feature**
https://tc39.es/ecma262/#sec-labelled-statements

**Example code**
[code]

[2020-07-05 12:03] croraf commented on #487
@jasonwilliams incorrect. Please check previous comments.

[2020-07-05 12:10] croraf commented on #487
Strange.
I'm pretty sure I tested this exact example and it gave out the code block with label `a` pointing at 5. But now I'm retesting in Chrome and indeed gives an object `{a: 5}`. Could it be the behavior changed in the meantime in Chrome.

I managed to reproduce with `{a: 5};` (note the semicolon at the end) in Chrome. I'll test again in boa these two examples (with and without the semicolon).

[2020-07-05 12:13] joshwd36 commented on #401
Thank you! I've been having a go at it, and I was wondering what the best way to store the data would be? With arrays, the data is stored in fields which makes sense with how the API looks, but with Map the data is hidden and only accessed through methods on the object. Should it be stored as a field of the rust struct, similar to bigint and the like, or something else?

[2020-07-05 12:54] HalidOdat commented on #401
Good question! The beast way to store it would be in [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L66-L78) and create a field `Map` that would hold a `HashMap<Value, Value>`.

[2020-07-05 13:04] joshwd36 commented on #401
Thank you! I'll try that out

[2020-07-06 09:23] croraf commented on #487
OK. I've checked. In boa:

`{a: 5}` throws `Parsing Error: expected token ';', got ':' in expression statement at line...` instead of outputting the object as in Chrome.

`{a: 5};` (notice semicolon termination) throws the same `Parsing Error: expected token ';', got ':' in expression statement at line...` instead of outputting `5` as in Chrome.

[2020-07-07 11:04] Razican commented on #487
This is being worked on in #549.

[2020-07-07 14:17] #426 closed

[2020-07-08 06:21] benjaminflin commented on #36
I'd like to take a look at `reduce`

[2020-07-08 07:59] Razican commented on #36
Go ahead! :D

[2020-07-08 08:26] Razican opened #551 "Implement an easily replaceable Printer for `console`"
**Current situation**
We currently have the [`Console`](https://console.spec.whatwg.org/) standard implemented, but we don't implement it with the common [`Logger`](https://console.spec.whatwg.org/#logger), [`Printer`](https://console.spec.whatwg.org/#printer) and [`Formatter`](https://console.spec.whatwg.org/#formatter) operations. This prevents crates using Boa from creating their own printers t

[2020-07-08 10:12] Razican commented on #545
To solve this, we need to modify the `JSON.stringify()` function, implemented [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/json/mod.rs#L93-L171).

Here, before adding a new property to the object to return, we need to check if the object to return already has the same value as a parent. For cases where we have a replacer, this is done directly in that function. If we don't, t

[2020-07-08 10:16] croraf opened #552 "[builtins - Object] Object.defineProperties() not implemented"
Also, as per: https://github.com/boa-dev/boa/pull/543#discussion_r450857804 , after this is done, `Object.create` should be improved to handle second argument (the object properties) along with some tests.

[2020-07-08 10:30] Razican commented on #552
Hi, this seems to be a new enhancement request, not something that is buggy. Could you please fill the template we have for this? There are no links to the spec or proper explanations on what this means.

[2020-07-08 10:50] croraf commented on #552
Which explaination you need on "Object.defineProperties() not implemented"?

[2020-07-08 12:15] Razican commented on #552
Done in #554.

Do you have a link to the spec where this is explained? A code example that you would like to make work?

Also, you mention `Object.create`. What is this second parameter? Do you have a link to the spec? An example code? You mention we should add new tests. Which tests? why?

[2020-07-08 12:23] croraf commented on #552
It should not be my job as a end-user and reported to suggest the way how to implement it, and provide suggestions where to find the information. This should be at the reporters discretion on add this or not. The issue and request is perfectly clear as is.

Although I think this is also clear, I added a link to the related closed issue.

[2020-07-08 13:07] Razican commented on #552
Sure, but understand that the more detail you give, the more possibilities you have for us to take this into account.

In any case, let me add some information for future developers.

This is defined in the spec [here](https://tc39.es/ecma262/#sec-object.defineproperties). This should be added to the `Object` global object in [this](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/objec

[2020-07-08 15:19] HalidOdat commented on #552
Yes. `ToPropertyDescriptor()` and  `DefinePropertyOrThrow()` are not implemented, I planed to fix/implement (the internal methods are not spec compliant) them after #553

[2020-07-09 16:45] benjaminflin opened #557 "Setting array length does not delete elements."
**Describe the bug**
According to the [spec](https://tc39.es/ecma262/#sec-properties-of-array-instances-length), shortening `array.length` should delete elements in the array. Currently, array elements that are accessed beyond the array length are not necessarily `undefined`.

**To Reproduce**
[code]

**Expected behavior**
`arr[4]` should be `undefined` but instead is `5`.

**Build environment**

[2020-07-10 07:25] zanayr commented on #349
Hello, I'm finally moving on this, sorry for the delay. I understand what we are trying to do with toPercision, but I have a few questions concerning the ECMA documentation:

1. In step 9.a, "let e and n..." I'm going to need an explainer on this math.. or a resource.. I understand some of it, but I'm not really familiar with range math? I think..
2. In step 9.b, "let m be the String..." Does that

[2020-07-10 23:38] zanayr commented on #349
Actually I think I just figured out #1. It's just a fancy way of saying n * 10^(e - p + 1) - x
The other questions still stand, but I think my assumptions are correct with those as well.

Best,

[2020-07-11 10:58] HalidOdat commented on #349
Hi @zanayr

Maybe checking other engines implementation will help:
V8: <https://github.com/v8/v8/blob/4b9b23521e6fd42373ebbcb20ebe03bf445494f9/src/conversions.cc#L1159-L1225>
SpiderMonkey: <https://searchfox.org/mozilla-central/source/mfbt/double-conversion/double-conversion/double-to-string.cc#241-293>

[2020-07-11 23:15] #510 closed

[2020-07-15 06:45] Razican opened #564 "Add benchmarks for "uglified" JS"
Currently, all of our benchmarks take non-uglified JavaScript as input. This is fine for some scenarios, but we should also have benchmarks for "uglified" or "minified" JavaScript.

This usually creates smaller variable and function names, and removes spaces and new lines, which should speed up parsing and even a bit the execution.

[2020-07-15 07:00] Razican opened #565 "Use `smol_str` for identifiers"
Currently, we use a partially optimised version of `String` for identifiers and function names parsing and lexing. While it's OK, we could greatly benefit from using small strings that will usually be stored inline.

The [`smol_str`](https://crates.io/crates/smol_str) crate was made for this, and it's being used on rust-analyzer, for example. It will store up to 22-bytes (ASCII characters) inline,

[2020-07-15 07:36] Razican commented on #279
Interesting review of interners [here](https://dev.to/cad97/string-interners-in-rust-797). This could maybe co-exist with #565, or replace it.

[2020-07-15 11:01] neeldug commented on #565
After looking into lasso's usage, specifically for node identifiers, at which scope would you want the cache to be kept at?

[2020-07-15 19:08] neeldug commented on #565
Was looking into the property of a Boa structure, in doing so would the constructor have to call the constructor of the lexer, the parser and the interpreter, or would those be passed into the constructor to hold as a pointer. I also was trying to make the structure for the interner less convoluted by generating its own method, but can't access the Key type as it's private, if you have any suggest

[2020-07-16 09:06] Razican opened #569 "Implement the "Comma" operator"
**ECMASCript feature**
The comma operator allows dividing expressions and running them all one after the other, returning the rightmost result. The `Comma` punctuator is already being lexed, but it fails to parse, because it has no binary operation associated [here][as_binop].

We should define a binary operation [here][binop] and then define how it should be executed [here][exec_binop].

[as_bino

[2020-07-16 20:56] benjaminflin commented on #36
Also Since I did `reduce`, `reduceRight` should be pretty straightforward to implement.

[2020-07-17 01:15] neeldug commented on #564
I was wondering roughly for the test cases, whether it should have both a regular and uglified test case for comparison, and also roughly how long the test case should be for a reliable and significant benchmark?

[2020-07-17 10:57] littledivy opened #575 "Expose API to Deno"
[Deno](https://deno.land) is another runtime for JS/TS written in Rust similar to Node.js

There is no such JS parser for Deno that can be used as a library. Also, since Deno uses v8 bindings exposing them will not be ideal. I find Boa quite useful for Deno devs who would want to compile JS (just like how `acorn` does on Node.js)

Bindings to Deno can be either provided using [`deno_core`](https:/

[2020-07-17 12:14] jasonwilliams commented on #575
Related: https://github.com/boa-dev/boa/issues/445

[2020-07-17 16:12] #401 closed

[2020-07-18 01:38] joshwd36 opened #576 "Implement for...of syntax for Iterables"
As more collections are added, it would be useful to implement the `for...of` syntax for Iterables, and adding iterables to the String, Array, and Map types. [ECMAScript specification][spec].

[spec]: https://www.ecma-international.org/ecma-262/10.0/index.html#sec-for-in-and-for-of-statements

This code should now work and give the expected result:
[code]
The expected output is:
[code]

I'm happy

[2020-07-19 08:16] Lan2u commented on #576
You could make a branch-based from #559 if you wanted to get started right away, I expect that most of the work regarding this would be in the parser (syntax/parser/statement/iteration) and exec (exec/iteration/mod.rs)

[2020-07-19 22:55] HalidOdat opened #577 "Decouple `Object` from `Value`"
**What is the problem with the current implementation?**
The problem is that we treat `Value` as an `Object` which is not always the case. for example `Value` has a `.set_field()` which sets an object field, this does not make sense for a couple of reasons:
 - what if `Value` is not an object should calling `.set_field` panic?, should it ignore it? should it return an option or result? or somethin

[2020-07-20 01:26] HalidOdat opened #578 "Extract `prototype` from internal slots"
**What is the problem with the current implementation?**
The problem is that `prototype` instance is stored in the `internal_slots` the internal slots are stored as `HashMap<String, Value>`, this is slow, every time we want to access prototype we have to do hash lookup and the use it.

Changes:
 - Extract `__proto__` to `Object`, this should optimize prototype chain lookup

[2020-07-20 21:25] #578 closed

[2020-07-21 00:26] #497 closed

[2020-07-21 21:12] joshwd36 opened #585 "Implement Well-Known Symbols"
It would be useful to implement the well-known symbols, in order to do things like properly implement iterators (#576). [ECMAScript specification](https://tc39.es/ecma262/#sec-well-known-symbols).

This code should now work and give the expected result:
[code]
The expected output is `Symbol(Symbol.iterator)`.

The simplest way of doing this would be to have the symbols initialised in the `init` fu

[2020-07-21 22:50] HalidOdat commented on #585
Hmmm. Here is another solution:

We move `create_intrinsics` to the `Interpreter`, and in `Interpreter::new()` we call it, like we do in `Realm::create()`, we could add a getter for the `global` object, and we can pass the interperer instead of global object

What do you think? @joshwd36

[2020-07-21 23:22] jasonwilliams commented on #585
Side note, `create_intrinsics` was called by realm::create to match up with the spec https://tc39.es/ecma262/#sec-createintrinsics

[2020-07-21 23:38] HalidOdat commented on #585
It shouldn't matter where we call it, it is only an implementation detail.

[2020-07-21 23:45] joshwd36 commented on #585
That would work too. I guess something to consider with that is if possibly a user wanted to use the same realm in multiple interpreters, if that's even possible, but other than that I can't see a problem.

[2020-07-21 23:53] HalidOdat commented on #585
Currently the `Realm` is consumed by the `Interpreter` so I don`t think this is a concern, at least for now.

[2020-07-21 23:55] joshwd36 commented on #585
That's fair. For the sake of following the spec it might be best to keep it in Realm::create, but I don't really have any preference. What situations are there where it would be useful to use the interpreter in future?

[2020-07-22 00:05] HalidOdat commented on #585
This is an implementation detail, it's does not matter where we initialize the builtin stuff, as long as they are initialized, It does not change expected behaiviour.

An example is `.set_field()` currently it uses the `ToString` trait `to_string()` which calls `Display`, this is not spec compliant, it should call `Interpreter`s `.to_string()` #373

[2020-07-22 00:25] joshwd36 commented on #585
That's interesting, as it definitely seems interpreter is needed there. This might be the best way then.

[2020-07-22 02:41] joshwd36 commented on #585
I had a go at this to see whether anything came up and and it ended up working very well. Should I make a PR or wait for more discussion here?

[2020-07-22 02:50] HalidOdat commented on #585
Awesome!

You can make a draft PR and we will be able to see if we need to change anything, or if we need more discussion, it's good to have a example of one of the solutions :)

[2020-07-22 14:07] KashParty commented on #569
Hi, I've tried to implement this and it works for the example given (the output is 11, as expected) and other similar cases. However, I found some issues with my naive solution. For example:

[code]

This should be identical to the example given above, but it seems to ignore the 1, and runs `b += b` instead. So far I have only seen this behavior for assignment operators. Originally, I thought that

[2020-07-22 15:25] HalidOdat commented on #569
Hey @KashParty

Hmmm. Interesting. About the second one, it is a bug, but not as we expected, the bug is that this works `anyNonAssignableExpression = 4` and it evaluates to `4`, this is wrong and should throw a `SyntaxError`. and when we do this `a = false && b = true;` or `a = true && b = false;` the operation on order is right `a = ((false && b) = true)`, this is because assignment has [low pre

[2020-07-22 16:01] HalidOdat opened #588 "Assignment to non-assignable expression should throw a `SyntaxError`"
**Describe the bug**
Assignment to non-assignable expression should throw a `SyntaxError`.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

**Expected behavior**
Explain what you expected to happen, and what is happening instead.

Running this code, should throw a `SyntaxError`.

SpiderMonkey: `SyntaxEr

[2020-07-22 20:40] cemremengu commented on #149
Not going into much detail, this is perfect as an embedded engine to run action snippets. (i.e a rule engine)

Hint: Just try embedding V8 into anything

[2020-07-22 20:51] cemremengu commented on #116
@jasonwilliams I think this is already added (as I understand from the dicussions)

[2020-07-23 08:41] Lan2u commented on #588
I will have a look at this as part of #559

[2020-07-23 08:54] 54k1 commented on #557
Hey I'm new to this codebase and decided to take a look at this. Please correct me if I'm wrong.
I have seen how arrays are implemented. Basically it is a dictionary with array indices as properties (as inferred from [this](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/array/mod.rs#L92-L106) builtin).

Object properties are separate from ObjectData and the function responsible for se

[2020-07-23 15:44] #507 closed

[2020-07-23 16:30] HalidOdat commented on #557
Hi @54k1

This is a problem with [Internal Object Methods](https://tc39.es/ecma262/#sec-object-internal-methods-and-internal-slots) , they currently are only set for ordinary objects, but not for array, string etc. Every object in the spec gets these internal methods an example is [`[[DefineOwnProperty]]`](https://tc39.es/ecma262/#sec-ordinary-object-internal-methods-and-internal-slots-defineownpr

[2020-07-23 22:24] benjaminflin commented on #557
@HalidOdat I was wondering how you were going to go about overriding internal object methods for exotic objects in general, since at the moment doing something like `exoticObj.specialProperty = value;` will always call the ordinary object internal methods. I'm guessing that it would not be preferable to do a check for the object type in `OrdinaryDefineOwnProperty` but also it wouldn't make sense t

[2020-07-23 23:31] HalidOdat commented on #557
This is how I intended to do it, we have the internal method for example `[[set]]`, we also have the type definitions of what the object is `Array`, `Map`, etc. We have all we need to make this a static dispatch. So something like this:
[code]
This way of implementing this allow the compiler to do some optimization that can't be done in dynamic dispatch.

If you have a better solution, or a way to

[2020-07-23 23:55] HalidOdat opened #591 "Fix Internal Object Methods"
**What is wrong with the current implementation?**
Currently are only set for ordinary objects, but not for array, string etc. Every object in the spec gets these internal methods an example is `[[DefineOwnProperty]]` for ordinary objects it calls `OrdinaryDefineOwnProperty` but for Array `[[DefineOwnProperty]]` is different when the property that is being defined is "length" it calls `ArraySetLen

[2020-07-23 23:57] HalidOdat commented on #557
Created the issue we can discuss it there #591.

[2020-07-25 20:48] #341 closed

[2020-07-25 22:31] HalidOdat commented on #445
I have wondered about this for a while now, why does `forward` return a string it does not make sense to me, it should `forwrad` the value (`ResultValue`) not convert it to a string, `forward_val` does that, which does not make sense either. The default behaviour should be to forward the value and if we need a string we will convert it.

I would suggest making rename `forward_val` to `forward`, an

[2020-07-26 19:21] Lan2u commented on #252
@jcdickinson did you make any progress on this?

[2020-07-27 03:03] jcdickinson commented on #252
Slow progress, I have most of the ctor stuff done. It's a pretty hairy spec.

[2020-07-27 10:26] Lan2u commented on #252
Shall I add you as assigned to this issue then? 😃

[2020-07-27 15:09] #413 closed

[2020-07-27 17:38] jcdickinson commented on #252
@Lan2u sure, I can do a WIP PR for now.

[2020-07-28 00:34] #172 closed

[2020-07-29 14:48] #585 closed

[2020-07-29 16:23] #569 closed

[2020-07-31 06:25] HalidOdat opened #602 "Indexing strings"
**ECMASCript feature**
Just like arrays you can also index the characters in a string.

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `'h'`. the actual output is `undefined`.

This happens because the internal slots are not set for string objects. #591

[2020-08-06 12:34] 54k1 commented on #531
I think [make_builtin_fn](https://github.com/54k1/boa/blob/master/boa/src/builtins/function/mod.rs#L516) should take even global as parameter (apart from parent), just like [make_constructor_fn](https://github.com/54k1/boa/blob/master/boa/src/builtins/function/mod.rs#L450). Then, we can set the constructor field as "Function" of the builtin which is fetched from the global object. Then the signatu

[2020-08-06 16:00] HalidOdat commented on #531
Yes. this is good solution, maybe we should accept an `Interpreter` so we have more control and we can call `Interpreter::global()` which return the global object. Accepting `Interpreter` can make it easier to implement caching in the future for common objects like `Object`, `Array`, `Function` and there prototypes instead of doing it through `.get_field`.

@54k1 should I assign you to this issue?

[2020-08-06 16:04] 54k1 commented on #531
Yes, that would be a good solution to take Interpreter as the parameter. Thanks for pointing it out.
I was however just checking the specification of [Function instances](https://tc39.es/ecma262/#sec-function-instances). It does not mention anything about the "constructor" field. Is it something left to the implementation?

Sure, I can take this up.

[2020-08-06 16:15] HalidOdat commented on #531
Good catch! should have looked at the spec first. What we are trying to do is not spec compliant. the `"constructor"` field is not a part of the function instance, it is from the `Function` `prototype`. So what we need to do is set the prototype (`__proto__`), not the owned property field `"constructor"`. [here](https://github.com/54k1/boa/blob/master/boa/src/builtins/function/mod.rs#L523-L524) th

[2020-08-06 17:05] 54k1 commented on #531
Thanks for pointing this out.

[2020-08-07 06:29] elasmojs opened #605 "Division operator parse error pattern"
Hi

The following code snippet causes a parse error

[code]

[2020-08-07 06:46] HalidOdat commented on #605
Hi @elasmojs

This is a bug related to the lexer, that has been fixed in the `new_lexer` branch :)

[2020-08-07 07:05] elasmojs commented on #605
@HalidOdat Thank you for the quick response :)

[2020-08-07 13:42] #252 closed

[2020-08-07 16:37] 54k1 opened #606 "Altering vital properties of builtins"
**Describe the bug**
Some internal properties (which must not be allowed to set by the user) are being set.

Ex:
[code]

**Expected behavior**
Such things must not alter the contents of a property. For example, in the case of `Object.prototype`, the [spec](https://tc39.es/ecma262/#sec-object.prototype) tells the property must be NOT (writable, enumerable, configurable). But it [looks like](https:/

[2020-08-07 16:40] HalidOdat opened #607 "Rename `Object::prototype()` and `Object::set_prototype()` to `Object::prototype_instance()` and `Object::set_prototype_instance()`"
The `Object::prototype()` returns the prototype instance `__proto__`, so it makes more sense to call it `Object::prototype_instance()`. they are is located [here](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L432-L439)

[2020-08-07 22:03] jcdickinson opened #608 "`Debug::fmt` Causes Causes a Stack Overflow"
**Describe the bug**
For any object that contains `prototype`, `Debug::fmt` will cause a stack overflow. This is especially frustrating when some tests fail, as it can mask the reason for the failure.

**To Reproduce**

Evaluate the following JS and `println!("{:?}", result)`.
[code]

**Expected behavior**

Print the debug structure of the value.

**Actual behavior**

A stack overflow occurs.

**B

[2020-08-08 07:16] 54k1 commented on #606
I think one solution is to add a new method on objects: `insert_internal_property` (or any other name) which will insert a new property with attributes (READONLY, NON_ENUMERABLE, PERMANENT). Then we must replace the calls to `insert_field` at various places by `insert_internal_property`.

@HalidOdat could you share your thoughts about this?

[2020-08-08 08:13] elasmojs opened #610 "Error in RegExp"
Hi,

The following code snippet works incorrectly for RegExp

[code]

Expected: `Smith, John`
Got: `Smith, $1`

thanks

[2020-08-08 11:56] HalidOdat opened #611 "`Object` iterators"
Iterators for iterating through the Object properties
[code]
This would iterate through all the key-value pairs `PropertyKey` and `Property`

also having other iterators can be very useful:
| name                  | description                                                                 |
|-----------------------| ----------------------------------------------------------------------------|
|

[2020-08-08 12:08] HalidOdat opened #612 "`Symbol` Indexing"
**ECMASCript feature**
Explain the ECMAScript feature that you'd like to see implemented.

Currently we can set `Symbol` but not access them.

**Example code**
Give a code example that should work after the implementation of this feature.

[code]
The expected output is `10`, but the actual output is `Uncaught: "TypeError": "can't convert symbol to string"`

[2020-08-08 12:12] HalidOdat commented on #610
Hmmm. This this is probably a bug in `String.prototype.replace`.

[2020-08-08 12:41] HalidOdat commented on #606
Hmmm. I would rename `insert_property`to `insert` and add `insert_property` with the following signiture:
[code]
This way forces us to change all calls to add the attributes:
[code]

And we remove the `insert_field`

What do you think @54k1 ?

[2020-08-08 13:11] 54k1 commented on #606
Actually I do not understand why `insert_property` must return an Option.

Yes, this would be better. However, I think it'll also be handy to have a function to insert properties whose attribute is (READONLY, NON_ENUMERABLE, PERMANENT) since there are many properties (>=68) with those attributes. This way code can be simpler at call sites in those cases

[code]

@HalidOdat what do you think about

[2020-08-08 13:42] HalidOdat commented on #606
If there already was a property with with the same `key` then a the old property is returned and the new property is put inplace, other wise one is returned this is what `HasHMap::insert()` does.

We have a `Attribute::DEFAULT` with (`READONLY`, `NON_ENUMERABLE`, `PERMANENT`):
[code]
Having the property be explicit, as the spec does, is nice. If we have multiple places we can factor it out:
[code]

[2020-08-08 14:00] HalidOdat opened #613 "Cache standard objects (`Array`, `Object`, etc) and there prototypes"
**What is the problem with the current implementation?**
The problem is that when we access a standard object we use `.get_field()` to get it from the global object, the problem is that we have to do a hashmap lookup and `.get_field()` does other checks that are not necessary.

we have to do:
[code]
or to get the prototype we have to do two HashMap lookups
[code]

**Proposed changes**
Store the co

[2020-08-09 02:19] elasmojs opened #614 "Unexpected result in exponentiation assignment"
Hi

There is an unexpected result in exponentiation assignment
[code]
expected output: `NaN`
got: `1`

thanks

[2020-08-09 02:32] elasmojs opened #615 "Fix abstract relational comparison operators (`<`, `<=`, `>` and `>=`)"
Hi,
1.
[code]
Results in panic

-----------------------------------
2.
[code]

[2020-08-09 04:13] HalidOdat commented on #614
This has already been fixed in `master` branch when #520 landed (fixed all operation +, -, &, |, **), I'm assuming you are using version `0.9`, right?

[2020-08-09 04:19] HalidOdat commented on #615
Yes. the relation operators (`>`, `<`, `<=`, `>=`) are not spec complaint.

[2020-08-09 04:22] HalidOdat commented on #614
Closing this issue since it is fixed :)

[2020-08-09 04:22] #614 closed

[2020-08-09 05:02] #531 closed

[2020-08-09 05:56] 54k1 commented on #606
I should have taken a closer look before itself. Sorry about that.

We can then have the `insert_property` with the signature as suggested by you. I can get started with this.

[2020-08-09 06:06] 54k1 commented on #606
Actually, there's one more method which is used to insert properties: [insert_field](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/internal_methods.rs#L373). In case we want all property inserts to take an explicit attribute as argument, then we must remove it.

[2020-08-09 06:36] HalidOdat commented on #606
Yes. the `insert_field` should be removed.

[2020-08-09 17:35] elasmojs opened #618 "Unexpected output for rightshift assignment"
Hi

[code]

thanks

[2020-08-09 17:39] elasmojs opened #619 "Fully implement the spread operator"
Hi

console.log(sum.apply(null, numbers));

expected output: 6
got: undefined

thanks

[2020-08-09 17:48] elasmojs opened #620 "Unexpected output in unsigned right shift"
Hi
[code]
thanks

[2020-08-09 17:56] elasmojs opened #621 "Parse error for unsigned right shift assignment"
Hi,

Following code results in parse error;
[code]
thanks

[2020-08-09 17:58] HalidOdat commented on #618
Hi @elasmojs , thanks for reporting theese issues.

This has been fixed on master branch when #520 landed ;)

Would it be possible to use [Code blocks](https://docs.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks) in comment so its more readable , and state what version of boa you are tesing this on example `v0.9`, `master` (latest)

[2020-08-09 18:00] HalidOdat commented on #618
This has been fixed so closing this issue.

[2020-08-09 18:00] #618 closed

[2020-08-09 18:03] HalidOdat commented on #620
This is fixed in master branch #520

closing this issue.

[2020-08-09 18:06] HalidOdat commented on #621
This is Fixed on master branch

[2020-08-09 18:59] elasmojs opened #622 "Assignment to const results in panic"
Hi

Assignment to const causes panic instead of expected TypeError

const number = 42;

    try {
        number = 99;
    } catch (err) {
        console.log(err);
        // expected output: TypeError: invalid assignment to const `number'
        // Note - error messages will vary depending on browser
    }

    console.log(number);
    // expected output: 42

thanks

[2020-08-09 20:19] elasmojs opened #623 "Test Project"
Hi

Created a test project for Boa based on [Mozilla Reference](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference) over here: [Boatest](https://github.com/elasmojs/boatest)

It is not complete but adequate, i think

thanks

[2020-08-10 10:07] tommyZZM commented on #445
if I wants to embed boa into some native application.

I wants more featured API. so that i can call rust code from javascript and return javascript value from rust code.

maybe like nodejs's napi, https://nodejs.org/api/n-api.html

[2020-08-10 10:20] Razican commented on #445
You currently _can_ do this, if I'm not mistaken, but it's a bit difficult to make it happen.

[2020-08-10 11:16] HalidOdat commented on #445
Yes. you can do this, I have been looking at making this a bit nicer, how `mlua`/`rlua`/`quickjs-rs` handles functions, something like:
[code]
Right now we pass the interpreter as the context, but this is not what we want, the interpreter is only a implementation detail, we might remove the `Interpreter` to switch to a `Vm` design which is a better and faster option. so we wrap the imlementation d

[2020-08-10 14:54] 54k1 commented on #606
I was just looking at this again. I think the current `insert_property` is named appropriately.
For inserting new properties(by specifying Value and Attribute), I think `insert_field` is better suited than plain `insert`.
We can have a new `insert_field` with the signature you had suggested previously.
[code]
Sorry for bringing this naming issue up and dragging this a bit too much :sweat_smile:.

[2020-08-10 16:59] HalidOdat commented on #606
Hmmm. I think it's fine to call it `insert` the only thing that can be inserted is a property descriptor.
The property descriptor are of two types data descriptor and accessor, so calling it `insert_property` (by "property" we mean a normal property like `"length"` not a property descriptor) is fine, in the future we when we will support acessores we will have a `insert_accessor`

[2020-08-11 08:20] Razican commented on #445
I would say it should be `undefined`. If I develop a Rust function that is callable from JS, I don't expect my Rust function to return anything valuable if I'm not returning it on purpose. I would return a `Value::null()` if I really need to return a `null` value.

Good question. I would just follow whatever happens in JS when you add more arguments to any function. So for example, the `new Date()

[2020-08-11 08:29] Razican commented on #608
I think we have to decide if we will somehow print the `prototype`, or if the `prototype` should have a special debug implementation, so that it doesn't end with circular reference debugging.

What do you think, @HalidOdat, @jasonwilliams, @Lan2u?

[2020-08-11 08:29] Razican commented on #623
Hi!
We are currently trying to integrate the official ECMAScript test suite ([test262](https://github.com/tc39/test262)) in #567. Would this be different?

[2020-08-11 11:11] HalidOdat commented on #445
Agreed. this is the way to go if we want to match what js does, in rust.

About the variadic arguments, one way of doing is as you said:
[code]
`&[Value]` would implement `FromValueMulti` and it should definetaly be possible do this. also there is a second way remember that I defined a `CallContext` as:
[code]
and we can implement on `CallContext` `arguments()` method which returns the `&[Value]`:

[2020-08-11 13:26] #615 closed

[2020-08-11 14:23] 54k1 commented on #622
There's a TODO mark for many of the methods in environment module. Are they supposed return `ResultValue` to indicate success or a failure so that the call sites can be notified upon errors and can handle them appropriately?

@HalidOdat could you verify this? Thanks.

[2020-08-11 14:57] HalidOdat commented on #622
Yes. the environments were set up before exceptions (`TypeError`, `ReferenceError`, etc), one way of solving this is to use `ResultValue` this  would require the `Interpreter` to be passed to every call. Another way is to create a `Error` enum, that contains, the error type and message and return `Result<TheNormalReturntype, Error>`, and when we call those function when we need to throw we convert

[2020-08-11 15:05] HalidOdat commented on #464
Cloasing this issue.

[2020-08-11 15:05] #464 closed

[2020-08-11 15:15] 54k1 commented on #622
Thanks for confirming this and suggesting the approach. Could I take this up?

[2020-08-11 15:39] HalidOdat commented on #622
sure! :)

[2020-08-11 16:01] jcdickinson commented on #608
`prototype` is merely a guaranteed case, as @HalidOdat points out on my PR.

One thought I had would be to have a trait such as:

[code]

The `HashSet` can then be used to avoid infinite recursion (by adding the address of `GcObject` to it), with the additional benefit that it won't print the same structure multiple times (which would make `Debug` nearly useless if you have a large structure appea

[2020-08-11 17:41] jcdickinson commented on #445
FWIW the current internal API is pretty awesome. I've used the ChakraCore integration API in the past, which is *designed* to be usable for integration (unlike V8), and Boa feels way more ergonomic than even that. The effort involved for a large public interface (`Date`) was minimal. Additional abstractions (e.g. `#[boa]`, `FromValueMulti`) could then operate against this raw public API.

IMO simp

[2020-08-12 12:04] Razican commented on #445
My experience with overloading stuff is that you have to decide where to stop, and it will increase compile times a lot (I'm looking at you, `diesel`). Do we need all this type checking?

It's not easy to define a good and only way of going from Rust values to JS values and vice-versa. We can just use  `&[Value]` (probably on the context is good), and let the users deal with value conversions.

Wh

[2020-08-12 12:24] HalidOdat commented on #445
If I was a user of `Boa` I would love to have this abstraction, I have used `mlua` and I love it, it's so easy to get started with minimal setup. while the compilation time will increase by a small amount, I think it's worth having this abstraction. We can have a compromise for this we can put it in a feature flag, like boa `attribte` flag for `#[boa]` if a user does not want to have this abstract

[2020-08-12 12:45] Razican commented on #445
I like the idea of having it behind a feature flag.

[2020-08-12 14:11] elasmojs commented on #623
@Razican Thanks. I was not aware of that, I want to have check of the spread for my own needs. If we have taken up the official test suite that is wonderful! Where can I see the results of the test, if available?

[2020-08-12 18:11] Razican commented on #623
We are still not able to run the test suite, so there are no results yet.

[2020-08-13 10:01] elasmojs commented on #446
@Razican  I can help with this.

[2020-08-13 10:25] Razican commented on #446
Go ahead! Thanks :)

[2020-08-13 15:15] elasmojs opened #628 "Panic when assigning function to object"
Hi

The following code pattern panics,

var person = {};
(function(){
    function talk(){
        console.log('Hello world!');
    }
    person.talk = talk;
})();

This is prevents loading of existing external JS libraries

thanks

[2020-08-13 21:42] RageKnify commented on #610
I think I've found the mistake and found the fix, I'll open a PR soon.

[2020-08-14 07:56] elasmojs opened #631 "Unexpected result when applying typeof to undefined value"
Hi

The following code throws error which is not the expected behavior,

console.log(typeof undeclaredVariable);

Expected: "undefined"
Got: error throw

This causes issues when parsing external libraries such which use this code pattern to determine module loader type (Node vs Browser vs Require). Code snippet link [tinycolor.js](https://github.com/bgrins/TinyColor/blob/master/tinycolor.js) line#

[2020-08-14 15:20] Razican commented on #564
It shouldn't be too long. With a small benchmark we should have enough information, since we do a statistical analysis. As far as I can see in the PR, I think that should be enough.

[2020-08-14 16:52] elasmojs opened #633 "Error in passing string value to function of type NativeFunctionData"
Hi

The dev branch seems pass string values along with quotes when passing arguments to functions of type NativeFunctionData

thanks

[2020-08-14 16:54] elasmojs commented on #446
@Razican the examples are completed except for point 4, i am not sure if I have figured that out. I will raise a pull request now

[2020-08-14 16:59] HalidOdat commented on #633
Could you give an example of this?

[2020-08-14 17:19] elasmojs commented on #633
I just issued a pull request for #446 (#634) , it has the snippet in modulehandler.rs line #44
hope that helps

[2020-08-15 14:42] HalidOdat commented on #633
This is not a bug, when you call `value.to_string()` it calls value `Display` trait which puts quotes around strings. instead use `Interperter::to_string(value)` after #625 this should be more intuitive. since to display it you have to call `Value::display()` and to turn the value to a string you call `Value::to_string(ctx)`.

[2020-08-15 22:46] #633 closed

[2020-08-16 13:09] HalidOdat commented on #445
I have a question, we have the `Value::to_unit32` and `Value::to_int32()` that convert the value to a `u32` or `i32` should we rename it to `Value::to_u32` and `Value::to_u32`? to match with Rusts `u32` and `i32` or stick to the specs naming.

[2020-08-16 15:31] Razican commented on #445
Yes, I think we should stay close to Rust naming conventions.

[2020-08-16 16:36] neeldug opened #639 "Refactor benchmarks to pull from a module containing all constants."
I think we should reduce the code repetition in the benchmarking, by creating a module containing all of the strings and importing the pertinent variables where necessary. This should allow for easier addition of benchmarks in future development. This is really just a small change with no performance benefit, but just easier readability for benchmarks.

[2020-08-16 16:53] #623 closed

[2020-08-17 05:22] #608 closed

[2020-08-18 06:19] 54k1 opened #641 "Test new_instance_should_point_to_prototype is not checked correctly"
**Describe the bug**
The [test](https://github.com/boa-dev/boa/blob/master/boa/src/exec/tests.rs#L753-L765) just checks if the prototype of the instance is an object using the `is_object` method.

Consider the following js snippet (similar to the example in the test):
[code]

The test currently asserts `typeof bar.__proto__ === "object"`
Rather it should assert `bar.__proto__ === Foo.prototype`.

[2020-08-19 12:33] Razican opened #644 "`undefined` constants panic on execution"
The following code panics when being run:
[code]

This is because we have not implemented the execution of undefined [here](https://github.com/boa-dev/boa/blob/master/boa/src/exec/mod.rs#L366-L410). The solution is simple enough as a good first issue:

You will need to add a match arm, that converts a `Node::Const(Const::Undefined)` to an `Ok(Value::Undefined)`.

This could also be related to #631

[2020-08-19 15:42] #532 closed

[2020-08-19 15:42] #533 closed

[2020-08-19 15:42] #641 closed

[2020-08-19 19:58] #611 closed

[2020-08-19 19:58] #612 closed

[2020-08-19 20:58] #639 closed

[2020-08-19 21:25] #631 closed

[2020-08-19 21:25] #644 closed

[2020-08-20 00:16] jcdickinson opened #647 "Ternary Conditionals Panic"
**Describe the bug**

Ternary expressions (`condition ? when_true : when_false`) panic.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

[code]

**Expected behavior**

Ternary conditionals don't panic.

[2020-08-20 00:16] jcdickinson opened #648 "Continue Panics"
**Describe the bug**
The `continue` statement panics.

**To Reproduce**

[code]

**Expected behavior**

`continue` does not panic.

[2020-08-20 07:56] Lan2u commented on #628
This is now fixed in the master branch

[2020-08-20 07:57] #628 closed

[2020-08-20 08:13] #564 closed

[2020-08-20 16:39] neeldug opened #652 "Precision issue with expm"
**Describe the bug**
On running cargo test, builtins::math::tests::expm1 fails its test, the stack trace shows that this is simply down to a precision issue with either the [test](https://github.com/boa-dev/boa/blob/c5b708b2ef0df5b98f2ebd945596ac3a555707ae/boa/src/builtins/math/tests.rs#L285), or the [implementation](https://github.com/boa-dev/boa/blob/d025207fc1967afbe91e317c5ae3dd98bdc29211/boa/

[2020-08-21 00:43] #652 closed

[2020-08-22 00:38] neeldug opened #655 "Test Refactoring HashMaps with HashBrown"
Currently, Boa uses `rustc-hash` for all HashMaps, from looking at the documentation, there are no specific benchmarks on this hashing algorithm, and so I propose we test [`hashbrown`](https://docs.rs/crate/hashbrown/0.8.2), which is Rust's port for Google's SwissTable hash map, I figure that if we find any drastic performance benefits, it may be worth considering switching, as `hashbrown` can be

[2020-08-23 21:30] neeldug commented on #655
@jasonwilliams did some testing which showed that the STL using `ahash` vs `rustc-hash` made negligible performance differences for the most part except for scaling  with `usize` `usize` hashmaps, this made major differences with `ahash` outperforming `rustc-hash` for inserting and deleting large quantities of usize pairs into the hashmap. I believe that unless this operation is common and at larg

[2020-08-23 23:15] #655 closed

[2020-08-24 14:04] Razican commented on #655
Just to give some extra information here, we are not using the default hashing algorithm, we are using `FXHash`, which is noticeably faster.

[2020-08-24 14:28] neeldug commented on #655
Actually, @Razican just wondering whether [these benchmarks](https://github.com/Amanieu/hashbrown#performance), performed a year ago, apply to Boa’s current state, as the benchmarks that I performed were quite naive in implementation due to lack of knowledge and reliability across machines.

[2020-08-25 06:32] Razican commented on #655
Feel free to make a PR. If it's more performant, we can replace our implementation :)

[2020-08-25 09:33] #647 closed

[2020-08-25 09:33] #648 closed

[2020-08-25 12:21] RageKnify commented on #433
I went back to the May 31st `commit` to see how the code looked back then and since then there was the Value Refactor by @HalidOdat https://github.com/boa-dev/boa/pull/498 which sped up objects and consequently field access by a lot.

Looking at https://boa-dev.github.io/boa/dev/bench/ it seems Realm Creation has become considerably faster than it used to be, keeping this up in case in the future

[2020-08-25 12:30] Razican commented on #433
The thing is that currently, we first tokenize + parse the whole program, and then we start creating the Realm. This creation is faster, but it could be parallelized with the lexing + parsing. We need it even if we fail to lex/parse, since we need to generate a Syntax Error.

[2020-08-25 13:36] RageKnify commented on #116
@jasonwilliams you implemented this in #217, but as I noted in #629 , there is a bug with the current implementation:
Copied from Chrome:
[code]
While on `boa` both would return `"??boa??"` because the string `".*"` is converted to a RegEx pattern.

Looking at the spec: https://tc39.es/ecma262/#sec-string.prototype.replace
I believe on point 2 if `searchValue` is a `RegExp` object it should give `

[2020-08-25 19:42] HalidOdat opened #663 "Calling a function that mutates itself causes borrow panic"
This is caused when we call a function we borrow the function object and we do not release the hold until function ends. see `GcObject::call` / `GcObject::construct`

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

[code]

**Expected behavior**
Not panic and x to have a property `y` with value `3`

**Actual behavior**
Panics:
[code]

[2020-08-26 10:58] neeldug opened #664 "`builtins::math::tests::expm1` MacOS Fix"
**Describe the bug**
This is a bug which is inherent throughout all languages due to the non-trivial floating point arithmetic varying implementations across platforms, this will result in certain platforms failing tests for various float-based operations that are non-trivial.

**To Reproduce**
Run `cargo test` on MacOS, and probably a few other OS's.

**Expected behavior**
All tests should pass,

[2020-08-26 10:59] neeldug commented on #664
I am planning to write a PR, using `float-cmp` for this, however, I'll wait for the go-ahead!

[2020-08-26 12:41] Razican commented on #664
Go ahead!

[2020-08-26 16:07] neeldug commented on #664
In fact, with `float-cmp` we can reinstate the `builtins::math::tests::tan` test, as this was commented due to a similar issue, this is linked to #260 where the test had to be commented out. I think perhaps it may be valuable to refactor many float-based tests in the math module to using float-cmp for assertions that they pass.

[2020-08-27 18:30] #288 closed

[2020-08-27 18:30] #294 closed

[2020-08-27 18:30] #456 closed

[2020-08-27 18:30] #588 closed

[2020-08-27 18:30] #605 closed

[2020-08-27 18:34] Lan2u commented on #508
Fixed by #559

[2020-08-27 18:34] #508 closed

[2020-08-27 21:28] dvtkrlbs commented on #663
i can try to fix this issue

[2020-08-27 21:39] HalidOdat commented on #663
Sure! Go ahead :)

[2020-08-27 22:54] neeldug commented on #565
@Razican this can be unblocked now right? As both changes have now landed.

[2020-08-27 23:39] dvtkrlbs commented on #663
hmm i understand why this issue happens since there is another borrow to the GcObject but i dont understand where the other borrow is and cant think of a way to fix it.

[2020-08-28 01:40] HalidOdat commented on #663
The other borrow happens in assignment expression execution we call `.set_field()` with borrows the object.
The second borrow is not that important where it happens as long as it happens somewhere.

The problem is that we borrow mutably the object and we don't release, why do we so this? It's because we take a reference of `StatementList` to call `.run` on it when so we don't have to clone the hol

[2020-08-28 05:30] #664 closed

[2020-08-28 17:37] dvtkrlbs commented on #663
hmm that makes perfect sense but now the problem is we can't derive Trace trait since it is not implemented for Rc<Statementlist>

[2020-08-28 18:04] dvtkrlbs commented on #663
My plan is to create a RcStatementlist and just use the empty trace macro for now to see if it works
but i have no idea on how trace system works

[2020-08-28 18:33] HalidOdat commented on #663
This is what I would have suggested, how does this make everything worse?

[2020-08-28 18:40] dvtkrlbs commented on #663
Than i cant even call run method (i thought Rc was just a wrapper type) it cant find most of the methods of the StatementList. I dont know i might just missing something i am kinda tired.

[2020-08-28 18:51] HalidOdat commented on #663
we need to implement `Deref` trait on the type it:
[code]
The `std::rc::Rc` implements `Deref`, but our wrapper type (`RcStatementlist`) does not.

[2020-08-28 19:20] dvtkrlbs commented on #663
Wait so Rc does not allow mutation and we need mutation to use set_field ?

[2020-08-28 19:33] HalidOdat commented on #663
we can use `.set_field()` since in object in `Value` is stored as a `GcObject` which allows interior mutability (Rc is not appropriate since we can have cyclic reference which the gc handles). And it has nothing to do with how we store the `StatementList` ast. it is completly sepatate from `.set_filed()`

GcObject is defied as `Gc<GcCell<Object>>` the GcCell allows interior mutability.

It does no

[2020-08-28 19:36] dvtkrlbs commented on #663
Got it thank you for the help. I probably should look at it tomorrow.

[2020-08-28 19:55] HalidOdat commented on #433
The problem with trying to implement a parallel initialization for Realm is that a lot of them depend on each other, even if that was not the case when we create a new `Gc<>` it is stored in a `thread_local` so `Gc<>` is not Sync or Send so we cant pass them through threads. we might be able to initialize the Realm in the main thread while we parse/lex the code.

[2020-08-28 21:59] jasonwilliams commented on #433
Parsing and lexing should be independent of realm setup as neither of those tasks require use of the Gc, it’s only when you’re ready to execute it becomes a problem.

Has this changed?
Last I checked realm setup happens first then parsing starts once’s it’s built. https://boa-dev.github.io/2020/07/03/boa-release-09.html

[2020-08-29 09:11] Razican commented on #433
Not that I'm aware of, I might have mixed up the order, but the thing is that one waits for the other.

[2020-08-29 12:03] dvtkrlbs commented on #663
Ok so i took an another look and i think we need to clone the body [here](https://github.com/dvtkrlbs/boa/blob/0fc8052f4ee8bc79ee3df265b855f66b421f641e/boa/src/builtins/object/gcobject.rs#L120) but just cloning the body does not fix the issue. I just called body.clone().run().

[2020-08-29 19:50] HalidOdat commented on #663
That is only one half of the problem the next is to release the borrow a nicer way of doing this is to create a enum
[code]
and return it in the if expression https://github.com/dvtkrlbs/boa/blob/0fc8052f4ee8bc79ee3df265b855f66b421f641e/boa/src/builtins/object/gcobject.rs#L68 then `match` on it outside of the borrow.

[2020-08-29 21:00] dvtkrlbs commented on #663
Ok so i did as you said [here](https://github.com/dvtkrlbs/boa/blob/c6d36a3579c5395304be23b6bffe02965dbb4351/boa/src/builtins/object/gcobject.rs#L144). But i still get a panic. (I wish runtime borrows were easier to debug 😞 )

[2020-08-29 22:27] HalidOdat commented on #663
Well the borrow is still active until the borrow guard goes out of scope (`GcCellRef`), borrow guard is [here]() and goes out of scope at the end of function scope. A way to fix this is with drop manually with drop function other and nicer way is to restrict it to the `if let` expression scope:

from:
[code]

to:
[code]

[2020-08-30 02:24] dvtkrlbs commented on #663
oh i thought with NLL it would get dropped before the function returns

[2020-08-30 09:19] dvtkrlbs commented on #576
I can take a look at this

[2020-08-30 09:40] joshwd36 commented on #576
I've made a start on it already, but haven't been able to work on it recently. I should have more time this week though so I'll try and finish it then, if not I'm happy to transfer what I've done over to you.

[2020-08-30 20:24] HalidOdat commented on #663
NLL does not work with dynamic borrows, only static ones

[2020-08-30 20:31] dvtkrlbs commented on #552
I can take a look at this

[2020-08-30 21:52] dvtkrlbs opened #669 "Redefining a function panics with binding already exists"
Redefining a function in repl panics with binding already exists error

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.
cargo run
`function x() {}` enter
`function x() { return 3; }` enter panics

**Expected behavior**
It should override the previous binding

Backtrace

[code]

[2020-08-31 04:48] jcdickinson opened #670 "Implement `for..in` for objects"
**ECMASCript feature**
I would like to see `for..in` syntax and execution implemented. [ECMAScript specification][spec]. This is important for test262, as it uses `for..in` pretty extensively.

**Example code**
[code]

The expected output is `a=test1;b=test2;`.

[spec]: https://www.ecma-international.org/ecma-262/10.0/index.html#sec-for-in-and-for-of-statements

[2020-08-31 05:26] jcdickinson commented on #576
Dropping #671 for whoever wants to take this on. See my comments there, as there is a tricky design question. My current thoughts are:

[code]

Note that #670 would also be closed, as `for..in` is simply a `for..of` with a built-in iterator.

[2020-09-01 16:04] #610 closed

[2020-09-01 17:24] dvtkrlbs opened #672 "Last expressions result gets returned from functions when there is no return"
When non returning functions mutates a property of another object that modified object gets returned even though we dont use the return statement

In the repl
[code]
y() should not return anything

[2020-09-01 20:27] RageKnify commented on #672
This can be generalized, it seems that when the last statement in a function is an expression the expression's result is returned rather than undefined.
[code]

[2020-09-01 20:39] RageKnify commented on #672
Problem is in: https://github.com/boa-dev/boa/blob/be20b65a9e1a2ac6d802f5c8f3f87edd149274eb/boa/src/exec/statement_list.rs
[code]
Regardless of the type of node, the value obtained from running it is used as the return value.

I think `StatementList`s are used elsewhere besides function, if so it might not be as simple as removing these lines....

[2020-09-01 22:48] jasonwilliams commented on #672
Seeing that all returns in JavaScript are explicit anyway, I wonder if StatementList can Ok(undefined), it should be safe as any return will change the interpreter state so it wouldn’t get that far. You could return Ok(val) directly from the return state branch in that link @RageKnify posted

[2020-09-02 00:21] RageKnify commented on #672
Should have been explicit on my PS, what happened when I tried removing the 3 lines was that the CLI started only returning `undefined`, because what the parser gives to be `run` with the `Interpreter` is a `StatementList`.

Changing the `break` to an early return wouldn't change the current flow, right?

[2020-09-02 13:49] #663 closed

[2020-09-02 14:34] Razican commented on #621
Actually, the `>>>=` operator is not yet implemented. I'm re-opening this.

[2020-09-02 14:39] Razican commented on #620
I'm re-opening this, since the parsing, for example is not yet implemented, so it still panics.

[2020-09-02 14:48] #408 closed

[2020-09-02 15:02] Razican commented on #240
I want to re-open this, since it seems this is now also panicking. We should never panic, and checking what this gives in Firefox, for example, I can see the following:
[code]

So, let's re-open it and track it, since we get this panic:
[code]

It seems that in the test262 branch this is fixed:
[code]

[2020-09-02 15:09] Razican commented on #210
I think this is fixed now, right? I can get the proper results using both methods.

I'm closing this for now, and removing the milestone, since it seems it was solved at least on 0.9.

[2020-09-02 15:09] #210 closed

[2020-09-02 15:35] HalidOdat commented on #621
The `>>>=` is not implemented but `>>>` is (in #520). `>>>=` should be easy to implement.

[2020-09-02 15:41] HalidOdat commented on #620
The `>>>` was implemented in #520, I tested this it works. got `1` and `1073741822` as expected

[2020-09-02 17:44] dvtkrlbs commented on #669
I can take a look at this

[2020-09-02 19:29] Razican commented on #620
Oh, true, closing again!

[2020-09-02 19:29] #620 closed

[2020-09-02 20:21] neeldug opened #675 "Add dependabot support for cargo crates"
This should be simple enough with a `dependabot` config file, to specify to use various package managers in the subdirectories as separate tasks. The [`documentation`](https://docs.github.com/en/github/administering-a-repository/configuration-options-for-dependency-updates), shows that there are a few options that can be tweaked depending on what's best for the specific project.

[2020-09-05 03:40] #675 closed

[2020-09-06 15:09] #12 closed

[2020-09-06 15:09] #240 closed

[2020-09-06 15:09] #539 closed

[2020-09-07 16:57] sele9 opened #690 "Value::to_json destroy the order of items in an Array"
**Describe the bug**
The order of array items is sometimes mixed after the conversion from boa::Value to serde_json::Value.

**To Reproduce**
I've added a few lines of code here:

https://github.com/boa-dev/boa/blob/edfafc4e0324da1548f672e6c1edc51a6e1337b5/boa/src/value/mod.rs#L242

[code]
The debugger shows me the following keys:
![Bildschirmfoto vom 2020-09-07 18-42-42](https://user-images.githu

[2020-09-08 13:19] neeldug commented on #565
Also @Razican currently the type being used is RcString for tokens correct?

[2020-09-11 14:33] RageKnify commented on #607
I'm gonna take this on and open a PR soon.

[2020-09-12 08:19] #607 closed

[2020-09-14 07:30] HalidOdat commented on #690
Iterating through the indexed keys is better so we should have:
[code]
we also dont do `.get_field()` twice, we only iterate though the properties that have a valid array index (this is faster since we store it in a separate space), we also don't call `.to_string()`.

What do you think? @sele9

[2020-09-14 23:24] RageKnify commented on #577
Hey @HalidOdat I found this interesting and am trying to tackle it.
To ensure I'm following your "vision", methods from builtins like `Array` would stop receiving `&Value` as `this` and instead receive `&Object`/`&mut Object`, right?

[2020-09-15 06:02] jasonwilliams commented on #577
@HalidOdat how are you handling boxing, unboxing of primitive values? I think I left set_field and get_field on value so things like `“hello world ”.trim()` would still work

[2020-09-15 08:55] HalidOdat commented on #577
We store some primitives on the stack (number, boolean, undefined, null) and string, bigint, symbol on the heap with Rcs (since they can't have cycles, less work for the gc) and object with `Gc`. we disused this in #465 .

Why would removing `.set_field` and `.get_field` cause `“hello world ”.trim()` to break?

[2020-09-15 09:23] jasonwilliams commented on #577
Ok sounds good.

I think originally the unboxing happened inside of get_field() where the value was checked and upgraded to an object of it was a primitive. `.trim()` would have called get_field(“trim”)

[2020-09-15 11:08] HalidOdat commented on #577
Changing `this` from &Value to anything else wont work, since they would not match the `NativeFunction` signature, and we should not change the `NativeFunction` to take object since it can be some value that is not an object.

We need to the check as described in the spec for when this is not a object for example: `Array.prototype.push`

It calls `.to_object` on `this` which converts it to a objec

[2020-09-15 12:34] sele9 commented on #690
I think the "sort" is not really needed. If it is an Array the order should be from 0 .. length currently i'am using:

[code]

[2020-09-15 13:02] HalidOdat commented on #690
This is how its implemented in the spec, but there is a problem with this approach, with sparse arrays for example:
[code]
with this implementation it will iterate through from 0 to `u32::MAX` (which takes around ~`1` minute) while the first implementation is less space efficient (Vec<u32>) will take a couple milliseconds.

[2020-09-15 13:05] RageKnify commented on #577
Yeah, I started at `.to_object`, I'll try to make it in small stages like you said.

One thing I was wondering, would the `global_obj` in `Realm` become an `Object`/`GcObject` or would it remain a `Value`?
And if it does change, which would be more aproppriate?

[2020-09-15 13:15] sele9 commented on #690
okay i'll update the PR

[2020-09-15 13:17] HalidOdat commented on #577
It should be `GcObject` since it can be referenced, `GcObject` is like `Rc<...>` (but it handles cyclic references) and the global object can be referenced form anywhere so we need to store it as such.

If it is referenced it should be `GcObject`, but if it is owned it's better to store it as `Object`

[2020-09-15 13:33] sele9 commented on #690
The compiler complains about the type, because sort does not return a value.
[code]
241 |                     let keys : Vec<u32> = obj.borrow().index_property_keys().collect().sort();
    |                                                                              ^^^^^^^ cannot infer type for type parameter `B` declared on the associated function `collect`

[2020-09-15 13:35] sele9 commented on #690
[code]
would work

[2020-09-18 10:29] jasonwilliams commented on #575
@divy-work sounds like its approved if you wanted to experiment with this

[2020-09-21 18:01] #690 closed

[2020-09-23 09:28] arpit-saxena commented on #621
I would like to work on this.

[2020-09-24 00:22] RageKnify commented on #577
I have created my PR, #712, I'll leave a note here as to how this should also eventually be done since I did it for `new_object_with_prototype`:
- [ ] `Value::new_object` -> `Object::new_object`

[2020-09-24 18:54] #621 closed

[2020-09-26 09:51] Lan2u opened #716 "Strict Mode Lex/Parse"
**ECMASCript feature**
As per https://tc39.es/ecma262/#sec-strict-mode-code and https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode ECMAScript can be processed using either strict or unstrict mode. When parsing/lexing we currently only account for the strict case in a few select areas such as number lexing however in-order for boa to support strict mode fully we need to e

[2020-09-26 17:51] croraf opened #718 "Split WebAPI (environment) built-in objects from the ES builtin objects."
Split WebAPI (environment) objects from the ES builtin objects.

Perhaps delegate the implementation of environment objects to some other library.

[2020-09-26 19:37] jasonwilliams commented on #718
I understand that things like console shouldn’t be in the engine, but it is used for debugging purposes and is making lives easier right now.

This will most likely be a low priority issue as I think Console is the only object that is external from the spec, and we benefit more from having it right now than we do by getting rid of it.
I also don’t know if many are embedding Boa right now for it to

[2020-09-26 20:30] croraf commented on #718
OK, but I would at least think of separating the Console from the "/boa" JS engine folder, and would inject it somehow into the environment (for example from the "boa_cli" or something)?

Doing this would also as a prerequisite require an API for putting external builtin objects into the execution context (or whatever is the proper terminology).

[2020-09-27 13:46] jasonwilliams opened #719 "Use test262 data to generate page to show our conformance"
Boa generates TEST262 data on every PR.
It then dumps out some JSON files which chart how conformant we are compared to the test262 suite.

Currently we do nothing with this data.
It would be good to it to our `gh-pages` branch and use it to generate a static page.

You can test this locally by running.
`cargo run --release --bin boa_tester -- -o gh-pages/test262`
then inspecting the JSON output.

[2020-09-27 16:43] jasonwilliams opened #720 "length is not updating properly on string within while loop"
**Describe the bug**
while loops do not seem to be working properly. The condition doesn't seem to re-run causing infinite loops in some places. Tested on 01b5cec04f079b7efe9fe643b310a7e9ce2a415a

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

`s` is being extended but its still looping forever

This i

[2020-09-27 17:07] jasonwilliams opened #721 "Move executable implementations with the rest of the struct impl"
It can be confusing to have the `Executable` implementation live elsewhere.
An example is  `Return`  which lives under the `node` directory https://github.com/jasonwilliams/boa/blob/master/boa/src/syntax/ast/node/return_smt.rs

However clicking through to Return from [`exec`](https://github.com/boa-dev/boa/blob/master/boa/src/exec/mod.rs#L110) doesn't take you to the executable implementation, ins

[2020-09-27 17:07] abhinitrpr commented on #720
Let me do it

[2020-09-27 17:21] jasonwilliams commented on #720
I think concatenation falls into here:
https://github.com/boa-dev/boa/blob/master/boa/src/value/operations.rs#L14

But the length isn't being updated

[2020-09-27 17:29] HalidOdat commented on #720
This concats the strings into a primitive string not object, the problem is when we convert a string to an object, in `Value::to_object` seen in line: `s.length` (converts s to an string object)
the problem is [here](https://github.com/boa-dev/boa/blob/master/boa/src/value/mod.rs#L708) we set the value of the string but not the `length` property

[2020-09-27 19:12] HalidOdat commented on #718
Proposed changes:
 - We put out implementation of the console object in an feature flags (maybe `console`/`console-object` flag) this will on by default or not, not sure.

 - Later on once we implement #551
 	- We will have a builder struct called `ContextBuilder` with will impl:
[code]
so we can do something like this:
[code]
later on we will be able to extend the `ContextBuilder` struct to maybe

[2020-09-28 00:25] RageKnify commented on #577
Hey @HalidOdat any idea on what I should try to change next? I was trying to change `Value::new_object` to return `GcObject`, which should probably also move to `Object`, but it would require a lot of changes in other places. So I wonder if there's anything smaller you have in mind.

[2020-09-28 07:58] georgeroman commented on #721
I would like to take this one

[2020-09-28 09:19] jasonwilliams commented on #111
Im going to close this as i think we've refactored quite a bit since this was made

[2020-09-28 09:19] #111 closed

[2020-09-28 09:29] jasonwilliams commented on #400
unassigned @brian-gavin due to inactivity, feel free to mention here if you still wanted this.
Marking as `Medium` due to the fact you can copy a lot from `Map()` implementation

[2020-09-28 09:36] jasonwilliams commented on #446
@Razican should this be on hold until we know what the public API will look like?

[2020-09-28 11:48] jasonwilliams opened #727 "tester folder should be renamed boa_tester"
To be in line with `boa_cli` and `boa_wasm` it would make sense for the `tester` folder to be renamed `boa_tester`.

https://github.com/boa-dev/boa/blob/master/CONTRIBUTING.md#testing should be up to date and continue to work

[2020-09-28 13:37] Razican commented on #446
I think so, yes. But the public API is already pretty good, so some examples can be added.

[2020-09-28 19:26] HalidOdat commented on #577
I think it would be a good idea to wait until #722 lands since it also tackles this issue in a way and will generate a lot of merge conflicts.

[2020-09-28 20:30] jasonwilliams commented on #720
Sorry @abhinitrpr this was breaking our builds so i needed to fix this quickly

[2020-09-28 21:01] jasonwilliams opened #729 "obj.toString() should be "[object Object]" S8.6.2_A3"
During Test262 we have https://github.com/tc39/test262/blob/master/test/language/types/object/S8.6.2_A3.js failing.
You can test this by setting your js file to...

[code]

The output should be "[object Object]"

The issue here is we're using the internal display rather than what the JS developer should be seeing.
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L120 could

[2020-09-28 21:11] jasonwilliams opened #730 "[Bug] Read-only properties on builtIn objects are writable"
[code]

Read-only properties on objects can be changed when they're not meant to be.

The property for the example above is created here:
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/mod.rs#L644 using [insert_field](https://github.com/boa-dev/boa/blob/master/boa/src/object/internal_methods.rs#L364-L380) we could make an `insert_readonly_field` here then make changes for the res

[2020-09-28 21:28] #720 closed

[2020-09-28 21:28] jasonwilliams opened #731 "Potential false-negatives from the test runner."
We seem to have some tests which show a red dot after running, but work fine when ran manually.
Here are 2 examples I've found:

https://github.com/tc39/test262/blob/master/test/language/types/object/S8.6_A3_T1.js
https://github.com/tc39/test262/blob/master/test/language/types/reference/8.7.2-3-1-s.js

## Steps to reproduce

- I set up test262 following https://github.com/boa-dev/boa/blob/master/C

[2020-09-28 21:48] jasonwilliams opened #732 "Symbols cannot be defined as a property"
[code]
Outputs: `Uncaught "TypeError": "can't convert symbol to string"`

The problem starts here:
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L101 we try to coarce the key into a `string` type. We shouldn't need to do this as Property's already support Symbols as keys. We should pass the argument straight through to PropertyKey::from() and let it sort it out.

Proper

[2020-09-28 21:53] jasonwilliams commented on #548
This is fixed in master

[2020-09-28 21:53] #548 closed

[2020-09-29 06:59] georgeroman commented on #732
I can take this one.

[2020-09-29 18:01] jasonwilliams commented on #575
@littledivy are you still interested in doing this?

[2020-09-29 18:37] joshwd36 opened #736 "Full UTF-16 support"
Something I noticed when working on the string iterator (#704) is that currently strings are stored as ordinary Rust strings, which use UTF-8. However the javascript standard specifies that [strings should use UTF-16](https://tc39.es/ecma262/#sec-ecmascript-language-types-string-type). There are a few places where this difference is noticable. For example, the string `🙂` should have length 2 as it

[2020-09-29 20:03] RageKnify commented on #729
The insides of objects can still be seen normally, this only changes the output of this method. I'll open a PR ASAP.

[2020-09-29 22:11] jasonwilliams opened #740 "redeclaration with FunctionDeclaration (LexicalDeclaration (const) should early error"
running:

[code]
cause the engine to panic with:
`thread 'main' panicked at 'Identifier f has already been declared'`

but
[code]

passes fine.

The expectation is that the latter should do the same as the former.

[2020-09-29 22:25] jasonwilliams opened #741 "break = 1; gives Uncaught "TypeError" instead of Uncaught "SyntaxError""
[code]

`Uncaught "TypeError": "expected token 'identifier', got '=' in binding identifier at line 1, col 7"`

The above should be:

Uncaught SyntaxError: "expected token 'identifier', got '=' in binding identifier at line 1, col 7"`

Taken from:
https://github.com/tc39/test262/blob/master/test/language/keywords/ident-ref-break.js

Contributing: https://github.com/boa-dev/boa/blob/master/CONTRIBUT

[2020-09-30 05:12] iamsaquib8 commented on #741
Can I take this?

[2020-09-30 05:23] littledivy commented on #575
@jasonwilliams sorry for the late reply, I'm busy with my classes and other projects these days :(

[2020-09-30 15:48] jasonwilliams commented on #619
@elasmojs could you add more information?
I don't see spread syntax being used here?

[2020-09-30 15:51] jasonwilliams commented on #289
@Razican what needs to change here that we're not doing already?

[2020-09-30 15:54] jasonwilliams commented on #552
Now that the blockers are out the way this should be straight forward for someone to pick up

[2020-09-30 16:01] dvtkrlbs commented on #552
i can take this issue

[2020-09-30 16:08] jasonwilliams commented on #433
I wonder if for now we can change the order and do the parsing before realm creation.
That way if there's an early error we don't need to bother building the realm.

[2020-09-30 16:39] #727 closed

[2020-09-30 16:50] Razican commented on #289
We don't have any support for executing we assembly binaries inside of Boa. It would be nice to be able to run Boa in Boa, for example.

[2020-09-30 19:38] dvtkrlbs commented on #552
Ok i am creating the Object.defineProperties function but i did not understand something in the spec.
`Let keys be ? props.[[OwnPropertyKeys]]().` what this means and is it defined already in the source code. I see these things are defined [here](https://tc39.es/ecma262/#table-essential-internal-methods) but i dont understand if i should define them myself.

[2020-09-30 19:53] croraf commented on #552
@dvtkrlbs I guess that should be a method of Rust's `Object` structure that seems not to be implemented, so should be implemented within this task or before this task. (Also you should join discord channel for boa for easier discussion. Link should be on the homepage)

[2020-09-30 21:15] jasonwilliams commented on #552
I imagine your "defineProperties" will be similar to this:
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/object/mod.rs#L98-L105

This means loop through each key in the object's property list.
The `?` just means each access shouldn't result in an abrupt ending

[2020-10-01 06:26] Razican commented on #433
We still need the realm to create a `SyntaxError` if the parsing goes wrong, right?

[2020-10-01 06:39] Razican commented on #731
We do have false negatives, most of them because we can't load the pre-requisites for the test for not implementing for..of for..in. also some others because we don't check error types.

[2020-10-01 12:03] iamsaquib8 commented on #740
I'd like to work on this

[2020-10-01 13:16] vapour101 commented on #265
I'd like to work on this, if that's good?

[2020-10-01 14:48] jasonwilliams commented on #265
Go for it @vapour101 !

[2020-10-01 16:51] jasonwilliams commented on #721
Sure @georgeroman

[2020-10-01 17:18] #729 closed

[2020-10-01 17:20] jasonwilliams opened #751 "Implement String.prototype.codePointAt"
**ECMASCript feature**
Implement `String.prototype.codePointAt`

MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/codePointAt
Spec: https://tc39.es/ecma262/#sec-string.prototype.codepointat

This code should now work and give the expected result:
[code]

It will be similar to our implementation of [`charCodeAt`](https://github.com/boa-dev/boa/blob/master

[2020-10-01 17:26] jasonwilliams opened #752 "Implement `String.prototype[@@iterator]()`"
**ECMASCript feature**
Implement `Implement String.prototype[@@iterator]()`

MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/@@iterator
Spec: https://tc39.es/ecma262/#sec-string.prototype-@@iterator

Now that we have Symbols and Well Known symbols, this should be possible.

It will be similar to our implementation of [`charCodeAt`](https://github.com/bo

[2020-10-01 17:48] jasonwilliams opened #753 "Implement Getters and setters for objects"
We support getters and setters in our property descriptors, but we don't do anything with them.
In this example here: https://github.com/boa-dev/boa/blob/master/boa/src/object/internal_methods.rs#L102-L104 we check if a property exists, if it doesn't we should fallback to the getter and call that, but as you can see right now we just return undefined.

There will also need to be some syntax update

[2020-10-01 18:10] jasonwilliams opened #755 "Throw TypeError if regex is passed to String.prototype.startsWith"
In our implementation of `String.prototype.startsWith` we're not type checking the argument and blindly coercing it into a string.
https://github.com/boa-dev/boa/blob/master/boa/src/builtins/string/mod.rs#L301

We should match on the value (or if let) and if its a regular expression throw a type error:

[code]

There should be a test also

Same here: https://github.com/boa-dev/boa/blob/master/boa/

[2020-10-01 18:23] jasonwilliams opened #756 "Throw Syntax error instead of Panic in environment errors"
Now that we have `SyntaxError` defined in [`Context`](https://github.com/boa-dev/boa/blob/master/boa/src/context.rs#L229-L235) we should use it instead of Panicing.

Our environments Panic when a binding has already been declared.
https://github.com/boa-dev/boa/blob/master/boa/src/environment/declarative_environment_record.rs#L47

But these can be switched to use the `ctx` instead.
Example here: h

[2020-10-01 19:11] #741 closed

[2020-10-01 20:01] mersinvald commented on #756
I'll be happy to pick this up on the weekend

[2020-10-01 20:41] jasonwilliams commented on #756
Thanks @mersinvald

[2020-10-01 20:42] jasonwilliams commented on #740
Thanks @iamsaquib8 assigned

[2020-10-01 20:43] jasonwilliams commented on #732
Thanks @georgeroman assigned

[2020-10-02 00:22] HalidOdat opened #757 "Error object types don't inherit from `Error.prototype`"
**Describe the bug**
For each error object (like `TypeError`, `SyntaxError`, etc) we implement its own `toString` function when it should be inherited from `Error.prototype`

[2020-10-02 00:30] HalidOdat opened #758 "Global properties (`Infnity`, `undefined`, `NaN`) don't have the right attributes set"
**Describe the bug**
The global properties don't have the correct attributes set like (`Infnity`, `undefined`, `NaN`) they should have
`READONLY`, `NON_ENUMERABLE` and `PERANENT` instead they have `WRITABLE`, `ENUMERABLE`, `CONFIGURABLE`

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

[2020-10-02 00:36] HalidOdat opened #759 "Global objects have wrong attributes"
**Describe the bug**
The global objects like `Object`, `Array`, `Map`, etc, have `WRITABLE`, `ENUMERABLE`, and `CONFIGURABLE` when they should have `WRITABLE`, `NON_ENUMERABLE`, and `CONFIGURABLE`

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

[2020-10-02 00:53] HalidOdat opened #760 "`ClassBuilder` methods should return `&mut Self`"
Following the builder pattern `ClassBuilder` should return `&mut Self` so it should be possible to chain the calls

[2020-10-02 01:04] HalidOdat opened #761 "Builtin object methods have wrong attributes"
**Describe the bug**
Builtin object methods like `Object.is()` `Array.prototype.push`, etc, have `WRITABLE`, `ENUMERABLE` and `CONFIGURABLE`, but they should have `WRITABLE`, `NON_ENUMERABLE` and `CONFIGURABLE`

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

[2020-10-02 01:24] HalidOdat commented on #36
@joshwd36 has implemented `Array.prototype.keys()`, `Array.prototype.entries()`, `Array.prototype.values()` and `Array.prototype@@iterator` in #704

[2020-10-02 01:25] HalidOdat opened #762 "Implement Array Iterator ( `Array.prototype[@@Symbol.iterator]` )"
**ECMASCript feature**
Explain the ECMAScript feature that you'd like to see implemented.

Implementing the array iterator would involve setting the `Array.prototype[@@Symbol.iterator]`
[code]

<https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/@@iterator>

[2020-10-02 01:32] HalidOdat opened #763 "Implement String Iterator ( `String.prototype[@@Symbol.iterator]` )"
**ECMASCript feature**
Explain the ECMAScript feature that you'd like to see implemented.

Implementing `String.prototype[@@Symbol.iterator]`

**Example:**
[code]

[2020-10-02 01:34] HalidOdat commented on #763
This is a duplicate of #752 so closing this

[2020-10-02 01:34] #763 closed

[2020-10-02 01:37] HalidOdat commented on #13
@joshwd36 has implemented `String.prototype[@@Symbol.iterator]` in #576

[2020-10-02 10:10] elasmojs commented on #619
@jasonwilliams it is directly from the MDN javascript docs, I have use the first demo example in the link below, hope it helps
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

[2020-10-02 10:14] #721 closed

[2020-10-02 10:51] jasonwilliams commented on #487
This is fixed

[2020-10-02 10:51] #487 closed

[2020-10-02 11:14] andylim0221 commented on #751
I would like to take up this issue.

[2020-10-02 14:54] pt2121 commented on #755
Can I take a stab at this?

[2020-10-02 16:06] Razican commented on #718
The way I see it, `console` is different in `boa_wasm` and `boa_cli`, for example. The first should print in the browser while the second one should print in the OS console.

JavaScript has no notion of `console` or anything, so something we could do here is to use a `register` hook to add this. We don't have a `register_global_variable` hook, right? maybe we should, and we could use that to add s

[2020-10-02 16:47] alexanderkjall opened #771 "The lexer might create invalid spans"
**Describe the bug**

Expected an Error, not a panic.

**To Reproduce**

Can be reproduced with this program
[code]
**Expected behavior**

An Error, not a panic

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-unknown-linux-gnu]
- Rustc version: 1.48.0-nightly (d006f5734 2020-08-28)

**Additional context**

Full

[2020-10-02 16:59] alexanderkjall opened #772 "panic on invalid input to boa::parse, 'Could not convert to BigInt'"
**Describe the bug**

Expected an Error, not a panic.

**To Reproduce**

Can be reproduced with this program

[code]

**Expected behavior**

An Error, not a panic

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-unknown-linux-gnu]
- Rustc version: 1.48.0-nightly (d006f5734 2020-08-28)

**Additional context**
Ful

[2020-10-02 17:05] HalidOdat commented on #772
Thanks for reporting these bugs @alexanderkjall , I'm curious are you using a fuzzer to generate these inputs?

I think I'll create an issue about stress testing the lexer/parser with fuzzed input, should catch these bugs.

[2020-10-02 17:07] alexanderkjall commented on #772
Yeah, I saw the project on reddit thought it looked cool.

Here is the fuzzer code:

[code]

[2020-10-02 17:11] HalidOdat opened #773 "Catching lexer/parser bugs with fuzzed input"
The fuzzer would generate tests with fuzzed input and we would check what is the expected behaviour

[2020-10-02 17:14] HalidOdat commented on #772
Created the issue here #773 , its free if you would like to take it :)

[2020-10-02 19:47] vgel commented on #545
I can work on this.

[2020-10-02 20:06] RageKnify commented on #545
Not the same bug, but related, `a.toString()` also results in a stack overflow. I'm trying to understand what the spec says about `a.toString()` in this situation, but both Firefox and Chrome return an empty string, `""`.

[2020-10-02 22:31] #576 closed

[2020-10-02 22:31] #752 closed

[2020-10-02 22:31] #762 closed

[2020-10-03 06:05] vgel opened #776 "`Context::to_ordinary_primitive` panics when passed a function"
**Description**
Trying to convert a function object (such as `function test() {}`) to a primitive (such as via the `Number` constructor) panics, because of a mismatch of assumptions between `Value::to_primitive` and `Context::ordinary_to_primitive`.

**To Reproduce**
[code]

**Context**
`Value::to_primitive` checks if its own variant is `Object`, and if so passes the value over to `Context::ordina

[2020-10-03 06:11] vgel commented on #776
Oh, also this doesn't panic in release mode -- it just does the wrong thing.

[code]

It's getting down here somehow: https://github.com/boa-dev/boa/blob/87d9e9cea82c1ea675082063f73296538bb3f46f/boa/src/context.rs#L412-L413

Which I'm not sure why... the function should have a `toString` key.

[2020-10-03 07:43] vgel commented on #771
I can take a look at this.

[2020-10-03 07:47] vgel commented on #771
Simpler repro:
[code]

[2020-10-03 08:17] vgel commented on #771
Problematic code is `syntax::lexer::cursor::Cursor::carriage_return`, which is simulating a real carriage return (going back to column 1, but staying on the same line). I don't think this behavior makes sense in a syntax environment? I wouldn't expect the column numbering to reset for a bare `\r`, and for a `\r\n` Cursor already resets the column on `\n` regardless.

Interestingly, node 14.5.0 app

[2020-10-03 08:45] alexanderkjall opened #778 "Panic on invalid utf16 instead of an Error"
**Describe the bug**

Expected an Error, not a panic.

**To Reproduce**
Can be reproduced with this program

[code]

**Expected behavior**

An Error.

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-unknown-linux-gnu]
- Rustc version: 1.48.0-nightly (d006f5734 2020-08-28)

**Additional context**
 Full stacktrace

[2020-10-03 09:13] alexanderkjall opened #779 "[parser UpdateExpression] panics when the prefix/postfix increment/decrement target is a number"
**Describe the bug**

Expected an Error, not a panic.

**To Reproduce**

Can be reproduced with this program:

[code]

**Expected behavior**

An Error, not a panic

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-unknown-linux-gnu]
- Rustc version: 1.48.0-nightly (d006f5734 2020-08-28)

**Additional context**
Fu

[2020-10-03 09:38] alexanderkjall commented on #773
I uploaded the fuzzer I used here: https://github.com/alexanderkjall/boa-hongg feel free to use it however you want.

I used honggfuzz, as it's a bit better than cargo-fuzz, and have run it overnight so far.

I In addition to the bugs I have reported with it, there is also a SIGSEGV due to running out of stackspace when parsing a very nested expression, but I felt that might be out of scope?

[2020-10-03 09:43] alexanderkjall opened #780 "panic on division by zero"
**Describe the bug**

Expected an Error, not a panic.

**To Reproduce**

Can be reproduced with this program:

[code]

**Expected behavior**

An Error

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-unknown-linux-gnu]
- Rustc version: 1.48.0-nightly (d006f5734 2020-08-28)

**Additional context**

Stacktrace:
[c

[2020-10-03 10:55] winnayx commented on #400
I can take this issue

[2020-10-03 11:06] RageKnify commented on #400
I'd sugest waiting for #722 since it changes a bit how builtins are implemented, maybe you could start your `branch` from that PR's `branch` so that you can implement it in the new way straight away. Good luck @winnayx

[2020-10-03 13:16] RageKnify commented on #776
@Razican and @Lan2u you were the ones who took care of #435 / #441 , looking at the codebase I don't think `Type::Function` is actually used, and it seems like the spec just sees functions as objects. Do you see any reason against removing `Type::Function`?

An object can still be identified as a function cince its `ObjectData` variant will be `Function`.

[2020-10-03 13:17] Razican commented on #776
I think it can be removed, there is no such thing as a "function" type in JavaScript, they are callable objects.

[2020-10-03 13:20] RageKnify commented on #776
I did just check in chrome, and:
[code]
Does return `function`, so we need to keep that functionality...

[2020-10-03 14:39] HalidOdat commented on #776
can't we check if its an object with `Value::is_object`, this gives true for any object including function

[2020-10-03 20:13] #755 closed

[2020-10-03 22:58] #606 closed

[2020-10-03 22:58] #613 closed

[2020-10-03 22:58] #730 closed

[2020-10-03 22:58] #757 closed

[2020-10-03 22:58] #758 closed

[2020-10-03 22:58] #759 closed

[2020-10-03 22:58] #760 closed

[2020-10-03 22:58] #761 closed

[2020-10-03 23:05] #732 closed

[2020-10-03 23:44] dapper-gh opened #784 "Panic when no arguments are given to JSON.parse"
**Describe the bug**
A panic occurs when no arguments are passed to `JSON.parse`.

**To Reproduce**
[code]

**Expected behavior**
Expected: a JavaScript error is raised (Chrome seems to raise a `SyntaxError`)
![image](https://user-images.githubusercontent.com/31050943/95003720-de2f7580-05af-11eb-81bd-2453e2c5c6f0.png)

**Build environment (please complete the following information):**

- OS: Windo

[2020-10-04 17:42] croraf opened #791 "[Error builtin] does not output "name" property correctly"
**Describe the bug**
`Error` builtin and its subclasses don't output "name" property correctly

**To Reproduce**
`new Error().name;`
should show "Error", instead it shows `Uncaught "Error": ""`

also `new SyntaxError().name;`
should show "SyntaxError", instead it shows `Uncaught "SyntaxError": ""`

**Environment**

- OS: [e.g. Fedora Linux]
- Version: [e.g. 32]
- Target triple: [e.g. x86_64-unknow

[2020-10-04 18:02] HalidOdat commented on #791
@croraf I think #749 should fix this issue, right? since `new Error()` or `Error()` just throws the error immediately

[2020-10-04 18:05] croraf commented on #791
I don't know if it will fix it, but if "new Error()" throws immediately, we should definitely prioritize that PR, and then check this again.

[2020-10-04 18:33] RageKnify commented on #791
Yeah, #749 will fix this.

[2020-10-04 18:57] dapper-gh opened #792 "A stack overflow occurs when one console.log's a recursive array"
**Describe the bug**
If a recursive array is created (an array that contains itself) and then passed to `console.log`, a stack overflow occurs.
![image](https://user-images.githubusercontent.com/31050943/95024299-1edecb80-0650-11eb-8c77-1d023721846e.png)

**To Reproduce**
[code]

**Expected behavior**
Normally, something like `[Array(1)]` is displayed.
![image](https://user-images.githubuserconten

[2020-10-04 21:11] Razican commented on #761
Hey, any mention on when was this solved / why was it closed?

[2020-10-04 21:19] HalidOdat commented on #761
This was closed when #722 got merged, because they have the correct attribute now https://github.com/boa-dev/boa/blob/master/boa/src/object/mod.rs#L829-L833 and https://github.com/boa-dev/boa/blob/master/boa/src/object/mod.rs#L856-L860 in `ConstructorBuilder` `.method` and `.static_method` which removed the need for make_builtin_fn and `make_constructor_fn` and manual object/prototype creation.

[2020-10-04 21:22] Razican commented on #619
The spread operator is not implemented afaik. It just returns the element once.

[2020-10-04 21:24] Razican commented on #751
Go ahead! :)

[2020-10-04 21:37] #784 closed

[2020-10-05 01:29] dapper-gh opened #793 "Spread operator on a non-iterable panics"
**Describe the bug**
A panic occurs when running the spread operator on a non-iterable.
![image](https://user-images.githubusercontent.com/31050943/95032422-7567fc00-0688-11eb-9f29-59389020342b.png)
The panic occurs at line `42` in file `syntax/ast/node/array/mod.rs`.

**To Reproduce**
[code]

**Expected behavior**
A JavaScript error is raised. Chrome seems to raise a `TypeError`, as seen below.
!

[2020-10-05 02:58] dvtkrlbs commented on #619
I can grab this issue

[2020-10-05 09:44] Razican opened #796 "Implement the `instanceof` operator"
**ECMASCript feature**
We currently don't implement the `instanceof` ECMAScript operator, which would be a nice addition, since it's generating many panics in the ECMAScript test suite.

The specification of the `instanceof` operator can be found [here](https://tc39.es/ecma262/#sec-instanceofoperator).

**Example code**
Some example code can be found in [MDN](https://developer.mozilla.org/en-US/do

[2020-10-05 12:05] mersinvald commented on #756
@jasonwilliams I have tried to pass the `&mut Context ` as an additional parameters to the methods in `EnvironmentRecordTrait`, but that causes a borrowing issue, as environments are stored in Realm, and Realm is stored in Context, hence there's a dependency cycle.

The possible solution I see is to return a `Call` from `construct_*_error` methods, so the caller could choose when it's possible to

[2020-10-05 12:09] jasonwilliams commented on #756
I wonder if some sort of [`Pinning`](https://doc.rust-lang.org/std/pin/index.html) would work, as they're all on the same struct and should have the same lifetime. @Razican @HalidOdat for thoughts.

I would have to take a further look at what you described to see if thats ergonomic

[2020-10-05 12:21] mersinvald commented on #756
Here's one example when there is a mutable borrow cycle: https://github.com/boa-dev/boa/blob/master/boa/src/syntax/ast/node/operator/assign/mod.rs#L59

If the `interpreter` is passed as a parameter to `create_mutable_binding` here, then `interpreter` is borrowed mutably twice.
I don't think pinning can help here.

[2020-10-05 12:44] morrien commented on #796
Hi, I think I can take on this as my first issue. Ill be working on this if it's okay.

[2020-10-05 18:11] #716 closed

[2020-10-05 18:48] #791 closed

[2020-10-05 19:23] RageKnify opened #797 "Implement Function.prototype.call"
**ECMASCript feature**
I noticed recently that Function.prototype.call exists and is not implemented.
[ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-function.prototype.call

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"[object Error]"`

[2020-10-05 20:00] vgel commented on #776
Should be incidentally fixed by #777, as `ordinary_to_primitive` is now associated with `GcObject` and no longer takes a `Value`, so it doesn't check the type.

[2020-10-05 20:11] dapper-gh opened #801 "Calling "new" on a primitive value does not throw an error"
**Describe the bug**
Calling `new` on a primitive value (or, in other words, calling a primitive value as a constructor) does not error.

**To Reproduce**
[code]

**Expected behavior**
A `TypeError` is supposed to be raised. The spec can be found [here](https://tc39.es/ecma262/#sec-new-operator) (step 7). Chrome implements this properly:
![image](https://user-images.githubusercontent.com/31050943/

[2020-10-05 21:35] flix477 commented on #117
Hey, I'd like to pick this issue up if it's still valid!

[2020-10-05 21:46] dvtkrlbs opened #803 "Refactor the JS testing system"
Currently most of the tests are just the same boilerplate:
[code]
I think these codes can be extracted to js files and be executed by some test runner. V8 does this by creating js file and an out file that contains the expected output. Also another way is exposing some testing related functions like assert to js side while testing and doing this with single file. I realize that this is similiar to

[2020-10-05 21:49] #545 closed

[2020-10-05 21:58] dvtkrlbs commented on #619
Can i get some guidance on this. I can see that we parse a Spread object. But if i understand correctly the spec defines different behaviour on spreads depending on the context (in function calls, array inits, object inits).

[2020-10-05 23:36] #552 closed

[2020-10-05 23:40] HalidOdat commented on #801
The problem is here `boa/src/syntax/ast/node/new/mod.rs:58` we should throw a `TypeError` (with `.throw_type_error()`), but instead we are returning `undefined`

[2020-10-05 23:43] HalidOdat commented on #776
@vgel this has been fixed, right?

[2020-10-05 23:46] RageKnify commented on #776
Yes, I just tested on `master`, `function t() {}; Number(t)` return `NaN`, just like Chrome does.

[2020-10-05 23:47] #776 closed

[2020-10-06 05:35] dlemel8 commented on #801
Hey @HalidOdat , I want to do this.
Thanks.

[2020-10-06 08:00] #771 closed

[2020-10-06 08:27] Lan2u commented on #803
As you say this seems to very much overlap with the work required for test 262, it makes sense to me that we could utilise the existing progress into that (e.g. the gh page display etc.) for this.

[2020-10-06 09:03] dvtkrlbs commented on #803
Yeah i agree the required work for both of them are quite similiar. I however dont think this kind of testing system needs a gh page. I thought of this to replace the testing of js exposed tests. It does not harm to have more tests. V8's test suite consists of both their own tests and 262 tests. They even use tests from Mozilla's testing suite.

[2020-10-06 14:51] dapper-gh opened #808 "A string containing only a Unicode escape sequence causes an error"
**Describe the bug**
If a string is composed only of a Unicode escape sequence (e.g. `"\uABCD"`), then an error occurs instead of producing a string.

**To Reproduce**
[code]
(that's the code for the section sign. It's not important, as the bug applies to any escape sequence)

**Expected behavior**
The string is valid, and is not supposed to throw an error. The syntax for string literals can be fo

[2020-10-06 15:41] #797 closed

[2020-10-06 15:42] #478 closed

[2020-10-06 15:51] Razican commented on #803
There is some debate on this. On one hand, we can reduce the boilerplate needed by providing a `check_output()` function that receives some code and the expected output, and that might work for many of our tests. This would be in charge of creating the context and doing the asserts and so on.

Then, there is the thing about moving things to JS files. We have already done this with benchmarks, and

[2020-10-06 16:02] RageKnify commented on #803
`cargo` already allows this, running `cargo test $TOP::$MID::$LOWER::tests::$TEST_NAME`lets you run a single test, you can also give the name of a module to run all the tests from that module.

While there is a bit of boiler-plate around each test I don't dislike the current setup.
Not sure how we'd be able to get coverage values with the different setup.

[2020-10-06 16:17] jasonwilliams commented on #803
I would much prefer us starting with this then assessing from there before we start making a load of boilerplate.

[2020-10-06 16:47] jevancc commented on #808
Hi @Razican , I would like to work on this issue. Could you please assign it to me? Thanks!

[2020-10-06 21:33] croraf commented on #718
If we go with "the inject on context creation" route perhaps the following can be used.

boa_cli/src/main.rs `let mut engine = Context::new();`
calls
boa/src/context.rs
[code]

which calls
`impl Default for Context {`
which initializes the given builtins (which are mostly ES builtins).

Through this path I would pass a parameter which would contain the list of external `struct`s with `init` callba

[2020-10-06 23:56] neeldug commented on #773
It would be nice to have some automation of fuzzing going on, however, as fuzzers last indefinitely, unsure of whether using CI is applicable... I also found AFL which seems simple enough to use and can use an input to converge on bugs quicker, I’m unsure of whether honggfuzz has the same capabilities, but it might be useful to use AFL if not!

[2020-10-07 03:03] dapper-gh opened #809 "Implement call stack size tracking"
**ECMAScript feature**
Although not strictly in the ECMAScript spec (at least as far as I can find), most engines have a system to track the call stack size and throw an error if it becomes too large. This prevents stack overflows. However, Boa has not implemented this feature, hence why things like this happen:
![image](https://user-images.githubusercontent.com/31050943/95282560-bfd3af00-0827-11e

[2020-10-07 11:24] croraf commented on #793
I'll try this. I'll maybe need help on discord though.

[2020-10-07 12:27] croraf opened #810 "Map.prototype[@@iterator]() method not implemented"
**ECMASCript feature**
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map/@@iterator

**Example code**
[code]

**Context**

This is blocking proper fix of https://github.com/boa-dev/boa/issues/793
After this is done the `merge()` test should be unignored from boa/src/builtins/map/tests.rs

[2020-10-07 13:44] RageKnify commented on #792
@dapper-gh , #777 fixed this, right?
I can't reproduce on `master`

[2020-10-07 14:10] croraf commented on #779
Thanks for submitting. Simple assignment like `3 = 4` does work correctly. Boa fails in the case of using "number" in Update expressions: https://tc39.es/ecma262/#sec-update-expressions

[2020-10-07 15:52] dapper-gh commented on #792
@RageKnify Yes, this was fixed by #777.

[2020-10-07 15:52] #792 closed

[2020-10-08 08:18] Lan2u opened #815 "Strict Mode Interpreter"
**ECMASCript feature**
Strict mode support for the interpreter as per https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode.

**Example code**
[code]
This code should throw a type error but currently returns 'home'.

The parser/lexer side of this was previously implemented as #717.

[2020-10-08 08:27] Razican opened #816 "The `Array()` constructor is not spec compliant"
**Describe the bug**
The `Array()` constructor is not spec compliant. When creating a huge array, for example:
[code]

This will try to actually insert 50k properties in the array. The [spec](https://tc39.es/ecma262/#sec-array-constructor-array) says otherwise. It should only set the length, and should not create any other property.

This happens because [our implementation](https://github.com/boa

[2020-10-08 10:31] Razican commented on #349
Hello @zanayr, how is this going?

[2020-10-08 10:43] Razican commented on #780
This seems to still be happening with the `%` (modulo) operator, I'm re-opening the issue.

[2020-10-08 11:00] Razican opened #817 "Test262 panics"
This is a full list of panics the current ECMAScript test suite (test262) gives, 13-14 in total. We should aim for 0 panics (even before we try to implement the rest of the spec):

<ul>
  <li>
    <details>
      <summary>
        <code>Object already borrowed: BorrowMutError</code> (<a href="https://github.com/boa-dev/boa/issues/1059">#1059</a>), count: 2
      </summary>
      Example:
      <pr

[2020-10-08 11:17] Razican opened #818 "Implement `async` / `await`"
**ECMASCript feature**
We currently have no support for `async` / `await` in Boa. These two keywords are used to create "promises" that will be executed asynchronously, without blocking the execution of the code that follows.

There are two types of `async` constructs:
 - Async Function Definitions: https://tc39.es/ecma262/#sec-async-function-definitions
 - Async Arrow Function Definitions: https:

[2020-10-08 11:23] Razican opened #819 "Implement generators"
**ECMASCript feature**
Currently, Boa has no support for Generators. Generators can be synchronous or asynchronous, and you can find the specs here:

 - Generator Function Definitions: https://tc39.es/ecma262/#sec-generator-function-definitions
 - Async Generator Function Definitions: https://tc39.es/ecma262/#sec-async-generator-function-definitions

This first needs changes in the parser, to chec

[2020-10-08 11:33] Razican opened #820 "Add extra features to the Test262 results representation"
This is blocked in #769 being merged.

The new Test262 (ECMAScript test suite) representation lacks some nice to have features:
 - A graph, maybe in a popover, to see the progress of the `master` branch commit by commit. The information is already available in the `results.json` file of the `master` branch, we just need to plot it.
 - Add a third column in the top of the file, showing all the vers

[2020-10-08 11:39] Razican opened #821 "Improve our GitHub pages site by not requiring vendored code"
We currently require Bootstrap and jQuery to be included in the GitHub pages branch. This is not ideal, and we should somehow just create a static page with a `node_modules` or with a webpacked script that includes all the requirements.

This should be available for both the Test262 test suite and for the benchmarks, that should then be linked from the demo and the main website.

[2020-10-08 14:51] neeldug commented on #821
Couldn't this be done with a CDN instead of holding the assets locally?

[2020-10-08 15:08] Razican commented on #821
Indeed, that would probably be an easy improvement.

[2020-10-08 15:11] Razican commented on #361
@1ntEgr8 has there been any progress with this?

[2020-10-08 15:12] Razican commented on #622
@54k1 let us know if you need any further guidance.

[2020-10-08 15:18] neeldug commented on #821
Also, I'm currently unable to see where jQuery's being included on the `gh-pages` branch. Any help on where to find it would be much appreciated!

[2020-10-08 15:32] Razican opened #823 "We cannot run some Test262 include files"
Currently, when running the Test262 ECMAScript conformance test suite, some files that need to be included by the tester are not working properly. We need to fix all of them to be able to run the whole test suite. This is the tracking issue:

 - [ ] [`atomicsHelper.js`](https://github.com/tc39/test262/blob/main/harness/atomicsHelper.js)

<details>
<summary>Details</summary>
<pre>Uncaught Reference

[2020-10-08 15:33] Razican commented on #821
It's being included in #769.

[2020-10-08 15:43] neeldug commented on #821
Alright, I see, I'll just wait for 769 to land before I make the changes since they aren't too urgent!

[2020-10-08 18:28] ashoksrinivasan96 commented on #823
Hi Razican,

I have forked your code. Can you please assign this task to my name, so that we can save some efforts of others, who would be planning to work on this?

Regards,
Ashok

[2020-10-08 20:18] zanayr commented on #349
Hello @Razican, Apologies I have been extremely busy and this slipped my mind. I think I left off somewhere still trying to figure out the math behind 9a. I don't know if I can figure it out, perhaps I should've picked an easier issue. 😅

[2020-10-08 23:48] jevancc opened #827 "Syntax error when using Unicode escape sequence with curly brackets in a string"
**Describe the bug**
The behavior of Unicode code point escape (Unicode escape with curly brackets) is different from the spec.

**To Reproduce**
[code]

**Expected behavior**
The string should be tokenized and handled correctly. The expected behavior can be found in [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String#Escape_notation).
Some lexer tests sho

[2020-10-09 06:25] Razican commented on #827
Hi! Is this solved by #826?

[2020-10-09 06:38] jevancc commented on #827
No, it's not. Seems to be an independent bug in `string.rs` so I created this issue for it :)

[2020-10-09 08:18] Razican commented on #349
Would you like us to un-assign it from you? Or would you like to create a draft PR to get some feedback / help?

[2020-10-09 09:39] #808 closed

[2020-10-09 10:00] #801 closed

[2020-10-09 12:05] georgeroman commented on #816
I can take this one.

[2020-10-09 12:09] HalidOdat commented on #753
I will be working on the execution part of getters and setters (after some needed refactoring) and the other parsing half is free for anyone to take.

[2020-10-09 12:46] neeldug commented on #821
Rebase ended up pulling in loads of commits, so just created a fresh branch since changes were simple enough!

[2020-10-09 14:06] Razican commented on #816
Go ahead! :D let us know if you need guidance

[2020-10-09 14:26] RageKnify commented on #823
Good luck @ashoksrinivasan96 , if you need any help you can talk here, open a draft PR or visit our Discord.

[2020-10-09 15:35] #821 closed

[2020-10-09 21:27] Lan2u commented on #818
I'll have a go at this - honestly I've always been very curious as to how the more exotic async stuff is actually implemented so this should be interesting.

[2020-10-09 23:08] jevancc commented on #778
Hi @HalidOdat , I would like to work on this issue. Could you assign it to me please?

I've looked into the expected behavior of it. We can have a workaround like replacing the invalid code point with a fixed replacement character. However, it can not handle the case like:
[code]
I think this case is difficult to handle until we have #736 resolved. Any ideas about it?

[2020-10-10 10:54] Razican commented on #823
For the case of `regExpUtils.js`, the error is a parsing error:
[code]

This is due to us not fully implementing `FormalParameters` parsing. The [spec](https://tc39.es/ecma262/#prod-FormalParameters) shows how each formal parameter must be a [`BindingElement`](https://tc39.es/ecma262/#prod-BindingElement) (or a rest parameter, which we do check).

We currently only check for a `SingleNameBinding`,

[2020-10-10 11:38] HalidOdat commented on #753
This issue is blocked on:
 - [ ] Object internal methods should live in GcObject (#835)
 - [ ] Object internal methods should take a `Context` and return `Result<T>` (todo)

[2020-10-10 11:48] ashoksrinivasan96 commented on #823
Hi,

I installed Rust and the mentioned tech in the readme. However, when I do cargo -- test.js, i get the following error:
error: `cargo run` could not determine which binary to run. Use the `--bin` option to specify a binary, or the `default-run` manifest key.

This would be my first ever attempt for open source contribution and also I have zero experience with Rust, and have experience only wit

[2020-10-10 11:56] croraf commented on #619
Spread operator is implemented for the arrays, it was partially working before in a wrong implementation, so I did a fix to make a more proper implementation in https://github.com/boa-dev/boa/pull/811. @Razican Can you adjust the title so it correctly describes what is done here, because also the initial issue comment is completely unclear. The best would be to close this and open a new issue.

[2020-10-10 12:04] RageKnify commented on #823
Currently we need to specify which binary to run, we have `boa` and `boa_tester`, you'd need to change your command to `cargo run --bin boa -- test.js`.

[2020-10-10 12:24] Lan2u commented on #818
Once this is implemented we will also need to setup benchmark(s) for async operations

[2020-10-10 12:44] Razican commented on #823
We should update the readme with this new information

[2020-10-10 14:11] jasonwilliams commented on #818
Most of the asynchronous stuff happens at runtime level rather than engine level. V8 doesn’t handle the event loop, Node does. I think after parse we’ll need to look at how it integrates in other engines.

[2020-10-10 16:21] neeldug opened #839 "Profiler no longer works with measureme 9.0.0"
**Describe the bug**
The profiler no longer functions as there was a breaking change in `measureme` from 0.8.0 to 9.0.0

**To Reproduce**
[code]

**Expected behavior**
The profiler to produce a profile

[2020-10-10 18:18] jasonwilliams commented on #839
Thanks for raising this @neeldug i thought it was just me going mad, are our dependencies not locked? How did we update to their latest?

[2020-10-10 18:21] neeldug commented on #839
@jasonwilliams I think it might’ve been merged with dependabot, since profiler isn’t tested in our current test suite, perhaps we should create one?

[2020-10-10 18:26] jasonwilliams commented on #839
@wesleywiser how big of a migration is this? is there a migration guide?

[2020-10-10 18:30] wesleywiser commented on #839
@jasonwilliams It should be pretty easy. Here's the PR I opened up upgrade rustc: https://github.com/rust-lang/rust/pull/77398

[2020-10-10 19:15] Lan2u commented on #818
Interesting - I will need to look into this - what is the scope of boa, are we going to implement an event-loop system?

[2020-10-10 19:33] croraf opened #842 "terminology - replace "statements" property in StatementList struct with "statement_list_items""
This term will be more compliant with the standard.

These items can be both statements and declarations.

[2020-10-10 19:57] croraf opened #843 "[parser - expression] Some nodes of the resultant AST tree are missing"
**Describe the bug**
When parsing the following code:
[code]

I get the following AST printout:
[code]

This second statement_list_item should be :
1. In a `Statement` node, type of statement_list_item (statement or declaration) is not visible
2. Then in an `TypeOfStatement` node (I guess this should be an `ExpressionStatement`)
3. etc...
4. Up to the `UpdateExpression` node

[2020-10-10 20:53] zanayr commented on #349
I probably should be un-assigned, I don't have the bandwidth to work on it right now, and I didn't really get that far to begin with. Apologies again, as soon as I am more free, I will return for to help on this project.

[2020-10-10 21:25] croraf commented on #843
I checked a bit more, and indeed there are like 7-8 expressions between `ExpressionStatement` and `UpdateExpression`.

[2020-10-10 21:44] croraf commented on #779
Can the title be changed to something like `[parser UpdateExpression] panics when the prefix/postfix increment target is a number`.

The relevant code bits start in the `boa/src/syntax/parser/expression/update.rs`.

Regarding `prefix increment`:
I'm checking the code, and I came to the boa/src/syntax/parser/expression/update.rs line 61 and 70. First of all the target is set to be `LeftHandSideExpr

[2020-10-10 22:27] Lan2u commented on #843
You get target Const(Int(5)) as output?

[2020-10-10 22:31] croraf commented on #843
Edited.

[2020-10-10 22:47] neeldug commented on #839
@jasonwilliams here's a screenshot of the original errors: ![img](https://i.ibb.co/ZY7bDzw/Screenshot-2020-10-10-at-23-42-09.png), currently it's working but not associating the `SerializationSink` struct as it's no longer accepted.

[2020-10-11 00:49] #793 closed

[2020-10-11 09:25] #839 closed

[2020-10-11 11:35] croraf opened #845 "Map.prototype.values() method not implemented"
**ECMASCript feature**
https://www.ecma-international.org/ecma-262/11.0/index.html#sec-map.prototype.values

**Example code**

[code]

[2020-10-11 11:37] croraf opened #846 "Map.prototype.entries() method not implemented"
**ECMASCript feature**
https://www.ecma-international.org/ecma-262/11.0/index.html#sec-map.prototype.entries
-->

**Example code**
[code]

[2020-10-11 17:34] dapper-gh commented on #162
This bug still occurs - here are a few examples.
[code]

[code]
Both of those panic in debug mode/the website WASM demo. You may need to increase the size of the expressions to cause a panic in release mode.

[2020-10-11 17:47] croraf commented on #846
I'm trying some implementation. I basically duplicated the ArrayIterator functionality, and tried to fit in the missing types.

[2020-10-12 17:33] JohnDoneth commented on #845
I have that exact code working in a test on a branch. Implementation needs more work though. I will submit a PR when it's ready for review.

[2020-10-12 17:50] Razican commented on #162
I will re-open this issue, since I think we are back again doing recursive parsing since we did our new parser. Maybe @jasonwilliams can confirm or give more insights.

[2020-10-12 21:27] Lan2u commented on #842
Could u send a spec link?

[2020-10-12 22:00] Razican commented on #842
In the case we change this, I would just call it `items`.

[2020-10-12 22:05] jasonwilliams commented on #577
@HalidOdat from my work on https://github.com/boa-dev/boa/pull/854 it would be good to stack-allocate Values, but as some of them hold RCObjects its not possible. Should there be some pointer which through a method gives back the object?

[2020-10-12 22:37] HalidOdat commented on #577
There is a problem with objects being stack allocated, many operations (eq, some object methods, object internal methods) require to know the exact location in memory which means we can move the objects once there created (say for example pop two and push one in the case of #854), if we do something will break.

Sorry, could you explain a bit more?

[2020-10-13 02:48] croraf commented on #842
https://tc39.es/ecma262/#prod-StatementList

[2020-10-13 06:40] 54k1 opened #858 "SyntaxError not generated for duplicate identifier names with let declarations"
**To Reproduce**
[code]

**Expected behavior**
SyntaxError must be thrown by the parser. Environment is not supposed to deal with this according to the spec.

I think [here](https://www.ecma-international.org/ecma-262/11.0/index.html#sec-let-and-const-declarations-static-semantics-early-errors) is where the spec talks about syntax error in `let` declaration.

[2020-10-13 07:59] jasonwilliams commented on #842
I’m ok with just items

[2020-10-13 17:40] croraf commented on #779
This is solved.

But another problem is:
https://github.com/boa-dev/boa/blob/907030b1a3b4be12a35edf26173042ed312099e3/boa/src/syntax/parser/expression/left_hand_side/mod.rs#L66-L72

which doesnt account properly the LHS expressions as per the spec https://tc39.es/ecma262/#prod-LeftHandSideExpression

[2020-10-13 20:23] #619 closed

[2020-10-14 07:37] Razican opened #868 "Warning on our Linux test suite"
GitHub has recently deprecated `set-env` and `add-path` commands in GitHub actions due to a security vulnerability. You can read the blog post [here](https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/).

The issue is that our `actions-rs/tarpaulin` action is using the `add-path` command, which is giving us this warning:
[code]

This is being tracked

[2020-10-14 09:33] jasonwilliams commented on #868
Thanks, lets see if they respond to that issue

[2020-10-14 11:59] Razican commented on #843
I think this implies we should have on AST node per production, but I don't think that should be the case, right?

[2020-10-14 14:09] HalidOdat opened #872 "Implement `Function.prototype.apply()`"
Implement `Function.prototype.apply()` , the implementation would go in `src/builtins/function/mod.rs` and the tests in `src/builtins/function/tests.rs`

[ECMAScript specification](https://tc39.es/ecma262/#sec-function.prototype.apply)

**Example code**

This code should now work and give the expected result:
[code]

[2020-10-14 16:02] georgeroman commented on #872
I can take this one.

[2020-10-14 16:23] #778 closed

[2020-10-14 19:08] croraf commented on #843
I'm actually not sure what should the logic be about presenting or not the Node.

[2020-10-14 19:56] croraf commented on #858
I think this section of the spec talks only when you declare two variables of the same name in the same declaration statement.

Shown example should be a runtime error.

[2020-10-14 20:06] croraf commented on #858
I think I'm correct because I compared the following two in Chrome:
[code]

[code]

[2020-10-14 20:46] Razican commented on #843
Our current approach, since the parser is written manually, is to manually simplify + optimise each node.

[2020-10-14 21:46] jevancc opened #876 "Handle invalid UTF-8 chars in user input instead of panic"
**Describe the bug**
When the user input has invalid UTF-8 chars, boa always panics with InvalidData error "stream did not contain valid UTF-8", no matter the invalid char is in a Unicode escape sequence, normal string char, identifier, or even comment. It seems to be a lexer-wide issue.

**To Reproduce**
The following example should work since the invalid UTF-8 chars are in the comment:
[code]
Be

[2020-10-14 23:35] croraf commented on #780
@Razican Can you show the examples which produce the wrong result and that should work after this is fixed?

[2020-10-15 17:57] #810 closed

[2020-10-15 17:57] #846 closed

[2020-10-15 18:33] #816 closed

[2020-10-15 19:07] #845 closed

[2020-10-15 20:48] croraf commented on #751
@andylim0221 Hi Andy. Any progress on this? Do you need some help?

[2020-10-16 06:36] jevancc commented on #335
Hi @Razican, I'd like to work on this issue. I can also look into how the new lexer can fix the utf-8 /utf-16 issues.

[2020-10-16 07:29] jasonwilliams commented on #335
Awesome @jevancc assigned

[2020-10-16 07:58] #872 closed

[2020-10-16 08:00] #772 closed

[2020-10-16 09:49] Razican commented on #780
Yep, for example this:
[code]

Panics, saying it entered unreachable code. It should return a `NaN` instead.

[2020-10-16 19:29] alexanderkjall opened #883 "panic at 'RangeError: Maximum BigInt size exceeded'"
**Describe the bug**
I expected something like:
`Uncaught RangeError: BigInt is too large to allocate`

Instead I got a panic

**To Reproduce**
Reproduce with:

[code]

**Expected behavior**
Firefox gives me:
`Uncaught RangeError: BigInt is too large to allocate`

**Build environment (please complete the following information):**

- OS: Ubuntu 20.04
- Version: 0.10.0
- Target triple: [e.g. x86_64-

[2020-10-16 20:37] georgeroman commented on #883
A similar panic happens if you raise a BigInt to a negative exponent:
[code]

[2020-10-18 07:48] #780 closed

[2020-10-18 13:34] Razican commented on #883
Now that #884 got merged, do these still happen?

[2020-10-18 14:14] georgeroman commented on #883
The panics don't happen anymore, but `1000n << 10000000n` taking forever is still on.

[2020-10-18 20:17] morrien commented on #796
I have implemented part of the instanceof operator functionality based on given specification to the best of my knowledge and skill.

With that said, there are certain tasks, or rather points in the specification that are somehow difficult to understand and therefore interpret correctly within the project and I believe that the best course of action in this situation is to consult these with someo

[2020-10-19 00:50] HalidOdat commented on #796
We can continue the conversation here or on the PR (when created)

[2020-10-19 10:13] Razican opened #891 "Enable creating a global `Object`"
Currently, we can create a new object type and add it to the global scope by calling `register_global_class()`. This enables later calling `new Person()` for example, as we can see in our classes [example](https://github.com/boa-dev/boa/blob/master/boa/examples/classes.rs).

Nevertheless, this doesn't allow creating an ordinary object on a property in the global object, and add some methods to its

[2020-10-19 10:29] Razican opened #892 "Empty statements not fully implemented"
Currently, a code like this one will work fine:
[code]

But, this one is broken:
[code]

This is because if a statement list starts with an empty statement, we only check if it's a closing brace or not, bug it it's not, we just try to parse a `StatementListItem`, which will fail.

All this is implemented in [this](https://github.com/boa-dev/boa/blob/master/boa/src/syntax/parser/statement/mod.rs#L3

[2020-10-19 10:44] morrien commented on #796
Understood, I believe a verbose comment will be most fitting considering the state of the problem.

In each step, ECMAScript spec point will be provided, with possible code solution and comments if necessary.

**[Spec](https://tc39.es/ecma262/#sec-instanceofoperator): InstanceofOperator ( V, target ):**
Structure of the call: `x instanceof y (x: Value, y: Value) -> Result<Value>`

**Spec: 1. If Ty

[2020-10-19 11:51] Razican opened #893 "Implement TypedArray objects"
**ECMASCript feature**
It would be very nice to get `TypedArray` objects. They are making us fail / ignore many tests in our ECMAScript conformance suite, and they shouldn't be super difficult to implement using our current builtin objects as a template.

You can find the full specification [here](https://tc39.es/ecma262/#sec-typedarray-objects).

**Example code**
This code from [MDN](https://deve

[2020-10-19 12:01] Razican opened #894 "Implement URI Handling Functions"
**ECMASCript feature**
We currently lack the implementation of some built-in global functions used for URI encoding/decoding. You can find these functions in the spec [here](https://tc39.es/ecma262/#sec-uri-handling-functions).

The 4 functions to implement would be these:
 - [`encodeURI()`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURI)
 - [`encodeURIC

[2020-10-19 14:13] georgeroman commented on #893
I can take this one.

[2020-10-19 14:21] HalidOdat commented on #796
Good catch! This is most definetly a bug, we should return the `has_insteance`, and should be changed and yes you are right the has_instence symbol is not implemented on builtin objects.

Yes. but when we implement it is should work. (does not have to be in this issue/PR).

Yes. if its known than it is we can use `unwrap` but its prefered to use `.expect` since it also gives a message.

-------

F

[2020-10-19 19:25] morrien commented on #796
Thank you for the reply, it helped me understand the interpretation of the specification within the project much better.
With that said, I have some minor questions still, if you don't mind;
1. Based on your edit, the 'o' variable in the 'while let' line in your second code snippet should be 'object' - is that correct?
2. First 'if let' line in your second code snippet includes 'value', but there

[2020-10-19 20:04] HalidOdat commented on #796
Yes. this is correct.

-----

Yes. after some refactoring made some mistakes, the second should be:
[code]

and also we have to change `instanceofOperator` too:
[code]

Yes.

[2020-10-21 14:34] Razican commented on #817
Updated the list of panics, counting those that are still present even after #906 gets merged.

The two main areas I see for concern are the `Array` implementation, whose methods seem not to be spec compliant and seems to use too many expects or unwraps, and the `RegExp` implementation.

Then, we should re-check the list and make sure that all the environment related panics get solved in #659.

[2020-10-21 14:47] croraf commented on #796
You can also discuss on boa's discord, and put the summary here.

[2020-10-21 14:50] croraf commented on #892
I will check this a bit.

[2020-10-24 03:25] AngelOnFira commented on #892
@croraf Just want to check in, I kinda want to look into this as well so just wanted to see how you were doing. Also, no guarantees that I would even be able to, I'm just reading through the codebase now :sweat_smile:

[2020-10-24 10:03] georgeroman commented on #893
I'm a bit busy at the moment, so if anyone else wants to take this one feel free to do so.

[2020-10-24 10:12] croraf commented on #892
@AngelOnFira Join on discord so we can discuss and coordinate. Dont hesitate to pong me there.

[2020-10-24 14:20] #891 closed

[2020-10-24 19:55] sidntrivedi012 commented on #894
Hey @Razican , I would like to work on it. Thanks :)

[2020-10-27 12:18] apatniv commented on #893
Can I take this one if no one else is working on it?

[2020-10-28 13:51] #796 closed

[2020-10-29 16:54] vapour101 commented on #265
Sorry, seems like I had less time to devote to this than I realised. I'm not going to be able to complete this issue.

[2020-11-08 17:18] croraf commented on #892
As we agreed this PR shouldnt close this issue. I think this is the case. A separate PR has to be made with the actual fix.

[2020-11-08 18:16] croraf commented on #893
@apatniv Any progress on this one. Perhaps it can be handled with multiple PRs if at once it is too big. Also join the discord if you need discussion.

[2020-11-18 01:11] devinus commented on #751
Hope I'm not stepping on any toes, but I implemented this in https://github.com/boa-dev/boa/pull/935 as a learning exercise.

[2020-11-20 07:07] #751 closed

[2020-11-30 18:44] NathanRoyer opened #948 "Implementing the eval function"
**ECMASCript feature**
The `eval` JS function is currently not implemented in boa, although it is quite common to encounter in the wild.
The spec describes this function [here](https://tc39.es/ecma262/#sec-eval-x).

**Example code**
[code]

**Pitfalls**
The spec for this function is pretty long, and two algorithms should be implemented in total:
 * [PerformEval](https://tc39.es/ecma262/#sec-evalde

[2020-12-03 15:46] #335 closed

[2020-12-04 00:18] github-actions[bot] opened #953 "RUSTSEC-2020-0053: dirs is unmaintained, use dirs-next instead"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `dirs`                      |
| Version             | `3.0.1`                   |
| URL                 | [https://github.com/dirs-dev/dirs-rs](https://github.com/dirs-dev/dirs

[2020-12-04 08:19] Razican commented on #953
This is due to `rustyline` reverting their upgrade to `dirs-next`. I have opened an issue: https://github.com/kkawakam/rustyline/issues/467

[2020-12-07 11:02] RageKnify commented on #953
Fixed in https://github.com/kkawakam/rustyline/pull/468, just need to wait for a new release.

[2020-12-08 13:54] RageKnify commented on #868
Fixed in https://github.com/actions-rs/tarpaulin/pull/14
Warning no longer found in recent runs like https://github.com/boa-dev/boa/actions/runs/406858058
Noted by 0xfada on Discord

[2020-12-08 13:54] #868 closed

[2020-12-08 16:31] Razican opened #957 "Unresolved links in documentation"
We seem to have unresolved links in the documentation, that are generating warnings in our CI:
https://github.com/boa-dev/boa/actions/runs/408553547

[2020-12-11 16:18] #827 closed

[2020-12-11 17:15] #957 closed

[2020-12-12 12:25] AlfredTH commented on #349
Hey ! I'm currently working on this.

[2020-12-12 12:26] NathanRoyer commented on #349
Hey ! I'm currently working on this.

[2020-12-13 00:18] RageKnify opened #963 "Incorret lexing of single line comments"
Single line comments in files using CRLF line endings result in the rest of the file being ignored.

**To Reproduce**
Since a file is required the best way to demonstrate the bug is to run with the following file: `cargo run -- test.txt` [test.txt](https://github.com/boa-dev/boa/files/5683971/test.txt)
The file contains:
[code]

**Expected behavior**
`boa` should output:
[code]
but instead we do n

[2020-12-14 13:19] #963 closed

[2020-12-15 19:20] tofpie opened #967 "Some unit tests fail in a timezone with Daylight Saving Time"
**Describe the bug**
The unit tests `date_proto_to_time_string` and `date_proto_to_string` fail in a timezone with Daylight Saving Time.

**To Reproduce**
Run `cargo test` in a timezone with Daylight Saving Time.

**Expected behavior**
The unit tests should be passed in all timezones.

**Build environment:**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version:

[2020-12-15 19:26] tofpie commented on #670
Hi. Could I work on it?

[2020-12-16 03:47] jcdickinson commented on #670
I have no objection. You might want to take a look at my closed PR to see if it applies to the subsequent changes.

If you have a WIP feel free to @ me, I'm somewhat familiar with the architecture.

[2020-12-16 07:59] tofpie opened #971 "The `length` property of an array is enumerable"
**Describe the bug**
The `length` property of an array is enumerable, but it should not.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**
`[].propertyIsEnumerable("length")` should be `false`.

**Build environment**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version: rustc 1.48.0 (7eac88abb 2020-11-16)

**Additional c

[2020-12-16 10:41] tofpie commented on #971
I have taken a look, but I have not found anything obvious. I would be happy to fix it, but I do not know the code so well and I would need some guidance.

[2020-12-16 11:37] RageKnify commented on #953
`rustyline` was updated in #970, this can be closed

[2020-12-16 11:37] #953 closed

[2020-12-16 14:00] Razican commented on #971
I believe this is set up here: https://github.com/boa-dev/boa/blob/master/boa/src/builtins/array/mod.rs#L61

The issue is that we are using `Attribute::all()`, which will sett all types to `true` as per https://github.com/boa-dev/boa/blob/470dbb43818dc7658a45a011856584fe60220662/boa/src/property/attribute/mod.rs

I think it should use `Attribute::default()`.

[2020-12-16 14:03] Razican commented on #971
Actually, not, since it should be writable as per [this](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/length), so we should probably select the right attribute.

[2020-12-16 16:46] tofpie opened #973 "The `length` property of a string is enumerable"
**Describe the bug**
The `length` property of a string is enumerable, but it should not.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**
`"".propertyIsEnumerable("length")` and `new String("").propertyIsEnumerable("length")` should be `false`.

**Build environment**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version:

[2020-12-16 17:33] #967 closed

[2020-12-16 22:35] tofpie commented on #971
It seems this is another bug. This causes:
[code]
This should be false. Maybe I can add the fix in the same PR?

[2020-12-17 08:30] #346 closed

[2020-12-17 08:49] #349 closed

[2020-12-18 09:26] #971 closed

[2020-12-18 09:27] #973 closed

[2020-12-18 09:38] tofpie opened #980 "Bad prototypes for String, Number and Boolean"
**Describe the bug**
The prototypes for `String`, `Number` and `Boolean` should be respectively `String("")`, `Number(0)` and `Boolean(false)`.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**
[code]

**Build environment**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version: rustc 1.48.0 (7eac88abb 2020-11-16)

**Addit

[2020-12-18 10:04] #876 closed

[2020-12-19 10:04] tofpie opened #982 "Implement Object.prototype.isPrototypeOf"
**ECMASCript feature**

I would like to see the method `Object.prototype.isPrototypeOf` implemented. [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-object.prototype.isprototypeof

**Example code**

This code should now work and give the expected result:
[code]
The expected output is `true`.

[2020-12-19 10:40] tofpie opened #984 "boa_tester: Bad name for test suite containing a dot"
**Describe the bug**
When the name of a test suite contains a dot, the part following the last dot is removed from its name.

**To Reproduce**
[code]

**Expected behavior**
The name of the test suite should be `Symbol.species`.

**Build environment (please complete the following information):**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version: rustc 1.48.0

[2020-12-20 12:29] tofpie opened #986 "Implement property accessors"
**ECMASCript feature**
I would like to see the property accessors parsing and execution implemented. [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-property-accessors

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"c"`.

[2020-12-20 15:30] 0x7D2B opened #989 "Functions seem to have access to their caller's scope"
When calling a function, it appears to be able to access variables defined in the context it was called in, even if it's not supposed to be able to.

**To Reproduce**

[code]

`f2()` appears to return 1 instead of raising a `ReferenceError`.

**Expected behavior**

`ReferenceError` is raised

**Build environment (please complete the following information):**

- OS: Linux
- Target triple: aarch64-u

[2020-12-20 15:52] RageKnify commented on #989
I think you're mixing 2 different bugs together, the expeted behaviour would be for a ReferenceError to be thrown when executing `f1`.
`f2` returning `1` is caused by #672 and is a separate issue.
As an example, executing the example you provided in a Chrome console results in:
[code]

[2020-12-20 16:00] 0x7D2B commented on #989
Hmm, maybe I had an `a` declared somewhere earlier while testing in the browser which is why it was returning undefined. I updated the test case to avoid #672 but it still returns 1 instead of raising `ReferenceError`.

[2020-12-20 16:12] RageKnify commented on #986
This is tied to #577, @HalidOdat was leading development on that, sadly you implemented it on `Value` in #987 , which would require us to change it all once we want to move the behaviour to `GcObject`...
@HalidOdat what are your thoughts?

[2020-12-20 16:20] #980 closed

[2020-12-21 21:53] #982 closed

[2020-12-26 09:23] tofpie opened #994 "Numeric separators are not supported"
**Describe the bug**
Numeric separators are not supported.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

[code]

**Expected behavior**

Running this code, `a` should be set to `10` and printed, but a syntax error is generated instead. The expected behaviour can be found in the [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-li

[2020-12-26 09:56] tofpie opened #996 "Implement template literals and tagged templates"
**ECMASCript feature**

I would like to see template literals and tagged templates parsing and execution implemented.
[ECMAScript specification for template literals][template-literals-spec] and [ECMAScript specification for tagged template][tagged-template-spec]

[tagged-template-spec]: https://tc39.es/ecma262/#sec-tagged-templates
[template-literals-spec]: https://tc39.es/ecma262/#sec-template-l

[2020-12-26 19:30] tofpie opened #998 "Logical expressions always return a boolean value"
**Describe the bug**
Logical expressions (`&&` and `||`) always return a boolean value.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]

**Expected behavior**
Running this code, `2` should be printed. The expected behaviour can be found in the [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-binary-logical-operators-runtime-semantics-evaluation

**Build

[2020-12-27 11:36] #998 closed

[2020-12-27 16:21] tofpie opened #1000 "Bad comparison with infinity"
**Describe the bug**
Bad comparison with infinity.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]

**Expected behavior**
The result is `false`, but should be `true`.

**Build environment (please complete the following information):**

- OS: Windows 10
- Version: 0.10
- Target triple: x86_64-pc-windows-msvc
- Rustc version: rustc 1.48.0 (7eac88abb 2020-11-16)

**Additional con

[2020-12-27 21:05] #622 closed

[2020-12-27 21:14] #1000 closed

[2020-12-28 12:02] #994 closed

[2020-12-29 13:42] tofpie opened #1009 "Invoking constructors changes global this instead of newTarget"
**Describe the bug**
`String` used as a function call messes up with the global object.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]

Running this code, `2` is printed as `this.length` and `"10"` is printed as `String.prototype.toString.call(this)`.

**Expected behavior**
Running this code, `this.length` should stay `undefined` and `String.prototype.toString.call(this)` sho

[2020-12-29 14:09] tofpie commented on #1009
This is this part that messes up with the global object when `String` is called directly:

https://github.com/boa-dev/boa/blob/67ee6faa5819ba5e97ae826244a88ce370e32070/boa/src/builtins/string/mod.rs#L132-L153

But I really do not know how to fix that. If anyone has some guidance, I can give it a try though.

[2020-12-29 19:51] RageKnify commented on #1009
I think this can happen with most builtin constructors, we can generate a similar effect with:
[code]

I assume we need to change most of the constructors, the spec mentions `newTarget`, which I think can be found in `boa` in https://github.com/boa-dev/boa/blob/7b103a5c0bf29150a9bace87b17b39c9e0e7750d/boa/src/environment/function_environment_record.rs#L57

`rust-analyzer` only spots it only as bei

[2020-12-31 05:34] AnnikaCodes commented on #842
I'm going to work on this - do we want to change the `statements()` method in the impl or just the property?

Personally I think that it should be changed, since it could contain declarations.

[2020-12-31 10:49] tofpie opened #1012 "Implement coalescing"
**ECMASCript feature**
I would like to see `??` and `??=` parsing and execution implemented. [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#prod-CoalesceExpression

**Example code**

This code should now work and give the expected result:
[code]
The expected output is `undefined`.

[2020-12-31 19:42] #1012 closed

[2020-12-31 22:13] #842 closed

[2020-12-31 22:22] #986 closed

[2021-01-01 04:35] AnnikaCodes commented on #823
I'm going to work on this as well

[2021-01-01 14:11] #984 closed

[2021-01-01 18:54] #670 closed

[2021-01-01 22:57] Razican commented on #817
I have updated the list of panics after the merges of the latest changes. It seems that our current "big thing" is `RegExp`, along with a couple of places in environment variable definitions and retrievals.

[2021-01-02 00:30] github-actions[bot] opened #1025 "RUSTSEC-2020-0056: stdweb is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `stdweb`                      |
| Version             | `0.4.20`                   |
| URL                 | [https://github.com/koute/stdweb/issues/403](https://github.com/kou

[2021-01-02 10:36] Razican commented on #1025
This is due to our dependency in `getrandom`. It's being tracked in https://github.com/rust-random/getrandom/issues/175, and a tentative Pull Request is ready in https://github.com/rust-random/getrandom/pull/178. We will update the dependency when it's released.

[2021-01-02 18:01] #167 closed

[2021-01-02 18:11] Razican commented on #167
Is this really closed?

[2021-01-02 18:21] jasonwilliams opened #1028 "Implement let declaration list instruction (VM)"
Set your JS to this and then run
[code]
You should get `undefined` as expected. But it will run with no errors

Leaving the JS the same run `cargo run --features vm ../tests/js/test.js ` or `Cargo Run (VM)` on VSCode.
You will reach an "unimplemented" error, arising from here:
https://github.com/boa-dev/boa/blob/master/boa/src/vm/compilation.rs#L61

This is because `Node::LetDeclList` hasn't been

[2021-01-03 05:21] shadowtime2000 opened #1032 "Arrow Function Parsing fails"
**ECMASCript feature**
ES6 Arrow functions

**Example code**
Give a code example that should work after the implementation of this feature.

This code should now work and give the expected result:
[code]
The expected output is `Hello World!`.

[2021-01-03 16:08] RageKnify commented on #1032
As an heads up, Arrow Functions are partly implemented, as an example:
[code]
Does return `"Hello World!"`. Seems that having the parenthesis around the arguments isn't accepted by Boa.

[2021-01-03 16:25] Razican commented on #1032
This seems to be a bug in the parser, that we knew it's there. The issue is that it's not possible to know if we are working with an expression or not after an assignment.

This is controlled in [here](https://github.com/boa-dev/boa/blob/5e78ff83f5dad89001d2fd039b6d454b7529e5cc/boa/src/syntax/parser/expression/assignment/mod.rs#L75). The ideal situation would be to have a lever that can move to an

[2021-01-03 18:25] jevancc commented on #1032
@Razican Maybe we don't need the cursor to move to an arbitrary position. What we need is to "clone" the cursor and we can do something like:
[code]

[2021-01-03 18:25] jasonwilliams opened #1035 "Improve the view for VM/Instruction output"
For debugging purposes it would be useful to see what our stack and instructions look like at a particular time.
Our output is quite basic currently.

Running `let a = 1;` for example with "vm" feature set will give you:
(`cargo run --features vm ../tests/js/test.js`)
[code]

It would be good to get some better output like the below. This would be achieved by adding some output to a buffer for eac

[2021-01-03 19:35] Razican commented on #1032
The thing is that a cursor is just a wrapper over a `Read`. Maybe if we made sure that the inner buffer was `Seek` too, we would be able to create snapshots or something similar, with the position, goal symbol and so on, and return to the previous state.

This means that if we wanted to create a cursor over `&[u8]` or a `&str`, we would need to wrap them in an `std::io::Cursor`. We could create he

[2021-01-03 22:03] RageKnify commented on #13
Added `split()`, being worked on in #1026

[2021-01-04 10:51] #1025 closed

[2021-01-04 13:21] stephanemagnenat opened #1038 "Seemingly wrong comment for Rational in instruction enum"
This comment talks about [loading an `f32` immediate](https://github.com/boa-dev/boa/blob/master/boa/src/vm/instructions.rs#L15), but the [parameter is an `f64`](https://github.com/boa-dev/boa/blob/master/boa/src/vm/instructions.rs#L16).

[2021-01-04 14:49] jasonwilliams commented on #1038
Thanks for spotting that @stephanemagnenat

[2021-01-04 15:40] Razican commented on #1032
Maybe @Lan2u wants to add some comments on this, as he worked on the lexer/parser.

[2021-01-05 15:49] RageKnify opened #1040 "Object internal methods don't have Receiver parameter"
A lot of object internal methods include a parameter named `Receiver` in the spec, i.e. [`[[Get]]`](https://tc39.es/ecma262/#sec-ordinary-object-internal-methods-and-internal-slots-get-p-receiver). As an example we have the code:
[code]
`o2.t` should remain `undefined` and `console.log(3)` should be invoked but instead it becomes `3` and `console.log` is not invoked.
This should be possible with t

[2021-01-05 15:58] tofpie commented on #1040
@RageKnify Can I take it?

[2021-01-05 17:03] RageKnify commented on #1040
Go ahead @tofpie :tada:

[2021-01-05 19:28] stephanemagnenat opened #1041 "VM executes ge on value for gt instruction"
This looks wrong:
https://github.com/boa-dev/boa/blob/0e41be114485b3492f59f48cbc28fd5a819d3e17/boa/src/vm/mod.rs#L186

because it is in the Gt branch of the match:
https://github.com/boa-dev/boa/blob/0e41be114485b3492f59f48cbc28fd5a819d3e17/boa/src/vm/mod.rs#L183

[2021-01-06 12:35] stephanemagnenat commented on #1041
This is solved indirectly by #1044.

[2021-01-07 09:16] #1040 closed

[2021-01-07 18:55] #1028 closed

[2021-01-08 18:48] #669 closed

[2021-01-08 18:48] #858 closed

[2021-01-09 09:49] Lan2u commented on #1032
As far as I can tell the only area it isn't implemented is for a single argument with parenthesis
[code]

[code]

[code]

[2021-01-09 10:44] Lan2u commented on #1032
I created a branch arrow_parse which allows peeking ahead 3 (rather than 2) tokens and that allows handling the case of `let foo = (a) => { return a };` (the existing code had a bug where we peeked the same position (2 ahead) twice while expecting a different value without a next() in between)

[2021-01-09 20:35] Razican commented on #779
This no longer panics, it returns a `TypeError`, so I'm closing this as the original issue has been fixed.

[2021-01-09 20:47] Razican opened #1053 "`1000n << 10000000n` takes forever"
As mentioned in #883, running the following code stalls the interpreter:
[code]

This is controlled [here](https://github.com/boa-dev/boa/blob/7b103a5c0bf29150a9bace87b17b39c9e0e7750d/boa/src/value/operations.rs#L319-L324) and [here](https://github.com/boa-dev/boa/blob/7b103a5c0bf29150a9bace87b17b39c9e0e7750d/boa/src/value/operations.rs#L331-L336). We don't ever check if the generated `BigInt` wou

[2021-01-09 20:48] Razican commented on #883
I have opened #1053 to track the `BigInt` taking forever , so I'm closing this, as the panic has been fixed.

[2021-01-09 20:48] #883 closed

[2021-01-09 20:52] Razican commented on #756
This has been patched in the last commits in master. In the future we might want to improve how this works, as we just "allow" some re-definitions, but I'm not sure if this is spec compliant.

[2021-01-09 20:52] #756 closed

[2021-01-09 20:56] Razican commented on #740
This has been patched in the latest releases, but we might want to re-check the spec compliance in the future.

[2021-01-09 20:56] #740 closed

[2021-01-09 20:57] #779 closed

[2021-01-09 21:11] Razican opened #1054 "Panic: "invalid or out-of-range date""
When running [this](https://github.com/tc39/test262/blob/main/test/annexB/built-ins/Date/prototype/setYear/time-clip.js) ECMAScript test, we get the following panic:

[code]

This in itself is not very clear, but this comes from the [`setYear()`](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/date/mod.rs#L927-L948) function. This calls to the [`set_components()`](https://github.com/bo

[2021-01-10 09:46] jevancc commented on #1053
As far as I know, v8 takes forever to run and SpiderMonkey throws an early range error (too large to allocate). The current implementation should be fine since the spec defines the size of `BigInt` is not limited, and so does the crate `num-bigint` we use.

But it is doable to set a reasonable size limit for `BigInt`. For reference, this is how SpiderMonkey estimates the shift result's length and

[2021-01-10 13:52] jasonwilliams opened #1055 "Add dark mode to benchmarks page"
Our benchmarks page lives here:
https://boa-dev.github.io/boa/dev/bench/

Its quite useful for reporting how Boa is doing over time, however I can put snippets into release notes because of the white background. It would be nice to have a dark mode toggle on this page which matches the colour of https://boa-dev.github.io/

Benchmark page code lives here:
https://github.com/boa-dev/boa/blob/gh-page

[2021-01-10 17:06] #1032 closed

[2021-01-10 20:27] jevancc commented on #1054
Hi, I want to work on this issue. Can you assign it to me?

[2021-01-10 22:46] tofpie commented on #1054
Sure. Go ahead.

[2021-01-11 13:17] Razican commented on #367
Everything mentioned in this issue has already been implemented.

[2021-01-11 13:17] #367 closed

[2021-01-11 13:46] Razican commented on #591
Maybe it makes sense to have a trait with a default implementation of the methods, but override them when needed.

[2021-01-11 13:51] Razican commented on #719
This was already implemented.

[2021-01-11 13:51] #719 closed

[2021-01-11 14:01] Razican commented on #279
This might partially conflict with #736. We might need to create our own interner that allows using UTF-16 strings.

[2021-01-11 14:02] Razican commented on #400
Hi @winnayx, do you have any update on this?

[2021-01-11 14:15] Razican commented on #820
Something else that's nice to have:
 - Show compliance by feature (this requires a change in the results format).

[2021-01-11 14:17] Razican commented on #818
I think we could provide a default and very limited `boa_event_loop` crate, just with the minimum to comply with the spec, and to be able to use it in tests. We would add a trait in the `boa` crate with the needed methods, and then rely on the implementers to comply with it.

[2021-01-11 14:22] Razican commented on #843
I'm closing this now. It can be opened again in the future if we find a better way of representing this.

[2021-01-11 14:22] #843 closed

[2021-01-11 14:46] Razican commented on #894
Hi @sidntrivedi012 how is this going?

[2021-01-11 14:47] Razican commented on #753
I believe this is implemented, right?

/cc @HalidOdat @tofpie

[2021-01-11 14:48] Razican commented on #149
I believe the question has been answered, but feel free to continue the discussion!

[2021-01-11 14:48] #149 closed

[2021-01-11 15:20] tofpie commented on #753
As far as I can tell #986 is more or less a duplicate of this one, and it has been solved by #987.

[2021-01-11 16:29] Razican commented on #753
Perfect, let's close this :)

[2021-01-11 16:29] #753 closed

[2021-01-11 16:40] Razican opened #1058 "Borrow panics in `Map`"
It turns out that we have a couple of panics when borrowing maps that are already borrowed.

When running [this](https://github.com/tc39/test262/blob/main/test/built-ins/Map/prototype/forEach/deleted-values-during-foreach.js) ECMAScript test, we get the following panic:
[code]

This happens because when we call `map.delete()`, the map is already borrowed mutably by the `forEach` function, and Rust

[2021-01-11 16:55] Razican opened #1059 "Borrow panic in object internal methods"
The `OrdinaryDefineOwnProperty()` function can panic with the following error message:

[code]

This has been observed when running [this](https://github.com/tc39/test262/blob/main/test/built-ins/JSON/stringify/property-order.js) ECMAScript test.

This is the full backtrace:
[code]

It seems that when we call `self.insert()` [here](https://github.com/boa-dev/boa/blob/master/boa/src/object/internal

[2021-01-11 19:07] tofpie commented on #557
This issue has been fixed in #1042.

[2021-01-11 19:07] #557 closed

[2021-01-11 21:48] jasonwilliams commented on #122
The job would need to:
1. `git checkout master`
2. `git clone git@github.com:boa-dev/boa.git --branch gh-pages dist`
2. `yarn build`
3. git push && git subtree push --prefix dist origin gh-pages

[2021-01-12 09:37] Razican opened #1062 "Panic trying to re-define the "arguments" identifier in a function"
When we try to define an identifier inside a function with the name `arguments`, this fails with a panic saying that "Identifier arguments has already been declared". You can test this with the following Test262 tests:
 - [`test/language/eval-code/direct/func-decl-fn-body-cntns-arguments-lex-bind-declare-arguments.js`](https://github.com/tc39/test262/blob/main/test/language/eval-code/direct/func-d

[2021-01-12 10:22] Razican opened #1063 "Panic parsing some floats"
When running [this](https://github.com/tc39/test262/blob/main/test/language/types/number/8.5.1.js) test, we get the following panic:

[code]

This is the stack trace:
[code]

This happens [here](https://github.com/boa-dev/boa/blob/master/boa/src/syntax/lexer/number.rs#L384). In theory, at this point in the code, we have already checked that what we are receiving is a valid float literal, but it se

[2021-01-12 10:34] Razican opened #1064 "Panic on unreachable code when converting object to JSON"
In some cases, when we try to convert a specifically built object to JSON, we can get a panic because we try to convert an `undefined` or `Symbol` value to JSON.

This happens in the following 2 tests from the Test262 test suite:
 - [`test/built-ins/JSON/stringify/value-tojson-result.js`](https://github.com/tc39/test262/blob/main/test/built-ins/JSON/stringify/value-tojson-result.js)
 - [`test/buil

[2021-01-12 10:35] Razican commented on #817
I have updated the list of panics. We now have one issue per panic (except for the one that happens randomly). This should help tackle the remaining Test262 panics on the Boa 0.12 release, and make it much safer to use in other projects.

[2021-01-12 13:29] #1009 closed

[2021-01-12 19:42] #996 closed

[2021-01-12 20:26] Lan2u commented on #818
Yeah, I think that's a good move so we can get stuff tested. Parsing wise I'll try and get the branch ready for review/merge by the end of the week so we can get started on an event_loop (which should be a separate issue I think)

[2021-01-12 22:06] RageKnify commented on #577
Hey @HalidOdat I got started on changing the global object to a `GcObject` rather than `Value`. One thing I ran into is that there are some methods of `GcObject` that receive `&mut self`, I think it stayed like that from when they were methods of `Object`, do you think we should keep it to signal mutability or change it to just `&self`?

[2021-01-13 21:13] RageKnify commented on #530
@croraf could you review whether this issue still exists?
I ran the following code in `master` and seems to work fine:
[code]

Can you give a JS code example that fails?

[2021-01-14 23:18] croraf commented on #530
(I don't think I'll have time in the following days to review it)

[2021-01-15 09:47] croraf commented on #530
Please check the previous messages. There was no bug happening. This is an optimization suggestion task.

[2021-01-15 12:57] RageKnify commented on #530
You want `GetConstField` and `GetField` to be handled equally by `Call`?
I don't see why we would want to do that, we would need to dumb down `GetConstField`, one of the big reasons for using it is that it provides faster access since the field doesn't need to be computed.

[2021-01-17 22:46] joshwd36 commented on #1058
I've had a go at this, and I've managed to fix the panics by going to an index based iteration. However, this still fails on [`iterates-values-deleted-then-readded`](https://github.com/tc39/test262/blob/main/test/built-ins/Map/prototype/forEach/iterates-values-deleted-then-readded.js), as when the element is removed the indexes are shifted back so the second element never gets visited. One solutio

[2021-01-18 03:38] jevancc opened #1078 "Octal escape sequence in string doesn't work"
**Describe the bug**
The octal escape sequence in string literal (non-strict mode) doesn't work properly.

**To Reproduce**
[code]

**Additional context**
None

[2021-01-18 06:27] tofpie commented on #1063
This is related to issue rust-lang/rust#31407.

[2021-01-18 23:31] joshwd36 commented on #736
I had a bit of a go at this and it's going to be quite challenging, especially with performance. There are a number of things that are only implemented for `str` or `String`, such as parsing, regex, and son, all of which would need costly conversions between UTF-8 and UTF-16. This would suggest it might be best to just use Rust strings, but then we have the issue of storing invalid strings, which

[2021-01-19 00:06] jasonwilliams commented on #736
We might need to research how other engines deal with this issue @joshwd36, thanks for looking into it. What was he outcome  widestring crate?

[2021-01-19 00:17] joshwd36 commented on #736
I used a local fork of it that I'd modified to give greater parity with `String` to do the investigation, replacing the inner value of `RcString` with it, and had a look at what errors there were. The main issue is that there is no way to have an `as_str()` method, so every time it uses a function that takes `&str` as an argument it forces an allocation to convert to a `String`. The only way I can

[2021-01-19 06:00] jevancc opened #1083 "Line terminator in string literal should raise a syntax error"
**Describe the bug**
The lexer does not throw a syntax error when there are line terminators, like `\n`, in string literal.

**To Reproduce**
[code]

**Expected behavior**
Should throw a syntax error

**Additional context**
There are some broken tests that exploit this bug and should be fixed when addressing this bug.
In the current implementation, the template literal share the character lexing f

[2021-01-19 07:22] #1058 closed

[2021-01-19 10:37] joshwd36 commented on #1058
Should there be another issue for the `iterates-values-deleted-then-readded` problem?

[2021-01-20 09:45] Razican commented on #1058
Yes, please, could you create the issue explaining what happens and why?

[2021-01-20 22:06] #1078 closed

[2021-01-20 22:07] #1054 closed

[2021-01-22 23:31] captain-yossarian commented on #894
I will be happy to take a look if @sidntrivedi012 don't mind

[2021-01-22 23:48] joshwd36 opened #1092 "Deleting elements from a map during forEach results in invalid iteration"
**Describe the bug**
Map iteration uses an index based approach, based on insertion order. It does this, rather than using the built-in iterator, to avoid multiple borrowing errors (#1058, #1077). However, when an element is removed from a map, all subsequent indexes are decremented and the elements shifted down a step. This means that the next element will be missed out if this deletion happens d

[2021-01-22 23:57] joshwd36 commented on #1092
I'm not very familiar with the SpiderMonkey source code, but from what I can gather it seems they use something similar by simply [setting the data to empty](https://searchfox.org/mozilla-central/source/js/src/ds/OrderedHashTable.h#229), although it's possible that they are also reindexing the map at some point too.

[2021-01-23 01:02] jevancc commented on #1092
For this specific question, you can have the following methods implemented for `OrderedMap`:
[code]

Then you can implement the for_each function as something like:
[code]

and for the normal delete operations not executed in for_each, just not calling the `lock_rehash` and `unlock_rehash` so that you can keep the map shrunk.

I am not familiar with the underlying type `IndexMap` of `OrderedMap`.

[2021-01-23 01:13] joshwd36 commented on #1092
That sounds like a very good idea. I haven't done any investigation into it, but one issue could be nested iteration, so perhaps using a counter for the lock would be more appropriate than just a bool.

I have had a look at that, but unfortunately I don't think there is anything. The ideal situation would be one where removing elements would not modify the index, but that isn't possible with this

[2021-01-24 08:57] tofpie commented on #894
Go ahead @captain-yossarian

[2021-01-24 14:28] captain-yossarian commented on #894
@tofpie  @Razican
Just leave here link to [wip pr](https://github.com/boa-dev/boa/pull/1094)

[2021-01-25 22:04] captain-yossarian commented on #894
@Razican  Can I use this [percent_encoding crrate](https://docs.rs/percent-encoding/2.0.0/percent_encoding/index.html) ?

[2021-01-26 10:11] Razican commented on #894
Hi, yes, if it makes sense to use it, feel free :)

[2021-01-28 10:53] sphinxc0re commented on #577
![Screenshot from 2021-01-28 11-54-16](https://user-images.githubusercontent.com/3702016/106128043-5d4c4900-615f-11eb-822f-57dfd37dfc46.png)

In Firefox, setting a field on a Number is just ignored.

[2021-02-01 13:04] RageKnify commented on #577
`boa` seems to match that behaviour for me, was there a situation where it seemed to not match @sphinxc0re ?

[2021-02-01 13:30] RageKnify commented on #400
I've implemented about half of `Set`, I reached a problem when trying to implement [Set.prototype.size](https://tc39.es/ecma262/#sec-get-set.prototype.size), it's supposed to be an accessor property, but the current API assumes `DataDescriptor`s https://github.com/boa-dev/boa/blob/04da7ff2225c2ff303740ff388f1b7ac9fccdb5f/boa/src/object/mod.rs#L942

My first idea was to make it usable for both case

[2021-02-01 16:45] HalidOdat commented on #400
This approach is much better. I don't think changing `.property` to take property descriptor is the right answer. Instead we would add a new method called `.accessor(&mut self, get: Option<GcObject>, set: Option<GcObject>, attribute: Attribute)` that would add an accessor property to the prototype.

If we want to add a property descriptor we should have a method that does that with a clear name, i

[2021-02-01 16:48] #1083 closed

[2021-02-01 17:08] RageKnify commented on #400
Yes, any change would also include updates to the `static` variants of these functions.
Since they are all properties I'd say to have 6 different functions:
- `data_property`
- `static_data_property`
- `accessor_property`
- `static_accessor_property`
- `property_descriptor`
- `static_property_descriptor`

(I prefer to use more complete names to make them easier to understand)

I'm not sure we woul

[2021-02-02 07:10] sphinxc0re commented on #577
No, I was just commenting on the "should set_field panic" part. It shouldn't

[2021-02-04 08:19] #1035 closed

[2021-02-04 14:12] #1063 closed

[2021-02-05 01:19] jevancc opened #1117 "Reserved word (keyword) as identifier and object properties"
**Describe the bug**
Boa throws syntax error when using some reserved words as variable names, function arguments, and object property.

**To Reproduce**
[code]

Another related bug:
[code]

After the Unicode escapes in identifier name are supported, the following code should also work properly:
[code]

**Expected behavior**
As mentioned above.

**Additional context**
The Identifier syntax defined

[2021-02-05 01:26] jevancc commented on #1117
I am working on this issue.

The Unicode escape in identifier name (lexer) is supported in #1102 , but this issue seems to be a bug across both the lexer and parser - the keyword should be evaluated in parser based on where it appears instead of the lexer. I will create a separate PR for it since it will be big and it is more suitable to be addressed the bug separately.

[2021-02-06 05:43] RageKnify commented on #1092
Since I tried to copy from Map where possible the `Set` implementation in #1111  also has this issue, once a solution is reached it should be easy to apply it to `Set`.

[2021-02-15 22:03] davidmikulis commented on #36
Hi all, I would like to work on `Array.prototype.flat` and `Array.prototype.flatMap` if those are available.

[2021-02-16 00:46] HalidOdat commented on #36
Go ahead @davidmikulis :)

[2021-02-18 14:36] NathanRoyer commented on #1038
I'm including a fix in my next PR.

[2021-02-20 00:17] github-actions[bot] opened #1137 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2021-02-20 09:50] jasonwilliams commented on #1137
This could be as simple as moving to memmap2

[2021-02-24 04:17] davidmikulis commented on #36
The Pull Request for `Array.prototype.flat` and `Array.prototype.flatMap` is available at #1132 for whenever anyone has time to review. Thanks!

[2021-02-27 16:56] SamuelQZQ commented on #1137
@jasonwilliams Could I take this task?
 I'm new here. This project is awesome.

[2021-02-27 17:45] jasonwilliams commented on #1137
No problem @SamuelQZQ

[2021-02-28 03:26] SamuelQZQ commented on #1137
@jasonwilliams I found that the `memmap` is a sub-dependency from `measureme`. Maybe we just need to wait for `measureme` updating.

I have created an [issue](https://github.com/rust-lang/measureme/issues/153) for  `measureme`.

[2021-02-28 03:32] SamuelQZQ commented on #892
@Razican Could I take this task?

[2021-02-28 08:48] Razican commented on #892
Sure, go ahead!