[2021-02-28 23:55] RageKnify opened #1147 "Optimize integer operations"
Increment operators on `Value::Integer(i32)`s result in `Value::Rational(f64)`s because they use `Value::to_number` which returns `f64`. This makes traditional `for` loops with `i++` slower because they use floating point arithmetic rather than integer arithmetic.

---
#### My idea
I thought a good solution would be to have an internal:
[code]
We would also simplify to have a single `Value` varian

[2021-03-02 12:13] SamuelQZQ commented on #892
@Razican After some investigation, I think we cannot fix it with modification in this [method](https://github.com/boa-dev/boa/blob/master/boa/src/syntax/parser/statement/mod.rs#L263-L290).

If we only fix it in `StatementList`, some other empty statement will still fail. For example:
- `if(someFunction()) ;`

To implement the EmptyStatement completely, I think we still should parse it in `Statemen

[2021-03-02 14:08] SamuelQZQ commented on #265
@afinch7 Could I have a try?

[2021-03-04 16:48] 0x7D2B commented on #989
I started digging deeper into the problem and I think the root cause is how lexical environments are implemented. When function environment records are created, they seem to be using the right outer environment, but when they're pushed to the LexicalEnvironment stack, [that environment gets overwritten](https://github.com/boa-dev/boa/blob/c0e7791c49e73f562efb96fd4ca4d7ff40e16443/boa/src/environmen

[2021-03-05 09:02] 0x7D2B commented on #989
Alternate implementation which replaces the `environments` iterator to traverse over the current environment's ancestors:

[code]

Not a fan of doing it this way though. I think I want to modify `EnvironmentRecordTrait` to add recursive implementations of most `LexicalEnvironment` methods to avoid cloning altogether.

[2021-03-07 15:07] jasonwilliams opened #1160 "Upgrade GC to 0.4.0 and fix breaking change"
**Describe the bug**
We currently use [0.3.6 of gc](https://github.com/boa-dev/boa/blob/master/boa/Cargo.toml#L25)
We should be able to update to 0.4.0 and fix the small changes presented in gcobject.rs

- Update the dependency to 0.4.0
-  Rebuild
- Attempt to fix errors

[2021-03-07 16:37] #1041 closed

[2021-03-12 14:42] #1160 closed

[2021-03-12 15:34] 0x7D2B commented on #1062
I can fix this in #988 after #1156 (for proper environments) is merged.

[2021-03-12 17:04] #892 closed

[2021-03-14 11:32] Razican commented on #1062
Cool, let's assign this to you :) I will try to get some free time in the next days to review those PRs.

[2021-03-18 15:23] jasonwilliams opened #1180 "Experiment with ICU4X"
https://github.com/unicode-org/icu4x will be useful for implementing i18n-sensititve operations and future proposals like [`Temporal`](https://github.com/tc39/proposal-temporal)

[2021-03-21 05:48] playXE opened #1183 "Stack overflow when constructing binary tree"
**Describe the bug**
Boa does stack overflow on Windows when constructing binary tree with depth starting from 1

**To Reproduce**
[code]

**Expected behavior**
Running this code should result in `Created 3 nodes` line in stdout

**Build environment (please complete the following information):**

- OS: Windows
- Version: 10
- Target triple: x86_64-pc-windows-msvc
- Rustc version: rustc 1.52.0-nigh

[2021-03-21 10:35] jasonwilliams commented on #1183
Hey @playXE thanks for raising. Starlight is looking good 👍

[2021-03-22 04:32] 0x7D2B opened #1184 "Duplicate code in Boa"
I've been coming across a lot of duplicate or very similar code in Boa. I think a lot of it can be combined to simplify things. Some examples:

# Function parsers

There are four very similar parsers for function declarations and statements, one for each combination of async/non-async function expression/declaration:

* https://github.com/boa-dev/boa/blob/586a68970b1b5698183983fec9c3333bd0c45cbf/b

[2021-03-22 19:50] RageKnify commented on #1183
It's a weird bug, changing the code to:
[code]
Avoids the bug.

[2021-03-23 02:22] playXE commented on #1183
It does not segfault anymore but still does not work correctly:
[code]
[code]

[2021-04-05 17:08] #989 closed

[2021-04-05 19:53] jasonwilliams opened #1197 "Replace environment_stack with current_env"
Now that environment traversal has been [refactored](https://github.com/boa-dev/boa/pull/1156), we no longer need to hold environments in a `Vec`. Initially we used this to traverse through and get bindings.

This means we will only ever care about the `last` environment in the Vec. See examples here:
https://github.com/boa-dev/boa/blob/master/boa/src/environment/lexical_environment.rs#L154-L168

[2021-04-09 01:14] AnnikaCodes commented on #948
I'd like to take a stab at this.

[2021-04-09 12:47] Razican commented on #948
Go ahead! :)

[2021-04-09 15:17] 0x7D2B commented on #1197
I'm pretty sure we can't do this because it would bring back #989.

Consider the code from #989:
[code]

`f1()` getting called in `f2()` will have a new environment with the global scope as its parent - it would not have access to `a` declared inside of `f1`, for example. The environment stack of `f1` would be: `Global` -> `f1`. This means that we can't assume that a new environment will have the

[2021-04-12 12:23] yancheng199287 opened #1205 "I have an error using the example from the project."
I tried to learn boa because I created a demo project.
in my cargo.toml file, import Boa crate

[code]

copy class.rs in example of dir  to my demo project

file path from boa-master\boa\examples\classes.rs

like this
#[derive(Debug, Trace, Finalize)]
struct Person {
    name: String,
    age: u32,
}

when I run this example, I have trouble

[code]

I expect it to be executed correctly and no erro

[2021-04-18 12:20] #1197 closed

[2021-04-26 14:44] SamuelQZQ commented on #1137
https://github.com/boa-dev/boa/pull/1217
@jasonwilliams  This can be closed

[2021-04-26 16:25] playXE commented on #1183
@jasonwilliams @RageKnify seems like binary trees bench work with the current master branch. But Boa takes eternity to create a tree with depth 14 and then it does dump 1.1GB of text that looks like serialized heap?

[2021-04-26 22:42] RageKnify commented on #1137
Ty for the heads up @SamuelQZQ

[2021-04-26 22:42] #1137 closed

[2021-05-03 21:11] #1064 closed

[2021-05-07 19:17] HalidOdat opened #1229 "Implement `Map.prototype[ @@toStringTag ]`"
**ECMASCript feature**

Implement [`Map.prototype[ @@toStringTag ]`][spec], as a reference on how to implement it, you can check #1225 (`Math[ @@toStringTag ]`).

[spec]: https://tc39.es/ecma262/#sec-map.prototype-@@tostringtag

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"Map"`.

[2021-05-07 19:21] HalidOdat opened #1230 "Implement `BigInt.prototype[ @@toStringTag ]`"
**ECMASCript feature**

Implement [`BigInt.prototype[ @@toStringTag ]`][spec], as a reference on how to implement you can check #1225 (`Math[ @@toStringTag ]`).

[spec]: https://tc39.es/ecma262/#sec-bigint.prototype-@@tostringtag

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"BigInt"`.

[2021-05-07 19:24] HalidOdat opened #1231 "Implement `Symbol.prototype[ @@toStringTag ]`"
**ECMASCript feature**

Implement [`Symbol.prototype[ @@toStringTag ]`][spec], as a reference on how to implement you can check #1225 (`Math[ @@toStringTag ]`).

[spec]: https://tc39.es/ecma262/#sec-symbol.prototype-@@tostringtag

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"Symbol"`.

[2021-05-07 19:26] HalidOdat opened #1232 "Implement `Reflect[ @@toStringTag ]`"
**ECMASCript feature**

Implement [`Reflect[ @@toStringTag ]`][spec], as a reference on how to implement you can check #1225 (`Math[ @@toStringTag ]`).

[spec]: https://tc39.es/ecma262/#sec-reflect-@@tostringtag

**Example code**
This code should now work and give the expected result:
[code]
The expected output is `"Reflect"`.

[2021-05-07 19:36] HalidOdat opened #1233 "Implement `Symbol.prototype[ @@toPrimitive ]( hint )`"
**ECMASCript feature**

Implement [`Symbol.prototype[ @@toPrimitive ]( hint )`][spec].

The to primitive function described in [spec][spec] can be created with `FunctionBuilder` and it can be added to `Symbol.prototype` with `ConstructorBuilder::property()` method.

[spec]: https://tc39.es/ecma262/#sec-symbol.prototype-@@toprimitive

[2021-05-09 10:02] Razican opened #1241 "Rest parameters for arrow functions can panic"
The `Function::add_rest_param()` function can panic with the following error message:

[code]

This has been observed when running [this](https://github.com/tc39/test262/blob/main/test/language/rest-parameters/arrow-function.js) ECMAScript test.

This is the backtrace:
[code]

You can check this issue by running the following command:
[code]

[2021-05-09 10:30] Razican opened #1242 "Regular expression execution can panic"
The `Function::add_rest_param()` function can panic with the following error message:

[code]

This has been observed when running [this](https://github.com/tc39/test262/blob/6cf3433cf8f44c471a7e4f47e5ba36d32ebb7b69/test/built-ins/RegExp/prototype/exec/failure-g-lastindex-reset.js) ECMAScript test.

Interestingly this only happens when executing the full test suite, and not if we ask the backtrace

[2021-05-10 02:21] HalidOdat commented on #1232
This is already implemented.

[2021-05-10 02:21] #1232 closed

[2021-05-12 00:02] wylie39 commented on #1229
Can I take a stab at this?

[2021-05-12 00:10] HalidOdat commented on #1229
Sure :)

[2021-05-12 18:52] #1229 closed

[2021-05-14 12:09] gufoe opened #1262 "Can't compile example classes.rs"
Hello, thanks for the cool project.

I cannot compile the classes example:
https://github.com/boa-dev/boa/blob/master/boa/examples/classes.rs

I imported boa like this: `Boa = "0.11.0"`
I get the same error on both stable and nightly.

[code]

I get the same error every time I try to derive Trace or Finalize.
I tested with both the stable and nightly toolchain.

- OS: debian
- Version: testing
- T

[2021-05-20 14:42] #400 closed

[2021-05-21 02:46] n14little commented on #1230
I'll take this.

[2021-05-21 17:01] HalidOdat opened #1269 "`Math.hypot.length` should be `2`"
**Describe the bug**
`Math.hypot.length` should be `2` not `1`

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]

**Expected behavior**
Running this code, `a` should be set to `2` and printed, but `a` is instead set to `1`.

[spec](https://tc39.es/ecma262/#sec-math.hypot)

[2021-05-21 17:02] #1230 closed

[2021-05-22 08:47] Razican commented on #1269
As a hint to anyone coming to implement this, this is part of the `Math` builtin implementation :) feel free to ask questions on how this is implemented.

[2021-05-23 06:19] 0x7D2B opened #1277 "More detailed information for test conformance changes"
Right now the github-actions bot shows the number of changes in how many tests passed/failed/panicked compared to master, it would be nice if it would also list the names of the tests in the comment.

[2021-05-23 06:28] 0x7D2B commented on #1184
#1273 fixes the function call and constructor one.

[2021-05-24 20:44] #1038 closed

[2021-05-25 14:06] #1241 closed

[2021-05-26 11:50] #1059 closed

[2021-05-27 09:14] #1062 closed

[2021-05-27 09:15] #1242 closed

[2021-05-28 01:42] moadmmh commented on #1269
I can fix this

[2021-05-28 04:20] moadmmh commented on #1231
I'll take this

[2021-05-28 04:20] moadmmh commented on #1233
I'll take this

[2021-05-28 15:46] #1269 closed

[2021-05-29 04:34] #1277 closed

[2021-05-29 22:02] #1231 closed

[2021-05-31 19:38] Razican opened #1300 "Implement `Proxy` built-in object"
**ECMASCript feature**
ECMAScript allows using the `Proxy` object to re-define operations for normal objects, doing a "proxy" functionality. You can check how this works in the [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy), and in [the specification](https://tc39.es/ecma262/#sec-proxy-objects).

**Example code**

[code]

**Tips for implementation**
Y

[2021-05-31 19:49] Razican opened #1301 "Implement `ArrayBuffer` built-in object"
**ECMASCript feature**
The `ArrayBuffer` object is used to represent a generic, fixed-length raw binary data buffer. You can check how this works in the [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/ArrayBuffer), and in [the specification](https://tc39.es/ecma262/#sec-arraybuffer-objects).

**Example code**

[code]

**Tips for implementation**
You can see #

[2021-06-02 14:52] #817 closed

[2021-06-06 16:32] RageKnify commented on #602
I believe this was implemented in #1291, seems to be working as far as I can tell, if something is misisng we can open the issue again.

[2021-06-06 16:32] #602 closed

[2021-06-06 16:39] RageKnify commented on #117
I'll be removing the assignment, if @flix477 still wants to finish their PR we can give back the assignment.

[2021-06-06 17:36] RageKnify opened #1304 "Implement missing RegExp properties"
**ECMASCript feature**
The description of the RegExp Constructor is here: https://tc39.es/ecma262/#sec-regexp-constructor

**Example code**
MDN should have enough examples to test, https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp

- [x] `get RegExp [ @@species ]`
- [x] `RegExp.prototype.constructor`
- [x] `RegExp.prototype [ @@match ] ( string )`
- [x] `RegEx

[2021-06-07 09:36] Razican opened #1306 "Some Test262 tests run forever"
**Describe the bug**
We are ignoring some Test262 tests because they run forever. Here you have the list of them:

 - [`test/built-ins/String/prototype/padStart/fill-string-empty.js`](https://github.com/tc39/test262/blob/e793512b55c199de6abc392d1be4de7325dae544/test/built-ins/String/prototype/padStart/fill-string-empty.js)
 - [`test/built-ins/String/prototype/padEnd/fill-string-empty.js`](https://

[2021-06-07 09:48] Razican opened #1307 "Some Test262 tests can cause a stack overflow"
**Describe the bug**
We are ignoring some Test262 tests because they cause a stack overflow in Boa. Here is the full list:

 - [`test/language/expressions/tagged-template/tco-call.js`](https://github.com/tc39/test262/blob/e793512b55c199de6abc392d1be4de7325dae544/test/language/expressions/tagged-template/tco-call.js)
 - [`test/language/expressions/tagged-template/tco-member.js`](https://github.com/

[2021-06-07 10:20] ClementNerma opened #1308 "Support for shorthand object literals"
**Describe the bug**
The following code doesn't compile:

[code]

**Expected behavior**
It should work as an equivalent of `const wrapper = { message: message };`

**Build environment:**
Boa Playground

[2021-06-08 13:09] kvnvelasco commented on #361
Took a stab at it!

There are some fiddly bits about where to source the name of a function from for sure. I think the function name should be included in the Function enum instead of its wrapping value. (Or maybe both?)

I think it should be possible. All of the points of construction of function have access to the name. Just wanted to get your thoughts on it

[2021-06-09 00:06] macmv opened #1311 "`StatementList` display is broken"
Currently, `StatementList`, `Node`, and all node types implement `fmt::Display`. This is meant to pretty-print the AST that was parsed from a JavaScript source file. Based on the current implementation, it looks like it is meant to generate javascript-like source code. However, it is very broken. Example:

Original source:
[code]
Display output (on `StatementList`):
[code]
(I know this is nonsense

[2021-06-09 01:25] macmv opened #1313 "Add line/character numbers to errors"
Line numbers are only in syntax errors right now. Can we add a `Position` to the `Node` type? I am thinking there would be a wrapper struct (a new `Node` type) which would contain a `Position` and a `NodeType`. The `NodeType` would be the current `Node` enum. This would mean we can store various parsing information with each node, and also produce line/character numbers when we hit undefined varia

[2021-06-09 01:53] JayHelton commented on #672
Hello! Is this available to work on?

[2021-06-09 10:10] Razican commented on #1313
This is blocked until #1295 lands.

[2021-06-09 10:29] Razican commented on #1308
For anyone willing to implement this, this requires a change in the parser.

The spec on object initializers can be found [here](https://tc39.es/ecma262/multipage/ecmascript-language-expressions.html#sec-object-initializer). And our implementation can be found in the [`boa/src/syntax/parser/expression/primary/object_initializer/mod.rs`](https://github.com/boa-dev/boa/blob/f8d0b66daf92c52c187c43eb3

[2021-06-09 11:23] jasonwilliams commented on #672
@JayHelton i believe so!

[2021-06-09 23:41] fabricio7p commented on #1301
Hi Razican. I'm willing to begin contributing to Boa regularly.
Would you give me a hand on a first issue?

Feel free to assign any good first issue to me, i'll take it

[2021-06-10 02:41] kvnvelasco commented on #893
Can I take this?

[2021-06-10 08:47] Razican commented on #893
Go ahead! I assigned it to you :) let us know if you'd like any guidance.

[2021-06-10 08:50] Razican commented on #1301
Would you like to take this one? It's not marked as "good first issue", but I think it's a good one to learn about built-in objects. Let me know if you'd like any help :)

[2021-06-10 10:59] fabricio7p commented on #1301
Sounds good. I'll take this one

[2021-06-12 03:46] davimiku commented on #1308
Hi @Razican , I would like to try implementing this. Do you think the scope of this issue would include adding `IdentifierReference`  in the [Executable trait for Object](https://github.com/boa-dev/boa/blob/master/boa/src/syntax/ast/node/object/mod.rs#L98) also?

[2021-06-12 07:56] Razican commented on #1308
Let's assign it to you then :)

I don't think we need to change that. This is just a shorthand for a "property definition" right? Where the name of the property is the name of the variable containing the value. I think we just need to generate a `PropertyDefinition` from the parser itself.

[2021-06-12 08:40] evalPenny opened #1315 "Add Garbage Collection Triggering Function"
Add Garbage Collection Triggering Function since I have a huge amount of data.
*Note: I don't think this function exists, yet.*

[2021-06-12 09:05] Razican commented on #1315
Can't this be done by running [`gc::force_collect()`](https://docs.rs/gc/0.4.1/gc/fn.force_collect.html)?

[2021-06-12 23:54] kvnvelasco commented on #893
Okay so I've put up some code and I'm still 90% lost about how a bunch of things work. Is the discord the best place to get guidance? Right now i can `const x = UInt8Array(3); x.length === 3`

[2021-06-13 06:00] evalPenny commented on #1315
Probably, but I want a built-in function to trigger the garbage collection. So, I could trigger the garbage collection in JavaScript as well.

[2021-06-13 09:50] Razican commented on #1315
Is this part of the ECMAScript specification? If it's not, it should not be included in a JS engine. It can, however, be easily extended using the Boa API.

You just need to define the function and add it to the global object:

[code]

You can later use the `context` object in the `main()` function to run any JS that calls the `gcCollect()` function that will manually trigger garbage collection.

[2021-06-14 00:04] #1315 closed

[2021-06-14 21:57] jasonwilliams opened #1320 "[perf] - Split intrinisics into min and fullFat groups"
The profile below is from the code:
[code]

![image](https://user-images.githubusercontent.com/936006/121963253-c248ba00-cd61-11eb-8792-95875fa634e4.png)

The above image shows (on VM path):
*  6.5ms on `create_intrinsics`
* 42μs microseconds lexing
* 0.44ms parsing
* 0.60ms code generation
* 63μs execution

We spend some considerable time putting the intrinsics together.  These are mainly the glo

[2021-06-15 12:39] fabricio7p commented on #1301
#1322

[2021-06-15 13:00] jasonwilliams opened #1323 "Should some object-specific operations be moved out of GcObject?"
At some point (when working on the stack) we will need to operate on objects which are not GC managed. These would be objects that can live on the stack.

We have some functionality (such as [`call_construct`](https://github.com/boa-dev/boa/blob/master/boa/src/object/gcobject.rs#L123-L315)) living in GcObject and not in Object, does anyone know why this is?
My expectation is that all object functi

[2021-06-15 13:05] raskad commented on #1304
I am currently working on this.

[2021-06-15 14:46] jasonwilliams opened #1325 "Don't trigger documentation/benchmarks upload if user is dependabot"
Workflows triggered by Dependabot PRs will run with [read-only permissions](https://github.blog/changelog/2021-02-19-github-actions-workflows-triggered-by-dependabot-prs-will-run-with-read-only-permissions/#:~:text=February%2019%2C%202021-,GitHub%20Actions%3A%20Workflows%20triggered%20by%20Dependabot%20PRs,run%20with%20read%2Donly%20permissions&text=This%20means%20they%20will%20receive,to%20the%20

[2021-06-17 11:27] jedel1043 commented on #36
Should `Array.prototype.toSource()` be implemented at all? [MDN Web Docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/toSource) shows that there's barely any support for this method, as it was deprecated many years ago.

[2021-06-17 13:04] Razican commented on #36
It shouldn't be implemented, since it's not in the spec.

[2021-06-17 14:19] neeldug opened #1335 "Fix errors relating to associated constants in cargo check"
Currently `cargo check` fails relating to [this](https://github.com/rust-lang/rust/issues/68490), this is a simple change to migrate the constants to the associated versions rather than the modular versions.

[2021-06-17 14:29] #1325 closed

[2021-06-17 17:49] jedel1043 commented on #948
Apparently to implement this function we need to support an execution context stack with at least 2 contexts ([context stack spec](https://tc39.es/ecma262/#execution-context-stack)), meaning this issue is blocked by #186.

[2021-06-18 08:26] #1311 closed

[2021-06-18 16:34] jasonwilliams commented on #948
@jedel1043 i made a start on that here https://github.com/boa-dev/boa/pull/1342 feel free to review

[2021-06-18 21:36] Razican commented on #948
I still think we need to implement the stack of contexts outside the VM branch too, to allow implementing the `eval()` function while the VM branch gets to feature parity.

I think the PR you mention implements the execution stack in the VM, though, right? I think this is a different thing.

[2021-06-19 01:54] jedel1043 commented on #948
I agree. Ideally we would have an `Agent` struct as the [spec](https://tc39.es/ecma262/#sec-agents) requires, but while that's not implemented we could maybe refactor `Context` to have an `execution_context_stack: Vec<ExecutionContext>` and a `running_execution_context` function, that way we could pass the context to `eval` and obtain an execution context to run the code from.

[2021-06-19 06:37] #1335 closed

[2021-06-19 08:42] jasonwilliams commented on #948
I wouldn’t want to invest time doing that on the tree-walking side when we’re going to move away from that direction in future.

[2021-06-19 14:31] FrancisMurillo commented on #122
Can I claim this ticket?

[2021-06-19 14:34] Razican commented on #122
Sure, go ahead!

[2021-06-19 16:03] neeldug commented on #1307
Loaded `test/language/expressions/tagged-template/tco-call.js` into a debugger and got an exception during eval of `EXC_BAD_ACCESS(code=2, address=...)`, seems to occur at a memory copy of some variety, will continue stepping through to work through it.

[2021-06-19 20:22] Razican commented on #1307
I will try to give it a look in a couple of days, but something that can be tried is to see if the issue is in the parsing time or in the execution time, that would help a lot.

You can also try to extract a minimum example, especially if the issue is when parsing, and try to get all lexed tokens, to see if they make sense, by running the "boa" binary as mentioned in "DEBUGGING.md"

[2021-06-19 20:41] neeldug commented on #1307
Actually, ended up actually reading up on the feature the testcase is testing, it's tail-call optimisation, and explains why the number of stack frames is so large, i.e. this optimisation would need to be implemented on Boa's side to fix both of these from overflowing.

[2021-06-19 21:50] neeldug commented on #1306
For the concat, I understand there is a check missing from spec here: `iii. If n + len > 253 - 1, throw a TypeError exception.`, however, I'm unable to understand completely how the implementation follows the spec for the spreadable section [here](https://github.com/boa-dev/boa/blob/9497636e6ca4dc7b449591b3b481a270cec3141b/boa/src/builtins/array/mod.rs#L423).

[2021-06-19 23:16] jedel1043 commented on #948
Yeah, maybe the best approach would be to implement `Agent` right now (possibly on a separate branch) and merge the moment it's ready.

[2021-06-20 02:20] jedel1043 commented on #591
Another option would be to have a trait generalizing the behaviour of any object like:

[code]

Then we would implement the internal function for every object directly in the implementation of the trait:

[code]

And finally, we would implement a static dispatch with an enum:

[code]

Or, as a way to follow more closely the spec, implement it with generic functions:

[code]

[Rust playground](http

[2021-06-23 01:48] carterisonline commented on #1262
I also ran into this issue while trying to embed Boa into my app. A few key issues stand out to me here:

(note: I am running this code in my own testing project; my `main.rs` is identical to Boa's `boa/examples/classes.rs`)

1. Your issue can be resolved by importing `gc` into your `Cargo.toml` (I used version 0.4)
2. Upon applying that change, the example shows a __new__ error regarding the deri

[2021-06-24 19:12] teymour-aldridge commented on #1300
I'm interested in working on this.

[2021-06-25 07:13] Razican commented on #1300
I assigned it to you, let us know if you'd like any help!

[2021-06-26 02:48] FrancisMurillo commented on #214
Can I take this?

[2021-06-28 20:08] neeldug commented on #13
@jasonwilliams I believe this list is missing [replaceAll](https://tc39.es/ecma262/#sec-string.prototype.replaceall).

[2021-06-29 03:49] SuneelFreimuth commented on #1055
I'm a Rust programmer/web developer looking for a good first issue-is this still something worth pursuing? I could implement a toggle-able dark mode this week.

[2021-06-29 07:25] Razican commented on #1055
Sure! That would be very nice indeed. And it would be best if it followed the behaviour of the main / blog page.

[2021-06-29 16:40] HalidOdat opened #1371 "Split `Node` into `Expression`, `Statement` and `Declaration`"
Currently `Node` is both a expression, statement and declaration. It would be better if `Node` was split into how the spec describes it `Expression`, `Statement` and also `Declaration`. Why do we want this? Right now we don't differentiate between statements (like `if`, `while`, etc) and expressions (like `2 + 2`), while we could make it work like this, it makes somethings awkward like `if (cond)

[2021-06-29 16:51] HalidOdat opened #1372 "Startup snapshots"
Because JavaScript describes so many objects creating them on every `Context` creation takes some time. But with snapshots we only do it once then we serialize them into a snapshot binary file and all other Context creation just deserializes this binary snapshot file.

V8 uses [snapshots](https://github.com/danbev/learning-v8/blob/master/notes/snapshots.md) to speed up context creation

This will

[2021-06-29 20:13] SuneelFreimuth commented on #1055
Got it, I'll make a PR this week using the homepage as an example.

[2021-06-29 20:38] HalidOdat opened #1373 "NaN boxed JavaScript Value"
Currently a JavaScript value in Boa is defined as a fat enum. With NaN boxing we can reduce this to `8` bytes having all the variants of a JS value fit in `u64`/`f64`. With this we can reduce the memory footprint of Boa, also a JS value will be able to be put into a 64bit register.

Many JS engines use this, like spidermonkey, JavaScriptCore, etc.

For more information:
	- https://anniecherkaev.co

[2021-06-29 23:17] neeldug commented on #1373
I ended up reading through the links and can see the benefit in doing NaN boxing, however, what is the memory footprint of the fat enum being used currently? Not totally sure how or whether Rust does any sort of padding or whatnot on fat enums.

[2021-06-29 23:59] HalidOdat opened #1376 "`Js` prefix for JavaScript rust types"
`JsValue` <= `Value` (#1457)
`JsString` <= `RcString` (#1380)
`JsBigInt` <= `RcBigInt` (#1408)
`JsSymbol` <= `RcSymbol` (#1382)
`JsObject` <= `GcObject` (#1489)
`JsResult` <= `boa::Result` (#1493)

[2021-06-29 23:59] HalidOdat commented on #1373
Currently the size of `Value` is `24` bytes (`size_of::<Value>()`).

[2021-06-30 00:08] HalidOdat opened #1377 "Custom JavaScript string rust type"
The current JavaScript string rust (`RcString` which holds a `Rc<str>`) is 16 bytes this is because it stores the pointer to the data and length on the stack. And this prevents #1373 from being implemented. So we need to write a custom string type which is referenced counted like `Rc<str>` and holds the length on the heap.

I should almost be done with this, and I'll create a PR soon :)

[2021-06-30 08:25] raskad commented on #1376
I think that would be a great change to make things more clear.

[2021-07-02 14:57] RageKnify commented on #13
@neeldug there's still a few methods in the check list, should this issue be closed?

[2021-07-02 15:39] neeldug commented on #13
Shouldn’t be closed, only checked off.

[2021-07-05 17:42] SuneelFreimuth commented on #1055
I've been having some trouble adjusting the colors of the charts on the benchmarks page, which I think might be due to an old version of Chart.js, namely v.2.9, being loaded from a CDN. Is it alright if I upgrade the page to Chart.js v3.4 (the latest) instead? It adds a variety of useful features.

[2021-07-06 17:55] Razican commented on #1055
Of course, feel free to update dependencies! ChartJS v3 should also perform better :)

[2021-07-07 06:40] playXE commented on #1372
Starlight implements them almost like in V8 and Boa for sure will need custom GC for this plus a lot of unsafe code.  Custom GC is required because for serialization and deserialization how objects are allocated does matter plus all the GC objects need to implement some trait for deser/ser, in Starlight there is a base trait for all GCed objects: `GcCell` and GcCell requires impl of `Serializable`

[2021-07-07 06:42] playXE commented on #1373
If you're looking for impl of NaN boxing in Rust Starlight has two different implementations of them for handling JS values: <https://github.com/Starlight-JS/starlight/blob/dev/crates/starlight/src/vm/value.rs> :)

[2021-07-07 12:47] HalidOdat commented on #1373
Awesome! thanks, for the suggestion. I have implemented NaN boxing locally, but the problem is refactoring the existing `match value` stuff (which we use a lot, this generates a couple of hundred of erros :sweat_smile: )

[2021-07-07 13:10] HalidOdat commented on #1372
Yeah we need a new GC, `rust-gc` makes somethings really awkward, also there is not much control (like changing the threshold, or changing when we want collect).

[2021-07-07 13:44] playXE commented on #1372
For me main problem with all the GC crates in Rust is not only the control but how slow and memory inefficient they are. rust-gc if I understand correctly uses reference counting to handle root references which is very slow while other JS engines: V8,JSC and now Starlight just use conservative stack scanning to find roots. There's also alternative like in SpiderMonkey to use shadow stack and Starl

[2021-07-07 13:59] playXE commented on #1373
What about having `ValueVariant` enum which essentially can hold all the values NaN-boxed value can encode and then add `JsValue::variant()` which returns this ValueVariant. I'm pretty sure Rust and LLVM are able to optimize this.

[2021-07-07 14:33] HalidOdat commented on #1373
Yup. thought about this as a possible solution and it's probably the best solution, since refactoring will be a nightmare otherwise.

[2021-07-07 15:01] HalidOdat commented on #1372
Does V8 use conservative stack scanning? I thought it managed roots through scopes (`HandleScope`) when a scope is destroyed, it's handles are available for collection. since `HandleScope` keeps track of handles, `Handle`s are copyable.

Matching this in rust would allow us to use life times with scopes and handles, so we could make them more safe.

[2021-07-07 15:27] playXE commented on #1372
They did use handles and scopes but now these are just no-op IIRC. They now use the same GC as Blink does: Oilpan GC. It is mostly-precise

[2021-07-09 20:22] macmv opened #1393 "Lexically declared names should cause ReferenceErrors when used before initialization"
Bug: variable declarations at runtime are not quite correct.

[code]

This prints out `5` then `3`. However, this is invalid javascript. Because `a` was redeclared within the inner block, the first `console.log(a)` should produce an error like this: `Uncaught ReferenceError: Cannot access 'a' before initialization`. I found this issue while implementing variable scoping at parse time (see #1391).

[2021-07-13 20:39] raskad commented on #265
@SamuelQZQ Are you still working on this? I just started some basic implementation and am currently at +128 tests passing. I think I could pick this up if you are not working on it.

@davimiku you referenced #1324, that seems to implement shorthand syntax for [Object Initializers](https://tc39.es/ecma262/multipage/ecmascript-language-expressions.html#sec-object-initializer) right? I think this iss

[2021-07-14 01:19] davimiku commented on #265
@raskad That's correct, #1324 only implements initializing objects with the short-hand notation (on the "right-hand side"), i.e.

[code]

That PR didn't cover destructuring assignment (on the "left-hand side"), so great that you've started! I didn't start / wasn't planning on implementing destructuring assignment.

Maybe if you don't hear from SamuelQZQ try asking a maintainer to change the assign

[2021-07-14 02:48] SamuelQZQ commented on #265
@raskad Go ahead. I gave up. Haha.

[2021-07-16 02:13] charlesxsh opened #1399 "panicked at 'malformed Unicode character escape sequence: Utf8Error { valid_up_to: 3, error_len: None }'"
**Describe the bug**
thread 'main' panicked at 'malformed Unicode character escape sequence: Utf8Error { valid_up_to: 3, error_len: None }'

**To Reproduce**
Input:
`Th"}f\ua/ ڀ`

Code:
[code]

Output
[code]

**Expected behavior**
eval should return error properly instead of panic

**Build environment (please complete the following information):**

- OS: Ubuntu
- Version: 18.04
- Target triple: x8

[2021-07-16 02:18] charlesxsh opened #1400 "panicked at 'malformed Hexadecimal character escape sequence: Utf8Error { valid_up_to: 1, error_len: None }'"
**Describe the bug**
thread 'main' panicked at 'malformed Hexadecimal character escape sequence: Utf8Error { valid_up_to: 1, error_len: None }'

**To Reproduce**
Input:
` Th"beef/P4[>3[kW3aa\\\\G\\\\\\\\\\\\\\\\\T\\\\\x\ڴ4:`

Code:
[code]

Output
[code]

**Expected behavior**
eval should return error properly instead of panic

**Build environment (please complete the following information):**

- O

[2021-07-16 02:21] charlesxsh opened #1401 "panicked at 'memory overflow'"
**Describe the bug**
thread 'main' panicked at 'memory overflow'

**To Reproduce**
Input:
`4n**44444444444444434444444434644446444444444444n`

Code:
[code]

Output
[code]

**Expected behavior**
eval should return error properly instead of panic

**Build environment (please complete the following information):**

- OS: Ubuntu
- Version: 18.04
- Target triple: x86_64-unknown-linux-gnu
- Rustc versio

[2021-07-16 02:30] charlesxsh opened #1402 "stack-overflow caused by deep call stack"
**Describe the bug**
stack-overflow caused by deep call stack

**To Reproduce**
Input:
`+[4446<4444^/ /g/  /g[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[[44444   ]`

Code:
[code]

Output
[code]

**Expected behavior**
eval should return error properly instead of panic

**Build environment (please complete the following inf

[2021-07-16 02:34] charlesxsh opened #1403 "panicked at 'Failed to parse float after checks: ParseFloatError { kind: Invalid }'"
**Describe the bug**
thread 'main' panicked at 'Failed to parse float after checks: ParseFloatError { kind: Invalid }'

**To Reproduce**
Input:
`{eZa$*`${eZa$*`${e74n|44|444,446444444444444444.6444444444446444444444644444444464444444444444444444444444444444444444444444444444444444444444444444444444444444444444444644444464464444444444444464444444446444444444444444444444444444444444444446444444`

Co

[2021-07-16 03:49] charlesxsh opened #1404 "panicked at 'assertion failed: value.is_object() || value.is_function()'"
**Describe the bug**
thread 'main' panicked at 'assertion failed: value.is_object() || value.is_function()'

**To Reproduce**
Input:
`heD=eD.hD=D=uD=heD=NaN=eD=hvh=h=heheD=ODeee=h=hAuheAle1=heA=e1heAhhehheA=heA=e1heAhueAhe=44444444`

Code:
[code]

Output
[code]

**Expected behavior**
eval should return error properly instead of panic

**Build environment (please complete the following information)

[2021-07-16 15:33] HalidOdat commented on #1055
Closed by #1388

[2021-07-16 15:33] #1055 closed

[2021-07-17 10:32] #1377 closed

[2021-07-19 18:35] neeldug commented on #1404
Related to #948

[2021-07-19 18:36] neeldug commented on #1403
Related to #948

[2021-07-19 21:43] neeldug commented on #1401
Working on this

[2021-07-19 21:59] raskad commented on #1304
Depending on how we want to define this issue, I think we could mark some items on the list as done or close this issue.
The following is the current state of the built-ins/RegExp/prototype test suite:

|Test Suite|Total|Passed|
|---|---|---|
|RegExp.prototype|880|713|
|Symbol.species|8|8|
|Symbol.match|102|100|
|Symbol.matchAll|52|34|
|Symbol.replace|134|105|
|Symbol.search|46|38|
|source|24|12|

[2021-07-19 22:03] raskad commented on #347
This was fixed in #1350:

[code]

[2021-07-19 23:57] RageKnify commented on #1304
My opinion is that if a function is spec compliant we can consider it done.

Tests that depend on regress implementing more things could be open as separate issues and include a link to regress's issue so that we have something tracking it here.

If the failing tests depend on things being implemented elsewhere in boa (for example `Reflect` is used in a lot of tests outside its folder) then we can

[2021-07-20 18:11] Razican commented on #347
@HalidOdat I guess we can close this, right?

[2021-07-21 17:31] HalidOdat commented on #347
yup :)

[2021-07-21 17:31] #347 closed

[2021-07-21 22:16] raskad opened #1418 "`Object.defineProperties` and `Object.defineProperty` overwrite existing values"
**Describe the bug**
`Object.defineProperties` and `Object.defineProperty` overwrite existing values when they only should set attributes.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**
In the example `arr.length` is overwritten with `undefined`, but the `Object.defineProperties` call should only affect the `writable` attribute while leaving the value of

[2021-07-22 11:57] #1092 closed

[2021-07-22 14:50] HalidOdat opened #1423 "Invert property attributes"
Currently we have the `Attribute` which by default is `READONLY`, `NON_ENUMERABLE` and `PERMANENT`. Which means when we create a for example a data descriptor with only `Attribute::READONLY` (`DataDescriptor::new(value, Attribute::READONLY)`), One would expect it to be `READONLY`, `ENUMBERABLE` and `CONFIGURABLE`, but in reality it is `READONLY`, `NON_ENUMERABLE` and `PERMANENT` which is counter i

[2021-07-22 19:06] #1418 closed

[2021-07-23 04:59] jedel1043 opened #1426 "Generic property descriptors confusing to create"
There is currently no support for generic property descriptors. According to the [spec](https://tc39.es/ecma262/#sec-property-descriptor-specification-type):

_"A generic Property Descriptor is a Property Descriptor value that is neither a data Property Descriptor nor an accessor Property Descriptor."_

This type of descriptor appears on some places in the spec:

https://tc39.es/ecma262/#sec-setin

[2021-07-23 13:44] raskad commented on #1426
With https://github.com/boa-dev/boa/pull/1419 we have the option to check if `DataDescriptor` holds a value. That enables us explicitly check for these specific edge cases when we need to. I think that should enable us to accurately represent all the states that are described in the spec.

Do you think that may be sufficient for the time being?

[2021-07-23 16:58] jedel1043 commented on #1426
Yes, that would be the first solution I propose. The problem with that is now a `DataDescriptor` is not exactly a `DataDescriptor`, but a maybe? `DataDescriptor`, and the ambiguity of creating a generic descriptor from an `AccessorDescriptor` or a `DataDescriptor` is still there. However, this makes the fix easier; just create a `new_generic(attributes)` function to unificate the generation of gen

[2021-07-24 05:17] jedel1043 commented on #1426
Now that I examine the spec in detail, there are two places where a `DataDescriptor` is created with a `Value` but without the `writable` property (not `[[writable]] = false`, `[[writable]] = None` if I translate the spec into Rust)

https://tc39.es/ecma262/#sec-createglobalfunctionbinding
https://tc39.es/ecma262/#sec-ordinarysetwithowndescriptor

So, we would need to refactor every flag to be `Op

[2021-07-24 07:11] #122 closed

[2021-07-24 14:31] Razican commented on #1426
Here I'm in favour of option 2. If I understand it correctly, generic descriptors can have a value, but can be empty. That can be represented by an `Option`, but the rest must have a value.

I think we should use the Rust type system to our advantage to make sure that invalid values cannot be created.

[2021-07-24 14:33] #1306 closed

[2021-07-24 21:37] raskad commented on #1304
I've looked trough all of the failing tests for the RegExp/prototype tests. Here is a list of the related feature / bugfix that is necessary for the tests to pass.

| Feature / Bug                               | Failing test      |
|---------------------------------------------|-------------------|
| Named capture groups #1390 (ready for merge) | <ul><li>Symbol.replace/named-groups</li><li>Symbol

[2021-07-24 22:19] raskad opened #1428 "RegExp Match Indices"
**ECMASCript feature**
RegExp Match Indices

This feature is is not in the spec yet, but it is in the proposal stage 4 and implemented in v8 and spidermonkey. The 262 tests also include this feature already.

Proposed Draft spec: https://tc39.es/proposal-regexp-match-indices/

Do we want to implement proposed features? Otherwise I would suggest to ignore the specific 262 tests.

[2021-07-24 22:42] raskad opened #1429 "`new` Operator without parentheses"
**ECMASCript feature**
The `new` Operator should be usable without parentheses. E.g:

[code]

Currently this produces the error `Uncaught: "SyntaxError": "abrupt end"`

Relevant spec sections:
https://tc39.es/ecma262/#sec-new-operator-runtime-semantics-evaluation
https://tc39.es/ecma262/#prod-NewExpression
https://tc39.es/ecma262/#prod-MemberExpression

[2021-07-24 22:48] #1320 closed

[2021-07-25 11:45] jasonwilliams opened #1430 "Implement function declaration on VM"
@HalidOdat as the VM doesn't support function declarations yet do you have any idea in mind how we would do this?
im guessing a new code block would need to be created and instructions within that function would need to be added to `code_block.code`.

We would need a stack to hold `code_block`s and switch over to one when calling the function

[2021-07-25 12:59] HalidOdat commented on #1430
Yeah. I already have a semi-working implementation, it will require a lot of refactoring to make it fully functional.

[2021-07-28 00:12] jedel1043 commented on #1323
I agree with the sentiment. It is confusing that you can call some funcions directly from `GcObject` but can't call several others without `borrow()`. However, methods like https://github.com/boa-dev/boa/blob/a7ebfc8f3a7918166b2e5d959e8ca264a9c5936e/boa/src/object/internal_methods.rs#L109-L117 that self clone the `Gc` reference make the refactor a bit complicated. We have several options to solve

[2021-07-28 01:18] raskad opened #1436 "Adding a `Map` to itself panics on the second attempt"
**Describe the bug**
When adding a `Map` to itself via `set()`, the first `set()` succeeds, but the second one does reliably produce a panic.
This behavior seems to be somewhat related to inconsistent panics in the test `test/built-ins/Map/prototype/keys/returns-iterator.js`.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

This code panics with the error: `thread 'main' panick

[2021-07-28 01:50] davimiku opened #1437 "Pretty print `Arguments` objects"
**Describe the bug**
Using `console.log` on the `arguments` object inside a function produces a type error

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**

Running this code should log the `arguments` object to the console.

In Firefox the output looks like this:
[code]

In Node the output looks like this:
[code]

**Build environment (please complete the

[2021-07-28 03:23] davimiku commented on #1437
After further investigation, the issue may not be specific to `arguments`, but to a missing implementation of [Object.prototype.valueOf](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/valueOf) ([spec](https://tc39.es/ecma262/multipage/fundamental-objects.html#sec-object.prototype.valueof)). I'm not entirely sure in what scenarios `console.log` invokes `valu

[2021-07-28 10:24] HalidOdat commented on #1323
I don't think we can have this, since the way that objects are used implies they need to live into a well known location and don't move (in moving GCs all references are updated so this is ok). For example if we create a object on the stack and clone it, first of all objects should shallow copy, and the object are not the same, even through they should, objects should only check if the pointer is

[2021-07-28 12:06] HalidOdat opened #1439 "Register and create closure functions"
Currently we can only create function that can be coerced into a `NativeFunction`, this does not allow us to capture variables from a closure. And changing the function signature of `NativeFunction` to `Box<dyn Fn>` would be bad for performance reasons, since for every function now we have to allocate. Instead we would have another variant in `Function` enum `Closure` that would contain a `Box<dyn

[2021-07-28 13:35] HalidOdat opened #1440 "Wrong attribues for `name` and `length` function properties."
Currently for for builtins it is `WRITABLE`, `NON_ENUMERABLE`, `PERMANENT`. But it should be `READONLY`, `NON_ENUMERABLE` and `CONFIGURABLE`

https://tc39.es/ecma262/#sec-function-instances

[2021-07-28 13:40] HalidOdat opened #1441 "Functions are always callable"
Currently we have flags for whether a function is callable, but this is wrong, all functions are callable but they can be optionally constructable.

[2021-07-28 15:18] HalidOdat opened #1443 "Missing `name` property on function expressions and arrow functions"
We are missing `name` property on expression function with no name (`function() {}`) and arrow functions (`() => {}`) both should have a `name` with the value of an empty string.

[2021-07-30 01:11] jedel1043 commented on #1323
Even if we don't implement stack objects, I think the semantics of `GcObject` should be closer to the idea of a fat pointer than a wrapper for an `Object`.

[2021-07-30 01:56] jedel1043 commented on #1393
[code]
Running this in V8 outputs:
[code]
so we should probably catch it at runtime.

[2021-07-30 07:56] jasonwilliams commented on #1393
Good find, looks like we need to hoist the declaration binding of those lets/const within the block but leave the initialisation where it is. We do something similar for var so may be worth finding how that works and learning from that.

As @jedel1043 said referenceErrors happen at runtime. Best to look at the environments

[2021-07-30 13:54] #1439 closed

[2021-07-30 13:54] #1440 closed

[2021-07-30 13:54] #1441 closed

[2021-07-30 13:54] #1443 closed

[2021-07-30 14:32] HalidOdat commented on #1323
Could you elaborate more on this? `GcObject` is a pointer, it contains a `Gc<Object>`

[2021-07-30 16:54] jedel1043 commented on #1323
The current `GcObject` doesn't exactly act as a pointer. You have some methods that should be callable as `object.borrow().method()` but are called as `object.method()`. Ideally you should only be able to call `borrow` and `borrow_mut` on `GcObject` for it to be just a fat pointer, that way you don't need to decide if you should call `borrow` or not when implementing a method related to `Object`.

[2021-07-30 20:25] jedel1043 commented on #1437
The error comes from possibly here:

https://github.com/boa-dev/boa/blob/91f0fe62bb9b9d5faf0d181871e99c2ea4464e2b/boa/src/object/gcobject.rs#L396-L423

[2021-08-06 01:09] bartlomieju commented on #1376
@HalidOdat is changing `Value` to `JsValue` still desired? I could look into it, looks like fun with so many occurrences.

[2021-08-06 02:07] bartlomieju commented on #803
Following up on this issue, I believe a simple helper like below could help significantly reduce boilerplate and repetitions for most common test cases.

[code]

Example tests before and after:
[code]

[code]

[2021-08-06 08:51] jasonwilliams commented on #803
Looks good @bartlomieju would be happy seeing this change

[2021-08-06 12:51] bartlomieju commented on #803
Sure, I'll open a PR that adds this helper and uses it in a few testing files.

[2021-08-06 16:58] HalidOdat commented on #1376
Yes. I'll change in it and create a new PR, I was doing this and #1373 at the same time that's why I did not create a PR for it. But I think it's best to rename it in a separate PR instead of doing both in one PR.

[2021-08-06 17:07] HalidOdat commented on #803
@bartlomieju Looks good :)

I just have some minor improvements:
	- Use string slices `&str`, instead of allocated strings.
	- Use slices, instead of allocated `Vec` (so we can use stack allocated array)
	- Add `#[track_caller]` so we know where which test failed.
	- Use use message argument of `assert_eq!` so we know which test case failed.

[code]

[2021-08-06 18:49] #1426 closed

[2021-08-06 22:29] #1436 closed

[2021-08-10 01:17] raskad opened #1459 "StringGetOwnProperty does not produce the same strings that the lexer produces"
**Describe the bug**
The `StringGetOwnProperty` operation used when indexing a string (`"abc"[1]`) does not produce the same string that the lexer produces. This matters for UTF16 surrogates.

Currently the lexer uses `String::from_utf16_lossy` (see `UTF16CodeUnitsBuffer::to_string_lossy`) and StringGetOwnProperty uses `                    char::from_u32(u32::from(utf16_val)).map_or_else(|| Value:

[2021-08-11 23:56] #1459 closed

[2021-08-15 02:46] #440 closed

[2021-08-17 12:56] kameshfourbends opened #1475 "Error: Cannot find module 'webpack-cli/bin/config-yargs'"
I installed latest LTS NodeJS . Then I installed Yarn also. I cloned boa after that I ran 'Yarn install'.
Then I ran 'Yarn serve'. I got the below message.

I got the below issue:
[code]

[2021-08-17 19:45] raskad opened #1476 "`new Date(NaN)` sets the date to the default date instead of an invalid date"
**Describe the bug**
When `new Date(NaN)` is called, the date is being set to the default date, instead to an invalid date.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]

The code returns `"Thu Jan 01 1970 01:00:00 GMT+01:00"`

**Expected behavior**
The code should return `"Invalid Date"`

**Build environment:**

- OS: Linux
- Version: 17c412fa6
- Target triple: x86_64-unkno

[2021-08-17 21:15] jtmorrisbytes commented on #1371
Is anyone working on this?

[2021-08-18 09:52] Razican commented on #1371
I don't think so, do you want me to assign it to you?

[2021-08-20 09:55] #1476 closed

[2021-08-21 19:20] #265 closed

[2021-08-21 19:27] #1401 closed

[2021-08-21 22:24] jedel1043 opened #1490 "Add `get_or_undefined` method to arguments of builtin functions"
In the current state of the API, if we want to access a possibly missing argument of a function with a default value of `undefined`, we either `clone` to `unwrap_or_default` or create a new `Value::Undefined` and `unwrap_of(&undefined)`.
I extracted two implementation examples from the codebase:
[code]
The first alternative is not ideal, we are either copying primitive types or cloning an `Rc` jus

[2021-08-21 23:39] raskad commented on #1490
This looks great for usability. I think the trait should be named `JsArgs` or something similar, to make clear what it represents.

I am very interested in the performance implication of using `Cow<JsValue>`. As far as I understand it, `Cow` would add a layer of indirection to the `JsValue`. My expectation would be, that this actually makes the code slower. Cloning a primitive type or cloning an `

[2021-08-22 00:03] jedel1043 commented on #1490
Yeah, we would have to test both to determine the performance loss or possibly gain. However, we can implement this as it is, with a simple `args.get(n).cloned().unwrap_or(JsValue::Default)` and if we determine that `Cow` is faster, change the function internally. The main objective is to improve the usability, because this appears 60 times in the whole codebase.

[2021-08-22 15:00] bartlomieju commented on #307
I could look into porting `console.table()` function from [Deno's JavaScript version](https://github.com/denoland/deno/blob/cb8f34c325e66d1ed160d65e515f8afe3393cfaf/ext/console/02_console.js#L1785-L1873) (which is partially based on what Node does, with a few upgrades, eg. better alignment for "number-only" columns).

Let me know if this is of interest :)

[2021-08-23 07:12] Razican commented on #307
Sure, go ahead! :)

[2021-08-23 17:11] raskad opened #1501 "`Object.keys` does not work with index property keys"
**Describe the bug**
`Object.keys` does not work with index property keys

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

This JavaScript code reproduces the issue:
[code]
The output is `[]`

**Expected behavior**
The output should be `[ '0', '1', '2' ]`

**Build environment:**

- OS: Linux
- Version: eaaae8544
- Target triple:x86_64-unknown-linux-gnu

[2021-08-24 00:11] jedel1043 opened #1504 "`delete` failure should throw on strict mode"
Subtask of #815

With #1499 we got a regression on a test that showed we aren't handling correctly `delete`. This is the new test:
[code]

And this is the previous version of the same test:
[code]

`delete` should throw an error on strict mode, but on

https://github.com/boa-dev/boa/blob/59c56c50f31075b1b7df17948d1e3dd2470c04ea/boa/src/syntax/ast/node/operator/unary_op/mod.rs#L93-L108

we don't co

[2021-08-24 06:03] Razican commented on #1504
We will need a "strict" variable in the context, that we will set to `true` or `false` if we are or not in strict mode. We already do so for parsing and lexing.

[2021-08-24 06:33] #1501 closed

[2021-08-24 07:47] #1429 closed

[2021-08-24 07:54] #1262 closed

[2021-08-25 07:54] HalidOdat commented on #803
This has been solved by #1458

[2021-08-25 07:54] #803 closed

[2021-08-25 10:22] jedel1043 opened #1515 "Moving a `JsObject` inside a closure causes a panic"
**Describe the bug**
Currently moving any `Gc<T>` inside a closure causes a panic. This issue comes from https://github.com/Manishearth/rust-gc/issues/50, and it doesn't seem like it will get fixed until there's some API for garbage collectors in rustc.
However, we currently allow moving `JsObjects` and `JsValues` inside closures, which causes a panic on destruction.

**To Reproduce**
[code]

**Ad

[2021-08-25 12:07] Razican commented on #1515
@HalidOdat does it make sense to not have the `register_global_closure()` API for 0.13?

[2021-08-25 13:17] Razican commented on #1393
Actually, hoisting is not spec compliant on Boa. We just move all declarations to the top of the scope, which is not spec compliant, but works for most cases. We should change this, but for that, we will need to have information on declared names at the scope level, and change the parser.

[2021-08-25 14:03] #1308 closed

[2021-08-25 17:32] Razican opened #1517 "Panic on Array.of()"
**Describe the bug**
When running [this](https://github.com/tc39/test262/blob/2c4f2665ec86f01bff7e42d3a5b54c9a09f9a362/test/built-ins/Array/of/proto-from-ctor-realm.js) test, Boa panics with the following stack trace:

[code]

The panic happens in [here](https://github.com/boa-dev/boa/blob/ca9120de05d5de75fbbcbff38d5741df447fa04d/boa/src/builtins/array/mod.rs#L466), because the `construct()` funct

[2021-08-28 13:09] #1517 closed

[2021-08-28 15:16] #1515 closed

[2021-08-28 22:01] raskad opened #1527 "Refactor the `MethodDefinition` parser"
The parser for [`MethodDefinition`](https://github.com/boa-dev/boa/blob/master/boa/src/syntax/parser/expression/primary/object_initializer/mod.rs) currently expects an identifier in it's `new` function. This is either the `get` or `set` keyword or the name of the method. The `parse` method then parses everything after this first identifier.
This is confusing, because the [spec](https://tc39.es/ecm

[2021-08-28 22:49] raskad commented on #117
This was fixed in #1314

[2021-08-28 22:49] #117 closed

[2021-08-29 05:12] #214 closed

[2021-08-29 12:35] #819 closed

[2021-08-29 12:35] #818 closed

[2021-08-29 12:40] #445 closed

[2021-08-29 16:03] #672 closed

[2021-08-29 17:48] #551 closed

[2021-08-29 17:49] #433 closed

[2021-08-29 18:01] #289 closed

[2021-08-31 00:25] raskad opened #1539 "Object properties should be stored ordered"
**Describe the bug**
`String` and `Symbol` object properties are currently returned in arbitrary order, because the underlying store is a `std::collections::HashMap`. The spec specifies, that `String` and `Symbol` properties should be returned in order of property creation e.g. [OrdinaryOwnPropertyKeys](https://tc39.es/ecma262/#sec-ordinaryownpropertykeys).
`Index` properties should be returned in

[2021-08-31 00:43] jedel1043 commented on #1539
I think this is one of the rare instances where a linked list would solve this optimally. What do you think?

[2021-08-31 01:06] raskad commented on #1539
I'm not sure about a linked list. I'm currently testing out the `indexmap` crate that we already use for the `Map` builtin.

This blog post from the V8 team covers the topic: https://v8.dev/blog/fast-properties. V8 is of course highly optimized. I think we can skip some of those optimizations for now. I was mainly looking at the `Slow properties`, described as some dict.

[2021-08-31 01:09] jedel1043 commented on #1539
I thought about `indexmap` but I think it just preserves the insertion order if you don't call `delete` on the map.

[2021-08-31 01:21] raskad commented on #1539
Yes, I think we are sidestepping that in `Map` with the `MapKey` enum as the key type, that has an `Empty` variant. I'm currently trying if i can implement this with just `Option`. But something like that should work at least for `String` and `Symbol`.

[2021-08-31 01:53] jedel1043 commented on #1539
I don't know if I understood completely, but wouldn't that leave big memory footprints if you insert a lot of items then delete them?

[2021-08-31 02:11] jedel1043 commented on #1539
Also, those are some good optimizations we could make! Maybe it would be a good idea to open a new discussion with every idea we stumble upon to optimize the engine 😄

[2021-08-31 02:15] raskad commented on #1539
Yes that would be true. But never mind that; `indexmap` has a `shift_remove` function. The downside is, that it is O(n) instead of O(1). But I think that is probably the easiest way to be spec compliant with a reasonable performance. I will try to do some benchmarks with this version vs the old `FxHashMap` to see how this plays out.

[2021-08-31 02:19] jedel1043 commented on #1539
If it makes `OrdinaryOwnPropertyKeys` spec compliant and doesn't affect too much the performance, I don't see a problem with using that structure. We can optimize later when we have most of the spec implemented and a lot less immediate goals in our plans.

[2021-08-31 04:36] jedel1043 opened #1540 "Refactor the interpreter to use `Completion Record` types"
Right now when we're interpreting the AST we utilize `JsResult` as a wrapper for any error that originates on execution. This has its advantages; we can propagate type errors and `throw` errors with `?` and return any value generated from a native function with ease. However, #672 showed us that having no distinction between a value returned from a native function and a value returned from AST int

[2021-08-31 04:53] jedel1043 commented on #1393
We would need to implement [`Reference Records`](https://tc39.es/ecma262/#sec-reference-record-specification-type) to solve this, I think.

[2021-08-31 05:18] jedel1043 commented on #1539
Made a little digging and found [`hasklink`](https://github.com/kyren/hashlink). Could be more performant than `indexmap`, and we can attach it `FxHasher` to see how it compares with `FxHashMap`.

[2021-08-31 05:42] Razican commented on #1539
Good idea, let's open a separate discussion :) we can then create some issues for it

[2021-08-31 05:47] Razican commented on #893
I think this is a pretty complex task. I've been playing with it for some days and I think I can propose something soon, so I'm assigning it to me.

[2021-08-31 06:04] #1540 closed

[2021-08-31 06:11] jedel1043 opened #1542 "Implement `CompletionRecord` type"
Related discussion on #1541

The [`Completion Record`](https://tc39.es/ecma262/#sec-completion-record-specification-type) type should live in the `exec` module, inside `mod.rs` if the implementation is simple enough or in a standalone file otherwise.

This feature is being developed in the https://github.com/boa-dev/boa/tree/feature/completion_records branch.

[2021-08-31 06:17] jedel1043 opened #1543 "Make `Executable::run` return a `JsResult<CompletionRecord>`"
Related discussion on #1541.

Follows from #1542.

For starters we can just always pass a `CompletionRecord` with a `[[value]]` equal to the value returned by every node evaluation, as all nodes return a `JsValue` with few exceptions like `Throw`.

This feature is being developed in the https://github.com/boa-dev/boa/tree/feature/completion_records branch.

[2021-08-31 06:22] jedel1043 opened #1544 "Obtain the `CompletionRecord` of every AST node evaluation"
Related discussion on #1541.

Follows from #1543.

We need to extensively search the [language evaluation spec](https://tc39.es/ecma262/#sec-ecmascript-language-source-code) to find instances of `CompletionRecord`s that should be returned.

This feature is being developed in the https://github.com/boa-dev/boa/tree/feature/completion_records branch.

[2021-08-31 06:28] jedel1043 opened #1545 "Remove `InterpreterState` from `Context`"
Related discussion on #1541.

Follows from #1544.

After returning every corresponding `CompletionRecord` in the spec, we can remove `InterpreterState`; at this point `CompletionRecord` should manage the execution state of its `Node`, so an additional `InterpreterState` should be unnecessary.

This feature is being developed in the https://github.com/boa-dev/boa/tree/feature/completion_records bra

[2021-08-31 08:56] Razican commented on #1542
Should it be part of the AST? I would say this is only related to execution, since it's the completion of a execution, right?

[2021-08-31 14:32] jedel1043 commented on #1542
Hmm... Yeah, you're right, it should be on the `exec` module.

[2021-09-01 02:13] raskad commented on #1539
I used `indexmap` with `FxHasher` in my PR. The performance looks good. I looked at `hasklink` and i feel like it may be a little too immature. The docs look very sparse and I did not see any good/easy examples.

[2021-09-01 21:31] #1539 closed

[2021-09-03 23:31] bartlomieju commented on #307
Hey @Razican, just want to give you a heads up that I might not be able to implement these APIs in the near future; if there's anyone else interested in picking this up, please feel free.

[2021-09-05 14:24] ZainlessBrombie opened #1555 "Support 'shebang' ( #!/usr/bin/boa )"
**Feature**
Support - that is ignore - the unix shebang, e.g. `#!/usr/bin/boa`
This is something nodejs and deno both do: they just ignore the unix-style shebang, and this is sometimes required to execute scripts written for either.

**Example code**

[code]

[2021-09-05 17:29] jedel1043 commented on #1555
For anyone who wants to tackle this. The pertinent code is in:

https://github.com/boa-dev/boa/blob/08f232fe99ceec594c66e822e04d387ccfd3d6c0/boa/src/syntax/lexer/mod.rs#L106-L114

Ideally we would eagerly try to match "#!" with the lexer and, if it does match, jump to the next line. You can see an example on how to do this in the `SingleLineComment` lexer:

https://github.com/boa-dev/boa/blob/8f59

[2021-09-05 20:30] Razican commented on #1555
I don't think we should change the parser or the lexer. "shebang" is no valid JS, and I don't think our engine should treat it as a "comment". Our engine could be executing JS from any input, and we must be spec compliant.

But, I see the benefit of having this in the Boa executable when providing a file as the input source. I would just change the way this executable works by checking if the firs

[2021-09-05 23:50] jedel1043 commented on #1555
Ah, then just skipping directly the `#!` in `eval` and `parse`? That would be much easier I think. Here:

https://github.com/boa-dev/boa/blob/26e149795a1ce0713a81fc50057ac23b58d44f79/boa/src/lib.rs#L89-L97

and here:

https://github.com/boa-dev/boa/blob/f9a82b4a13ed4398516ff2f8e9e92867a7670588/boa/src/context.rs#L804-L842

we would need to skip the first bytes of `src` if it begins with a `#!` and

[2021-09-06 05:57] Razican commented on #1555
I think it's even better if we do the change only in `boa_cli`.

[2021-09-06 06:02] jedel1043 commented on #1555
I thought of that, but then a user downloading a js script from some page and using boa as an interpreter for some Rust application would fail, wouldn't it? I think that's not ideal.

[2021-09-06 10:15] Razican commented on #1555
I think that is out of the scope of our engine. We have a JS engine that must only accept spec compliant strings.

Then, we provide a CLI tool that we can customize to allow for a particular use case that makes sense. If someone else wants to use our engine in their tool and allow for this, I guess they should add the specific support they need.

In the case we want to really change the engine, th

[2021-09-06 15:26] jedel1043 commented on #1555
I'd agree if it weren't for the fact that Firefox and Chrome support the shebang on their engines. Also, I think importing a module that has a shebang at the beginning would break, even if the user is just using `boa_cli`.

[2021-09-06 15:48] Razican commented on #1555
OK, then let's add it as an optional, opt-in feature :)

[2021-09-06 21:52] jedel1043 commented on #36
@raskad We're still missing `toLocaleString`.

[2021-09-06 21:56] raskad opened #1557 "Implement Generator Parsing"
Implement parsing for [Generator Function Definitions](https://tc39.es/ecma262/#sec-generator-function-definitions).

The following syntax should be parsed into AST nodes:
- [ ] [GeneratorMethod](https://tc39.es/ecma262/#prod-GeneratorMethod)
- [ ] [GeneratorDeclaration](https://tc39.es/ecma262/#prod-GeneratorDeclaration)
- [ ] [GeneratorExpression](https://tc39.es/ecma262/#prod-GeneratorExpressio

[2021-09-06 21:56] raskad opened #1558 "Implement Async Generator Parsing"
Implement parsing for [Async Generator Function Definitions](https://tc39.es/ecma262/#sec-async-generator-function-definitions).

The following syntax should be parsed into AST nodes:
- [ ] [AsyncGeneratorMethod](https://tc39.es/ecma262/#prod-AsyncGeneratorMethod)
- [ ] [AsyncGeneratorDeclaration](https://tc39.es/ecma262/#prod-AsyncGeneratorDeclaration)
- [ ] [AsyncGeneratorExpression](https://tc3

[2021-09-06 22:02] jedel1043 commented on #1558
I'm gonna add it to the async project because this needs an implementation of `Futures`.

[2021-09-06 22:04] raskad opened #1559 "Implement Generator Execution"
Depends on #1557

For full Generator support we have to implement the following components:

- [ ] [GeneratorFunction Objects](https://tc39.es/ecma262/#sec-generatorfunction-objects)
- [ ] [Generator Objects](https://tc39.es/ecma262/#sec-generator-objects)

And we have to implement the AST node execution for the AST nodes created in #1557

[2021-09-06 22:04] raskad opened #1560 "Implement Async Generator Execution"
Depends on #1558, #1530

For full Generator support we have to implement the following components:

- [ ] [AsyncGeneratorFunction Objects](https://tc39.es/ecma262/#sec-asyncgeneratorfunction-objects)
- [ ] [AsyncGenerator Objects](https://tc39.es/ecma262/#sec-asyncgenerator-objects)

And we have to implement the AST node execution for the AST nodes created in #1558

[2021-09-06 22:30] #1490 closed

[2021-09-07 17:20] Razican commented on #36
Yes, let's move localization yo a different issue. Is everything else done?

[2021-09-07 20:44] jedel1043 commented on #36
Yep, everything else is implemented

[2021-09-08 03:45] jedel1043 commented on #1304
Closing because #1434 solved most, if not all, the differences from the spec.

[2021-09-08 03:45] #1304 closed

[2021-09-08 03:47] jedel1043 opened #1562 "Implement missing internationalization related methods"
Probably follows from #1180.

This is the list of methods we are currently missing from builtin objects because we don't have an internationalization API yet:

### String

- [ ] String.prototype.localeCompare()
- [ ] String.prototype.toLocaleLowerCase()
- [ ] String.prototype.toLocaleUpperCase()

### Date

- [ ] Date.prototype.toLocaleDateString()
- [ ] Date.prototype.toLocaleTimeString()

### Gen

[2021-09-08 03:48] jedel1043 commented on #36
Closing in favour of #1562.

[2021-09-08 03:48] #36 closed

[2021-09-08 03:48] jedel1043 commented on #13
Closing in favour of #1562.

[2021-09-08 03:48] #13 closed

[2021-09-08 04:09] jedel1043 commented on #116
Closing, as the bug that blocked this is solved. If we overlooked something we can open another issue with the specific problem.

[2021-09-08 04:09] #116 closed

[2021-09-08 04:19] jedel1043 commented on #457
Maybe related to #1544

[2021-09-08 04:31] jedel1043 commented on #1376
Is there any other type we would want to rename?

[2021-09-08 04:43] jedel1043 commented on #1233
@moadmmh Are you still working on this? If you have any questions about the implementation, don't hesitate to ask us! 😁

[2021-09-08 05:01] jedel1043 commented on #1183
I tested the script on release mode and it takes less than a second to generate a tree with depth 14. Still not as performant as Starlight but it's probably because we don't have startup snapshots implemented. Should we close this?

[2021-09-08 12:12] Razican commented on #1376
I think it's done :)

[2021-09-08 12:14] Razican commented on #1183
If there is no stack overflow, we should close it. Could you check the latest master version, and confirm it's fixed @playXE?

[2021-09-08 13:17] RageKnify commented on #1183
I've tested debug and release and they both seem to be working fine, must have been fixed in the meantime. But @playXE can check if it is also fine in Windows.

[2021-09-08 15:00] davimiku commented on #1562
Would this also cover the [Intl global object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) and its constructors?

[2021-09-08 16:05] jedel1043 commented on #1183
I tested it on Windows btw

[2021-09-08 16:06] #361 closed

[2021-09-08 16:07] RageKnify commented on #1183
Then I think we can trust this is fixed, if not it can just be opened again.

[2021-09-08 16:07] #1183 closed

[2021-09-08 16:12] jedel1043 commented on #1562
Not really. That would be it's own issue, I think.

[2021-09-08 17:06] #1376 closed

[2021-09-09 13:59] #1504 closed

[2021-09-10 05:07] jedel1043 opened #1570 "Several `Date` tests panic on Windows"
**Describe the bug**
Several tests related to the Date object panic on Windows

Panicking tests:

- test\annexB\built-ins\Date\prototype\setYear\year-number-absolute.js
[code]
- test\annexB\built-ins\Date\prototype\setYear\year-number-relative.js
[code]
- test\built-ins\Date\prototype\setFullYear\arg-year-to-number.js
[code]
- test\built-ins\Date\prototype\toString\format.js
[code]
**Build environ

[2021-09-15 18:01] HalidOdat commented on #1404
Fixed by #1569

[2021-09-15 18:01] #1404 closed

[2021-09-15 19:19] raskad commented on #1300
Changed the assignment to me, as I did some testing and got a working prototype. @teymour-aldridge If you already did some work on this let me know!

[2021-09-15 19:48] teymour-aldridge commented on #1300
No worries; sorry, I was beleaguered with other things :)

[2021-09-16 01:50] raskad opened #1579 "Implement `[[Call]]` and `[[Construct]]` as Object Internal Methods"
The spec defines `[[Call]]` and `[[Construct]]` to be Object Internal Methods. Exotic objects like the `Proxy` object depend on this functionality. We currently only `call` on explicit function objects, but it should be the other way around: everything that has a `[[Call]]` internal method is a function object (there is no `isFunction` operation in the spec, only a `IsCallable`).
This change shoul

[2021-09-16 02:22] raskad opened #1580 "Implement missing static `Object` methods"
The following static methods should be implemented for `Object`:

- [ ] [Object.fromEntries](https://tc39.es/ecma262/#sec-object.fromentries)
- [x] [Object.getOwnPropertyNames](https://tc39.es/ecma262/#sec-object.getownpropertynames)
- [x] [Object.getOwnPropertySymbols](https://tc39.es/ecma262/#sec-object.getownpropertysymbols)
- [ ] [Object.hasOwn](https://tc39.es/ecma262/#sec-object.hasown)

[2021-09-16 02:54] jedel1043 commented on #1579
@raskad Are you planning to implement this? If not, I can take it :)

[2021-09-16 03:01] raskad commented on #1579
Take it :) I just stumbled upon it during my work in the Proxy object.

[2021-09-17 16:45] jedel1043 commented on #1580
The implementation for `Object.fromEntries` is blocked until #1523 merges

[2021-09-19 19:06] #1475 closed

[2021-09-20 22:33] jedel1043 commented on #894
Unassigned the issue by @captain-yossarian's request. For anyone interested, feel free to ping us if you want to work on this😁

[2021-09-25 14:52] raskad commented on #815
With #1550 we have `strict` flags available during the execution. I think we can close this and track individual implementations of `strict` handling in separate issues.

[2021-09-25 14:52] #815 closed

[2021-09-26 10:32] jasonwilliams opened #1591 "Some benchmarks need rebasing (tidy up)"
Taking a look at https://boa-dev.github.io/boa/dev/bench/ some benchmarks are no longer useful. Mainly because we've changed how we count or the improvements have been so vast that the order of magnitude no longer works.

Should we just remove older data? It might be the easiest option
We could take a snapshot of how it is today then store it somewhere

For example:
* Create realm
* Symbols (Execu

[2021-09-29 18:05] jasonwilliams opened #1595 "Can we show date along the X axis on the conformance tests?"
Looking at the graph on https://boa-dev.github.io/boa/test262/# its not easy to know what time the test represent. It would be nice to show the years along the bottom or something to know how far back these results are showing.

Example below:
![image](https://user-images.githubusercontent.com/936006/135323878-35a9b62f-d15b-4b9d-b3c7-fb2fb7e2959b.png)

Looking at the [data](https://github.com/boa-

[2021-09-29 18:46] jasonwilliams opened #1596 "Implement Array.prototype.at()"
**ECMASCript feature**
https://tc39.es/ecma262/#sec-array.prototype.at

**Example code**
This is the same feature added for String.prototype.at() - https://github.com/boa-dev/boa/pull/1375

This code should now work and give the expected result:
[code]
The expected output is `2`.

[2021-09-29 20:07] raskad opened #1598 "`arguments` and `eval` should be allowed in the return position in strict functions"
In strict mode `arguments` and `eval` are mostly treated as keywords. For example they cannot be assigned to. But they should be allowed as return values from a strict function.

The following code examples currently fail, but should work:

[code]

[code]

Based on the error message a good starting point would be here: https://github.com/boa-dev/boa/blob/c977b8e5aa9634ff0e804daef7510feca69a3d10/bo

[2021-09-29 20:21] raskad opened #1599 "Fix remaining `Math` tests"
We currently have some 262 tests failing for the `Math` suite. This is the full list of tests that should be fixed for 100% `Math` compliance:

- [ ] [test/built-ins/Math/imul/length](https://github.com/tc39/test262/blob/16dae73171ba048d91a62d0942b450d253db4c10/test/built-ins/Math/imul/length.js)
- [ ] [test/built-ins/Math/min/zeros](https://github.com/tc39/test262/blob/16dae73171ba048d91a62d0942b

[2021-09-29 20:44] raskad opened #1600 "Allow `BindingPattern` as `CatchParameter`"
**ECMASCript feature**
Currently we only allow `BindingIdentifier`s in the `CatchParameter` of the `try...catch` statement.  `BindingPattern`s should be also allowed.

[ECMAScript specification][spec]

[spec]: https://tc39.es/ecma262/#prod-CatchParameter

**Example code**
This code should work and give the expected result:
[code]

Good starting points would be the `catch` parsing in https://github

[2021-09-29 20:52] raskad opened #1601 "Allow `BindingPattern` in function parameters"
**ECMASCript feature**
Currently we only allow `BindingIdentifier`s in the `FormalParameter`s of functions. `BindingPattern`s should be also allowed.

[ECMAScript specification][spec]

[spec]: https://tc39.es/ecma262/#prod-FormalParameter

**Example code**
This code should work and give the expected result:
[code]

Good starting points would be the `FormalParameter` parsing in https://github.com/b

[2021-09-29 21:03] raskad opened #1602 "Fix `Number.toExponential` and `Number.toFixed`"
The functions `toExponential` and `toFixed` of the `Number` prototype are currently not implemented spec compliant. All of the tests for those two functions should pass if they do not rely on other features that are not implemented.

To see the exact failed tests, take a look at the current results at https://boa-dev.github.io/boa/test262/

Spec references:
- https://tc39.es/ecma262/#sec-number.pr

[2021-09-30 00:25] bhh32 commented on #1599
I'd like to work on this issue.

[2021-09-30 00:31] jedel1043 commented on #1599
@bhh32 I've asigned it to you. Let us know if you need any help or if you have any questions about the codebase! ☺

[2021-09-30 16:39] bhh32 commented on #1599
Thank you! I cloned the repo, and don’t quite understand where the changes
need to be made. Maybe I could get an explanation of the code base and
where to start? Thank you for your help.
Very Respectfully,
  Bryan Hyland

On Wed, Sep 29, 2021 at 5:29 PM jedel1043 ***@***.***> wrote:

[2021-09-30 18:03] raskad commented on #1599
Sure!

The best place to start for this would be the file https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/mod.rs.
As you can see we have the `Math` struct that corresponds to the `Math` object in javascript. In the [`impl Math` block](https://github.com/boa-dev/boa/blob/master/boa/src/builtins/math/mod.rs#L95) you can find all of the methods that are implemented for the `Math` obj

[2021-09-30 18:48] bhh32 commented on #1599
That absolutely does!! Thank you! I’ll get to work on this ASAP!

On Thu, Sep 30, 2021 at 11:03 AM raskad ***@***.***> wrote:

[2021-10-01 02:51] kevinputera commented on #1580
Hey 👋, I'd like to try to work on implementing these methods!

[2021-10-01 03:00] jedel1043 commented on #1580
@kevinputera Assigned! Let us know if you need any mentoring on the codebase :)

[2021-10-01 03:23] nekevss commented on #1596
Hi! I'd definitely be interested in trying to implement this. I'm sort of new to helping with an open source project, should I just make a pull request for array/mod.rs?

[2021-10-01 03:35] jedel1043 commented on #1596
@nekevss I've assigned the issue to you.

Yep, pretty much.
You need to fork this repo, then branch, code the changes, commit and create a new PR against this repo. Here's an useful guide if you still have some questions about the process :)
https://akrabat.com/the-beginners-guide-to-contributing-to-a-github-project/

[2021-10-01 03:37] jedel1043 commented on #1596
@nekevss Also, if you have any questions about the codebase or if you need some mentoring, ping us and we'll try to help you asap 😊

[2021-10-01 11:52] nrabulinski commented on #1602
Hi, I'd like to work on this issue! I've gotten all but `exactness.js` from toFixed to pass, but it seems like calling `as_number` on `1000000000000000128` actually returns `1000000000000000000.0`, is this a known issue? The `toString` part of that test is also failing because of that.

[2021-10-01 11:59] jedel1043 commented on #1602
I think that's because Javascript only supports i32 integers, so any number that exceeds `u32::MAX` is automatically converted to an `f64`. The fix probably would be to check if a `JsValue::Rational` number is an integer when printing.

[2021-10-01 12:16] am-a-man commented on #1601
Hey,
I would like to work on this, can  you please assign this to me?

[2021-10-01 12:18] am-a-man commented on #1598
hey,
I would like to work on this, could you assign me this issue?

[2021-10-01 12:21] am-a-man commented on #1600
hey,
I'd like to work on this, please assign this to me.

[2021-10-01 12:30] nrabulinski commented on #1602
Yes, it should and that's how `toString` is defined (it should round to 1000000000000000100). I'll investigate further later :)

[2021-10-01 13:21] am-a-man commented on #1601
this issue and #1600 are quite similar, but assign me this issue and I'll check afterwards if it's still unassigned I'll request again

[2021-10-01 13:31] jedel1043 commented on #1601
@am-a-man Assigned. Let us know if you need mentoring or if you have any questions ☺

[2021-10-01 16:05] am-a-man commented on #1601
Yeah, it would be great if you could help me to get started.

[2021-10-01 16:34] raskad commented on #1601
The best place to start for this would be in the file https://github.com/boa-dev/boa/blob/master/boa/src/syntax/parser/function/mod.rs. There we have the struct `FormalParameter`. That is the parser for one formal parameter as defined by the spec [here](https://tc39.es/ecma262/#prod-FormalParameter). The parsing itself is defined in the `parse` method in the `impl<R> TokenParser<R> for FormalParam

[2021-10-01 18:31] jasonwilliams opened #1608 "Document Bytecompiler"
There's no documentation for the [bytecompiler](https://github.com/boa-dev/boa/tree/82c578b434e99a73ae95e28c968990ce20e64843/core/engine/src/bytecompiler) we should add some

[2021-10-01 18:33] jasonwilliams opened #1609 "Document Code Block"
There's no documentation for [code block](https://github.com/boa-dev/boa/blob/master/boa/src/vm/code_block.rs), we should add some

[2021-10-01 19:03] #1430 closed

[2021-10-01 22:43] jasonwilliams opened #1611 "Implement increment/decrement in VM"
Location of unimplemented feature:
https://github.com/boa-dev/boa/blob/master/boa/src/bytecompiler.rs#L369-L372

This would involve creating 2 new opcodes (Inc and Dec) [here](https://github.com/boa-dev/boa/blob/master/boa/src/vm/opcode.rs#L6-L534) see https://searchfox.org/mozilla-central/source/js/src/vm/Opcodes.h#649-650 for reference.

Once added the VM would need to act on it. You can copy ov

[2021-10-01 23:06] jtara1 commented on #894
I'll take a look at this, please assign to me.

[2021-10-01 23:40] jedel1043 commented on #894
@jtara1 I've asigned it to you. Let us know if you need some pointers to get started :)

[2021-10-02 00:46] jtara1 commented on #894
I got something working with that crate ^
but I'm trying to just follow their algo directly in the ecma spec now

What's the return values for this function? https://github.com/jtara1/boa/blob/8ba500a26afdad8e200c9990b375664b5c04a97a/boa/src/builtins/string/mod.rs#L36

[2021-10-02 01:15] jedel1043 commented on #894
`code_point_at` just represents the operation [`CodePointAt`](https://tc39.es/ecma262/#sec-codepointat) from the spec. But maybe we could rewrite it to be more idiomatic with descriptive enum returns instead of `bool`s and `u8`s

[2021-10-02 01:18] jtara1 commented on #894
the spec answered my question with

thanks

[2021-10-02 03:52] nekevss commented on #1596
Hi! I submitted a pull request for the implementation. Hopefully, I didn't do anything wrong or overlook anything.

I could probably use some mentoring in general as I'm mostly self-taught. Although, this issue seemed to be easy enough (knock on wood).

Definitely planning to try and contribute more to boa as it seems like a great way to learn JS/TS at a greater depth WHILE playing around with Rus

[2021-10-02 05:46] abhishekc-sharma commented on #1611
Can I have a go at this issue ?

[2021-10-02 06:03] jedel1043 commented on #1611
@abhishekc-sharma Of course :)
I've assigned the issue to you, please ping us if you need mentoring or if you want some pointers on how to start 😊

[2021-10-02 09:59] jedel1043 opened #1615 "Cleanup invalid `derive(Trace)`"
Currently we have some type implementations that derive the `Trace` trait unnecessarily, such as
https://github.com/boa-dev/boa/blob/master/boa/src/syntax/ast/constant.rs

This is far from ideal, because we're not marking them as dead ends for the garbage collector to ignore them, and instead the garbage collector has to visit every field, even if the fields are also dead ends. This adds redirecti

[2021-10-02 17:11] lowr commented on #1600
Hi, I saw comments at #1601, and looks like this issue hasn't been taken yet. I'd like to give it a shot!

[2021-10-02 17:35] jedel1043 commented on #1600
@lowr Please do! I've assigned it to you, let us know if you have any questions or if you need any pointers to get started 😊

[2021-10-02 23:29] hle0 opened #1617 "Symbol.prototype.valueOf.call(x) gives different results than x.valueOf()"
**Describe the bug**

`Symbol` gives different results depending on how `valueOf` is called, which causes various tests to fail, like [this one](https://github.com/tc39/test262/blob/10ad4c159328d12ad8d12b95a8f8aefa0e4fd49b/test/built-ins/Symbol/prototype/valueOf/this-val-symbol.js) for example.

Here's an example session from boa-cli:
[code]

**To Reproduce**
See above. `boa-cli` was run with `cd

[2021-10-03 00:23] jedel1043 commented on #1617
@hle0 Thank you for taking this!

`JsSymbol` resides on https://github.com/boa-dev/boa/blob/master/boa/src/symbol.rs, and its built-in representation on https://github.com/boa-dev/boa/blob/master/boa/src/builtins/symbol/mod.rs so these should be good starting points.

You can comment here or ping us on discord if you have any questions ☺️

[2021-10-03 09:02] #1617 closed

[2021-10-03 09:05] #1596 closed

[2021-10-03 17:59] jtara1 commented on #894
So far the hardest part of this is figuring out what the transformation algo (for singles & pairs) for code point -> utf-8 encoded byte(s) is. https://en.wikipedia.org/wiki/UTF-8 which actually seems like the most thorough explanation for this

I'm also checking the node.js implementation of this https://github.com/nodejs/node/blob/e46c680bf2b211bbd52cf959ca17ee98c7f657f5/deps/v8/src/strings/uri.c

[2021-10-03 19:01] joshwd36 commented on #894
Would it be worth looking into #736 again? It seems that the implementation will be pretty closely tied to the encoding

[2021-10-03 19:37] jedel1043 commented on #1555
Uhm, change of plans.
Hashbang support is a proposal on stage 3
https://github.com/tc39/proposal-hashbang
so we do need to lex it and parse it.

[2021-10-03 21:52] nekevss commented on #1555
I can try to take a crack at this one if it still needs to be done. Since there seemed to be some discussion, is there a preferred place to do this (boa-cli vs. lexing and parsing).

[2021-10-03 22:12] jedel1043 commented on #1555
Originally we were going to implement it on boa-cli, but seeing the spec will change to support it in the language grammar, it must be done on the lexer/parser

[2021-10-04 02:07] hle0 commented on #1403
Do you know if this is still an issue? boa-cli, which also uses `Context.eval`, fails to reproduce this. It just says `Uncaught "SyntaxError": "abrupt end"`. Perhaps this has been fixed (probably by #1110)? Also, if not, is there a simpler string that causes the same issue?

[2021-10-04 02:13] jedel1043 commented on #1403
I think it's fixed, but maybe we should improve the error message with something more descriptive. E.g. V8 prints "Missing } in template expression"

[2021-10-04 02:42] jedel1043 commented on #1180
Ok, details I found while investigating ICU4X:

- It requires a `DataProvider` in order to do actions, which is not trivial to obtain.
- A `DataProvider` can be obtained using the `icu4x-datagen` crate, but it is not published on crates.io, so we would need to import the repo as a submodule if we want to automatize it.
-  We can use a `StaticDataProvider` to embed a `DataProvider` on the binary wi

[2021-10-04 12:40] jasonwilliams commented on #1180
CC @sffc

[2021-10-04 15:24] Nimpruda commented on #1233
All the tests for Symbol.toPrimitive and there is already a Well Known Symbol named to_primitive. Furthermore, I tried running the example from mdn and it works just like it's supposed to.

What am I supposed to fix this ? Could you tell me where I should start ?

Thanks and sorry for my english I'm not native.

[2021-10-04 17:51] jedel1043 commented on #1233
I think you're confusing `Symbol.toPrimitive` with `Symbol.prototype[ @@toPrimitive ]`

[2021-10-04 17:54] hle0 commented on #1570
I can confirm this still happens in the latest version.

The line of code that triggers the panic seems to be an unsafe call in chrono:
[code]
Here's the full trace.
[code]
I'll continue to investigate.

[2021-10-04 20:08] #893 closed

[2021-10-04 20:08] #1301 closed

[2021-10-04 21:19] nekevss commented on #1555
I made a Pull Request for the attempt I put together. It does catch the Hashbang off my example file from what I can tell. Not sure if there's anymore functionality that should be/needs to be built for it though. Currently, it treats the Hashbang like a TokenKind::Comment and moves the lexer onto the next token.

[2021-10-04 23:29] jtara1 opened #1632 "string mod function, `code_point_at`, does not return correct code point of lone high surrogate"
**Describe the bug**
I expected the code point of this malformed utf-16 string,
`'\uD800'`
to be
`55296`

node.js 14
[code]

boa
[code]

**To Reproduce**
[code]

**Build environment (please complete the following information):**

- Rustc version: rustc 1.55.0 (c8dfcfe04 2021-09-06)

**Additional context**
I was working on #894 when I realized something seems wrong with `code_point_at` func. Maybe

[2021-10-05 00:36] jedel1043 commented on #1632
Assigned then :)

[2021-10-05 00:41] jedel1043 commented on #894
Yeah, maybe. We could reevaluate if there's a way to adapt our regex to consume UTF-16, then change the definition of `JsString`.

[2021-10-05 07:38] jtara1 commented on #1632
I'm not sure how we'd detect that it's a malformed unicode encoded string. By the time we encode the JsString as utf-16, it appears to be an acceptable string. I think I'd need to determine if it's malformed from the bytes of the input string.

Rust
[code]

[2021-10-05 16:50] #1600 closed

[2021-10-05 18:36] #1233 closed

[2021-10-05 20:00] Razican commented on #1300
@raskad, how is this going?

[2021-10-05 20:40] #1602 closed

[2021-10-05 20:46] #1599 closed

[2021-10-06 02:14] #1557 closed

[2021-10-06 07:44] kevinputera commented on #1580
I'm a bit busy with school now, so I'd only be able to work on `Object.fromEntries` sometime next week. Hope it's fine!

[2021-10-06 19:13] raskad opened #1641 "Implement `DataView` built-in object"
Based on our implementation of the `ArrayBuffer` built-in object we should now be able to implement the `DataView` built-in object.

**ECMASCript feature**
The `DataView` view provides a low-level interface for reading and writing multiple number types in a binary `ArrayBuffer`, without having to care about the platform's endianness.

[ECMAScript specification](https://tc39.es/ecma262/#sec-datavie

[2021-10-06 19:15] raskad opened #1642 "Implement `SharedArrayBuffer` built-in object"
Additional to the implementation of the `SharedArrayBuffer` built-in object, the corresponding uses in `TypedArray` should be implemented.

**ECMASCript feature**
The `SharedArrayBuffer` object is used to represent a generic, fixed-length raw binary data buffer, similar to the `ArrayBuffer` object, but in a way that they can be used to create views on shared memory. Unlike an `ArrayBuffer`, a `Sha

[2021-10-06 20:27] Nimpruda commented on #1641
I'm not sure if I have the experience to tackle this but I'd like to give a try. I'll begin this week end.

[2021-10-07 02:40] #1580 closed

[2021-10-07 06:31] Razican opened #1643 "Add a new verbosity level to `boa_tester` to reduce the output in `-vv` mode"
Currently we have 3 vervosity modes in the `boa_tester`:

 - `0`: when no `-v` flag is provided, we just show one colored dot per test, indicating if it passed or not, and the final results
 - `1`: when `-v` is provided, we show information on each test suite that ran, along with some extra information messages
 - `2`: when `-vv` is provided, it will give information on each test being run, along

[2021-10-07 06:34] praveenbakkal commented on #1643
@Razican can you please assign this to me?

[2021-10-07 06:35] praveenbakkal commented on #1643
Thank you. Will work on it and raise the PR.

[2021-10-07 06:56] Razican opened #1644 "Loading spinner for Test262 conformance results"
In the [Test262 conformance results page](https://boa-dev.github.io/boa/test262/), when you click on the ℹ icon, extended result information is loaded in the bottom of the page. Nevertheless, since this requires loading a big file, it takes some seconds to load, depending on your connection, and it might look as if the page has been frozen.

We would like to add a temporary "loading" spinner that

[2021-10-07 07:12] Razican opened #1645 "Retrieve feature-based results for Test262 runs"
The current implementation of the Tes262 compliance results page shows the compliance test suite by test suite, which is straightforward, since we run the tests suite by suite, test by test, and then we just collect the information about it.

It would be very nice to have the option to also see it feature by feature. Some tests, such as [this one](https://github.com/tc39/test262/blob/12e9d67bb5294

[2021-10-07 07:16] Razican commented on #823
I think this is not up to date anymore. We should review if this is still happening, and revisit the list above.

[2021-10-07 18:10] jedel1043 commented on #736
https://github.com/rylev/const-utf16 looks promising to convert from Rust's string literals to UTF-16 literals on const and static contexts.

[2021-10-09 00:04] github-actions[bot] opened #1652 "RUSTSEC-2021-0119: Out-of-bounds write in nix::unistd::getgrouplist"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `nix`                      |
| Version             | `0.22.0`                   |
| URL                 | [https://github.com/nix-rust/nix/issues/1541](https://github.com/nix-rust/nix/issues/1541) |
| Date                | 2021-09

[2021-10-09 20:09] davimiku opened #1654 "Implement `Array.prototype.findLast` and `Array.prototype.findLastIndex`"
This feature is a [Stage 3 proposal](https://github.com/tc39/proposal-array-find-from-last) currently. Does Boa have an opinion on when features are eligible for implementation?

I'm not very knowledgeable on the standardization process. Looks like it's [implemented](https://github.com/tc39/proposal-array-find-from-last/issues/49) in V8 and JSC behind feature flags but not in SpiderMonkey.

**ECMA

[2021-10-11 00:40] #1579 closed

[2021-10-11 00:52] jedel1043 commented on #1300
Merged #1583, this should unlock this.

[2021-10-11 15:48] Nimpruda commented on #1641
I'm implementing methods and I am wondering if I made the right choice when defining my struct. Should my struct be
[code]
or
[code]
Except this I'm making good progress, being a bit slow but learning a lot!

[2021-10-11 16:19] raskad commented on #1641
That depends on what the `viewed_array_buffer` field needs to represent. The `ArrayBuffer` just holds some data like any other rust struct. The struct would be owned by the `DataView` struct. In contrast, the `JsObject` struct is a garbage collected JavaScript object. If you use that in your struct, it would not be owned by the `DataView` struct. If the underlying `ArrayBuffer` in a `JsObject` cha

[2021-10-11 20:31] am-a-man commented on #1601
@raskad hey, I allowed `BindingPattern` as function parameter by defining `FormalParameter` as
[code]
it works as it should in nightly as well as when I comment ``#[doc = concat!("JavaScript `", $name, "` built-in implementation.")]``
 from the following file [https://github.com/boa-dev/boa/blob/master/boa/src/builtins/typed_array/mod.rs](https://github.com/boa-dev/boa/blob/master/boa/src/builtins

[2021-10-12 01:03] nekevss commented on #1558
Is anybody working on this currently by chance? If not, I'd like to take a try at it. Unless there are other plans around it currently.

[2021-10-12 01:30] jedel1043 commented on #1558
The implementation should be straightforward considering we have already implemented async and generators, so you'll just need to mirror that, following the spec to adjust it to async generators.

[2021-10-12 14:38] kevinputera opened #1663 "`var` of different scopes overriding each other's values"
**Describe the bug**
It seems that there is a problem with the scoping of `var` in boa. In particular, assigning to `var` with the same name in different scopes will result in them overriding each other's values.

This issue was discovered because the conformance test `built-ins/Object/fromEntries/evaluation-order.js` is failing.

**To Reproduce**
Check out the following minimal example:

[code]

[2021-10-13 20:17] RageKnify commented on #1652
@gwenn and @kkawakam, sorry to bother, I believe we were notified because `rustyline` uses the `nix` crate. I noticed on your `master` branch you don't use version `0.22.0` of `nix` anymore, so I ask if you could please make a new release so that it includes the updated dependency?

[2021-10-14 09:59] #1611 closed

[2021-10-15 01:07] nekevss commented on #1558
@raskad and @jedel1043 so I have a bit of a question surrounding async generators and generators and the allow_yield/allow_await bools.

Note 1 in the ECMAScript specs states "YieldExpression and AwaitExpression cannot be used within the FormalParameters of an async generator function because any expressions that are part of FormalParameters are evaluated before the resulting AsyncGenerator is in

[2021-10-15 01:29] jedel1043 commented on #1558
@nekevss Yeah, pretty much. I don't know why they're called `allow_yield/await` when they do exactly the opposite of that though, but they need to be `true` for async generators to deny the `yield` and the `await` keywords in `FormalParameters` and `FunctionBody`.

[2021-10-15 21:34] lastmjs opened #1670 "Use in wasmtime or outside of browser"
Hi, I'm trying to get boa to work on the Internet Computer (IC): https://smartcontracts.org/docs/introduction/welcome.html

The IC uses wasmtime, and whenever I try to deploy a local Wasm module to my local IC environment I get errors similar to the following:

[code]

AFAIK, I cannot control the wasmtime host environment on the IC, as that would require larger changes to the IC itself. Is there s

[2021-10-18 00:05] github-actions[bot] opened #1671 "RUSTSEC-2020-0071: Potential segfault in the time crate"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `time`                      |
| Version             | `0.1.44`                   |
| URL                 | [https://github.com/time-rs/time/issues/293](https://github.com/time-rs/time/issues/293) |
| Date                | 2020-11-

[2021-10-19 00:05] github-actions[bot] opened #1676 "RUSTSEC-2020-0159: Potential segfault in `localtime_r` invocations"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `chrono`                      |
| Version             | `0.4.19`                   |
| URL                 | [https://github.com/chronotope/chrono/issues/499](https://github.com/chronotope/chrono/issues/499) |
| Date

[2021-10-19 09:45] jasonwilliams commented on #1670
Thanks for raising this @lastmjs, building for wasm outside the browser isn't something we've explored before so it makes sense for you to come across this. Im glad you have a workaround for now, i think we'll need to discuss how to maintain such an environment, as i think up until this point it isn't something any of us have tested.

I've marked this as discussion for now. Could you tell us a lit

[2021-10-19 13:49] Razican commented on #1676
This happens because Chrono extracted the time 0.1 code in order not to depend on it. Let's wait for Chrono to fix it and we can upgrade and leave out time 0.1 at the same time (maybe we already did this last part)

[2021-10-21 05:20] chebro commented on #1643
sorry if i'm being pendantic, but i'd really love to have this feature implemented asap as it helps in identifying exactly which tests are failing, i'd like to work on this if it's still open 😅

[2021-10-21 11:39] lowr commented on #1663
I've dug into the code and the spec and it turned out to be more complicated than I initially thought it would be.

The cause of the issue is that boa currently doesn't create mutable/immutable bindings until it executes the variable declaration statements (for the sake of comprehensiveness, the substitution to the variable in the wrong scope is executed [here](https://github.com/boa-dev/boa/blob/

[2021-10-23 11:02] #1654 closed, assigned to bsinky

[2021-10-26 10:46] Nimpruda opened #1689 "Fix remaining `DataView` tests"
These are the last failing tests for the `DataView` builtin:
- prototype/setInt16/set-values-return-undefined.js
- prototype/setInt8/set-values-return-undefined.js
- prototype/setUint8/set-values-return-undefined.js
- prototype/setUint16/set-values-return-undefined.js
- proto-from-ctor-realm.js

I couldn't manage to make them pass. Here are the failinf assertions for the set-values-return-undefine

[2021-10-27 19:11] lastmjs opened #1693 "Easy conversion from JsValue to serde_json::Value"
In my quest to convert a `JsValue` into a Rust struct, a necessary intermediate step seems to be converting a `JsValue` into a `serde_json::Value`. This would make it very easy to then create a Rust struct. For example, this functionality might look like the following: `let my_struct: MyStruct = serde_json::from(jsValue.to_serde_json_value());`.

Without this, I either have to implement my own con

[2021-11-01 09:42] #1601 closed

[2021-11-02 15:01] jasonwilliams commented on #736
@joshwd36 or @jedel1043 are you able to explain a little more why this is happening?

[2021-11-02 15:32] jedel1043 commented on #736
It was an old bug we had, but @joshwd36 fixed it here:

https://github.com/boa-dev/boa/commit/87d9e9cea82c1ea675082063f73296538bb3f46f#diff-796dedc2c80b4163e38e66d39288c24707abd5e32ff4151e32a561bf2b0488b7R959

Essentially, it was because UTF-8 considers any of its 8 bit, 16 bit, 24 bit or 32 bit variable code points as a whole "Unicode Scalar Value", and "🙂" can be represented in utf-8 with a sing

[2021-11-03 08:43] Razican opened #1700 "Add VM Test262 coverage report to our conformance page"
### Current situation
We currently store coverage results for our VM in the gh-pages branch, in the `test262/vm/refs`, the same way as we do for our non-VM implementation in `test262/refs`. We are currently only showing results for the non-VM implementation in https://boa-dev.github.io/boa/test262/.

### Desired situation
Ideally, we want to show both conformances (VM and non-VM) to be able to eas

[2021-11-04 01:25] nekevss commented on #1559
I'd like to take a try at this one if nobody is currently working on it.

[2021-11-04 18:06] raskad commented on #1559
If you could start with the implementation of the built-in objects, that would be really helpful.

As you can read in this discussion #1529, we are currently looking at implementing the actual generator functionality in the vm only. My suggestion would be, that you start with the objects and whenever the spec mentions switching of the running execution context, just ignore that part for now (maybe

[2021-11-06 19:06] nekevss commented on #1559
@raskad Question for you. I'm going through the ConstructorBuilder struct (object/mod.rs line 1798 for reference) and it looks like the struct is adding a clone of the prototype to the constructor, but then the block after adds properties to the prototype. Is this in the correct order? Wouldn't we want to change the prototype before cloning the prototype, or am I not understanding this properly.

[2021-11-06 22:27] raskad commented on #1559
The prototype is a `JsObject` which is a pointer to the underlying garbage collected `Object`. When we `clone` a `JsObject`, we only clone the pointer. This means that in this case the order should be irrelevant, because the `Object` that is changed is the same.

[2021-11-10 05:20] lastmjs commented on #1663
I think I just ran into this issue as well. For example, this TypeScript code:

[code]

Compiles into this code which I am running in boa:

[code]

When I try to call the `balance` function, I get this error: `Value is not callable`. I've tracked it down to the fact that I am using a variable named balance and I have a function named balance. I also have a function named `supply` and the same issu

[2021-11-14 01:49] raskad opened #1711 "Improve vm trace output"
The vm trace output currently has a few issues.

**Functions without a name should be identifiable.**
Currently a function without a name will have printed trace output like this:
[code]

@jasonwilliams proposed to have some kind of ID for functions that can make them identifiable between the trace of the compiled output and the call frame execution trace. For the proposed output look at this comm

[2021-11-30 14:56] schrieveslaach commented on #1693
I ran into the same issue when i tried to upgrade from 0.11.

[2021-12-01 00:06] github-actions[bot] opened #1726 "RUSTSEC-2021-0127: serde_cbor is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `serde_cbor`                      |
| Version             | `0.11.2`                   |
| URL                 | [https://github.com/pyfisch/cbor](https://github.com/pyfisch/cb

[2021-12-05 11:51] #1609 closed

[2021-12-13 17:24] RageKnify commented on #1726
Tracked up-stream at bheisler/criterion.rs#534

[2021-12-16 23:59] d00z3l opened #1748 "Add example of passing Rust reference to Boa for use in instance methods"
**Feature**
I would like to be pass a reference to a rust object to Boa so it can be used in to retrieve data from rust objects or to update values in rust objects.

`closure_with_captures` seems the closest to making it happen in the current API. Below is some mocked up code based on the 'closures' example of what I would like to do. Not sure if this possible or my methodology is wrong for how to

[2021-12-17 00:14] d00z3l commented on #1748
With the help from Discord it seems I can use Gc<GcCell<Struct>>:

[code]

[2021-12-17 00:36] d00z3l commented on #1748
Here is a more realistic example:

[code]

[2021-12-17 01:08] jedel1043 commented on #1748
Thank you for your snippets! Even if the issue is resolved, I'm gonna keep it open as a reminder for adding this snippet as an example of how to pass references between Rust and the JS engine :)

[2021-12-17 01:09] jedel1043 commented on #1748
Related: #1161

[2021-12-17 20:46] d00z3l commented on #1748
Follow up question on Gc and Trace. I don't really understand the purpose of Trace and whether I can safely ignore it in the Api struct if it is going to be exclusivity used in closures to create an API?

Take the example below, in the real world example the Vec<u32> would be a struct holding the rust data that is being shared with JavaScript via the closure api.

[code]

[2021-12-24 01:13] raskad opened #1760 "Add context information to `not a constructor` `TypeError`"
There are a few places where we throw a `TypeError` signaling that a value is `not a constructor`. Right now those errors do not contain specific information to find out why or where the error occurred.

- The produced error should contain useful information (variable name(?), type of the value (?)) that makes it easier to find out why the error occurred.
- All of the places where we throw this er

[2021-12-24 11:57] Razican commented on #1760
This also happens where we have "not a callable function".

[2021-12-24 12:01] Razican opened #1761 "Add safety information about the `Readable` trait."
Currently, in the VM `Readable` trait we have a `# Safety` section but no safety information. Let's add it.

[2021-12-24 12:59] HalidOdat commented on #1761
It's unsafe because it should only be implemented on type that don't implement `Drop`, since primitives like `u32`, `f64` don't  implement `Drop` we can "safely" implement unsafe `Readable`. Currently rust stable does not support [negative trait bounds](https://doc.rust-lang.org/beta/unstable-book/language-features/negative-impls.html) we could call drop on a type twice, or more or not at all. We

[2021-12-25 17:56] #1761 closed

[2021-12-25 20:11] Razican commented on #503
There are some early errors that must be taken into account: https://262.ecma-international.org/10.0/#sec-primary-expression-regular-expression-literals-static-semantics-early-errors

[2021-12-25 20:52] Razican commented on #503
After checking this thoroughly and following the Test262 suite, it turns out that these flags must be checked at parsing time (early error) and not at runtime, so I'm closing this issue.

[2021-12-25 20:52] #503 closed

[2021-12-26 10:52] Razican opened #1763 "Parser string interning"
As part of the interning of all strings, we currently only intern strings in the lexer (#1758). This is not good enough of course, since creating AST nodes we convert those string symbols back to pointers to re-allocated strings, which means we need an extra allocation and more memory is being used.

The next step is to use `Sym` also in AST nodes. This means changing any `Box<str>` for a `Sym` (m

[2021-12-26 16:03] aalykiot opened #1764 "Uncaught "ReferenceError" when using undefined variables"
Trying to use an **undefined** variable to produce an outcome throws an `Uncaught "ReferenceError"` error.

[code]

The rest of the JS engines can handle undefined behaviour like the above without throwing errors.

Is it a bug in Boa ?? An unimplemented feature ?? Or this is happening by design ??

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/typeof

Thanks!

[2021-12-30 22:46] raskad commented on #1559
@nekevss Did you already start on this? I did some tests with the actual generator execution, now that the vm is the default. If you are not that far, I would probably take over this.

[2022-01-02 01:18] 5225225 opened #1768 "Panic when parsing fuzzed code"
**Describe the bug**

The code should not panic.

**To Reproduce**

[code]

**Expected behavior**

It shouldn't panic, and it should parse correctly (as whatever it's meant to parse as, not sure.)

**Build environment:**

- OS: Arch Linux
- Target triple: `x86_64-unknown-linux-gnu` (I *think*, couldn't find how to print it and I don't think it's terribly important here)
- Rustc version: `rustc 1.5

[2022-01-02 02:02] bartlomieju commented on #1693
Just drive-by comment: in Deno we created something called `serde_v8` which is a bijection layer between `v8::Value` and `serde_json::Value`. This project proved to be hugely successful and efficient. For anyone interested I'm leaving a link to the source code (https://github.com/denoland/deno/tree/main/serde_v8) that you might find useful for inspiration for similar mechanism in `boa`.

[2022-01-02 13:08] Razican commented on #1768
One question, though. Why are you calling `drop()` on the parsed result? That could cause a double drop maybe?

[2022-01-02 13:12] 5225225 commented on #1768
`drop` just consumes the input. (It's not magic, and since it's not `unsafe` it *can't* cause a double drop).

If you look at https://doc.rust-lang.org/std/mem/fn.drop.html it says it's literally defined as

[code]

I do it to silence the unused variable warning that you otherwise get from the `Result`.

[2022-01-02 16:23] RageKnify commented on #1768
I've tried to diagnose it and I'm pretty sure it's a bug in the lexer, I think its because there is only a `\n` after the closing parenthesis.
It tries to peek for a token after the `)` to check if it is `=>`, which would mean it is an arrow function. But in this case there is no other token ahead of it.

[2022-01-02 18:19] RageKnify commented on #1768
The `BufferedLexer`'s write_index is "overflowing"
`peeked` contains `['\n', '(', '\n', 'x', '\n', ')', '\n']`

The line trying to peek is here https://github.com/boa-dev/boa/blob/d831ff3dc599eb5fbf1d0e01a0120f530e184c17/boa/src/syntax/parser/expression/assignment/mod.rs#L149-L153
I have the peeking visualized below:
[code]
This seems to be the max size we expected, the `?` becomes `None` during t

[2022-01-14 17:37] nekevss commented on #1559
@raskad Apologies for the delayed response. I had started somewhat on it, but found it increasingly hard to piece together in my head how what I had might work with the vm and actual execution. Feel free to take it over, as I'm not sure anything I had put together is ultimately useable (although if you were interested to see how far I got and I can push the branch to my fork).

[2022-01-15 03:04] pedropaulosuzuki opened #1784 "Implement Array.from(arrayLike, mapFn)"
**ECMASCript feature**

Hello everyone! Hope y'all fine!

I think it would be nice to see `Array.from(arrayLike, mapFn)` implemented in Boa. [ECMAScript specification here][spec]. Currently passing Array.from returns `undefined`, which means it is not defined yet. (Tested on Boa Playground).

[spec]: https://262.ecma-international.org/#sec-array.from

**Example code**

This code should work and gi

[2022-01-15 15:52] raskad commented on #1559
@nekevss no worries. I also found the execution and the spec very hard to reason about. If you want push your changes, I'd be interested to see what your start was.

[2022-01-16 19:38] nrabulinski commented on #1784
If there's nothing blocking this and no one is already at it, I'd like to give it a shot :)

[2022-01-19 17:35] icecream17 opened #1788 "`"true"[3]` is `undefined`"
**Describe the bug**
String indexing doesn't work (gets `undefined`)

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

[code]

[code]

**Expected behavior**
Should get the character (er, code point) at that index

**Build environment (please complete the following information):**

<https://boa-dev.github.io/boa/>

[2022-01-23 19:06] Razican commented on #1700
Closing this, as we no longer have two branches

[2022-01-23 19:07] #1700 closed

[2022-01-23 19:20] Razican commented on #1591
This has already been done.

[2022-01-23 19:20] #1591 closed

[2022-01-23 21:02] Razican commented on #1545
This needs to be reviewed for the VM branch

[2022-01-29 10:07] Razican opened #1804 "Tracking issue for the `Temporal` builtin"
**Tracking for the `Temporal` built-in implementation**

- [x] First prototype (#3277)
- [x] Migrate Temporal to independent `boa_temporal` crate (#3461)
- [x] Complete `Temporal.Duration` (#4070)
- [x] Complete `Temporal.PlainDate` (#4071)
- [x] Complete `Temporal.Instant` (#4074)
- [x] Complete `Temporal.PlainDateTime` (#4072)
- [x] Complete `Temporal.PlainYearMonth` (#4077)
- [x] Complete `Temp

[2022-01-29 10:45] jasonwilliams commented on #1804
https://github.com/boa-dev/boa/issues/1180 Is related to this

[2022-01-29 11:00] Razican opened #1805 "Async Arrow Function parsing"
**ECMASCript feature**
Implementing parsing for AsyncArrowFunctions is one of the missing parsing features to implement asynchronous execution. Documentation can be found here: https://tc39.es/ecma262/#sec-async-arrow-function-definitions

Async arrow functions are produced in assignment expressions: https://tc39.es/ecma262/#prod-AssignmentExpression
In Boa, this is defined in https://github.com/b

[2022-01-29 11:19] Razican opened #1806 "Async function expression execution"
**ECMASCript feature**
Boa is already capable of parsing async functions, but it's not able to execute them. The current implementation just returns an "undefined" value if one gets executed:

https://github.com/boa-dev/boa/blob/672eede30d7bcc46a58ae08acdb864678a54d46b/boa/src/bytecompiler.rs#L879-L882

You can learn about runtime semantics here: https://tc39.es/ecma262/#sec-runtime-semantics-inst

[2022-01-29 13:37] Razican opened #1807 "Await expression execution"
**ECMASCript feature**
Implementing the `await` expression execution is needed in order to have full async/await support. The specification on this expression execution can be found here: https://tc39.es/ecma262/#await

This will have to be updated to use the VM.

[2022-01-29 13:39] Razican opened #1808 "Divide the byte compiler"
Currently, the byte compiler is written in [a file](https://github.com/boa-dev/boa/blob/672eede30d7bcc46a58ae08acdb864678a54d46b/boa/src/bytecompiler.rs) with almost 2,000 lines. Each execution path should be divided in submodules, in order to reduce the size of the file and to make it more maintainable.

[2022-01-31 09:23] Razican commented on #279
I think we can close this issue, as we are now using an interner in most of the engine.

[2022-01-31 09:23] #279 closed

[2022-01-31 09:27] Razican commented on #530
I'm closing this issue, since the optimization seems to have its point, and it's unclear to me what we are supposed to fix/improve here.

[2022-01-31 09:27] #530 closed

[2022-01-31 09:28] #565 closed

[2022-01-31 10:42] Razican commented on #1117
Is this fixed now?

[2022-01-31 10:44] Razican commented on #1147
@HalidOdat I see you assigned yourself this issue, let me know if you're still working on it, or if we can un-assign it :)

[2022-01-31 10:51] Razican commented on #1373
@HalidOdat any news on this?

[2022-01-31 10:54] Razican commented on #1402
This might be related to #162

[2022-01-31 10:56] Razican commented on #1423
@HalidOdat any news on this? Do you want me to un-assign it from you?

[2022-01-31 11:01] Razican commented on #1598
@am-a-man Do you have any updates on the progress of this?

[2022-01-31 12:39] Razican commented on #1788
This seems to be that this function is not fully spec compliant:
https://github.com/boa-dev/boa/blob/f66324cdf54357e92dfcd80f28419b365e410147/boa/src/object/internal_methods/string.rs#L144-L189

But I thought this should be working since #1354. @jedel1043 could you check this?

[2022-01-31 12:40] Razican commented on #1784
@nrabulinski do you have any updates on this?

[2022-02-01 02:27] jedel1043 commented on #1788
I'll give it a look

[2022-02-01 11:26] am-a-man commented on #1598
@Razican sorry for the long delay, will try to complete it by the end of this week

[2022-02-03 09:51] HalidOdat commented on #1373
Sorry for not replying I have been very busy, but plan to start to do more contributions in the future.

I'll start working on this again. had a semi-working implementation of this that needs a rebase (it's pretty old). Hopefully I can get it working by this weekend :)

[2022-02-03 09:54] HalidOdat commented on #1423
Maybe after #1373 I can start working on this, but until then I'll un-assign myself, if anyone wants to claim it.

[2022-02-03 10:18] HalidOdat commented on #1147
I didn't implement this because it would make #1373 harder/impossible since integer and rational has will be encoded `JsValue`  into a 8-byte value and we can't fir an enum `Number` (16-byte). It would be added just to be removed when NaN boxing gets added.

[2022-02-03 12:32] Razican commented on #1147
Still, having integer operations optimized would be a good thing, right? Do you see a way we could get this? An option might be to use untagged enums (unions) or somehow add different `JsValue` variants.

[2022-02-03 18:51] HalidOdat commented on #1147
We are still going to have integer and rational variants, we wont remove them! But they have to be flat (since the tag is encoded with the payload, all in a 64bit value), we can't nest it (the current implementation is this way anyway).
In terms of optimization it would be better to make `to_number()`  return the `enum Number`, since it turns integer to rational (f64). In any case the benefits we

[2022-02-04 10:19] jedel1043 commented on #1788
Ah, I think it's github pages, because locally it works correctly.
I checked the version published on the gh-pages branch and apparently it's the 0.10.0.
We would need to modify the action to recompile boa on each deploy.

[2022-02-04 22:34] Razican commented on #1788
In GitHub pages we have the 0.13 version, so I guess that's the reason. 0.14 should be released reasonably soon, and that will be implemented.

[2022-02-04 23:17] jedel1043 commented on #1788
Hmm, that's weird. IIRC, #1354 was implemented before we released 0.13, so it should be on the release already...

[2022-02-05 14:35] Razican commented on #1788
Maybe it didn't do the release in GH pages

[2022-02-05 19:07] Razican commented on #1399
This was fixed in #1079, and released in the v0.12 version.

[2022-02-05 19:07] #1399 closed

[2022-02-05 19:09] Razican commented on #1400
This was fixed in #1079 and released in the v0.12 version.

[2022-02-05 19:09] #1400 closed

[2022-02-05 19:20] Razican commented on #1403
I'm closing this. Error messages can be improved, but the panic doesn't exist anymore in Boa.

[2022-02-05 19:20] #1403 closed

[2022-02-05 19:30] Razican commented on #823
I have updated the list. Only 2 are still broken:
 - `atomicsHelper.js`
 - `timer.js`

The first one is failing because it's considering the `await` keyword as an identifier, since we still haven't implemented async/await.

The reason for the 2nd one is that we don't yet implement the `Promise` object (or async/await). In any case, we might be able to implement the `Promise` object even before hav

[2022-02-05 19:53] Razican commented on #577
I don't think this will be ready for 0.14, so I'm moving it out.

[2022-02-05 19:53] Razican commented on #1313
Waiting for #300 to be implemented.

[2022-02-05 20:02] Razican opened #1819 "The RegExp structure has too many booleans"
As Clippy warns, the RegExp structure in [src/builtins/regexp/mod.rs](https://github.com/boa-dev/boa/blob/main/boa/src/builtins/regexp/mod.rs#L35-L61) has too many booleans (one for each flag). This is bad, because it might not get correctly optimised by the compiler. Ideally, we would want to use a bitflags structure such as the RegExpFlags one in https://github.com/boa-dev/boa/blob/60b7eb89340c2

[2022-02-06 09:55] Razican commented on #1788
Indeed, the release workflow is failing, so the release in GitHub Pages is v0.10.0. I'm going to try and release v0.13, and see if there is something that can be fixed with the release workflow.

[2022-02-06 10:31] Razican opened #1823 "The Boa Playground is not updated with each release of Boa"
Even if we have a Boa [release workflow](https://github.com/boa-dev/boa/blob/main/.github/workflows/release.yml), it doesn't update the Boa playground. This has caused #1788, and probably more, since the last version that was uploaded was v0.10:
https://boa-dev.github.io/boa/

We can see that the last runs of the release workflow failed:
https://github.com/boa-dev/boa/actions/workflows/release.yml

[2022-02-06 10:49] Razican opened #1824 "Warning on WASM compilation"
**Describe the bug**
When building Boa for having a WASM playground, a warning gets emitted:

[code]

**To Reproduce**
In the `main` branch, run `yarn build` or `yarn serve`. You will see the warning displayed.

**Expected behavior**
No warning appears.

**Build environment (please complete the following information):**

- OS: macOS Monterey 12.2
- Version: 12.2 (M1 Mac)
- Target triple: wasm32-un

[2022-02-06 18:28] #1788 closed

[2022-02-07 21:30] #1768 closed

[2022-02-12 14:11] rumpl commented on #1824
This warning seems to come from `getrandom`, but it was [supposed to be fixed in 0.2.4](https://github.com/rust-random/getrandom/pull/234).

[2022-02-13 04:52] raskad opened #1835 "Adjust `Realm` visibility"
Currently `Realm` is a public struct and it's only public method is `crate()`. The only reason for this seems to be, so that we can benchmark the creation of a realm.

Either
1. `Realm` is fully private and we need to change how we benchmark it, or
2. we should provide some functionality for the public `Realm` e.g; changing the `Realm` of a `Context`. But is that api usefully in any way?

[2022-02-13 14:42] aaronmunsters commented on #1819
I would like to work on this issue :)

[2022-02-13 14:47] rumpl commented on #1824
Ok I did some more digging and it looks like the PR I linked did not actually make it to the 0.2.4 version so I guess the best thing to do is wait for the 0.2.5 version and the warning should then go away

[2022-02-15 03:27] sffc commented on #1180
Hi there!  I just saw this today.

Here are instructions on how to generate the ICU4X data file:

https://crates.io/crates/icu_datagen

Specific replies inline:

It is on crates.io; see link above.

Correct.  This is the easiest way to include data.

You should use icu4x-datagen to generate the data.  You need the CLDR data available at build time.

We have an issue to track this: https://github.c

[2022-02-15 16:00] lastmjs commented on #1805
I would like to start working on this issue

[2022-02-15 20:37] rumpl commented on #186
👋 I would like to take a stab at this

[2022-02-16 13:12] #1819 closed

[2022-02-19 22:05] y21 opened #1847 "Boa wrongly assumes that allocating never fails and writes to a null pointer"
Boa assumes that `std::alloc::alloc` never fails (returning a null pointer) even though it can.

https://github.com/boa-dev/boa/blob/29cd909f88d9bcab59eedda95639756a45235d70/boa/src/string.rs#L219-L223

Quoting the [docs](https://doc.rust-lang.org/stable/core/alloc/trait.GlobalAlloc.html#tymethod.alloc):

If the allocation fails, then there will be a write on a null pointer on L223, which is consi

[2022-02-19 23:32] y21 opened #1848 "Long reference "chain" can overflow the stack during GC trace"
Very long "reference chains" (i.e. very deeply nested objects) can overflow the stack because, afaict, each object trace during GC cycles is its own function call.
It seems like there's basically no guards against stack overflows (for example even simple cases like #809 can abort the process) so this is probably lower priority, but this sounds a little trickier to guard against.

**To Reproduce**

[2022-02-19 23:46] Razican commented on #1847
Maybe this is addressed by #1659

[2022-02-20 15:46] #1847 closed

[2022-02-20 22:10] #1670 closed

[2022-02-21 21:30] #230 closed

[2022-02-22 16:22] #1693 closed

[2022-02-23 10:11] tobiemh opened #1864 "Enable a parsed StatementList to be passed across async/await boundaries"
Hi,

I'm trying to implement Boa within a Rust web server (running behind [Warp](https://github.com/seanmonstar/warp)), which has the requirement that all async code must also be Send as it *may* get processed on an alternative Tokio thread. Currently the one thing preventing a parsed [StatementList](https://boa-dev.github.io/boa/doc/boa_engine/syntax/ast/node/statement_list/struct.StatementList.h

[2022-02-23 11:17] #1824 closed

[2022-02-23 11:25] Razican commented on #1864
The usage of `Rc` here is to reduce the memory footprint, but I'm curious, does the rest work? We use a single-threaded garbage collector very extensively, which I would expect not to work in this scenario, or at least not to work properly. Note that JavaScript is single-threaded, so the whole context initialization, parsing, compilation and execution should happen in the same thread. We should ch

[2022-02-23 11:42] tobiemh commented on #1864
@Razican in my use case I'm parsing Javascript into an AST (`StatementList`) and storing it serialized. When a request is made to the webserver, the StatementList is deserialized and executed. However, the `StatementList` is the value that gets passed around across Rust async/await boundaries (with the only issue being the `Rc` in `BigInt`).

When the AST is compiled and executed, this happens wit

[2022-02-23 13:07] HalidOdat commented on #1864
The main reason for making it  have `Rc<_>` for two reasons:
1. So AST cloning was cheap (which we don't do that anymore)
2. To make the AST smaller (but this can be achieved with `Box<_>` as well)

So we can make the AST `Send` if we use `Box` since it implements `Send`.

[2022-02-23 14:28] tobiemh commented on #1864
Perfect, this sounds great! Thanks for both your input @Razican and @HalidOdat. Looking forward to a PR!

[2022-02-25 07:22] creepinson commented on #64
Any updates on this? The PR was closed a while ago, and i can't find another decent, embeddable rust javascript engine like this 😕

[2022-02-25 07:55] Razican commented on #64
I will soon add a project for this, it's definitely in the pipeline, along with generators and a async/await support.

[2022-02-27 16:56] Razican opened #1873 "Labeled statements are not properly taken into account for non-loops"
**Describe the bug**
Labeled statements can be used outside of loops, but Boa doesn't have the concept of a "labeled statement" itself.

**To Reproduce**

This JavaScript code reproduces the issue, coming from this Test262 test: https://github.com/tc39/test262/blob/18ce639a4c4768de337fa30b83bbb6de02b0e1a5/test/language/block-scope/leave/verify-context-in-labelled-block.js:
[code]

**Expected behav

[2022-02-27 17:27] Razican commented on #1864
It looks like solving this is not an easy task. Anything that avoids Rc pointers will make the whole engine much, much slower. An option would be to change them for `Arc` by selecting a feature. For now I'm removing this feature from the upcoming 0.14 release, since we cannot handle such high overhead (up to 15% worse benchmarks).

[2022-02-27 20:19] #1864 closed

[2022-02-28 18:02] Razican commented on #1864
After a thorough review, we noticed that the changes in performance were +/- 1.5%, with some improvements in some cases even. So this made it for 0.14!

[2022-03-06 02:08] VTCAKAVSMoACE opened #1897 "Const declarations without initialisers can cause a panic"
**Describe the bug**
Const declarations without initialisers still cause a panic in bytecompiler.rs.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

Note that `const h;` on its own does correctly throw a syntax error.

**Expected behavior**
The code should throw a syntax error, not panic.

[2022-03-06 07:25] VTCAKAVSMoACE opened #1899 "Continues in finally blocks cause a panic"
**Describe the bug**
Continues in finally block causes a panic in call_frame.rs.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]

**Expected behavior**
This should not panic and should instead simply execute the continue.

[2022-03-06 07:33] addisoncrump opened #1900 "Break in nested try/catch/finally cause multiple panics"
**Describe the bug**
Several panic variants caused by breaks in nested try/catch/finally. I have lumped them together as they appear to be caused by similar issues, but I have not yet identified a cause.

**To Reproduce**
This JavaScript crashes with `thread 'main' panicked at 'stack was empty', boa_engine/src/vm/mod.rs:145:36`
[code]

This JavaScript crashes with `thread 'main' panicked at 'index

[2022-03-07 16:26] #1897 closed

[2022-03-07 18:36] #1899 closed

[2022-03-07 18:55] raskad opened #1907 "Move syntax errors from the compiler to the parser"
Currently we have some syntax errors that are being thrown in the compiler. They should be already be thrown in the parser.

The best case to search for them is to look for `throw_syntax_error` and `construct_syntax_error` in `boa_engine/src/bytecompiler.rs`. There may be state that must be added during the parsing for all of the errors to be moved to the parsing phase.

After this is fixed, `Cont

[2022-03-08 01:23] #446 closed

[2022-03-08 02:20] raskad commented on #1663
This should be fixed via #1829. I tested the example in the this issue and it works as expected.

[2022-03-08 02:20] #1663 closed

[2022-03-08 10:07] Razican commented on #1663
One question here @raskad do we still need the "hoisting" hack we use to re-order statements?

[2022-03-08 10:36] jasonwilliams opened #1911 "Migrate to ESBuild for playground"
We currently use Webpack for our playground builds. For faster builds we should migrate to ESBuild.
An example build config for ESBuild with wasmPack is [here](https://github.com/jasonwilliams/hello-wasm/blob/main/build.js)

Some alternative plugins which will need replacing
- https://www.npmjs.com/package/esbuild-clean-plugin
- https://github.com/craftamap/esbuild-plugin-html
- https://www.npmjs.

[2022-03-08 10:45] raskad commented on #1663
Do you mean this "hoisting"? https://github.com/boa-dev/boa/blob/2c6acebe6cbf20356eae67840830fb78bd90ec74/boa_engine/src/syntax/parser/statement/mod.rs#L411

This is currently only relevant for function declarations. I'd have to take a closer look. There may be some other things that depend on this.

[2022-03-08 10:47] jasonwilliams opened #1912 "Migrate to npm"
We should also migrate back to npm also instead of yarn. Not everyone has yarn installed and setup so it should make it easier for those who want to contribute.

Make sure you're using node v16+
npm install should generate a package-lock.json, then you can remove the yarn.lock file.

It might be worth updating any dependencies at the same time

[2022-03-09 16:47] HalidOdat opened #1916 "Implement `Array.prototype [ @@unscopables ]`"
**ECMASCript feature**

Implement `Array.prototype [ @@unscopables ]`. [ECMAScript specification][spec].

[spec]: https://tc39.es/ecma262/#sec-array.prototype-@@unscopables

[2022-03-10 05:32] lastmjs commented on #1670
I can confirm this is working for me, appreciate it!

[2022-03-10 05:32] lastmjs commented on #1663
So far this is working for me FYI

[2022-03-10 09:19] jasonwilliams commented on #1911
https://github.com/microsoft/monaco-editor/blob/main/docs/integrate-esm.md#option-2-using-plain-webpack I wonder if we can tree shake out the bits from Monaco editor we don’t need

[2022-03-10 09:28] Razican commented on #1663
Sounds good! Yea I was mentioning that :) it's a hack I had to introduce in the early days to make it work properly, but I would love to remove it as soon as it's possible.

It reduces the parsing speed, and it's not really spec compliant. Also, when printing the AST or the original code, the order is not maintained.

[2022-03-10 15:44] lastmjs opened #1917 "Strange issue with postfix increment and array indexing"
**Describe the bug**

While incorporating a sha224 library into one of my boa projects, I noticed the sha224 implementation was producing incorrect hashes when run through boa. With enough fiddling, I seem to have found a couple issues. This bug report highlights one of them. The code below describes how to reproduce it.

**To Reproduce**

Here is the code to run through boa, focusing on the origi

[2022-03-10 16:00] lastmjs opened #1918 "Strange issue with <<= operator and array indexing"
**Describe the bug**

While incorporating a sha224 library into one of my boa projects, I noticed the sha224 implementation was producing incorrect hashes when run through boa. With enough fiddling, I seem to have found a couple issues. This bug report highlights one of them. The code below describes how to reproduce it.

**To Reproduce**

Here is the code to run through boa, focusing on the origi

[2022-03-12 12:44] Razican commented on #1917
I did some debugging here, and the reason behind this is the order in which we evaluate expressions. This code:

[code]

In theory, the first thing that should get evaluated is `arr[i>>2]`, which for the first iteration is `arr[0 >> 2]` or `arr[0]`. Then, we should evaluate the right hand side, which would increment `i` until it's `4`.

But with Boa, we seem to be evaluating first the right hand s

[2022-03-12 12:45] Razican commented on #1918
This is a duplicate of #1917. The issue comes from evaluating first the right hand side instead of the left hand side.

[2022-03-12 12:45] #1918 closed

[2022-03-12 14:10] raskad commented on #1917
This seems to be a very interesting issue. The following example returns different results in v8, spidermonkey and boa:

[code]

boa
[code]

v8
[code]

spidermonkey
[code]

[2022-03-12 14:30] raskad opened #1920 "The cli parameter `--dump-ast Json` panics"
**Describe the bug**
Whey trying to output the AST with the cli parameter `--dump-ast Json` or `--dump-ast JsonPretty` boa panics.

**To Reproduce**

This JavaScript code reproduces the issue:
run the following code with `cargo run -- --dump-ast Json`
[code]

`thread 'main' panicked at 'could not convert AST to a pretty JSON string: Error("can only flatten structs and maps (got a sequence)", line:

[2022-03-12 16:27] Razican commented on #1917
They are all wrong, right? I guess the correct result should be:
[code]

[2022-03-12 17:42] Razican commented on #1711
Another example. For this JS code:
[code]

You get something like this. It seems that if the opcode names are too long, the operands jump to a new line:
[code]

[2022-03-12 18:25] jedel1043 commented on #1917
That's the correct result, but SpiderMonkey does get it right, since `arr[1] === undefined` implies that `arr.length === 1`, and both `i++` should result in `i === 2`

[2022-03-12 19:32] Razican commented on #1917
From our VM perspective, this is tricky to get right, because we have to first calculate the object node (`arr`), then the field getter (`i++`, so `i`), and then the value (so, the result of adding `1` to `i`).

The way we do it right now is the inverse. We first calculate the value, then the field name, then the object node. This is much easier, because in a post-increment node, we can push the f

[2022-03-12 19:40] #1784 closed

[2022-03-12 20:35] VTCAKAVSMoACE opened #1922 "Panic when invoking functions which use themselves as default parameter values"
**Describe the bug**
Invoking a function which uses itself as a default parameter value puts the VM's stack in an invalid state. This could be used to create invalid or unexpected execution states.

**To Reproduce**

This JavaScript code reproduces the issue:
[code]
(Induces `thread 'main' panicked at 'assertion failed: self.stack.len() > 1', boa_engine/src/environments/runtime.rs:120:9`)

**Expec

[2022-03-13 17:23] Razican opened #1924 "Set-up benchmarking against other engines"
Currently, we run benchmarks to improve (or at least not regress) on the performance of Boa. This is a very good approach, but we are missing proper benchmarking against other JavaScript engines.

Particularly, it would be interestint to benchmark against
 - Spidermonkey
 - V8 (both in Node and in Deno)

Any other possible engine would also fit. The idea is to store these comparisons for each comm

[2022-03-14 01:21] VTCAKAVSMoACE opened #1926 "Unidentified panic in vm/mod.rs"
**Describe the bug**
I tried for some time to identify the cause of this panic, but I'm just not finding it so I'm putting it here for other eyes. I've minified the example the best I could.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

This causes the following panic:
[code]

**Expected behavior**
No panic should occur; program should execute successfully.

**Additional inf

[2022-03-14 12:52] jedel1043 commented on #1917
Would it be feasible to treat in-place increments as syntax sugar?
I was thinking, maybe we could desugar this:

[code]

into this

[code]

That way we don't need to juggle with the stack, we just need to extract the increments on parse and substitute the increments with a variable name

[2022-03-14 13:33] Razican commented on #1917
This could be a posibility, yes, but we have not yet done any post-parsing / pre-compilation modification of the code. I guess this would be another phase. We could also add optimizations here too. So if we encounter `10+ 5`, we could create the `15` constant, for example, and the execution would be faster.

[2022-03-14 18:37] VTCAKAVSMoACE opened #1929 "do-whiles within any block cause a panic"
**Describe the bug**
do-whiles within any block cause a panic ("attempt to subtract with overflow" in call_frame.rs)

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

Another case:
[code]

But notably not:
[code]

**Expected behavior**
do-while should execute as expected and not panic.

**Additional context**
Discovered with #1902.

[2022-03-14 18:43] VTCAKAVSMoACE commented on #1929
I wasn't up to date with main, this is fixed.

[2022-03-14 18:46] VTCAKAVSMoACE commented on #1929
Mistakenly closed.

[2022-03-14 19:10] VTCAKAVSMoACE opened #1930 "Panic when errors are thrown while assigning function parameters to default values"
**Describe the bug**
A panic in runtime.rs is induced when processing an error induced during function parameter assignments to default values. The error does not have to be thrown during the assignment of a default value.

**To Reproduce**
Any of the following javascript lines can induce the crash.
[code]

**Expected behavior**
The program should not panic and should instead throw the appropriate

[2022-03-14 20:45] #1763 closed

[2022-03-14 20:45] Razican commented on #1763
This was implemented in 0.14

[2022-03-15 23:58] simonbuchan opened #1942 "`date_proto_to_date_string` can fail due to timezones"
**Describe the bug**
The `boa_engine` test `builtins::date::tests::date_proto_to_date_string` seems to assume a system UTC time-zone.

**To Reproduce**

On my system, set to New Zealand standard time (UTC+12:00):

[code]

**Expected behavior**

Tests pass in any time-zone, I guess.

**Build environment (please complete the following information):**

- OS: Windows
- Version: 11
- Target triple: x86

[2022-03-16 00:07] simonbuchan commented on #1942
Just to confirm, it passes at time-zones before UTC+10, fails after.

[2022-03-16 18:10] Razican opened #1948 "Add the README to the crate in crates.io"
Currently, we don't have the README linked in crates.io:
https://crates.io/crates/boa_engine

We should add it there, to give a bit more information about the crate. This might require adding the README to the package (we are excluding some stuff, so this might be some of it)

[2022-03-17 00:41] jedel1043 commented on #1911
This is unfortunately blocked on https://github.com/evanw/esbuild/issues/253, since this is the only plugin that supports importing wasm modules.
Also, https://github.com/Tschrock/esbuild-plugin-wasm-pack needs a custom patch to work correctly with workspaces.
I'll try to reduce the build time of Webpack.

[2022-03-17 02:34] Nathan-Fenner opened #1949 "GH Pages Conformance Suite: links to individual tests aren't links"
This is a bug in boa's test262 website, not in boa itself.

**Describe the bug**
Individual tests at https://boa-dev.github.io/boa/test262/ are described a small card, specifying whether the test passed. When you click on one of these, the corresponding test is opened in a new tab. However, the cards are not links, so standard affordances like the ability to copy the destination URL aren't availab

[2022-03-17 07:04] superhawk610 commented on #1942
Reading through adjacent tests, it seems like the behaviour is correct - `date_proto_to_string` and `date_proto_to_time_string` make their assertions against the OS's timezone using `chrono::offset::Local` - so the test just needs to be updated to account for OS timezone and adjust the assertion accordingly.

I can open a PR to fix.

[2022-03-17 07:52] Razican commented on #1942
Feel free to open a PR, of course :) tests should not fail depending on your time zone

[2022-03-17 08:17] simonbuchan commented on #1942
I think this means you're a human.

[2022-03-17 12:56] #1949 closed

[2022-03-17 17:18] #1948 closed

[2022-03-18 00:07] simonbuchan commented on #1942
Just to confirm the above:

I was a bit suspicious of `Local::now().timezone()`, so I looked into this a bit further, and I think while the test might not fail now that it's consistently transforming into and out of the `Date`, I believe the behavior in other cases would be incorrect with respect to the [specification](https://tc39.es/ecma262/#sec-local-time-zone-adjustment) in situations where th

[2022-03-18 03:04] VTCAKAVSMoACE commented on #1917
#1954 should handle this, but implementors should be careful that @jedel1043's solution is incomplete for scenarios like:
[code]

It might be necessary to juggle the stack or to generate VM instructions which are not one-to-one with JS.

[2022-03-18 04:08] jedel1043 commented on #1917
Or we could just put the increments at the end of the loop, I think.

[code]

[2022-03-18 05:05] superhawk610 commented on #1942
@simonbuchan I think I'm following your concern here - here's a different example that hopefully illustrates the same problem: I'm in the `America/Los_Angeles` TZ, and we recently started DST this past Sunday, March 13. So, in local time, it went directly from `Mar 13 01:59:59.999 GMT-8` to `Mar 13 03:00:00.000 GMT-7`. Thus, my OS is currently in `GMT-7`. I _think_ your concern is that creating a

[2022-03-18 09:11] Razican opened #1955 "Update CLI to use Clap 3.0"
We currently use [`structopt`](https://crates.io/crates/structopt) for our CLI, but now that Clap has released its 3.0 version, the functionality has improved to the point where `structopt` is no longer needed: https://crates.io/crates/clap

We would like to move from using `structopt` to using `clap`.

[2022-03-18 10:14] #1545 closed

[2022-03-18 10:16] jedel1043 commented on #1545
Closing since the VM now manages this using the `FinallyReturn` type

[2022-03-18 14:15] jasonwilliams opened #1956 "Migrate release workflow to Cargo Workspaces"
We had a lot of trouble with releasing v0.14. We should probably move to [cargo-workspaces](https://crates.io/crates/cargo-workspaces) similar to rust analyzer. Here is an example from them.

This should help release the crates in the correct order.

https://github.com/rust-analyzer/rust-analyzer/blob/master/.github/workflows/publish.yml#L17-L45

[2022-03-18 18:18] Razican commented on #1955
I assigned it to you :) let us know if you'd want some help!

[2022-03-18 21:22] simonbuchan commented on #1942
Ah, great! I tried to figure out if this was an issue from the `chrono` docs, which talk about `Local` getting the current offset only, and point to chrono-tz for explicit time zone support. I suspect `chrono` actually does even less, and just remembers local vs UTC and lets the OS do the right thing!

[2022-03-20 14:08] #1912 closed

[2022-03-20 22:30] hemantku commented on #1920
Hi, My name is Vineet. I would work on this issue if this is still available

[2022-03-20 22:58] #1920 closed

[2022-03-20 23:02] raskad commented on #1920
Hi @hemantku, thank you for your interest in contributing to boa!
(Un)fortunately this will already be fixed in #1959

I noticed, that we don't have many good first issues currently. If you do not find one that looks interesting to you, I recommend heading to our [conformance page](https://boa-dev.github.io/boa/test262/) and checking out some currently failing tests, for which we do not have an is

[2022-03-20 23:16] #1955 closed

[2022-03-21 16:39] lastmjs opened #1961 "to_json u32 error"
**Describe the bug**

I have been using the new JsValue `to_json` functionality and I'm running into some issues. I have a valid `u32` represented in JavaScript that should be convertible to a u32 in Rust, but it isn't.

**To Reproduce**

[code]

**Expected behavior**

This should print `get_u32: 4294967295` and should not error out. Instead I get this error:

[code]

**Build environment (please c

[2022-03-21 16:45] lastmjs opened #1962 "invalid type: floating point after math operations"
**Describe the bug**

I have been using the new JsValue `to_json` functionality and I'm running into some issues. I am dealing with numbers in JS that should be valid integers, whether they be u32, i32, etc. boa seems to have issues with `to_json` because it is converting them into `Rational`s for an unknown reason. This might be related to https://github.com/boa-dev/boa/issues/1961.

**To Reprodu

[2022-03-21 22:05] lastmjs commented on #1961
I certainly hope you'll support it, the `to_json` combined with `serde_json::from` is such a simple DX.

[2022-03-21 22:09] lastmjs commented on #1961
Also it would be nice to have support for most of the default Rust primitive values as far as possible, perhaps with some easy interop with `bigint`.

[2022-03-21 22:21] jedel1043 commented on #1962
This is pretty unrelated to #1961 :)
We currently convert to f64 when any operation between i32 is executed, but we should be checking whether the result is representable by a i32, or else, convert both operands to f64 and execute the operation. I'll work on this while we discuss #1961

[2022-03-21 23:38] jedel1043 commented on #1961
Also, consider that we don't NEED to support u32 to add this feature, we would just try to convert the `f64`s to `u32`s when converting to json, but it would be good to determine our priorities about integer support.

[2022-03-22 12:37] HalidOdat commented on #1961
Hmmm... Adding `u32` integers, in addition to `i32` would be a performance penalty (besides complexity) for any number operation.

As suggested by @jedel1043 It would be far better to convert the `f64` value to `u32` in `to_json()`.

[2022-03-22 13:53] lastmjs commented on #1961
I'm trying to build a workaround for this in my project, and it's proving a tad more difficult than I thought. I just want to get a reading on what I can expect from boa.

It would be ideal for boa to allow conversion to any of the following. Since `BigInt` is part of the language, I believe each conversion should be possible:

* `i128` (representable in JS with a `bigint` primitive)
* `i64` (repr

[2022-03-22 17:05] RageKnify commented on #1962
I sort of mentioned this before in #1147

[2022-03-22 19:12] #1962 closed

[2022-03-22 19:41] #1929 closed

[2022-03-22 20:29] Razican opened #1970 "Implement `i128` to `JsValue` conversions"
We can currently convert most of Rust's basic types to `JsValue`, but since the `i128` type was a late addition to Rust, we don't offer that conversion. You can implement it by checking how this is done for `i64`:
https://github.com/boa-dev/boa/blob/e2630faf82a27e958d0ca6c9b1c81554bcc07ff3/boa_engine/src/value/mod.rs#L1003-L1008

[2022-03-22 20:31] Razican commented on #1961
I don't think this is an issue with Boa, honestly. We offer all the conversions from Rust types to JsValue you mention, except for `i128`, which I would be happy to add, it's pretty straightforward.

But, your code is trying to do a different thing. You are trying to convert a JavaScript value (`4294967295`) into a serde JSON type, which, since it's a numeric type, it will be encoded as a [`serde_

[2022-03-22 20:36] Razican commented on #1962
Just to explain this. The reason is that there is no such thing as an "integer" type in JavaScript. All numeric types are 64-bit floating point numbers. So this should never work like this: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Data_structures#number_type

[2022-03-22 21:25] lastmjs commented on #1961
Thanks for the clarification, that makes sense. Is there any functionality to convert a JsValue into other types? I suppose that's what I'm really using serde_json for. I am using `serde_json::from_value` to just get the `JsValue` into the other type.

I think it could be very valuable to have a direct transformation from JsValue into any type the user chooses. Thoughts on this?

[2022-03-22 21:43] Razican commented on #1961
This would actually make a lot of sense, yes. We could have a `TryFromJsValue` trait that would receive a context and a `JsValue` and try to perform the conversion. Just thinking out loud, but I could imagine a similar API to the `Serializa`/`Deserialize` APIs in serde.

[2022-03-22 21:46] lastmjs commented on #1961
Oh yes! This is sounding excellent!

[2022-03-23 10:51] pdogr commented on #1371
If this is still available, can I work on this?

[2022-03-23 11:31] RageKnify commented on #1147
As said in #1964, while it makes some work in this area I still believe more could be done inside `boa_engine`, I might be wrong, but I believe using integers instead of floats when possible would be a worthwhile optimization since integer operations are faster.
Though we should definitely do some proper bench-marking before merging this kind of change.

[2022-03-23 12:38] dranikpg commented on #1926
It's because of pushing an redundant PushUndefined opcode [in the bytecompiler](https://github.com/boa-dev/boa/blob/e2630faf82a27e958d0ca6c9b1c81554bcc07ff3/boa_engine/src/bytecompiler.rs#L1032).

This should resolve automatically once async/await is supported properly

[2022-03-23 21:36] pdogr opened #1972 "Possible optimization in execute_instruction"
Currently `execute_instruction` function uses `format!` macro when initializing Profiler.
[code]
This leads to unnecessary string allocation in each iteration, which can be done away with using an `&'static str` in its place.

An example to demonstrate the issue.

Sample program `fibonacci.js`
[code]
Execution time using ` time ./target/release/boa fibonacci.js`.

HEAD:
[code]
After replacing `for

[2022-03-24 14:08] lastmjs opened #1974 "undefined to JSON is not implemented"
I've been relying on the functionality from https://github.com/boa-dev/boa/commit/8c92a8fa25c1339b639a5acc5c3133ae8df670a2 and I keep running into the fact that `to_json` does not have an implementation for `undefined`. Why was it left unimplemented? Is it difficult to implement?

Also the fact that `BigInt` is also not implemented in `to_json` makes the idea of a TryFromJsValue trait even more ap

[2022-03-24 17:01] lastmjs opened #1975 "TryFromJsValue"
Working on [Azle](https://github.com/demergent-labs/azle) which is a JS environment for the Internet Computer, I need to have a general solution for converting `JsValue`s into arbitrary types. I have been attempting to do this using `serde_json::from_value(js_value.to_json(& mut context).unwrap()).unwrap()` which works in many cases, but breaks down sometimes (for example with `undefined` and `big

[2022-03-24 18:09] Razican commented on #1975
Well, this is already possible for base Rust types. Maybe there should be another trait to make it simpler.

In general, I imagine this to work similarly to the `Serialize` and `Deserialize` traits, and they might even be derivable if we create the proper logic. I guess the best approach is to check how is Serde doing it, and try to inspire the solution on it.

[2022-03-24 18:15] Razican commented on #1974
I don't see this so useful. JSON conversion can happen at a nested object level, so you wouldn't really know where is the error coming from. JSON doesn't accept `BigInt` or `undefined`, but it also doesn't accept `Symbol`, for example. So, we cannot implement a conversion to JSON for these types, and it will of course fail.

The easy conversion from `JsValue` to arbitrary Rust types (and back) wou

[2022-03-24 18:15] #1974 closed

[2022-03-25 14:55] #1972 closed

[2022-03-25 17:44] #1916 closed

[2022-03-25 21:55] jedel1043 commented on #1371
We haven't assigned someone, so please do! Let me assign it to you

[2022-03-27 16:28] NorbertGarfield commented on #1645
@Razican, I've got two questions:
1. Has anybody already taken this issue?
2. I could not figure out which output format is expected. Currently I stick to the following:
[code]

Where 'n' stands for 'name' and 'f' means 'features'. Do I need to add the information about passed tests or features here?

[2022-03-27 17:12] Razican commented on #1645
Nobody has taken this issue :) let me assign it to you

This looks pretty good :) for simplicity, I would use an array for the features: `["Proxy", "Symbol", "cross-realm"]`. The rest looks good, I think it doesn't need any extra information, and you can use the current structure :)

[2022-03-27 17:20] Razican commented on #186
@rumpl did you have the chance to look into this?

[2022-03-27 17:24] Razican commented on #948
This is making many, many of the Test262 tests fail, since Test262 uses `eval()` a lot. Maybe we should prioritise this, so that we can get a more accurate representation of our conformance.

[2022-03-28 01:46] thatkiddslash55 opened #1981 "Hi learning"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the issue, or JavaScript code that causes this failure.

**Expected behavior**
Explain what you expected to happen, and what is happening instead.

**Build environment (please complete the following information):**

- OS: [e.g. Fedora Linux]
- Version: [e.g. 32]
- Target triple: [e.g. x86_

[2022-03-28 09:14] #1981 closed

[2022-03-28 12:07] hsivonen commented on #1180
There's now an [ICU4X PR](https://github.com/unicode-org/icu4x/pull/1706/) that shows the status of the collator.

[2022-03-28 22:38] #1645 closed

[2022-03-29 20:41] lastmjs commented on #1975
Having this API implemented would solve a host of issues for my project: https://github.com/demergent-labs/azle/issues/142

I am ready to start working on this as soon as tomorrow, it's a major blocking issue for me. If you would accept a PR let me know, and I would love some guidance. If you want to wait for whatever reason, I would really appreciate some initial guidance as I will need to implem

[2022-03-29 23:33] lupd opened #1987 "Uncaught TypeError when calling method on global object"
Calling a method of the global object (using `this`/ `globalThis`) results in a `TypeError`.

**To Reproduce**
This JavaScript code reproduces the issue:
[code]

**Expected behavior**
`true` is printed

**Actual behavior**
`Uncaught "TypeError": "not a callable function"` is printed.

**Additional context**
At least one [test](https://github.com/tc39/test262/blob/main/test/built-ins/parseFloat/S15

[2022-03-30 05:39] Shreyan11 commented on #1970
Just to be clear, you want to convert all i28 types to JsValue?

[2022-03-30 14:05] lastmjs commented on #1975
I've started working on this, considering two traits `IntoJsValue` and `FromJsValue`.

[2022-03-30 14:55] lastmjs opened #1989 "Implement From<f32> for JsValue"
I've noticed that the From trait for f32, i128, i16, i8, u128, u16, and u8 are not implemented for JsValue. This is my first time contributing directly to boa, and so I'm just fixing something small that I think is a problem. This is all in preparation for https://github.com/boa-dev/boa/issues/1975

[2022-03-30 16:17] lastmjs opened #1991 "Integer conversion conventions"
I opened this issue as suggested by this comment: https://github.com/boa-dev/boa/pull/1971#issuecomment-1077297915

As I've been going through the conversion code from Rust integer types to JsValue, I've come across some conversions that don't make sense to me. I'd like to open this for discussion.

My biggest concern is `i128`, `u128`, `i64`, and `u64`. I don't see why all of those shouldn't be c

[2022-03-30 19:13] Razican commented on #1991
The thing here is that this is a fairly complex and very subjective topic.

JavaScript has 2 numeric types:
 - "number" -> `f64` in Rust
 - "bigint" -> `BigInt` in Rust

There is nothing else in JavaScript. So, it's definitely very difficult for us to provide the conversions you mention. Since, for example, a `i32` might make sense to be converted to "number", since it won't loose precision, and i

[2022-03-30 22:47] lastmjs commented on #1991
Because only one is correct. An `i128` should be converted to a `bigint` by default because that's the only native type that won't lose precision and thus is the correct choice.

[2022-03-30 22:54] lastmjs commented on #1991
I'm working on a generalized solution (basically a TypeScript to Rust compiler) that takes a developer's TypeScript and generates Rust code from it that can then be compiled to Wasm and deployed to a Wasm environment. I'm just looking for the simplest/most elegant solution to converting between native Rust types and Boa's JsValue types, and the simplest API I can imagine is: `rust_value.into_js_va

[2022-03-30 23:12] lastmjs commented on #1991
To sum up, using `i128` as an example, I agree that we should allow the developer to convert to a JS `Number` or `BigInt` at will. But I believe that the happy path should create the most accurate representation of the `i128` in JS as possible (no loss of precision), and thus should convert to `BigInt`.

[code]

`js_value` above should be a `boa::bigint::JsBigInt`.

[2022-03-31 13:22] lastmjs opened #1994 "Implement From<T> for JsValue where T are primitive values"
I think that From<T> should be implemented in boa for as many types as possible for JsValue.

[2022-03-31 14:10] lastmjs commented on #1961
The new `IntoJsValue` and `TryFromJsValue` traits have solved this problem for me on my branch. Discussion should probably move here: https://github.com/boa-dev/boa/issues/1975

[2022-03-31 14:10] #1961 closed

[2022-03-31 17:43] Razican commented on #1991
I am more in Cavour of having a serde-like API for that, maybe with helper functions and attributes/derives, to make this easy and customizable, but I don't think precision should be the default path, and I know at least @HalidOdat thinks similarly.

Something like i64, has no overhead on a 64-bit platform, it's perfectly performant. Now, a BigInt, will mean tons of allocations, synchronization pr

[2022-04-02 01:13] tsutton opened #1998 "Locations in dumps of compiled code blocks are off by one"
**Describe the bug**

When `boa` is printing a compiled `CodeBlock`, the locations printed correspond to the location of the wrong instruction (they are the following instruction, not the current instruction)

**To Reproduce**

[code]
Then run `cargo run -- -t bug.js`:
[code]

**Expected behavior**
In this output, you can see a few weird things:
1. The first instruction is at location 1, not 0
2.

[2022-04-02 01:20] tsutton commented on #1900
Additional information: it appears that with nested `try ... finally` blocks, the outer `finally` is skipped if there's a break or return:

[code]

Under `node`, this prints `"inner"` and `"outer"`. Under `boa` (via `cargo run`), this just prints `inner`.

[2022-04-02 20:14] #1998 closed

[2022-04-02 22:17] #1989 closed

[2022-04-03 00:35] lastmjs opened #2000 "Enforce signed commits"
I'm just requesting that the main branch require signed commits. My project will allow developers to deploy boa to a live environment soon, and I would love to get this extra security precaution in place.

[2022-04-03 08:26] Razican commented on #2000
The thing is that for example, I sign my commits, but Bors removes the signature when merging.

[2022-04-03 16:26] jasonwilliams opened #2001 "Use Cargo Workspaces for publishing"
We should setup [Cargo Workspaces](https://crates.io/crates/cargo-workspaces) for publishing next time around similar to [rust analzyer](https://github.com/rust-analyzer/rust-analyzer/blob/master/.github/workflows/publish.yml)

[2022-04-06 09:37] jasonwilliams commented on #2001
Does anyone know how to mark a crate as private? We will want to bump all the versions (which this tool can do) but only publish some of them.

Also we may want to move them into the crates folder like RA have done

[2022-04-07 07:21] #337 closed

[2022-04-09 01:46] lupd commented on #1117
The first example still throws a syntax error.  The second throws no errors. The third example incorrectly errors for the first two lines.

[2022-04-10 00:40] sudosmile commented on #1970
I'd like to work on this issue

[2022-04-10 14:33] NorbertGarfield commented on #1562
@jedel1043 I would like to clarify several things about `Date.prototype.toLocaleDateString()`
1. Is anybody working to implement this method right now?
2. Would you mind if I decompose the implementation into several pull requests for sub-tasks like "implement toDateTimeOptions()", "implement BestAvailableLocale()", etc.?
3. I have found several approaches to get default locale: [sys-locale](https

[2022-04-11 10:06] Razican commented on #1562
Hi @NorbertGarfield, nobody is working on this right now as far as I can tell, so feel free to work on it.
You can of course decompose the implementation in several pull requests :)

I think the idea here was to use ICU4X to do all this: #1180
About the default locale, you can start by hardcoding a default locale. At some point, we will probably want to leave this to Boa implementers, so that by d

[2022-04-11 11:21] justunkn commented on #1808
@Razican can I take a deal with the issue?

[2022-04-11 12:05] jasonwilliams commented on #1808
@justunkn sure

[2022-04-15 01:58] lupd commented on #1804
I'd like to attempt to implement this.

[2022-04-15 08:12] jasonwilliams commented on #1804
Great. I’ve assigned you @lupd

[2022-04-22 09:14] YXL76 opened #2040 "Do we need `STATIC_STRINGS`?"
Currently, there are some static strings defined in boa_interner.

https://github.com/boa-dev/boa/blob/3de921e600123fb4ec188d6120eaba45fe413a92/boa_interner/src/lib.rs#L370-L398

But unlike the `CONSTANTS` in `JsString` can reduce memory allocation.

https://github.com/boa-dev/boa/blob/3de921e600123fb4ec188d6120eaba45fe413a92/boa_engine/src/string.rs#L15-L161

Why not just do the hash calculation

[2022-04-22 13:56] raskad commented on #2040
The `Interner` and `JsString` have different purposes.

The `Interner` stores strings that originate in the Javascript source code. The idea is to reduce memory usage and the cloning of strings in the AST by assigning each string a `Sym` (number). It's usage is mostly restricted to the lexer, parser and compiler.
For example for this source code:
[code]
the variable name `object1` the property nam

[2022-04-22 14:06] YXL76 commented on #2040
I see what you mean, I just think `string-interner` does all the work for us, and then defining `STATIC_STRINGS` and constants in `Sym` doesn't do any good other than add complexity.

[2022-04-22 14:37] YXL76 commented on #2040
I see, maybe we can add `STATIC_STRINGS` when creating Interner, then `get_static` is not needed, I don't know.

By the way, are there plans to support `Interner` across `Context`? Instead of holding a reference, each context now has an exclusive Interner.

[2022-04-22 15:29] #2040 closed

[2022-04-22 16:25] raskad commented on #2040
That would probably be possible but we would depend on the interning order and we would have the strings once as `&'static str` in memory and once in the `Interner`.

It would definitely be possible. But you would have to define how long your `Interner` lives to not leak memory (or not leak too much). Do you have a specific usecase for that? It would definitely be unsafe (currently panic-safe but

[2022-04-23 01:01] YXL76 commented on #2040
You're right. But for static strings, `Interner` only holds the pointer.

[2022-04-23 01:23] #1428 closed

[2022-04-28 04:01] jedel1043 commented on #1180
Nice!
I also saw that you're about to merge a PR with a datagen API for build.rs scripts (https://github.com/unicode-org/icu4x/pull/1819). I'll try to experiment with your branches in the meantime, and hopefully we'll be able to integrate ICU4X in our codebase on your next release!

[2022-05-03 17:58] lastmjs opened #2058 "More efficient conversion of Vec to JsArray"
I just want to bring this up and get some preliminary feedback. My project [Azle](https://github.com/demergent-labs/azle) is a TS/JS environment for the Internet Computer, a Wasm environment. It is relatively resource-constrained compared with other cloud solutions at the moment, and all computation is metered with a unit called cycles. Each RPC call into a canister has a cycle limit.

Users will

[2022-05-04 05:56] Razican commented on #2058
The thing is that a JS Array is an array of values of any type, which means that every value in the Rust array must be converted to a JS value. I don't think there is much room for improvement here (maybe pre-allocation, which we might be already doing)

But, the ideal JS type for a `Vec<u8>` is a TypedArray, which uses a Rust Vec backend to be stored. So, I would say that the next step should be

[2022-05-06 16:22] lastmjs commented on #2058
Awesome, I will experiment with that next, thanks!

[2022-05-07 11:22] woodgiraffe opened #2063 "Add full support for SHA-2 in recipes"
**Add full support for SHA-2**
recipe.yaml/`.source` currently allows these properties along a `.source.url`:

[code]

Sha256 is already supported, however other SHA-2 hash functions are not supported,
yet some projects provide (sometimes exclusively) at least sha512 sums.

I'd propose to support the remaining SHA-2 hash functions ( sha224sums, sha384sums, sha512sums ), or at the very least sha512

[2022-05-07 17:50] raskad commented on #2063
Hi @woodgiraffe, I think you are searching for a different project named `boa`. My guess is this here: https://github.com/mamba-org/boa

[2022-05-09 19:19] #948 closed

[2022-05-09 21:58] raskad opened #2067 "Implement legacy `Object.prototype` properties"
The following `Object.prototype` properties are marked as optional and legacy in the spec but we should implement them to pass the corresponding 262 tests.

- [x] [Object.prototype.\_\_proto__](https://tc39.es/ecma262/#sec-object.prototype.__proto__)
- [x] [Object.prototype.\_\_defineGetter__](https://tc39.es/ecma262/#sec-object.prototype.__defineGetter__)
- [x] [Object.prototype.\_\_defineSetter_

[2022-05-10 05:26] Razican opened #2068 "Optional features"
Currently, the engine is provided as-is, with almost no room for customizing its features. Nevertheless, we have some situations (such as the optional #2067 feature, or the `eval()` function, or even not fully published features where it would be nice if the user of the engine could decide if they are available or not.

This can be provided by creating a feature for each of the features in the spe

[2022-05-17 18:01] mikroskeem opened #2075 "Expose `Proxy` builtin as a public API"
As per discussion in Discord:

[code]

My use-case would be defining an proxy in native code, e.g to emulate `process.env[key]` for code I cannot control.

Simply put, instead of evaluating this before running vendor code:

[code]

could be replaced with 100% Rust counterpart.

[2022-05-20 03:07] jedel1043 opened #2080 "Separate `JsObjectType` implementors to their own module"
Our safe wrappers around Javascript objects are not easily identifiable by looking at the docs, as you can see from the next screenshot:

![image](https://user-images.githubusercontent.com/38230983/169442395-16c444ab-f53e-465a-8072-647180ccdf55.png)

I would propose moving all implementors of the `JsObjectType` trait to a standalone module and point to that module in the home page of our documenta

[2022-05-21 01:13] #2075 closed

[2022-05-21 17:30] jedel1043 commented on #2063
Closing since this issue is not about this repo.

[2022-05-21 17:30] #2063 closed

[2022-05-27 18:43] lastmjs commented on #1917
I believe this library is broken because of this issue: https://github.com/emn178/js-sha256

This is a pretty scary issue for our users, as any library could appear to function properly (no errors) but simply produce incorrect results.

[2022-05-29 04:01] Razican commented on #1917
Well, all libraries that have a bug produce incorrect results without giving any feedback that could indicate that a bug was triggered. The question is "how critical is the bug?" In this case, it seems that V8, one of the most used JS libraries has a similar bug to Boa too, so it seems it's either not so critical or very difficult to solve (which I think it's the case).

In any case, Boa is not re

[2022-05-30 11:50] lastmjs commented on #1917
The code for js-sha256 works fine in V8 (Node.js). The bugs found in this issue with the libraries I've tested have never presented in V8 (Node.js) during my testing. I'm pretty sure I used Node.js and possibly Chrome to ensure that the issue was only with Boa.

[2022-05-30 12:05] Razican commented on #1917
So, V8 has a bug, but it's not affecting this particular usage of the js-sha256 library. We have a different bug (but very much related), and in this case, it affects this library. What I mean is that a different library could break with V8 due to this bug, but many might have just been designed to work around the V8 bug, by testing them there.

We will try to fix this, of course, and I don't thin

[2022-06-01 13:26] Razican commented on #1907
After #2027, what's missing here?

[2022-06-01 22:00] jedel1043 opened #2098 "Tracking issue for `JsObject` safe wrappers"
This is the main tracking issue listing all the `JsObject`s for which we could implement safe wrappers, and the implementation progress for them.

- [x] `JsArray` (#1746)
- [x] `JsFunction` (#2015)
- [x] `JsProxy` (#2076)
- [ ] `JsTypedArray` (partially on #2003 , missing API to pass a `JsArrayBuffer`)
- [ ] `JsArrayBuffer`
- [ ] `JsDataView`
- [ ] `JsMap`
- [ ] `JsSet`
- [ ] `JsDate`
- [ ] `JsGen

[2022-06-02 01:04] raskad commented on #1907
There are still some syntax errors in the bytecompiler left:

* Check for undeclared labels at parse time to avoid [this](https://github.com/boa-dev/boa/blob/f0378068a0a2add5b7110addc875aa266f28cc38/boa_engine/src/bytecompiler.rs#L1609)
* Check if `continue` statements occur within a loop to avoid [this](https://github.com/boa-dev/boa/blob/f0378068a0a2add5b7110addc875aa266f28cc38/boa_engine/src/by

[2022-06-05 17:24] nekevss commented on #2098
Hi! Would it be fine to take a crack at one or two of these or is someone currently working on them?

[2022-06-05 17:53] Razican commented on #2098
Go ahead! Let us know in which ones you'll start working on :)

[2022-06-09 23:47] nekevss commented on #2098
@Razican I'll start working on JsMap if no one else has started on it

[2022-06-09 23:58] jedel1043 commented on #2098
Nice! I'll edit the description to assign you that work :)

[2022-06-10 22:49] Razican commented on #1956
Most of the work is done. The only thing left is to avoid publishing `boa_cli`, `boa_tester`, `boa_wasm` and `boa_examples`. At the same time, we should check that none of the crates has more than 5 keywords (`boa_cli` has 6, for example), since this was making the workflow fail.

[2022-06-11 07:32] jasonwilliams commented on #1924
Just dumping some ideas..

Hyperfine seems like it would be good for this, and maybe a separate repo under the boa-dev umbrella which can periodically run.

Something like test262 would be too much, so would need to be just a couple of JS scripts, like 3 or 4 max for now.

[2022-06-11 18:33] #2067 closed

[2022-06-11 22:24] birdbrainswagtrain commented on #1924
[This repo](https://github.com/mozilla/arewefastyet/tree/master/benchmarks) is pretty old but it contains a bunch of benchmark scripts that should be usable.

[2022-06-13 06:20] wusyong opened #2117 "Questions about creating DOM types"
Hello, I'm currently looking for a JS engine in Rust to build DOM types, and `boa` seems like a decent candidate. I would like to understand how boa defines a JS object/value and let both JS world and Rust world can use it. In `servo`, it has to bind spider monkey which results in too many traits and lints to manage its memory in the garbage collector. Afaik, `boa` use `rust-gc` which seems simple

[2022-06-13 11:14] wusyong commented on #2117
Want to update a bit that there are actually only a few DOM types that we will really care about in Rust world like `Document`, `Node`, `Element`, and `ShadowRoot`. We won't mutate them because we just want to traverse and know the relationship of its siblings. But we still need to define lots of DOM types and can make `Context` to use it.

So that says I create a `JSString` with "Hello World" as

[2022-06-15 14:06] wusyong commented on #2117
@Razican Thank you for the advice. `ObjectInitializer` does help a lot.
But I also need the constructor for DOM that says for `Document` in JS context.
I tried to do something like boa's builtin types but I couldn't get it yet.
https://github.com/wusyong/dom/blob/master/src/document/wrapper.rs#L34
In the test above, both `eval` result in error.
What's the step to do so we can reflect the type?

[2022-06-18 15:52] lastmjs commented on #2058
I'm ready to tackle this, can you show me some code for what is currently possible converting a `Vec<u8>` into a `JsUint8Array` and vice versa? If it isn't currently possible to do this without iterating over every item, I can work on a pull request to do it efficiently.

[2022-06-20 09:30] Razican commented on #2058
Most of this work would be done here: https://github.com/boa-dev/boa/blob/main/boa_engine/src/object/jstypedarray.rs

The idea is to add another `From` implementation in the `JsTypedArrayType!` macro (which should probably be renamed for Rust standard naming convention, in snake_case).

This `From` would receive a `Vec<$element>`, and create a $name object. For this, it will need to first create a

[2022-06-21 19:37] nekevss commented on #2058
@Razican Can you really implement a `borrow()` and `borrow_mut()` for `array_buffer_data`? I had been playing around at how an API wrapper might work for ArrayBuffer for fun when I saw the above comment. I thought I'd try to add those methods but struggled to get it to work. Ultimately, I ended up with the below.

https://github.com/nekevss/boa/blob/feature/impl-dataview-arraybuffer-wrappers/boa_e

[2022-06-21 22:12] lastmjs commented on #2058
I've attempted to follow your guidance here but run into a major problem early on. Here's what I'm trying to add to https://github.com/boa-dev/boa/blob/main/boa_engine/src/object/jstypedarray.rs:

[code]

The problem is that `array_buffer_data` must be a `Vec<u8>`, and I'm not sure how to proceed with converting all of the different types of `Vec<numberType>` to a `Vec<u8>`, and based on our conve

[2022-06-24 14:36] wusyong commented on #2117
I'm going to close this because I think my test structure could finally settle down.
Thank you guys for detailed responses and support!

I'll try to make smaller and more direct issues about some potential API improvement in the future.

[2022-06-24 14:36] #2117 closed

[2022-06-25 19:12] jonah-saltzman commented on #2080
I was interested in trying this issue out but it looks like it's already been done? Although I may be missing something because I only see 4 impls of `JsObjectType` in the whole repo

[2022-06-25 19:17] jonah-saltzman commented on #1970
Could I work on this issue? It seems to have not been solved on main or the latest commit.

[2022-06-25 19:24] lastmjs commented on #1970
I believe there's an open pull request for this: https://github.com/boa-dev/boa/pull/1971

[2022-06-25 19:34] jedel1043 commented on #2080
@jonah-saltzman Not really. If you check the doc website, all the implementors are listed along `JsObject`, `Object`, `ConstructorBuilder`, etc.

https://boa-dev.github.io/boa/doc/boa_engine/object/index.html

Ideally, the implementors should be on their own module, and the module should document that these are wrappers for Javascript built-in objects.

[2022-06-26 19:01] wusyong commented on #1924
quickJS [benchmark](https://bellard.org/quickjs/bench.html) with [v8-v7](https://github.com/mozilla/arewefastyet/tree/master/benchmarks/v8-v7). Maybe we can see some results between boa, quickJS, and v8.

[2022-06-26 19:03] wusyong commented on #1835
For the entry point of DOM types, I think we also have to set a `Window` instance to be realm's global object.
https://html.spec.whatwg.org/multipage/window-object.html#script-settings-for-window-objects

[2022-06-26 19:24] wusyong opened #2141 "Improve `ConstructorBulder` and `ObjectInitializer`"
I tried a [V8 attempt](https://github.com/wusyong/dom/tree/v8) on DOM crate this weekend. While it still has lots of different interfaces to work with. I found both engines still share some logic in defining custom types:

- There's [ObjectTemplate](https://docs.rs/v8/latest/v8/struct.ObjectTemplate.html) which is similar to [ObjectInitializer](https://docs.rs/boa_engine/0.15.0/boa_engine/object/s

[2022-06-27 07:32] wusyong commented on #1924
I just modify the benchmark above so it can work with boa. Here's the result from @CYBAI
[code]

And here's V8's:

[code]

I haven't tested the rest because some of them will stuck.

[2022-06-27 12:18] raskad commented on #1393
I think this was fixed with #1829. The following code now works as expected:

[code]

Node:
[code]

boa:
[code]

[2022-06-27 12:18] #1393 closed

[2022-06-27 13:02] raskad commented on #1598
Fixed by #2069

[2022-06-27 13:02] #1598 closed

[2022-06-27 16:44] jasonwilliams commented on #1924
Hey @wusyong great work on this, I had some questions.
Are there any current benchmarks the engines are being judged by today that Boa can be added to or is this the best option?
What does those numbers mean and are those names [Richards] just some test cases?
What does the score mean?

[2022-06-28 09:38] wusyong commented on #1924
I don't this is the best benchmark tbh. This benchmark has been archived by mozilla.
I think QuickJS choose this just for quick result. It doesn't provide metrics to keep monitor ever since.
But V8 results from @CYBAI is similar to QuickJS posted.
We can get some idea about the gaps between those engines.

[2022-06-28 18:58] lxhom opened #2148 "The expression `/=/` does not get parsed as a regexp"
**Describe the bug**
The expression `/=/` does not get parsed as a regexp

**To Reproduce**

[code]
That throws this: "unexpected token '/=', primary expression at line 1, col 15"

**Expected behavior**
It should give me the regular expression for a single `=`. A workaround I used is just using /.{0}=/, but this should work without it.

**Build environment (please complete the following informatio

[2022-06-29 02:43] thatkiddslash55 opened #2149 "Beginning"
**ECMASCript feature**
Explain the ECMAScript feature that you'd like to see implemented.

**Example code**
Give a code example that should work after the implementation of this feature.

[2022-06-29 03:31] #2149 closed

[2022-06-29 07:45] Razican commented on #2148
For anyone willing to tackle this, the `/` token lexing happens here: https://github.com/boa-dev/boa/blob/main/boa_engine/src/syntax/lexer/mod.rs#L128-L187

This checks if the `/` token is the beginning of a comment (when it's followed by `/` or `*`), and if not, it will check the current lexer goal symbol. This is set by the parser, depending on what we're trying to parse.

There are some places

[2022-07-01 20:10] dansteren opened #2157 "Clean Public Call/Frame Stack API"
I want a clean, public API to access the stack frames. Although some of the information is there, it is currently difficult/impossible to get. At the very least, the visibility needs to be changed on the existing functions/structs/etc so that they are public. But ideally there would be a nice dedicated and consistent API for working with the call stack.

**Current Behavior**
To access the current

[2022-07-03 16:48] anuvratsingh commented on #2098
@jedel1043 can I give `JsSet` a shot?

[2022-07-03 16:57] jedel1043 commented on #2098
@anuvratsingh Please do! If you need some guidance, you can post a comment here or in our discord :)

[2022-07-06 22:16] VTCAKAVSMoACE commented on #1926
This no longer crashes. Huzzah!

[2022-07-06 22:16] #1926 closed

[2022-07-06 22:17] VTCAKAVSMoACE commented on #1900
Error messages have changed but behaviour persists.

[2022-07-07 00:21] nekevss commented on #2098
@jedel1043 Would it be fine to work on JsArrayBuffer and JsDataView?

[2022-07-07 01:08] jedel1043 commented on #2098
@nekevss That would be very nice :D

[2022-07-07 05:46] HalidOdat commented on #2098
Ummm... I didn't see this conversation before I implemented  `JsArrayBuffer` (#2170 ) 😅 . I needed it to be implemented so I could fully fix (in a clean way) the `Vec<u8>` to `JsTypedArray` as discussed in #2058.

Though you work on `JsDataView` if you still want it

[2022-07-07 13:33] anuvratsingh commented on #2098
Can I do `JsDate`, and why `builtins::Math` doesn't require a wrapper?

[2022-07-07 23:03] nekevss commented on #2098
All good :) I can focus on working on `JsDataView`. I might look at adding some additional methods to `JsArrayBuffer` that were mentioned in #2170 like `take` and `clone`/`borrow`. Unless you don't think those are needed then I can leave it as is.

[2022-07-08 06:53] HalidOdat commented on #2098
As far as I know `ArrayBuffer` does not have such methods. The only method that is missing is `ArrayBuffer.prototype.slice` you can see `JsArray::slice()` implementation since they are very simular

[2022-07-08 12:46] nekevss commented on #2098
Oh sorry! I linked the wrong thread. I updated the link in the above comment. The discussion had to do with providing methods to interact with `array_buffer_data`.

[2022-07-11 23:54] raskad commented on #1807
Implemented in #2158

[2022-07-11 23:54] #1807 closed

[2022-07-11 23:55] raskad commented on #1806
Implemented in #2158

[2022-07-11 23:55] #1806 closed

[2022-07-15 21:45] raskad opened #2180 "Investigate optimization of parameter parsing in function constructors"
For the function constructors we need to parse paramters at runtime e.g.:

[code]

Currently this is done by concatinating the arguments to a string and parsing that as a paramter list:
https://github.com/boa-dev/boa/blob/main/boa_engine/src/builtins/function/mod.rs#L485-L502

We should investigate if this can be done in a more efficient way without the concatination. The best case would be to reu

[2022-07-17 02:06] jht5945 opened #2182 "Panic compile to wasm32-unknown-unknown target"
**Describe the bug**

Compile boa_engine to wasm32, panic when create empty array.

file: `boa_engine/src/buildins/array/mod.rs`
[code]

Change this line `if length > ` to:
[code]

**To Reproduce**
Compile boa to was32 or other 32bit targets.

Create a empty array cause panic, like:
[code]

**Expected behavior**

`2 ^ 32` panic under 32bit arch

**Build environment (please complete the following i

[2022-07-21 18:25] #2182 closed

[2022-07-25 11:29] scambier opened #2203 "Viability as a game scripting language?"
Hello, I'm building a small game engine for myself - think something between Love2D and TIC-80 - and reviewed a few scripting languages. I'd love to use Boa because it would allow me to use TypeScript and easily distribute my games for the web. I made a small PoC that's doing fine, except that performances are very underwhelming.

I wrote small benchmark that spawns bouncing rectangles until I rea

[2022-07-25 13:36] Razican commented on #2203
Hello @scambier!
First of all, thank you for considering Boa for your project!

One of the current focuses of Boa is to improve the API and fulfill the use cases of out users, so all feedback is welcome. I'm glad to see that you were able to use Boa directly for your project, but feel free to report any rough edges you might have found.

On the performance side, there are multiple things to it. Fi

[2022-07-25 17:08] scambier commented on #2203
Thanks for that answer!

It uses [Duktape](https://github.com/svaarala/duktape/), but I didn't dig the [internals](https://github.com/nesbox/TIC-80/blob/681f18c0f477e7d7b5b4fea4e330c44028afd34c/src/api/js.c#L1038) for more more details.

I totally agree with this sentiment. I mean, if Boa isn't fast enough for this very particular usecase, fair enough. Embedding JS in Rust to make games is not rea

[2022-08-06 11:56] RageKnify opened #2223 "boa-cli crashes if history file does not exist"
**Describe the bug**
`boa_cli` crashes when the `.boa_history` does not exist. I think this was introduced in #1809 with the rustyline update.

**To Reproduce**
In the project directory you can change `.boa_history`'s name to `.boa_history.bak` and try to run `cargo run`, it will exit with "No such file or directory".

**Expected behavior**
The code below should be modified to create the history f

[2022-08-13 19:09] #1560 closed

[2022-08-17 09:57] #1615 closed

[2022-08-17 21:00] lastmjs commented on #1917
This is now breaking a `keccak256` library for us, different hashes are produced in Boa and in Node. I find it highly unlikely that this bug is present in the other engines, as the JS engines do all kinds of crypto operations just fine. But in Boa, we're often running into incorrect hashing outputs.

[2022-08-18 03:42] SheetJSDev opened #2243 "labeled block support"
The following example is from MDN: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/label#using_a_labeled_block_with_break

[code]

Saving that to a file and testing with `cargo run -- test.js` prints the error

[code]

[2022-08-20 00:07] github-actions[bot] opened #2244 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `ansi_term`                      |
| Version             | `0.12.1`                   |
| URL                 | [https://github.com/ogham/rust-ansi-term/issues/72](https://gith

[2022-08-20 18:11] meirochun commented on #2243
Looks like this bug already in execution since Feb 23. #1852

[2022-08-21 13:41] Razican commented on #1917
@jedel1043 @raskad do you think the solution offered above could be easily implemented in the byte compiler?

@lastmjs if you find resources to work on this, help is very much welcome.

[2022-08-21 15:52] #2223 closed

[2022-08-22 04:45] #2244 closed

[2022-08-22 16:00] Razican commented on #1987
It turns out that we have two bugs related to the global object:
 - When we initialize builtins, they are added to the `Global` environment record as bindings, not as properties of the global object, which means that `this` and `globalThis` are empty objects (`{}`).
 - The global object has no prototype. This is required by the spec, and as far as I can tell, it should probably be the `Object` pro

[2022-08-23 00:59] raskad commented on #1987
The way the global object currently works is, that it uses special internal object methods defiend in `GLOBAL_INTERNAL_METHODS` in `boa_engine/src/object/internal_methods/global.rs`. That way it can use the global environment bindings as properties. The implementation currently completeley ignores the objects prototype. The best example is `global_has_property` where only the global property map i

[2022-09-01 19:55] 89z opened #2259 "add "runtime" to description and/or topics"
The word "runtime" is not currently in the description or topics, so if you search GitHub like this:

[code]

you wont find this repo

[2022-09-07 12:51] Razican commented on #1808
@justunkn do you have any news on this?

[2022-09-07 16:15] Razican commented on #2243
This might be related to the fact that we don't use completion records. We only check for labels on loops, afaik, instead of on "any labeled statement", which should be the case. But we also don't have the notion of a "labeled statement" I think.

[2022-09-10 03:52] tunz opened #2275 "Use "async" as a function identifier."
**Describe the bug**

`async` is a keyword, but also allowed as an identifier.
https://tc39.es/ecma262/#sec-keywords-and-reserved-words

But, currently, it raises an error when calling a function named `async`.

**To Reproduce**
Run the following code:
[code]
Uncaught "SyntaxError": "expected token 'function', got '(' in async function declaration at line 1, col 6"

**Expected behavior**
It should

[2022-09-10 23:11] #2275 closed

[2022-09-16 16:49] #2148 closed

[2022-09-18 02:53] #894 closed

[2022-09-19 06:45] #2243 closed

[2022-09-19 14:31] #1987 closed

[2022-09-20 20:49] SheetJSDev opened #2295 "Labeled `if` statement"
A slight twist on #2243 :

[code]

[2022-09-21 07:13] Razican commented on #2295
Ideally, all these should be treated as `LabeledStatement` in general. This would be easier to implement once #1371 is implemented.

[2022-09-21 07:31] Razican commented on #1873
This has now been fixed, and the test is passing in the latest main branch commit.

[2022-09-21 07:31] #1873 closed

[2022-09-22 23:08] jedel1043 commented on #1371
I'll work on this in the next days :)

[2022-09-25 21:17] jasonwilliams opened #2307 "[performance] - Opportunity to run parsing before building environment"
Currently the environment is built before parsing begins. This happens when context [is created](https://github.com/boa-dev/boa/blob/main/boa_cli/src/main.rs#L186). The downside to this is if we have any parsing error we still need to build the whole env first which is wasteful as we never needed it anyway.  Another opportunity this could open up is using multithreading for parsing and building th

[2022-09-25 22:18] nicoburns opened #2309 "Documentation on supported features?"
Hi, is there detailed documentation on exactly what is and isn't supported in Boa (and what is supposed in a spec conformant way, and what still has quirks)? I can't see any linked from the the README or rustdoc documentation. Only a link to test suite results which give a numerical percentage, but no details on which bits are supported.

I'd love to use Boa in my projects, but the JavaScript woul

[2022-09-25 22:28] raskad commented on #2309
We have a conformance page here: https://boa-dev.github.io/boa/test262/.
If you click on the `i` symbol on the main branch you can see all of the tests/suites in the 262 test suite. They are not ordered by features, but you can get a decent overview about which suites still need work.

We also have the https://github.com/boa-dev/boa/blob/main/test_ignore.txt file where currently ignored tests/suit

[2022-09-26 05:55] bcr commented on #332
New Guy here. I'm sniffing around this. I think the problem here is going to be more one of defining scope and granularity. Like I think just implementing an `eval` is one thing, but those fine folks at duktape have a dukload of things they expose. Making it similarly comprehensive for Boa is probably... hard. But I can take a whack at `eval` in its own FFI crate.

[2022-09-26 12:58] Razican commented on #2309
Some work regarding feature-based coverage was started here: #1645

[2022-09-29 12:25] t2k269 opened #2316 "String indexOf is extremely slow"
The execution performance of indexOf method of String is extremely slow for long string (23000+ characters), the calls used around 10 seconds to complete. I tried to implement a rust method to override it. It used just 0.01s. please help to improve.

Thanks

[2022-09-29 13:07] Razican commented on #2316
Hello @t2k269, thank you for reporting this. Do you have an example string we can use to test this? Also, could you share the rust method you implemented to make this go faster?

[2022-09-30 17:50] Razican commented on #2316
Thanks for the example!

I have to say that the playground will always be slower than the chrome console, since the playground is a VM in Webassembly running JS.

We will check if it's possible to optimize that function. Note that the function you propose is probably not 100% spec compliant, and sometimes, doing it spec compliant makes it slower. We will check it, though, to see if it could be opt

[2022-09-30 22:52] jedel1043 opened #2317 "Panic while executing `eval` inside block inside function"
**Describe the bug**
The interpreter panics while executing the following snippet:

[code]

**Additional context**
While doing some preliminar investigation, I realized functions don't push a new environment:

[code]

Notice how the inner block pushes a declarative environment, but the function doesn't. However, if you define argument initializers, the function pushes a function environment, and t

[2022-10-01 02:52] bcr opened #2318 "Boa REPL behavior differs from Node REPL with ObjectLiteral"
**Describe the bug**
If you enter a valid `ObjectLiteral` in the Boa REPL, the behavior (generates syntax error) is different than the Node REPL (generates object)

**To Reproduce**

[code]

**Expected behavior**
[code]

**Build environment (please complete the following information):**

- OS: macOS
- Version: 12.6
- Target triple: arm64-apple-darwin21.6.0
- Rustc version: rustc 1.64.0 (a55dd71d5

[2022-10-01 03:33] t2k269 commented on #2316
Hello Razican,

Thanks for your explanation. I understand that BOA must follow the JS spec. However, I notice that the indexOf slow problem appear only when I force to build my project with tag "v0.16". Previously, my project build with BOA dependency on "main" branch. On main branch, the indexOf is fast and I didn't notice any performance issue.

The reason of why I suddenly build my project with

[2022-10-01 08:31] jedel1043 commented on #2318
Interestingly, the Firefox REPL and the Chromium REPL differ on their treatment of that expression:

![image](https://user-images.githubusercontent.com/38230983/193400682-ee506b1e-d5d4-40ba-b797-8c42f600f4e4.png)

![image](https://user-images.githubusercontent.com/38230983/193400700-d654c09a-ed0c-40ed-b317-7a51fe07c954.png)

[2022-10-01 08:49] jedel1043 commented on #2316
Thankfully, this is fixed by #1659. Running the original snippet on https://github.com/boa-dev/boa/pull/1659/commits/11e5bdec3fc262862767269d4f6f36905be3a81f returns:
[code]

[2022-10-01 10:34] CalliEve commented on #2080
Hi! I am interested in this issue and would like to work on it, if that's alright?

[2022-10-01 19:47] jedel1043 commented on #2080
@CalliEve Please do! I'll assign you the issue, let us know if you have any questions or if you need some guidance ☺️